# Visualização Orçamento SME

In [2]:
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import glob
import datetime
from IPython.display import HTML
import pprint

pd.set_option('display.max_colwidth', 100)

In [3]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 50;

In [4]:
TOKEN = '198f959a5f39a1c441c7c863423264'
base_url = "https://gatewayapi.prodam.sp.gov.br:443/financas/orcamento/sof/v2.1.0"
headers = {'Authorization' : str('Bearer ' + TOKEN)}

# Carregando do arquivo

# Dados toda Prefeitura SP

In [5]:
# baixado de http://orcamento.sf.prefeitura.sp.gov.br/orcamento/execucao.php
# http://orcamento.sf.prefeitura.sp.gov.br/orcamento/uploads/2017/qdd_2017.xls
pmsp_df = pd.read_excel('dados/qdd_2017.xls')
pmsp_df.columns.values

array(['Ano Execução', 'Exercício', 'Administração', 'Código Órgão',
       'Sigla Órgão', 'Orgão', 'Código Unidade', 'Unidade',
       'Código Função', 'Função', 'Código SubFunção', 'SubFunção',
       'Código Programa', 'Programa', 'PA', 'PAPA',
       'Código Projeto Atividade', 'Ds_Projeto_Atividade',
       'Código Despesa', 'Despesa', 'Código Categoria Despesa',
       'Categoria Despesa', 'Código Grupo Despesa', 'Grupo Despesa',
       'Código Modalidade', 'Modalidade', 'Código Elemento',
       'Código Fonte', 'Fonte', 'ORÇADO', 'ATUALIZADO', 'EMPENHADO',
       'LIQUIDADO', 'JAN Suplementado', 'JAN Empenhado', 'JAN Liquidado',
       'FEV Suplementado', 'FEV Empenhado', 'FEV Liquidado',
       'MAR Suplementado', 'MAR Empenhado', 'MAR Liquidado',
       'ABR Suplementado', 'ABR Empenhado', 'ABR Liquidado',
       'MAI Suplementado', 'MAI Empenhado', 'MAI Liquidado',
       'JUN Suplementado', 'JUN Empenhado', 'JUN Liquidado',
       'JUL Suplementado', 'JUL Empenhado', 'JUL Liquidado',
       'AGO Suplementado', 'AGO Empenhado', 'AGO Liquidado',
       'SET Suplementado', 'SET Empenhado', 'SET Liquidado',
       'OUT Suplementado', 'OUT Empenhado', 'OUT Liquidado',
       'NOV Suplementado', 'NOV Empenhado', 'NOV Liquidado',
       'DEZ Suplementado', 'DEZ Empenhado', 'DEZ Liquidado',
       'DataExtracao'], dtype=object)

In [6]:
(pmsp_df
 .groupby(['Sigla Órgão'])['EMPENHADO', 'LIQUIDADO']
 .sum().apply(lambda x: x / 1000000)
 .sort_values('LIQUIDADO', ascending=False)
)

                EMPENHADO     LIQUIDADO
Sigla Órgão
SME          10694.214287  10236.129116
FMS/SMS       8594.254156   8362.000700
IPREM         8031.264873   8027.176127
EGM           7433.370019   7358.921992
SMT           3410.923393   3384.994264
AMLURB        2396.640032   2192.272623
AHM           1469.109375   1357.268348
FMAS          1091.898711   1069.651834
FMDT          1069.794594   1000.871504
CMSP           514.174919    505.524611
SMSU           479.167230    467.701033
SMUL           477.547638    366.456030
SF             385.679283    351.331328
FMSAI          411.359854    338.023064
SMC            318.575920    293.647399
FUNDIP         332.568204    284.281103
HSPM           285.896334    275.269815
SGM            293.990939    257.200322
SMPR           342.739018    222.876761
TCMSP          232.033441    222.867073
PGM            219.174112    212.008581
SEHAB          221.225343    190.308436
SVMA           210.848676    188.393148
SEME           177.228377    158.403595
SMG            172.471702    141.894275
FTM            129.424236    127.879733
SFMSP          125.977353    118.186653
SMADS          119.373134    114.019062
COHAB          115.005289    100.571138
SMSO           161.627700     97.941886
...                   ...           ...
PR-PJ           26.356732     22.404716
PR-AD           25.553053     22.174819
PR-VP           23.299719     22.058643
PR-MG           22.590939     21.587849
PR-JT           23.186323     21.411517
PR-CT           21.478987     20.052691
PR-PR           21.572664     19.975445
PR-EM           21.196665     18.941611
PR-PA           21.900610     18.901490
CGM             19.599195     18.267741
PR-CV           18.778386     17.287420
PR-SB           17.923332     16.535562
FPETC           17.625610     14.739047
SEL             14.867937     11.659520
SMPM             9.929353      7.372505
SMPED            7.227610      6.778174
SMCIS            6.929595      6.112140
FEPAC            3.160731      3.069755
PMSP-SMRI        3.172050      3.033348
FTCMSP           1.809533      1.704902
SMPIR            1.590227      1.204466
FEMA             1.125293      0.981028
FUNCAP           0.617488      0.617488
FECAM            0.536733      0.530722
FMP              0.000000      0.000000
FMESP            0.000000      0.000000
FUTUR            0.000000      0.000000
FUNPATRI         0.000000      0.000000
FMID             0.000000      0.000000
FMDC             0.000000      0.000000

[88 rows x 2 columns]

# Contratos

### Último ano

In [7]:
# json_files = glob.glob("wget-contratos/2017/*")

# frames = []

# for f in json_files:
#     e = json.load(open(f))
#     e_df = pd.DataFrame(e['lstContratos'])
#     frames.append(e_df)

# contratos_df = pd.concat(frames)

In [8]:
contratos_df = pd.read_json('dados/contratos-2017.json')

In [9]:
HTML(contratos_df.iloc[0:1].to_html())

# Empenhos

### Último ano

In [10]:
# json_files = glob.glob("wget-empenhos/2017/*")

# frames = []

# for f in json_files:
#     e = json.load(open(f))
#     e_df = pd.DataFrame(e['lstEmpenhos'])
#     frames.append(e_df)

# empenhos_df = pd.concat(frames)

In [11]:
empenhos_df = pd.read_json('dados/empenhos-2017.json')

### Todos anos

In [12]:
# json_files = glob.glob("wget-empenhos/*/*")

# frames = []

# for f in json_files:
#     e = json.load(open(f))
#     e_df = pd.DataFrame(e['lstEmpenhos'])
#     frames.append(e_df)

# empenhos_df_tot = pd.concat(frames)

## Baixar contratos e empenhos

In [13]:
# ver arquivo contratos_scraper.py
# e arquivo contratos_merge.py

## Arquivos já baixados

In [14]:
empenhos_contratos_df = pd.read_json('dados/empenhos-contratos-2017.json')

Quais colunas estão no empenhos_contratos e não no empenhos?

In [15]:
(empenhos_contratos_df.columns.values[
    np.invert(
        np.in1d(empenhos_contratos_df.columns.values, empenhos_df.columns.values)
        )
    ]
)

array(['codContrato'], dtype=object)

Exemplo de um contrato:

In [16]:
HTML(
    (contratos_df[contratos_df['codContrato'] == 25327])
.to_html())

Exemplo de um contrato e seu empenho relacionado:

In [17]:
HTML(
    (empenhos_contratos_df[empenhos_contratos_df['codContrato'] == 25327])
.to_html())

In [18]:
HTML(
    (empenhos_df[empenhos_df['codEmpenho'] == 120981])
.to_html())

Número de empenhos sem contratos relacionados:

In [19]:
len(empenhos_df) - len(empenhos_contratos_df)

41924

## Join contratos e empenhos

Quais colunas estão no contratos e não no empenhos_contratos?

In [20]:
list(contratos_df.columns.values[
    np.invert(
        np.in1d(contratos_df.columns.values, empenhos_contratos_df.columns.values)
        )
    ]
)

['anoExercicio',
 'codTipoContratacao',
 'datAssinaturaContrato',
 'datPublicacaoContrato',
 'datVigencia',
 'numOriginalContrato',
 'txtDescricaoModalidade',
 'txtObjetoContrato',
 'txtTipoContratacao',
 'valAditamentos',
 'valAnulacao',
 'valPago',
 'valPrincipal',
 'valReajustes']

In [21]:
# merge
delta = list(contratos_df.columns.values[
    np.invert(
        np.in1d(contratos_df.columns.values, empenhos_contratos_df.columns.values)
        )
    ]
)
delta.append('codContrato')
contratos_df_delta = contratos_df[delta]
temp = pd.merge(empenhos_contratos_df[['codEmpenho', 'codContrato']], contratos_df_delta, how='inner', 
         on='codContrato')
empenhos_df = pd.merge(empenhos_df, temp, how='left', 
         on='codEmpenho')

In [22]:
empenhos_df.columns.values

array(['anoEmpenho', 'codCategoria', 'codElemento', 'codEmpenho',
       'codEmpresa', 'codFonteRecurso', 'codFuncao', 'codGrupo',
       'codItemDespesa', 'codModalidade', 'codOrgao', 'codProcesso',
       'codPrograma', 'codProjetoAtividade', 'codSubElemento',
       'codSubFuncao', 'codUnidade', 'datEmpenho', 'mesEmpenho',
       'nomEmpresa', 'numCpfCnpj', 'numReserva', 'txtCategoriaEconomica',
       'txtDescricaoElemento', 'txtDescricaoFonteRecurso',
       'txtDescricaoFuncao', 'txtDescricaoItemDespesa',
       'txtDescricaoOrgao', 'txtDescricaoPrograma',
       'txtDescricaoProjetoAtividade', 'txtDescricaoSubElemento',
       'txtDescricaoSubFuncao', 'txtDescricaoUnidade', 'txtGrupoDespesa',
       'txtModalidadeAplicacao', 'txtRazaoSocial', 'valAnuladoEmpenho',
       'valEmpenhadoLiquido', 'valLiquidado', 'valPagoExercicio',
       'valPagoRestos', 'valTotalEmpenhado', 'codContrato',
       'anoExercicio', 'codTipoContratacao', 'datAssinaturaContrato',
       'datPublicacaoContrato', 'datVigencia', 'numOriginalContrato',
       'txtDescricaoModalidade', 'txtObjetoContrato',
       'txtTipoContratacao', 'valAditamentos', 'valAnulacao', 'valPago',
       'valPrincipal', 'valReajustes'], dtype=object)

## Criar coluna valPagoTotal como pago + restos

In [23]:
empenhos_df['valPagoTotal'] = empenhos_df['valPagoExercicio'] + empenhos_df['valPagoRestos']

##  Índice para corrigir inflação

In [24]:
inflacao_df = pd.DataFrame(columns=["ano", "indice"], 
  data=[
    [2006, 1.8974051],
    [2007, 1.7862712],
    [2008, 1.5965463],
    [2009, 1.6222454],
    [2010, 1.4711348],
    [2011, 1.3885172],
    [2012, 1.2982224],
    [2013, 1.229265],
    [2014, 1.1859287],
    [2015, 1.0714226],
    [2016, 1.0000453],
    [2017, 1]
  ])

## Helper para explorar grupos

In [25]:
empenhos_df.columns.values

array(['anoEmpenho', 'codCategoria', 'codElemento', 'codEmpenho',
       'codEmpresa', 'codFonteRecurso', 'codFuncao', 'codGrupo',
       'codItemDespesa', 'codModalidade', 'codOrgao', 'codProcesso',
       'codPrograma', 'codProjetoAtividade', 'codSubElemento',
       'codSubFuncao', 'codUnidade', 'datEmpenho', 'mesEmpenho',
       'nomEmpresa', 'numCpfCnpj', 'numReserva', 'txtCategoriaEconomica',
       'txtDescricaoElemento', 'txtDescricaoFonteRecurso',
       'txtDescricaoFuncao', 'txtDescricaoItemDespesa',
       'txtDescricaoOrgao', 'txtDescricaoPrograma',
       'txtDescricaoProjetoAtividade', 'txtDescricaoSubElemento',
       'txtDescricaoSubFuncao', 'txtDescricaoUnidade', 'txtGrupoDespesa',
       'txtModalidadeAplicacao', 'txtRazaoSocial', 'valAnuladoEmpenho',
       'valEmpenhadoLiquido', 'valLiquidado', 'valPagoExercicio',
       'valPagoRestos', 'valTotalEmpenhado', 'codContrato',
       'anoExercicio', 'codTipoContratacao', 'datAssinaturaContrato',
       'datPublicacaoContrato', 'datVigencia', 'numOriginalContrato',
       'txtDescricaoModalidade', 'txtObjetoContrato',
       'txtTipoContratacao', 'valAditamentos', 'valAnulacao', 'valPago',
       'valPrincipal', 'valReajustes', 'valPagoTotal'], dtype=object)

In [26]:
def groupSum(df):
    terms = [
        'txtDescricaoOrgao',
        'txtCategoriaEconomica',
        'txtDescricaoElemento',
        'txtDescricaoFonteRecurso',
        # 'txtDescricaoFuncao',
        'txtDescricaoItemDespesa',
        'txtDescricaoPrograma',
        'txtDescricaoProjetoAtividade',
        'txtDescricaoSubElemento',
        'txtDescricaoSubFuncao',
        'txtDescricaoUnidade',
        'txtGrupoDespesa',
        'txtModalidadeAplicacao',
        'txtRazaoSocial'
    ]
    for el in terms:
        result = (df
         .groupby(el)['valTotalEmpenhado', 'valLiquidado', 'valPagoTotal']
#         .groupby(el)[
#             'valAnuladoEmpenho',
#             'valEmpenhadoLiquido',
#             'valLiquidado',
#             'valPagoExercicio',
#             'valPagoRestos',
#             'valPago',
#             'valPagoTotal',
#             'valTotalEmpenhado',
#             'valAditamentos',
#             'valAnulacao',
#             'valPrincipal',
#             'valReajustes'
#         ]
         .sum().apply(lambda x: x / 1000000).sort_values('valPagoTotal', ascending=False)
        )
        display(result)
    display(
    # HTML(
    df[['txtObjetoContrato']].drop_duplicates(subset='txtObjetoContrato')
        # .to_html())
    )

### Helper para contratos

In [27]:
def groupSumContratos(df):
    terms = ['anoExercicio',
        'txtDescricaoModalidade',
        'txtDescricaoOrgao',
        'txtObjetoContrato',
        'txtRazaoSocial',
        'txtTipoContratacao',
    ]
    for el in terms:
        result = (df
         .groupby(el)['valTotalEmpenhado', 'valLiquidado']
         .sum().apply(lambda x: x / 1000000).sort_values('valLiquidado', ascending=False)
        )
        display(result)

# Atenção!

Os valores estão em milhões de reais, a não ser que indicado o contrário.

## Explorando dados

### Agrupamentos

In [28]:
groupSum(empenhos_df)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,12966.262672,10236.129116,10600.75598

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes          12798.904536  10172.665375  10469.304631
Despesas de Capital           167.358136     63.463741    131.451350

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Vencimentos e Vantagens Fixas - Pessoal Civil,7227.363117,5770.231471,5770.231471
Outros Serviços de Terceiros - Pessoa Jurídica,2370.502024,2073.220587,2085.461167
Outros Serviços de Terceiros -Pessoa Jurídica,1902.575828,1367.463481,1469.151232
Auxílio-Alimentação,434.820030,430.542262,430.542262
"Material, Bem ou Serviço para Distribuição Gratuita",390.772614,162.051071,292.131844
Material de Consumo,273.308796,202.342032,244.392841
Outros Serviços de Terceiros - Pessoa Física,140.887005,117.782310,127.127407
Obras e Instalações,89.889729,39.131728,59.550083
Equipamentos e Material Permanente,56.995277,5.020445,52.566620
Contribuições,23.877403,19.871110,19.721738
Auxílio-Transporte,17.829964,17.829964,17.829964
Indenizações e Restituições,14.682730,14.682730,14.682730
Outros Auxílios Financeiros a Pessoas Físicas,7.890976,5.651375,6.136213
Obrigações Tributárias e Contributivas,7.591351,5.109918,5.553348
Locação de Mão-de-Obra,5.120272,3.601912,3.737232
Aquisição de Imóveis,0.762059,0.762059,0.762059
Despesas de Exercícios Anteriores,0.725765,0.705088,0.705088
Ressarcimento de Despesas de Pessoal Requisitado,0.332970,0.015898,0.323526
"Premiações Culturais, Artísticas, Científicas, Desportivas e Outras",0.107596,0.090112,0.099867
Passagens e Despesas com Locomoção,0.215488,0.015372,0.041096
Diárias - Civil,0.011680,0.008193,0.008193

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoFonteRecurso,,,
Tesouro Municipal,7533.654836,5788.261271,6091.881723
Fundo Constitucional da Educação,4440.279767,3827.119838,3827.119838
Transferências Federais,938.337874,587.762549,641.024033
Outras Fontes,33.979873,16.566437,24.311365
Transferências Estaduais,20.010323,16.419021,16.419021

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
RPPS - PMSP,7224.500741,5768.052052,5768.052052
Convênio - Creche,2230.700574,1955.371328,1964.544610
Limpeza de Ambientes,460.588315,404.674394,421.998803
Refeições Prontas,593.334812,328.169695,344.790982
Auxílio-Refeição - RPPS,231.914947,231.900788,231.900788
Transporte Escolar - EMEF,226.955018,190.285810,206.443985
Uniforme Escolar,299.956901,101.765057,203.583401
Vale-Alimentação - RPPS,201.652925,197.393040,197.393040
"Guarda, Vigilância e Segurança em Geral",214.285475,180.449088,197.344181
Diversos Gêneros Alimentícios,159.092806,118.280276,144.741217
Água e Esgoto,126.312290,93.019344,107.438856
Escolas e Similares,89.889729,39.131728,59.550083
Energia Elétrica de Prédios Públicos,63.686421,44.935585,50.844798
Material Escolar,47.743602,20.931055,45.564179
Leite e Achocolatados,42.994545,39.280542,42.909846
"Convênios - Alfabetização, Educação e Outros",46.247443,40.399999,40.655594
Outros Aparelhos e Equipamentos de Comunicação,40.036436,0.012509,40.036436
Programa Transferência Recursos Financeiros - Assoc de Pais e Mestres,38.034370,37.074281,37.074281
Preparo e Distribuição de Alimentos,33.383049,29.668550,32.019037
Concessão de Bolsa-Auxílio para Estagiários,34.734801,27.796770,30.456309
Carnes em Geral,30.159054,23.368220,27.439776
Armazenagem de Alimentos,37.534199,23.237049,25.713242
"Outras Instituições de Caráter Assistencial, Cultural ou Educacional",23.877403,19.871110,19.721738
"Pães, Doces, Biscoitos e Salgados",20.781584,15.242173,19.208280
Locação de Imóveis,22.911279,17.577437,18.270620
Auxílio-Transporte - RPPS,17.757254,17.757254,17.757254
Laticínios em Geral,15.931271,15.732020,15.870590
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",17.282564,13.706831,14.780804
Restituições a Pessoas Jurídicas,14.682730,14.682730,14.682730
"Serviço de Instalação, Ampliação de Sist. de Telefonia/Teleinformática",15.433389,11.321042,13.575405
...,...,...,...
"Outros Equipamentos para Proteção, Segurança e Socorro",0.003830,0.000000,0.003830
Não Padronizados,0.003755,0.003755,0.003755
"Adiantamento - Inciso VI, Art. 2º da Lei nº 10.513/88",0.003568,0.003568,0.003568
Certificado Digital,0.003080,0.002379,0.003080
Diversas Ferramentas,0.003018,0.003018,0.003018
Transporte Escolar - EMEE,0.002972,0.002972,0.002972
Toner e Cartuchos de Tinta,0.002790,0.002790,0.002790
Assinatura de Jornais,0.002176,0.002176,0.002176
"Adiantamento - Inciso VII, Art. 2º da Lei nº 10.513/88",0.002100,0.002100,0.002100
Utensíllios de Escritório,0.002096,0.002096,0.002096
Encadernação,0.002000,0.002000,0.002000
"Exposições,Congressos,Conferências, e Outros Ev.,Convênios, Seminários",0.001900,0.001900,0.001900
Aparelhos Telefônicos,0.001609,0.001609,0.001609
Serviços de Abastecimento de Água e Sistema de Esgoto Sanitário,0.001458,0.001458,0.001458
Disquetes e CD-ROM,0.001455,0.001455,0.001455
Diversos Materiais Festividades e Homenagens,0.001048,0.000000,0.001048
Materiais Fotográficos,0.000499,0.000499,0.000499
Diversos Materiais Químicos,0.000607,0.000427,0.000427
Direitos Autorais,0.000400,0.000400,0.000400
Material de Proteção e Segurança de Bens Públicos,0.000378,0.000378,0.000378
Assinaturas de Revistas,0.000119,0.000119,0.000119
Locação de Software,0.000049,0.000049,0.000049
Reembolso de Energia Elétrica,0.000035,0.000000,0.000000
Ônibus,0.022391,0.000000,0.000000
INSS,0.019500,0.000000,0.000000
Reembolso de Água e Esgoto,0.005785,0.000000,0.000000
Veículos,0.004048,0.000000,0.000000
Hardware,0.889200,0.000000,0.000000
"Diversos Materiais para Áudio, Vídeo e Foto",0.001455,0.000000,0.000000
Programa Dinheiro Direto na Escola - PDDE - APM,0.001725,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,12278.342078,9737.146846,10046.790423
Suporte Administrativo,487.094474,385.216074,391.997475
Modernização e descentralização da gestão e prestação de serviços,113.625732,44.050750,89.952636
Direitos da pessoa com deficiência,71.587204,56.705663,58.694795
Superação da extrema pobreza,11.955134,10.704482,10.960078
Promoção da cidade como centro de eventos e destino turístico de refer,2.056456,1.448251,1.448251
"Participação, transparência e controle social da administração pública",1.601595,0.857049,0.912323

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Remuneração dos Profissionais do Magistério,4440.279767,3827.119838,3827.119838
Operação e Manutenção do Sistema Municipal de Ensino,3331.263090,2474.584687,2521.627050
Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo,2233.664771,1958.681495,1967.320619
Alimentação Escolar,782.432983,476.980195,505.948126
Administração da Unidade,484.094474,385.216074,388.999145
Operação e Manutenção dos Centros Educacionais Unificados,369.818269,300.618164,321.912181
Fornecimento de Uniformes e Material Escolar,343.673963,122.696111,245.121041
Transporte Escolar,233.014406,194.595252,211.120256
Programa Nacional de Alimentação Escolar - PNAE/ FNDE,164.367361,118.456401,147.412735
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",92.175758,31.072926,74.701628
Ações Complementares do Sistema Municipal de Ensino,84.158475,68.331873,68.440021
Construção de Centros de Educação Infantil - CEI,75.645724,45.401582,59.824468
Leve-Leite,79.562042,50.826933,54.456454
Educação Especial - Aprender sem limite,56.401749,48.269271,50.140521
Transferência de Recursos Financeiros para as Unidades Educacionais,43.174927,41.862461,41.862461
Ações e materiais de apoio Didático-Pedagógico Educacional,19.390262,9.177294,17.837089
Iniciação à Docência e Alfabetização na Idade Certa,15.870822,12.285425,13.468927
Construção de Escolas Municipais de Educação Infantil - EMEI,23.131830,7.560151,13.072542
Manutenção de Sistemas de Informação e Comunicação,15.912125,9.824414,11.357797
Alfabetização de Jovens e Adultos,11.955134,10.704482,10.960078
Ampliação da jornada escolar - Programa Mais Educação,10.307844,9.068613,9.478278
Convênios para Atendimento de Crianças e Adolescentes com necessidades,15.185455,8.436392,8.554274
"Eventos Educacionais, Culturais e Esportivos nos Centros Educacionais",7.856409,7.387075,7.387075
"Capacitação, Formação e Aperfeiçoamento de Servidores",5.537849,3.153411,3.893211
Reformas de Equipamentos Educacionais,4.668341,3.686780,3.709857
Publicações de Interesse do Município,3.000000,0.000000,2.998330
Operação e Manutenção da UniCEU,3.074560,2.142509,2.870959
Programa Nacional de Inclusão de Jovens - PROJOVEM Urbano,2.872828,2.184410,2.184410
"Construção, reforma e ampliação de equipamentos educacionais",6.302179,1.614783,2.097862
PIÁ/Vocacional,1.537168,1.486814,1.490422
Promoção de Campanhas e Eventos de Interesse do Município.,2.056456,1.448251,1.448251
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,1.601595,0.857049,0.912323
E3863 - Programa Destinado à Ampliação e Qualificação da Primeira Infâ,0.815673,0.000000,0.629752
Mês do Hip Hop,1.203600,0.398000,0.398000
E6160 - Instalação de Elevador na CEI Menino Jesus,0.254784,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Vencimentos e Salários,7224.500741,5768.052052,5768.052052
Serviços de Creches e Assistência Pré-Escolar,2334.502300,2041.971708,2058.488125
Indenização Auxílio-Refeição,434.820030,430.542262,430.542262
Limpeza e Conservação,461.311621,405.168313,422.574830
Fornecimento de Alimentação,593.683211,328.471194,345.105301
Gêneros de Alimentação,259.066062,194.808533,231.447644
Outros Materiais de Distribuição Gratuita,300.034468,101.839474,203.657818
Vigilância Ostensiva / Monitorada,214.285475,180.449088,197.344181
Locação de Móveis e Intangíveis,123.252825,103.753417,112.568457
Serviços de Água e Esgoto,126.318075,93.019344,107.438856
Serviços de Apoio ao Ensino,100.341372,86.503707,86.877184
Obras em Andamento - Uso Comum do Povo,89.889729,39.131728,59.550083
Serviços de Energia Elétrica e Iluminação Pública,63.726557,44.973127,50.882340
Material Educacional e Cultural,47.743602,20.931055,45.564179
Mercadorias para Doação,42.994545,39.280542,42.909846
Aparelhos e Equipamentos de Comunicação,40.036436,0.012509,40.036436
Outros Serviços de Terceiros - Pessoa Jurídica,34.770699,30.964739,33.361666
Instituições Caráter Assist. Cult. Educ. - Outros Serv. Terceiros - PJ,34.734801,27.796770,30.456309
Serviços Técnicos Profissionais,35.685388,27.893569,30.154237
Armazenagem,37.534199,23.237049,25.713242
Locação de Imóveis,24.863791,19.437101,20.136604
Serviços de Telecomunicações,25.054313,16.570464,19.735539
"Instituições de Caráter Assistencial, Cultural e Educacional",23.877403,19.871110,19.721738
Indenização Auxílio-Transporte,17.829964,17.829964,17.829964
Locação de Bens Móveis de Outra Natureza e Intangíveis,23.543836,15.995600,17.702519
Restituições,14.682730,14.682730,14.682730
"Serviço de Apoio Administrativo, Técnico e Operacional",19.709371,11.675320,12.569162
Outros Serv. de Terceiros Pessoa Jurídica - Pagto Antecipado,12.435564,12.204974,12.204974
Fretes e Transporte de Encomendas,36.840382,11.743185,11.758990
Serviços Técnicos Profissionais de T.I.,16.007019,9.919307,11.452690
...,...,...,...
"Máquinas, Utensílios e Equipamentos Diversos",0.037275,0.037275,0.037275
Premiações Culturais,0.034632,0.034632,0.034632
Equipamentos de Processamento de Dados,0.922426,0.033226,0.033226
Serviços de Gás / São Paulo,0.605503,0.030709,0.033001
Transporte de Servidores,0.203812,0.003696,0.029421
Material para Manutenção de Bens Imóveis,0.026641,0.026641,0.026641
Material de Sinalização Visual e Afins,0.025747,0.025653,0.025655
Combustíveis e Lubrificantes Automotivos,0.045128,0.023707,0.023817
Material para Festividades e Homenagens,0.019403,0.018355,0.019403
Material Hospitalar,0.015233,0.015230,0.015233
Aparelhos e Utensílios Domésticos,0.014777,0.014777,0.014777
Tributos a Conta do Locatário e Cessionário,0.013588,0.013077,0.013077
Material de Processamento de Dados,0.011939,0.011544,0.011939
Passagens para o País,0.011675,0.011675,0.011675
Máquinas e Equipamentos de Natureza Industrial,0.008000,0.000000,0.008000
Serviços de Assistência Social,0.007867,0.007867,0.007867
"Máquinas, Ferramentas e Utensílios de Oficina",0.007077,0.007077,0.007077
Seguros em Geral,0.007496,0.006540,0.007031
Material Odontológico,0.006948,0.006948,0.006948
"Bandeiras, Flâmulas e Insígnias",0.005244,0.005244,0.005244
Diárias no País,0.008112,0.004625,0.004625
"Equipamento de Proteção, Segurança e Socorro",0.003830,0.000000,0.003830
Diárias no Exterior,0.003568,0.003568,0.003568
Ferramentas,0.003018,0.003018,0.003018
"Máquinas, Instalações e Utensílios de Escritório",0.002096,0.002096,0.002096
Material para Comunicações,0.001609,0.001609,0.001609
"Material para Áudio, Vídeo e Foto",0.001954,0.000499,0.000499
Material Químico,0.000607,0.000427,0.000427
Direitos Autorais,0.000400,0.000400,0.000400
Locação de Softwares,0.000049,0.000049,0.000049

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                     8872.224239   7047.395374   7256.479494
Educação Infantil                   2333.512781   2011.643228   2040.847381
Alimentação e Nutrição              1026.362386    646.263529    707.817315
Administração Geral                  528.047808    415.039170    427.950583
Tecnologia da Informação             108.087883     40.897340     86.059425
Educação Especial                     71.587204     56.705663     58.694795
Ensino Fundamental                    11.955134     10.704482     10.960078
Formação de Recursos Humanos           8.612409      5.295920      6.764170
Comunicação Social                     3.000000      0.000000      2.998330
Educação de Jovens e Adultos           2.872828      2.184410      2.184410

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,9375.871273,7365.919168,7638.083844
Departamento de Alimentação Escolar,864.352108,555.403268,571.057087
Diretoria Regional de Educação - Campo Limpo,259.667430,236.657658,242.167856
Diretoria Regional de Educação - Guaianases,296.241506,214.297709,215.727938
Diretoria Regional de Educação - São Miguel,222.969903,210.591931,213.711664
Diretoria Regional de Educação - Pirituba,202.860499,191.569627,194.308053
Diretoria Regional de Educação - Ipiranga,188.018721,176.640245,178.577069
Diretoria Regional de Educação - Freguesia/Brasilândia,212.657771,175.734458,176.804683
Diretoria Regional de Educação - Itaquera,207.890332,172.945943,175.474689
Diretoria Regional de Educação - Penha,174.380797,163.037585,164.093725
Diretoria Regional de Educação - São Mateus,178.445242,140.532773,143.629764
Coordenadoria de Alimentação Escolar,164.918054,93.102006,139.099766
Diretoria Regional de Educação - Santo Amaro,145.165673,132.690529,135.378423
Diretoria Regional de Educação - Jaçanã/Tremembé,136.623102,124.153965,126.023384
Diretoria Regional de Educação Capela do Socorro,110.392806,94.119925,96.621876
Diretoria Regional de Educação - Capela do Socorro,117.796633,96.161940,96.168426
Diretoria Regional de Educação - Butantã,108.010822,92.570389,93.827734

                            valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Pessoal e Encargos Sociais        7227.696087   5770.247369   5770.554997
Outras Despesas Correntes         5571.208449   4402.418006   4698.749634
Investimentos                      167.358136     63.463741    131.451350

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Aplicações Diretas,10564.154302,8136.470299,8488.544194
Transferências a Instituições Privadas sem Fins Lucrativos,2401.965902,2099.546763,2112.088527
"Apl.Dir.Dec.Op. entre Órgãos,Fundos e Ent.Int.Orç.Fiscal e Seg.Social",0.142468,0.112054,0.123259

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
FOLHA DE PAGAMENTO _ EXECUTIVO,7224.500741,5768.052052,5768.052052
SERV.SEC.MUN. DE EDUCAÇÃO - AUX. REFEIÇÃO,434.818454,430.542262,430.542262
SHA COMERCIO DE ALIMENTOS LTDA,190.741737,118.178282,123.844806
CIA DE SANEAMENTO BÁSICO DO ESTADO DE SÃO PAULO SABESP,126.612305,93.082309,107.501822
COMERCIAL MILANO BRASIL LTDA,92.039220,74.653773,81.704879
DENJUD REFEIÇÕES COLETIVAS ADMINISTRAÇÃO E SERVIÇOS LTDA,144.606175,77.517622,80.985775
APETECE SISTEMAS DE ALIMENTACAO S/A,161.392758,73.424133,76.517002
EBN COMERCIO IMPORTACAO E EXPORTACAO S/A,107.089565,36.572437,72.334200
BRINK MOBIL EQUIPAMENTOS EDUCACIONAIS LTDA,66.958155,32.852108,65.688035
TANGARÁ IMP.E EXP.S/A,61.845260,55.286151,61.575245
ELETROPAULO METROPOLITANA ELETRICIDADE DE SÃO PAULO S.A.,66.003813,44.973127,50.882340
NILCATEX TEXTIL LTDA,94.554172,24.173376,48.606697
LIMPADORA CALIFORNIA LTDA,56.310204,44.034916,47.262516
BASE SISTEMA SERVIÇOS DE ADMINISTRAÇÃO E COMERCIO LTDA,65.781097,40.209289,43.874478
ARCOLIMP SERVIÇOS GERAIS LTDA,42.813454,39.799286,42.720477
POSITIVO TECNOLOGIA S.A.,40.910940,0.000000,40.021740
CENTRO DE INTEGRAÇÃO EMPRESA ESCOLA CIEE,43.214780,33.946851,37.137669
SOCIEDADE BENEFICIENTE EQUILIBRIO DE INTERLAGOS,42.737749,36.517114,36.568171
G4S INTERATIVA SERVICE LTDA,36.618904,33.997899,36.552679
P.R.M. SERVIÇOS E MAO DE OBRA ESPECIALIZADA EIRELI,44.011233,34.421740,36.242098
CRUZADA PRO INFANCIA,33.621266,31.525392,31.525392
"GUIMA CONSECO CONSTRUÇÃO, SERVIÇOS E COMÉRCIO LTDA",31.047000,28.949667,30.823779
DEMAX SERVICOS E COMERCIO LTDA,30.635239,28.690118,30.494362
SPDM-ASSOCIAÇÃO PAULISTA PARA O DESENVOLVIMENTO DA MEDICINA,32.364774,28.047264,28.047264
ALBATROZ SEGURANÇA E VIGILÂNCIA LTDA,27.713410,24.890311,27.494160
G4S VANGUARDA SEGURANCA E VIGILANCIA LTDA,27.801421,24.259330,26.380958
SERBOM ARMAZENS GERAIS FRIGORIFICOS LTDA,37.534199,23.237049,25.713242
A. TONANNI CONSTRUÇÕES E SERVIÇOS LTDA,25.723431,23.657501,25.458943
PLURI SEGURANÇA E VIGILANCIA LTDA,24.536613,22.139465,24.501776
EPS - EMPRESA PAULISTA DE SERVICOS S.A.,24.503134,22.728663,24.175498
...,...,...,...
NUCLEO RECREATIVO MUNDO ENCANTADO,0.369962,0.000000,0.000000
CELSO HENRIQUE SANTOS DE SOUSA,0.005640,0.000000,0.000000
OBRAS SOCIAIS DE VISTA ALEGRE,0.021400,0.021400,0.000000
ONG FORÇA E PERSERVERANÇA,0.040660,0.000000,0.000000
CENTRO EDUCACIONAL DE DESENVOLVIMENTO JUVENIL E INFANTIL - CEDEJI,0.350343,0.000000,0.000000
JOSÉ LUCAS GIAMPERSA,0.000183,0.000183,0.000000
CARLOS ROBERTO DA SILVA,0.005640,0.000000,0.000000
CHISLEINE APARECIDA RESCA,0.000780,0.000000,0.000000
INSTITUTO AMOR E UNIÃO,0.470198,0.000000,0.000000
ANA CARLA MONTEIRO ALMEIDA,0.013860,0.000000,0.000000
GUILHERME HENRIQUE ACCA DOS SANTOS,0.001380,0.000000,0.000000
DANIELA FRANCISCA GOMES,0.000780,0.000000,0.000000
ANA MARIA MACHADO DE JESUS,0.001344,0.000000,0.000000
ADNAIELY LACERDA DE JESUS OLIVEIRA,0.000780,0.000000,0.000000
HEITOR RIMAN,0.000780,0.000000,0.000000
FABIANA APARECIDA DE LIMA CALIAN,0.000780,0.000000,0.000000
ASSOCIACAO QUIALTERAS CULTURAIS - A.Q.C,0.070192,0.035096,0.000000
MARCIA TEIXEIRA DA SILVA,0.001000,0.000000,0.000000
ASSOCIACAO UNIAO E PROGRESSO DO PARQUE ARARIBA E ADJACENCIAS,0.028676,0.000000,0.000000
DIRLEINE PICKLER PINHEIRO,0.001064,0.000000,0.000000
ROSELI APARECIDA MANJA,0.001500,0.000000,0.000000
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA CAMINHO DA LUZ,0.178667,0.000000,0.000000
SILVIO ROBERTO VIEIRA DOS SANTOS FILHO,0.000672,0.000000,0.000000
ESPORTE GLOBAL COMÉRCIO DE ARTIGOS ESPORTIVOS LTDA - ME,0.005480,0.000000,0.000000
ASSOCIAÇÃO DOS ESTUDANTES DO CONJ PAULISTANO,0.360763,0.000000,0.000000
MOMENT LOCAÇÕES E EVENTOS LTDA - ME,0.023970,0.000000,0.000000
LUANA FORMIGONI,0.000780,0.000000,0.000000
MONICA MARIA CHAVES DE SOUZA,0.001000,0.000000,0.000000
MARCELO VIEIRA DA SILVA,0.000900,0.000000,0.000000
AGROECOLÓGICA DOS PRODUTORES RURAIS E DE AGUA LIMPA DA REGIÃO SUL DE SÃO PAULO-COOPERAPAS,0.060577,0.000000,0.000000

                                                                                         txtObjetoContrato
0                                                   Contratação de Agente Recreativo - Edição Janeiro 2017
1                                                               RECREIO NAS FÉRIAS JANEIRO / 2017 - DRE/IQ
2                                      2º REPASSE PTRF/2017 – DRE-G – CUSTEIO – APM – CEU EMEF LAJEADO  \t
3      Celebração do Termo de Convênio nº 013/DRE-PJ/2015-RP para atendimento de 178 crianças, sendo 84...
4                                                                                                      NaN
5                                                PRORROGAÇÃO DE VIGÊNCIA- CEI EUGêNIO FRANCISCO DE SANTANA
9                                Repasse de Recursos do PNAE para o CEI SANTA ANGELA- CÓD. INEP 35181560\n
12     \r\nCONTRATAÇÃO DE AGENTES DE RECREAÇÃO PARA O RECREIO NAS FÉRIAS JANEIRO DE 2017 NO PERÍODO DE ...
15                                                                   CEI PRIMEIRO LAPIS - JANEIRO A AGOSTO
20                                                    PRORROGAÇÃO DE VIGÊNCIA - CEI VIRTUDE DA CRIANÇA III
23                                                                          CEI ADALGIZA COELHO DOS SANTOS
24     Repasses de recursos à APM, de acordo com a Lei Federal 9394/1996 e Portarias da SME indicando o...
27                                                               CELEBRAÇÃO DE CONVÊNIO- CEI ABC AURORA II
28                                                 CELEBRAÇÃO DE CONVÊNIO- CEI JARDIM IPANEMA I - 29/05/17
31     Aquisição de 87.500 Kg de Composto Lácteo Sabor Chocolate - ATA de RP nº 008/SME/CODAE/2017 - FN...
32                                 Repasse de Recursos do PNAE para o CEI AVES GALHANI- CÓD. INEP 35305534
33                                                     TERMO DE COLABORAÇÃO- CEI VITÓRIA- EM CONTINUIDADE
34                                                              TERMO DE COLABORAÇÃO - CEI FLOR DO ORIENTE
36                                  SERVIÇOS DE MANUTENÇÃO E INSTALAÇÃO DE CONDICIONADORES DE AR DRE/DIPED
37                                                               TERMO DE COLABORAÇÃO- CEI GALPÃO ATRIA II
38                                            CELEBRAÇÃO DE TERMO DE COLABORAÇÃO- CEI REINO DOS PEQUENINOS
39                                                                CELEBRAÇÃO DE PARCERIA- CEI TRINDADE III
42                                                     CELEBRAÇÃO DE PARCERIA- CEI ESPAÇO DA COMUNIDADE VI
43                                                               CELEBRAÇÃO DE PARCERIA- CEI MARAVILHA III
45                                 CONSUMO DE ENERGIA ELÉTRICA-EMEF,EMEI,CEI,EMEBS,EMEFM,CIEJA,DRESA E CEU
46                                  CELEBRAÇÃO TERMO DE COLABORAÇÃO/PARCERIA - CEI CIDADE A.E. CARVALHO II
50                 TERMO DE COLABORAÇÃO PARA A MANUTENÇÃO DO CEI PIRAJUCARA NOS TERMOS DA PORTARIA 4548/17
54                CONSUMO DE ÁGUA E SERVIÇO  DE ÁGUA E ESGOSTO-EMEF,EMEI.CEI,CIEJA,DRESA,EMEFM,CEU E EMEBS
55                                                                RECREIO NAS FÉRIAS JULHO / 2017 - DRE/IQ
59     Manutenção do CEI Vovó Joaninha, para atendimento de 70 crianças de 0 a 3 anos, sendo 25 de berç...
...                                                                                                    ...
59030                                                                                 CEI MONTE CARMELO II
59035                                                                      Locação de brinquedos infláveis
59037                                              CONTRATAÇÃO DE AGENTE DE RECREAÇÃO - RECREIO NAS FERIAS
59041                                                                              03 SLS DO CONVÊNIO MOVA
59054                                                                                CEI MONTE CARMELO III
59064                                                                            CEI CASA DA CRIANÇA FELIZ
59067                                                                                           CEI KAIROS
59108                                                                                          CEI VITÓRIA
59109  CONTRATAÇÃO DE COORDENADOR DE POLO PARA COORDENAR AS ATIVIDADES LÚDICAS, CULTURAIS, RECREATIVAS,...
59150                                         Apresentações do Espetáculo “A Menina, o Príncipe e a Noite”
59151                                                       Apresentações do Espetáculo “Bichos do Brasil”
59153                                                      Apresentações do Espetáculo “Cadê Meu Nariz?¿¿”
59156                           Apresentações do Espetáculo “O Príncipe Medroso e Outros Contos Africanos”
59157                                                    Apresentações do Espetáculo “Circo de Variedades”
59165                                         Apresentações do Espetáculo “CONTO UM CANTO, CANTO UM CONTO"
59174                                                      Apresentações do Espetáculo “Somos Cromossomos”
59422                                                             TELEFÔNICA BRASIL S/A - CONTRATO 04/2013
59431                                                            TELEFÔNICA BRASIL S/A - CONTRATO 03/2013
59456                               Aquisição de kits de material escolar individual lotes 01, 02, 03 e 04
59485                                                        Aquisição de kits de uniforme escolar lote 02
59688             Pagamento dos serviços de fornecimento de água e esgoto para as Unidades Centrais da SME
59699  116.700 Kg de Pão Tipo Bisnaguinha Tradicional e 36.900 Kg de Pão Tipo Bisnaguinha Integral - AT...
59710                                                           MOVA COMUNIDADE CRISTÃ DO AVIVAMENTO PLENO
59712                                                                                      MOVA SANTA ZITA
59715                                                                     MOVA CLUBE DE MÃES RAIOS DE LUAR
59730                                                                        MOVA NOSSA SENHORA DAS GRAÇAS
59777          Pagamento dos serviços de fornecimento de energia elétrica para as Unidades Centrais da SME
59876                                                                        CONTRATO EMERGENCIAL VEICULOS
60032                                                                       CONFECÇÃO DE BANNER E CARTAZES
60057            CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM SERVIÇOS DE EMCADERNAÇÃO DE TRABALHOS PEDAGOGICOS

[4571 rows x 1 columns]

## Contratos

In [29]:
groupSumContratos(contratos_df)

Empty DataFrame
Columns: [valTotalEmpenhado, valLiquidado]
Index: []

                        valTotalEmpenhado  valLiquidado
txtDescricaoModalidade
Pregão                         943.559736    641.162346
Não Aplicável                  610.937541    474.659843
Dispensa de Licitação          591.269262    427.488146
Inexigibilidade                 61.632085     52.071161
Leilão                           0.209999      0.209999
Tomada de Preços                 0.677581      0.143517
Concorrência                     0.115772      0.115772
Convite                          0.000000      0.000000

                                  valTotalEmpenhado  valLiquidado
txtDescricaoOrgao
Secretaria Municipal de Educação        2208.401976   1595.850786

,valTotalEmpenhado,valLiquidado
txtObjetoContrato,,
Aquisição de Kit de Uniforme Escolar,61.576593,61.576593
"Serviços de Nutrição e Alimentação Escolar - Regiões de GUAIANASES, ITAQUERA e PENHA \n\n",50.274381,40.530609
Aquisição de notebook,40.021740,40.021740
Serviços de Nutrição e Alimentação Escolar - Região da FREGUESIA DO Ó e SÃO MATEUS,44.781926,39.143829
Aquisição de kits de uniforme escolar lotes 04 e 06,117.814656,35.933590
Serviços de Nutrição e Alimentação Escolar - Regiões - IPIRANGA E SÃO MIGUEL,42.442385,32.896587
Limpeza de CEUs.,34.210382,32.482408
Aquisição de Kit de Uniforme Escolar,29.558169,29.558169
Aquisição de kits de uniforme escolar lote 02,26.810556,26.810556
"Serviços de vigilância CEUs - lotes 01, 02, 04 e 05",36.855961,25.222767
Contratação de serviços de nutrição e alimentação escolar- Lote 4 - CAPELA DO SOCORRO.,24.768282,23.420835
AQUISIÇÃO DE KITS DE UNIFORME ESCOLAR - LOTES 04 E 06,22.973738,22.973738
Serviço de nutrição e alimentação escolar - Região Jãçanã-Tremembé - Contrataçãqo emergencial.,19.452618,18.119854
"Serviços de vigilância CEUs - lotes 03, 06 e 07",23.945679,16.985714
Contratação de serviços de nutrição e alimentação escolar - LOTE 5 - FREGUESIA DO Ó.,19.201828,16.765698
"A presente parceria destina-se ao atendimento ás crianças por meio de Centro de Educação Infantil , segundo as Diretrizes técnicas da Secretaria Municipal da Educação e de acordo com O Plano de Trabalho aprovado pela Diretoria Regional de Educação - DRE , parte integrante deste termo.\r\n1.1 O Atendimento será inteiramente gratuito para o usuário.\r\n1.2. O plano de Trabalho poderá ser reformulado a qualquer tempo, por solicitação de qualquer uma das partes, desde que as alterações ocorram por mútuo assentimento. \r\n",28.055642,16.331788
\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 6 - GUAIANAZES.\r\n,18.236573,15.559114
AQUISIÇÃO DE KIT MATERIAL ESCOLAR,14.547467,14.547467
Contratação de serviços de nutrição e alimentação escolar – LOTE 8 - ITAQUERA,15.807573,13.453968
Prestação de serviços e venda de produtos / Prestação de serviços de logística integrada: Entrega de Leite em Pó Integral e Entrega de Cartas – PROGRAMA LEVE-LEITE.,14.182434,11.039267
CONSUMO E TARIFAS DE TELEFONIA FIXA- APOIO AO ENSINO,12.780961,10.794834
AQUISIÇÃO DE KIT UNIFORME ESCOLAR,14.462154,10.683582
Consumode água e esgoto da DRE Pirituba e das Unidades Educacionais a ela subordinadas.,11.267142,10.582603
Contratação de serviços de nutrição e alimentação escolar – LOTE 14A - SÃO MATEUS I.,11.959116,10.379441
\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 10B - SÃO MIGUEL II.,11.651172,10.048962
Contratação de serviços de nutrição e alimentação escolar – LOTE 10A - SÃO MIGUEL I.,11.974066,9.941289
"CONSUMO DE ÁGUA - SABESP - CEI, EMEI, EMEF, CIEJA, ADM E CEU.",14.087107,9.697034
PAGTO. DE CONCESSIONÁRIA - SABESP,10.532222,9.369091
\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 14B - SÃO MATEUS II.,11.177524,8.508958
"SP/SR CONTRATAÇÃO DE SERVIÇOS DE AGUA E ESGOSTO REFERENTE O EXERCÍCIO DE 2017 PARA A UNIDADES DRE/MP, EMEIs, EMEFs, CEIs, CEUs, CMCTs e EMEFM",9.666959,8.278385
...,...,...
CELEBRAÇÃO DE TERMO DE COLABORAÇÃO EM CONTINUIDADE,0.580530,0.000000
CELEBRAÇÃO DO TERMO DE COLABORAÇÃO - CEI CEU ESTRELADO V,0.000000,0.000000
CELEBRAÇÃO DO TERMO DE COLABORAÇÃO - CEI PORTELINHA,0.000000,0.000000
COLCHÃO PARA GINASTICA ARTISTICA,0.000496,0.000000
COMPLEMENTO DE VALOR.,0.000508,0.000000
SERVIÇO DE MANUTENÇÃO CONSERVAÇÃO DE 1º ESCALÃO EMEI VICENTE PAULA DA SILVA,0.013510,0.000000
"CONT. DE EMP. ESP. EM PREST. DE SERV. DE TRANSP. COM VEICULO PESADO, C/ MOTORISTA, AJUDANTE E COMB. C/KM LIVRE PRINCIPAL",0.000000,0.000000
Aquisição de lixeiras para a Universidade nos Centros Educacionais Unificados – UniCEU,0.001112,0.000000
Aquisição de kit material escolar,0.909303,0.000000
SERVIÇOS DE 1º ESCALÃO- EMEF HEITOR DE ANDRADE,0.014842,0.000000
SP/IT - CONTRATAÇÃO DE OFICINEIRO PARA O PROGRAMA EXTENSÃO DE JORNADA - PERÍODO DE 07/08/2017 A 29/11/2017 - DAVID JONAS SOUZA RAMALHO\n,0.006930,0.000000
Aquisição de materiais diversos,0.000180,0.000000
SP/IT - SERVIÇOS DE PODA E JARDINAGEM NO CEI JARDIM CAMARGO VELHO,0.000000,0.000000
Aquisição de 1.245.000 unidades (200 ml) de Suco de Laranja Integral Pasteurizado Congelado - ATA de RP nº 013/SME/CODAE/2017 - FNDE/PNAE.,0.000000,0.000000
Aquisição de 2.000.000 unidades de Banana Nanica - AF - CHAMDA PUBLICA Nº 003/SME/CODAE/2017 - FNDE/PNAE.,1.152000,0.000000
SP/IT - CONTRTATAÇÃO DE INTÉRPRETE DE LIBRAS SIMONE TRETELE DOS SANTOS NA EMEF PADRE CHICO FALCONI - PERÍODO DE 02/10/2017 A 18/12/2017,0.012500,0.000000
Aquisição de 20 JOGOS DA ONÇA,0.003000,0.000000
SP/IT - CONTRTATAÇÃO DE INTÉRPRETE DE LIBRAS MARIA APARECIDA CAVALCANTE MARTINS NA EMEF DR. HELIO TAVARES - PERÍODO DE 02/10/2017 A 18/12/2017\n,0.012500,0.000000
Aquisição de 488.800 Unid. (900ml) de Óleo de Soja Refinado - Tipo 1 - PNAE/FNDE - Dec. 57.788/17,1.637480,0.000000
Aquisição de 54.000 KG de polpa de Acerola – da CHAMADA PÚBLICA de nº 008/SME/CODAE/2017.,0.261630,0.000000
Aquisição de copos descartáveis e material de limpeza diversos,0.000000,0.000000
Aquisição de 70.400 Kg de Pão Tipo Hot Dog Integral - ATA de RP 12/SME/CODAE//2016.,0.808192,0.000000
Aquisição de 75.000 Un. (500g) de Margarina Sem Sal - ATA de RP nº 005/SME/CODAE/2017 - PNAE/FNDE - Decreto nº 57.788/17,0.000000,0.000000
"Aquisição de Hortaliças e Verduras – 14.555,00 Kg da Chamada Pública nº 014/SME/CODAE/2017",0.060577,0.000000
SERVIÇOS GERAIS DE MANUTENÇÃO PREDIAL - EMEF. SOLANO TRINDADE,0.000000,0.000000
Aquisição de Kit de Uniforme Escolar lote 4 e 6,0.000000,0.000000
Aquisição de Material Esportivo de consumo para utilização no Programa Recreio nas Férias – Janeiro/2018,0.000000,0.000000
Aquisição de banners,0.000000,0.000000
Repasse de Recursos do PNAE para o CEI Centro Social Marista Itaquera I,0.040018,0.000000
Contratação de serviços de Auxiliar de Almoxarifado.,0.011280,0.000000

                                      valTotalEmpenhado  valLiquidado
txtRazaoSocial
PREFEITURA DO MUNICÍPIO DE SÃO PAULO        2208.401976   1595.850786

,valTotalEmpenhado,valLiquidado
txtTipoContratacao,,
Termo de Contrato - Serviços,1083.524679,734.338001
Nota de Empenho Fornecimento de Bens de Consumo e/ou Permanente,396.009759,280.776631
Termo de Colaboração - Lei Federal 13.019/2014,360.355316,249.850884
Termo de Contrato para Aquisição de Bens de Consumo e/ou Permanente,176.563671,169.319828
Termo de Convênio,103.758882,87.287964
Termo de Compromisso PTRF,40.178396,38.926438
Termo de Repasse PNAE,23.863291,19.722606
Acordo de Cooperação - Lei Federal 13.019/2014,10.918979,7.054200
Termo de Fomento - Lei Federal 13.019/2014,8.469562,5.503498
Termo de Cooperação,3.001471,1.533608
Nota de Empenho para Fornecimento de Serviços,1.065686,0.849191
Termo de Parceria - Lei Federal 9.790/1999,0.390861,0.387143
Contrato da Dívida - Principal,0.199267,0.199237
Ordem de Execução de Serviço,0.051662,0.051662
Termo de Carta-Contrato,0.022322,0.022322
Sem Ônus,0.020972,0.020972
Ordem de Compra,0.007200,0.006600

In [30]:
# HTML(
(contratos_df[['codContrato', 'txtObjetoContrato', 'valLiquidado']]).sort_values('valLiquidado', ascending=False)
# .to_html())

,codContrato,txtObjetoContrato,valLiquidado
4672,1609,"Serviços de Nutrição e Alimentação Escolar - Regiões de GUAIANASES, ITAQUERA e PENHA \n\n",40530608.51
6154,25327,Aquisição de notebook,40021740.00
4251,1594,Serviços de Nutrição e Alimentação Escolar - Região da FREGUESIA DO Ó e SÃO MATEUS,39143829.10
5985,25275,Aquisição de Kit de Uniforme Escolar,35761763.20
4684,423,Aquisição de kits de uniforme escolar lotes 04 e 06,34755365.19
4641,1615,Serviços de Nutrição e Alimentação Escolar - Regiões - IPIRANGA E SÃO MIGUEL,32896586.93
5073,4480,"Serviços de vigilância CEUs - lotes 01, 02, 04 e 05",25222766.76
6082,25283,Aquisição de Kit de Uniforme Escolar,24433320.60
3874,12542,Contratação de serviços de nutrição e alimentação escolar- Lote 4 - CAPELA DO SOCORRO.,23420834.83
5199,2767,AQUISIÇÃO DE KITS DE UNIFORME ESCOLAR - LOTES 04 E 06,22973737.60
6093,25368,Aquisição de Kit de Uniforme Escolar,19660338.90
4943,5719,Serviço de nutrição e alimentação escolar - Região Jãçanã-Tremembé - Contrataçãqo emergencial.,18119854.34
4365,458,Aquisição de kits de uniforme escolar lote 02,17832789.90
5064,4478,"Serviços de vigilância CEUs - lotes 03, 06 e 07",16985714.34
847,15163,Contratação de serviços de nutrição e alimentação escolar - LOTE 5 - FREGUESIA DO Ó.,16765697.85
813,15172,\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 6 - GUAIANAZES.\r\n,15559114.22
3065,15193,Contratação de serviços de nutrição e alimentação escolar – LOTE 8 - ITAQUERA,13453967.65
4835,7413,Prestação de serviços e venda de produtos / Prestação de serviços de logística integrada: Entreg...,11039266.84
5545,1492,CONSUMO E TARIFAS DE TELEFONIA FIXA- APOIO AO ENSINO,10794833.69
4482,2322,Consumode água e esgoto da DRE Pirituba e das Unidades Educacionais a ela subordinadas.,10582603.29
717,15218,Contratação de serviços de nutrição e alimentação escolar – LOTE 14A - SÃO MATEUS I.,10379441.25
627,15203,\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 10B - SÃO MIGUEL II.,10048962.47
3127,15194,Contratação de serviços de nutrição e alimentação escolar – LOTE 10A - SÃO MIGUEL I.,9941288.54
5943,25354,Aquisição de Kit de Uniforme Escolar,9897830.40
5617,172,"CONSUMO DE ÁGUA - SABESP - CEI, EMEI, EMEF, CIEJA, ADM E CEU.",9697034.18
4059,2126,PAGTO. DE CONCESSIONÁRIA - SABESP,9369090.97
5676,461,Aquisição de kits de uniforme escolar lote 02,8977766.40
658,15223,\r\nContratação de serviços de nutrição e alimentação escolar – LOTE 14B - SÃO MATEUS II.,8508958.03
5132,2320,SP/SR CONTRATAÇÃO DE SERVIÇOS DE AGUA E ESGOSTO REFERENTE O EXERCÍCIO DE 2017 PARA A UNIDADES DR...,8278384.64
4326,3650,KIT MATERIAL ESCOLAR INDIVIDUAL - Ens Fund Anos Iniciais (1º ao 6º ano) - ATA DE RP Nº 54/SME/2016,8096749.50
...,...,...,...
5090,4761,DL – Contratação de Serviço de Brunch I.,0.00
863,14955,Contratação de serviços de nutrição e alimentação escola - Lote 4 - FREGUESIA DO O.,0.00
7425,20815,Manutenção de Elevadores,0.00
4276,604,PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...,0.00
2607,11642,SP/MP CONTRATAÇÃO DE TRADUTOR E INTÉRPRETE DE LIBRAS PERÍODO DE 01/05/2017 À 30/05/2018 - CEU EM...,0.00
7460,20655,"Celebração do Termo de Colaboração para atendimento de 160 crianças, sendo 36 de berçário - CEI ...",0.00
7154,22401,A presente parceria destina-se ao atendimento ás crianças por meio de Centro de Educação Infanti...,0.00
169,18932,"TERMO DE COLABORAÇÃO PARA A MANUTENÇÃO DO CEI JOVO AMANHECER JARDIM RANIERI, PARA O ATENDIMENTO ...",0.00
7143,20681,Contratação de Instrutor de Instrumentos de Metais e Percussão,0.00
7490,19984,2º REPASSE PTRF/2017 - CUSTEIO - DRE-G - EMEF AURELIANO LEITE,0.00
2510,11457,"REPASSE DE RECURSO PARA APM, DE ACORDO COM A LEI 8394/1996, PORTARIA DE SME INDICANDO O VALOR PA...",0.00
166,18686,Contratação de Serviços de Auxiliar de Almoxarifado.,0.00
3631,13873,"contratação através de dispensa de licitação a empresa Innovary Future Comercial Ltda - ME, ins...",0.00
5425,473,CONTRATAÇÃO DE AGENTE RECREATIVO - RECREIO NAS FÉRIAS EDICÃO JAN2017,0.00
6122,25745,SP/SR SERVIÇOS DE FORNECIMENTO DE AGUA E ESGOTO PARA AS UNIDADES DE EMEIS,0.00
2535,11777,CONTRATAÇÃO DE OFICINEIRO - EXTENSÃO DE JORNADA,0.00
2540,11173,"REPASSE DE RECURSO PARA APM DE ACORDO COM A LEI FEDERAL 8394/1996,PORTARIA DE SME,INDICANDO O VA...",0.00
5830,26263,CONTRATAÇÃO DE AGENTES DE RECREAÇÃO PARA RECREIO NAS FÉRIAS JANEIRO/2018,0.00
819,14787,PROGRAMA RECREIO NAS FÉRIAS - JULHO/2017 - DE ACORDO COMO EDITAL DE CREDENCIAMENTONº 004/2016/20...,0.00
6664,19560,MANUTENÇÃO E CONSERVAÇÃO EMEF VEREMUNDO TOTH,0.00
4538,899,PRESTAÇÃO DE SERVIÇOS DE AGENTE DE RECREAÇÃO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/ 2017,0.00
7474,21643,Repasse de Recursos do PNAE para o CEI Nossa Senhora das Dores I - Còd. INEP: 35182679,0.00
3201,13387,SP/SR TRANSFERÊNCIA DE RESERVA PARA AQUISIÇÃO DE CAMISETAS PARA O PROGRAMA RECREIO NAS FÉRIAS JU...,0.00
4427,427,Contratação de Agente Recreativo - Edição Janeiro 2017,0.00
6528,23491,Aquisição de 54.000 KG de polpa de Acerola – da CHAMADA PÚBLICA de nº 008/SME/CODAE/2017.,0.00
3623,13487,"\nCONTRATAÇÃO DE AGENTES DE RECREAÇÃO PARA DESENVOLVER ATIVIDADES LÚDICAS, CULTURAIS, RECREATIVA...",0.00
2580,11511,"REPASSE DE RECURSO PARA APM , DE ACORDO COM A LEI 8394/1996,PORTARIA DE SME INDICANDO O VALOR PA...",0.00
2594,11420,"REPASSE DE RECURSO PARA APM, DE ACORDO COM A LEI 8394/1996, PORTARIA DE SME INDICANDO O VALOR PA...",0.00
5054,3999,DL- Aquisição de café torrado e moído embalagem de 500g e açúcar refinado embalagem de 1kg para ...,0.00
548,16554,TERMO DE COLABORAÇÃO- CEI GALPÃO ATRIA PARADA XV DE NOVEMBRO,0.00

In [31]:
cod = 25327
filter_df = empenhos_contratos_df[empenhos_contratos_df['codContrato'] == cod]
HTML(filter_df.to_html())
# filter_df.txtDescricaoProjetoAtividade

# Orçamento - Itens

* Fontes dos recursos (para todos itens)

## 1. Pessoal
1. Docentes
2. Getores
3. Pessoal de apoio
4. Aposentadorias

## 2. Transporte Escolar
1. Passe Livre
2. TEG
3. Outros?

## 3. Funcionamento das escolas
1. Limpeza
2. Vigilância
3. Manutenção
4. Outros?

## 4. Uniformes e materiais escolares
1. Uniformes
2. Materiais (escolares, esportivos, educativos, didáticos, artísticos... como subdividir?)
3. Outros?

## 5. Parcerias
1. Convênios creches
2. Educação especial (como subdividir?)
3. MOVA
4. Outros?

## 6. Obras e reformas
1. Novas construções (possível subdividir em unidades educacionais e outros?)
2. Reformas (idem?)
3. Outros

## 7. Alimentação
1. Refeições prontas
2. Leve-Leite
3. Preparo e distribuição
4. Insumos (para refeições preparadas pela própria SME? Como subdividir?)
5. Outros?

## 8. Pedagógico e formação
1. Cursos e formação
2. Elaboração de materiais didáticos
3. Outros?

## 9. Tecnologia da informação
1. Internet
2. Manutenção de equipamentos
3. Outros?

## 1. Pessoal

### Filtro e exploração geral

#### Checar: filtro está correto? Está realmente capturando todas despesas com pessoal?

In [32]:
pessoal_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('rpps', case=False))
    |
    (empenhos_df['txtGrupoDespesa'].str.contains('pessoal', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Estagiários', case=False))
)
pessoal = (empenhos_df[pessoal_filter])
empenhos_df.loc[pessoal_filter, 'cat_1'] = 'pessoal'
groupSum(pessoal)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,7721.646989,6250.746595,6254.198601

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes           7721.646989   6250.746595   6254.198601

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Vencimentos e Vantagens Fixas - Pessoal Civil,7227.363117,5770.231471,5770.231471
Auxílio-Alimentação,433.567871,429.293828,429.293828
Outros Serviços de Terceiros - Pessoa Jurídica,34.734801,27.796770,30.456309
Auxílio-Transporte,17.757254,17.757254,17.757254
Outros Auxílios Financeiros a Pessoas Físicas,7.890976,5.651375,6.136213
Ressarcimento de Despesas de Pessoal Requisitado,0.332970,0.015898,0.323526

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoFonteRecurso,,,
Fundo Constitucional da Educação,4440.279767,3827.119838,3827.119838
Tesouro Municipal,3278.815338,2421.606567,2425.058572
Transferências Federais,2.551884,2.020191,2.020191

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
RPPS - PMSP,7224.500741,5768.052052,5768.052052
Auxílio-Refeição - RPPS,231.914947,231.900788,231.900788
Vale-Alimentação - RPPS,201.652925,197.393040,197.393040
Concessão de Bolsa-Auxílio para Estagiários,34.734801,27.796770,30.456309
Auxílio-Transporte - RPPS,17.757254,17.757254,17.757254
Concessão de auxílio-transporte a estagiários,7.890976,5.651375,6.136213
Outras Despesas Fixas - Pessoal Civil,2.862376,2.179419,2.179419
PMSP,0.332970,0.015898,0.323526

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,7271.343489,5886.305670,5887.472007
Suporte Administrativo,426.666089,344.566703,345.008589
Direitos da pessoa com deficiência,23.637411,19.874223,21.718005

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Remuneração dos Profissionais do Magistério,4440.279767,3827.119838,3827.119838
Operação e Manutenção do Sistema Municipal de Ensino,2632.078365,1897.763038,1897.763038
Administração da Unidade,426.666089,344.566703,345.008589
Operação e Manutenção dos Centros Educacionais Unificados,105.723527,86.573509,86.573509
Ações Complementares do Sistema Municipal de Ensino,74.744206,60.565431,60.565431
Educação Especial - Aprender sem limite,23.637411,19.874223,21.718005
Iniciação à Docência e Alfabetização na Idade Certa,15.655248,12.104436,13.270773
Programa Nacional de Inclusão de Jovens - PROJOVEM Urbano,2.862376,2.179419,2.179419

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Vencimentos e Salários,7224.500741,5768.052052,5768.052052
Indenização Auxílio-Refeição,433.567871,429.293828,429.293828
Instituições Caráter Assist. Cult. Educ. - Outros Serv. Terceiros - PJ,34.734801,27.796770,30.456309
Indenização Auxílio-Transporte,17.757254,17.757254,17.757254
Auxílios a Pessoas Físicas,7.890976,5.651375,6.136213
Outras Despesas Fixas - Pessoal Civil,2.862376,2.179419,2.179419
Pessoal Requisitado de Outros Órgãos,0.332970,0.015898,0.323526

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                     7268.481113   5884.126251   5885.292588
Administração Geral                  426.666089    344.566703    345.008589
Educação Especial                     23.637411     19.874223     21.718005
Educação de Jovens e Adultos           2.862376      2.179419      2.179419

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário        7721.646989   6250.746595   6254.198601

                            valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Pessoal e Encargos Sociais        7227.696087   5770.247369   5770.554997
Outras Despesas Correntes          493.950901    480.499227    483.643604

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Aplicações Diretas,7679.021212,6217.298451,6217.606079
Transferências a Instituições Privadas sem Fins Lucrativos,42.625777,33.448145,36.592522

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
FOLHA DE PAGAMENTO _ EXECUTIVO,7224.500741,5768.052052,5768.052052
SERV.SEC.MUN. DE EDUCAÇÃO - AUX. REFEIÇÃO,433.567871,429.293828,429.293828
CENTRO DE INTEGRAÇÃO EMPRESA ESCOLA CIEE,42.625777,33.448145,36.592522
SERVIDORES DA SECRETARIA MUNICIPAL DE EDUCAÇÃO - AUX. TRANSPORTE,17.757254,17.757254,17.757254
MINISTÉRIO DO PLANEJAMENTO ORÇAMENTO E GESTÃO - MP,0.332970,0.015898,0.323526
CARLOS AUGUSTO DE OLIVEIRA GONÇALVES,0.026935,0.026935,0.026935
ROSELICE APARECIDA CARDOSO SANTOS,0.026918,0.026918,0.026918
LUCIENE SOARES MARCOLINO,0.026935,0.026831,0.026831
SANDRA MARIA AMANCIO DUARTE,0.026779,0.026779,0.026779
ANDREA REGINA DE CARVALHO CASANOVA,0.026733,0.026733,0.026733
OLAVIO DE OLIVEIRA CONCEIÇÃO,0.026935,0.026727,0.026727
MARTA DE SOUSA SILVA,0.026694,0.026694,0.026694
ROZILDA FRANCISCA DA SILVA PAIXAO,0.026779,0.026675,0.026675
NADIA A.F.DA SILVA RIBEIRO,0.026784,0.026488,0.026488
ALESSANDRA APARECIDA GONÇALVES GOIS MONTEIRO,0.026767,0.026464,0.026464
ZENAIDE LIMA DOS SANTOS,0.026582,0.026460,0.026460
ANA CLAUDIA DA SILVA,0.026479,0.026444,0.026444
IZABEL CRISTINA S LIMA DOS SANTOS,0.026918,0.026397,0.026397
ELLEN BIE,0.027156,0.026331,0.026331
EDNALVA SOARES ANDRADE,0.026727,0.026267,0.026267
DANIEL DE SOUZA MEDEIROS,0.026531,0.026200,0.026200
CARLA REGINA LIMA DE OLIVEIRA,0.026161,0.026161,0.026161
CLAUDIA CORREIA,0.026408,0.025987,0.025987
MARLY TEIXEIRA DE CASTRO,0.026279,0.025976,0.025976
CRISTIANE DOS SANTOS QUEIROZ,0.026055,0.025903,0.025903
JOSIVETE DIAS SANTANA MEIRA,0.026727,0.025875,0.025875
MARCIA CRISTINA PERUCHI DE SOUZA,0.026287,0.025861,0.025861
VERA LUCIA DA SILVA DOS SANTOS,0.026509,0.025819,0.025819
KATIA VASCONCELOS VANCO,0.025807,0.025807,0.025807
ERICA APARECIDA BARBOSA,0.026564,0.025778,0.025778
...,...,...,...
SONIA MARIA PEREIRA,0.009700,0.009700,0.009700
ROGERIO GONÇALVES,0.009595,0.009595,0.009595
SUELI DE FATIMA CABRAL GUEDES,0.009700,0.009265,0.009265
TATIANA MOREIRA DOS SANTOS,0.009700,0.009004,0.009004
WALDO FELIPE GONZALEZ YANEZ,0.009700,0.008987,0.008987
TANIA APARECIDA FEITOSA MEDEIROS,0.009595,0.008883,0.008883
PEDRO RODRIGUES SANTOS,0.009700,0.008796,0.008796
ROSANE BADIALE BAPTISTA,0.009595,0.008239,0.008239
OSMAR APARECIDO EDUARDINHO,0.025120,0.008218,0.008218
KELI CRISTINA CORREIA,0.024214,0.008201,0.008201
ANA DALVA DOS SANTOS PENICHE PEREIRA,0.007927,0.006814,0.006814
BRUNO ALEXANDRE DEANINI,0.006675,0.005893,0.005893
FABIO LUIZ DE ARGOLO,0.025120,0.005406,0.005406
MICHELLE MARIA DOS SANTOS SALAZAR,0.022230,0.005274,0.005274
ALEX SANDHER SOARES DE SOUZA,0.024214,0.005103,0.005103
ANA ERIKA VIEIRA BEZERRA DO NASCIMENTO,0.018996,0.003722,0.003722
MIGUEL TADEU VICENTIM,0.021219,0.003217,0.003217
MARCIA TEIXEIRA ROQUE VIEIRA,0.024214,0.002846,0.002846
IZILDINHA BONFIM PEREIRA,0.024214,0.002796,0.002796
RIVALDO SANTANA,0.024214,0.002526,0.002526
JOSEMIR PEDRO DE SOUZA,0.024214,0.002492,0.002492
AMANDA MENOZZI,0.019855,0.002387,0.002387
KATIA ROCHA SOUSA,0.018230,0.002349,0.002349
MARCILENE APARECIDA BRANQUINHO,0.024214,0.000909,0.000909
SOYLA MARA DE OLIVEIRA DOY,0.025120,0.000505,0.000505
SANDRA REGINA SIMEAO MARQUES DE SOUZA,0.018230,0.000000,0.000000
KATIENE APARECIDA BRAGANTIM,0.013641,0.000000,0.000000
RIVANDA DE SANTANA DE OLIVEIRA,0.018230,0.000000,0.000000
WILLIAN MARCOS BOTELHO,0.024214,0.000000,0.000000
LIGIA GIMAIEL MARQUES DEPPA BANCHETTI,0.014954,0.000000,0.000000

    txtObjetoContrato
267               NaN

## 1.1. Docentes

#### Checar: será que realmente esse filtro compreende todos docentes? Me parece sub representado.

In [33]:
docentes_filter = pessoal_filter & (
    (empenhos_df['txtDescricaoSubFuncao'].str.contains('Educação Básica', case=False))
    &
    ~(empenhos_df['txtDescricaoItemDespesa'].str.contains('Estagiários', case=False))
)
docentes = (pessoal[docentes_filter])
empenhos_df.loc[docentes_filter, 'cat_2'] = 'docentes'
display(len(empenhos_df[empenhos_df['cat_2'] == 'docentes']) == len(docentes))
groupSum(docentes)

/home/bpl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

True

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,7252.825865,5872.021815,5872.021815

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes           7252.825865   5872.021815   5872.021815

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Vencimentos e Vantagens Fixas - Pessoal Civil,6817.728694,5441.198688,5441.198688
Auxílio-Alimentação,417.984505,413.710462,413.710462
Auxílio-Transporte,17.112666,17.112666,17.112666

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoFonteRecurso,,,
Fundo Constitucional da Educação,4440.279767,3827.119838,3827.119838
Tesouro Municipal,2812.546098,2044.901978,2044.901978

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
RPPS - PMSP                      6817.728694   5441.198688   5441.198688
Auxílio-Refeição - RPPS           223.496948    223.482790    223.482790
Vale-Alimentação - RPPS           194.487557    190.227672    190.227672
Auxílio-Transporte - RPPS          17.112666     17.112666     17.112666

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,7252.825865,5872.021815,5872.021815

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Remuneração dos Profissionais do Magistério,4440.279767,3827.119838,3827.119838
Operação e Manutenção do Sistema Municipal de Ensino,2632.078365,1897.763038,1897.763038
Operação e Manutenção dos Centros Educacionais Unificados,105.723527,86.573509,86.573509
Ações Complementares do Sistema Municipal de Ensino,74.744206,60.565431,60.565431

                                valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Vencimentos e Salários                6817.728694   5441.198688   5441.198688
Indenização Auxílio-Refeição           417.984505    413.710462    413.710462
Indenização Auxílio-Transporte          17.112666     17.112666     17.112666

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica              7252.825865   5872.021815   5872.021815

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário        7252.825865   5872.021815   5872.021815

                            valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Pessoal e Encargos Sociais        6817.728694   5441.198688   5441.198688
Outras Despesas Correntes          435.097171    430.823128    430.823128

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas            7252.825865   5872.021815   5872.021815

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
FOLHA DE PAGAMENTO _ EXECUTIVO,6817.728694,5441.198688,5441.198688
SERV.SEC.MUN. DE EDUCAÇÃO - AUX. REFEIÇÃO,417.984505,413.710462,413.710462
SERVIDORES DA SECRETARIA MUNICIPAL DE EDUCAÇÃO - AUX. TRANSPORTE,17.112666,17.112666,17.112666

     txtObjetoContrato
4624               NaN

## 1.2. Gestores

#### Checar: será que realmente esse filtro compreende todos gestores? Depende do filtro anterior estar certo

In [34]:
gestores_filter = pessoal_filter & (
    (pessoal['txtDescricaoSubFuncao'].str.contains('Administração Geral', case=False))
    &
    ~(pessoal['txtDescricaoItemDespesa'].str.contains('Estagiários', case=False))
)
gestores = (pessoal[gestores_filter])
empenhos_df.loc[gestores_filter, 'cat_2'] = 'gestores'
display(len(empenhos_df[empenhos_df['cat_2'] == 'gestores']) == len(gestores))
groupSum(gestores)

/home/bpl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

True

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,423.332971,343.097216,343.404845

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            423.332971    343.097216    343.404845

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Vencimentos e Vantagens Fixas - Pessoal Civil,406.772047,326.853364,326.853364
Auxílio-Alimentação,15.583366,15.583366,15.583366
Auxílio-Transporte,0.644588,0.644588,0.644588
Ressarcimento de Despesas de Pessoal Requisitado,0.332970,0.015898,0.323526

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                423.332971    343.097216    343.404845

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
RPPS - PMSP                       406.772047    326.853364    326.853364
Auxílio-Refeição - RPPS             8.417999      8.417999      8.417999
Vale-Alimentação - RPPS             7.165367      7.165367      7.165367
Auxílio-Transporte - RPPS           0.644588      0.644588      0.644588
PMSP                                0.332970      0.015898      0.323526

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoPrograma
Suporte Administrativo         423.332971    343.097216    343.404845

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Administração da Unidade             423.332971    343.097216    343.404845

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Vencimentos e Salários,406.772047,326.853364,326.853364
Indenização Auxílio-Refeição,15.583366,15.583366,15.583366
Indenização Auxílio-Transporte,0.644588,0.644588,0.644588
Pessoal Requisitado de Outros Órgãos,0.332970,0.015898,0.323526

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Administração Geral           423.332971    343.097216    343.404845

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário         423.332971    343.097216    343.404845

                            valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Pessoal e Encargos Sociais         407.105017    326.869262    327.176890
Outras Despesas Correntes           16.227954     16.227954     16.227954

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             423.332971    343.097216    343.404845

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
FOLHA DE PAGAMENTO _ EXECUTIVO,406.772047,326.853364,326.853364
SERV.SEC.MUN. DE EDUCAÇÃO - AUX. REFEIÇÃO,15.583366,15.583366,15.583366
SERVIDORES DA SECRETARIA MUNICIPAL DE EDUCAÇÃO - AUX. TRANSPORTE,0.644588,0.644588,0.644588
MINISTÉRIO DO PLANEJAMENTO ORÇAMENTO E GESTÃO - MP,0.332970,0.015898,0.323526

     txtObjetoContrato
4627               NaN

## 1.3. Pessoal de apoio

#### Como filtrar?

## 1.4. Aposentadorias

#### Como filtrar?

## 1.5 Adiantamentos (?)

In [35]:
adiantamento_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Adiantamento - Incisos I, II e III, Art. 2º da Lei nº 10.513/88', case=False))
)
adiantamento = (empenhos_df[adiantamento_filter])
empenhos_df.loc[adiantamento_filter, 'cat_1'] = 'pessoal'
empenhos_df.loc[adiantamento_filter, 'cat_2'] = 'adiantamento'
groupSum(adiantamento)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,12.433464,12.202874,12.202874

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             12.433464     12.202874     12.202874

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,12.433464,12.202874,12.202874

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 12.433464     12.202874     12.202874

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Adiantamento - Incisos I, II e III, Art. 2º da Lei nº 10.513/88",12.433464,12.202874,12.202874

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,12.063909,11.840519,11.840519
Suporte Administrativo,0.369555,0.362355,0.362355

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,11.280074,11.067584,11.067584
Operação e Manutenção dos Centros Educacionais Unificados,0.678850,0.667950,0.667950
Administração da Unidade,0.369555,0.362355,0.362355
Ações Complementares do Sistema Municipal de Ensino,0.104985,0.104985,0.104985

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Outros Serv. de Terceiros Pessoa Jurídica - Pagto Antecipado,12.433464,12.202874,12.202874

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                12.063909     11.840519     11.840519
Administração Geral             0.369555      0.362355      0.362355

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - São Miguel,1.542215,1.527715,1.527715
Diretoria Regional de Educação - Pirituba,1.365650,1.321850,1.321850
Diretoria Regional de Educação - Campo Limpo,1.311960,1.294360,1.294360
Diretoria Regional de Educação - São Mateus,1.230525,1.213925,1.213925
Diretoria Regional de Educação - Guaianases,1.213650,1.202350,1.202350
Diretoria Regional de Educação - Penha,1.016802,0.985852,0.985852
Diretoria Regional de Educação - Butantã,0.985692,0.969792,0.969792
Diretoria Regional de Educação - Ipiranga,0.828100,0.799700,0.799700
Diretoria Regional de Educação - Freguesia/Brasilândia,0.729700,0.720700,0.720700
Diretoria Regional de Educação - Jaçanã/Tremembé,0.672770,0.669770,0.669770
Diretoria Regional de Educação - Itaquera,0.633000,0.627800,0.627800
Diretoria Regional de Educação - Santo Amaro,0.435400,0.417460,0.417460
Diretoria Regional de Educação Capela do Socorro,0.410300,0.393900,0.393900
Gabinete do Secretário,0.057700,0.057700,0.057700

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          12.433464     12.202874     12.202874

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              12.433464     12.202874     12.202874

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ANDREA CALDEO CALVO,0.040000,0.040000,0.040000
JOSÉ VALDESIO DE SOUSA,0.040000,0.040000,0.040000
ANGELINA LETTIERI CARVALHO,0.039000,0.039000,0.039000
SILVIA BUENO PAQUES N.DE OLIVEIRA,0.035000,0.035000,0.035000
EDSON NOVAES PRADO,0.034000,0.034000,0.034000
CLÉZIO GAUGLITZ,0.031000,0.031000,0.031000
IRENE CRAVO CAMPOS,0.031000,0.031000,0.031000
FABIANA ANTONICCI,0.030500,0.030500,0.030500
MARISA MICHELACCI VALLEJO,0.030200,0.030200,0.030200
ANA MARIA ADRIANO MAIA,0.029500,0.029500,0.029500
FERNANDO BORGES MESQUITA,0.029400,0.029400,0.029400
EDSON DIAS,0.028100,0.028100,0.028100
MARIA APARECIDA DA MOTTA SAKOTANI,0.028100,0.028100,0.028100
HILCEMARA ROCHA BARBOSA,0.028000,0.028000,0.028000
SANDRA APARECIDA SILVA DUTRA,0.032000,0.028000,0.028000
EDVALDO SANTA ROSA,0.030000,0.027500,0.027500
ELISEU PEREIRA NEVES,0.027000,0.027000,0.027000
GILMAR SANTOS DE OLIVEIRA,0.027000,0.027000,0.027000
ANA INES VALVERDE MAGALHAES AFONSO FERNANDEZ,0.026500,0.026500,0.026500
DOUGLAS SOARES DE MIRANDA,0.026000,0.026000,0.026000
MARA SUED SOBRAL DE OLIVEIRA,0.025000,0.025000,0.025000
MARLI MARIA DE ALMEIDA COSTA,0.028000,0.024000,0.024000
LAILA SIWEK SALA,0.024000,0.024000,0.024000
SONIA DE SOUZA COSTA,0.024000,0.024000,0.024000
PATRICIA ROCHA MACEDO DE OLIVEIRA,0.023500,0.023500,0.023500
MARILUCIA FERREIRA DA SILVA,0.023200,0.023200,0.023200
ROSELI DA SILVEIRA MARQUESINI LUZ,0.023000,0.023000,0.023000
SOLANGE RAMOS FERREIRA,0.023000,0.023000,0.023000
ANA CAROLINA SILVA DE ALCANTARA,0.022500,0.022500,0.022500
TANIA MARANESI,0.022500,0.022500,0.022500
...,...,...,...
DALVANIZE BEZERRA DA COSTA,0.001000,0.001000,0.001000
GRACIANY APARECIDA FONTES,0.001000,0.001000,0.001000
THAIS MENDONÇA CORDEIRO,0.001000,0.001000,0.001000
IVANILDA FÁTIMA PRIETO,0.001000,0.001000,0.001000
CELIA CONSTANCIA BARASNIEWSKI MARCHETTI,0.000955,0.000955,0.000955
RENATA PEREIRA DA SILVA,0.000850,0.000850,0.000850
CLAUDIA CAVALCANTE DOS SANTOS FERREIRA,0.000850,0.000850,0.000850
ANA LUCIA CARDOSO PINA,0.000850,0.000850,0.000850
SILVIA CAMPOS SALOMÃO,0.000800,0.000800,0.000800
CESAR AUGUSTO SPINOLA BEVILACQUA,0.000800,0.000800,0.000800
CRISTINA JORGE AZEVEDO VIEIRA,0.000800,0.000800,0.000800
ROSEMEIRE INACIA DE FREITAS,0.000800,0.000800,0.000800
MILENA JOSEFINA TAGLIAFERRO,0.001600,0.000800,0.000800
HILDA AMELIA BEHLING DA SILVA,0.000800,0.000800,0.000800
SANDRA REGINA SIMEAO MARQUES DE SOUZA,0.000800,0.000800,0.000800
MÁRCIA DE PAULA CRUZ,0.000600,0.000600,0.000600
SUZI HELEN ALENCAR DE DEUS SÁ,0.000600,0.000600,0.000600
CONSUELO MENDES SILVA,0.003950,0.000000,0.000000
ROBSON LUIS DE ASSIS GALAN,0.001200,0.000000,0.000000
MARIZETE DE CAMPOS NETO,0.004000,0.000000,0.000000
ALICE REGINA DE SOUZA TAVORA,0.002100,0.000000,0.000000
MARIA MADALENA DE MORAES,0.000800,0.000000,0.000000
MARCIA TEIXEIRA DA SILVA,0.001000,0.000000,0.000000
YAMARA SOARES DE MELO,0.001200,0.000000,0.000000
MONICA MARIA CHAVES DE SOUZA,0.001000,0.000000,0.000000
ROSELI APARECIDA MANJA,0.001500,0.000000,0.000000
LIZETE SANTANA DE SÃO JOSÉ,0.002000,0.000000,0.000000
ANA PAULA CIAMPI DURAN,0.000800,0.000000,0.000000
IVANI DE ASSIS CARNEIRO,0.001500,0.000000,0.000000
CARMEN SANCHES COSTA NEVES,0.000800,0.000000,0.000000

    txtObjetoContrato
156               NaN

## 1.5 Estágios

In [36]:
estagios_filter = pessoal_filter & (pessoal['txtDescricaoItemDespesa'].str.contains('Estagiários', case=False))
estagios = (pessoal[estagios_filter])
empenhos_df.loc[estagios_filter, 'cat_2'] = 'estagios'
display(len(empenhos_df[empenhos_df['cat_2'] == 'estagios']) == len(estagios))
groupSum(estagios)

/home/bpl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

True

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,42.625777,33.448145,36.592522

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             42.625777     33.448145     36.592522

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,34.734801,27.796770,30.456309
Outros Auxílios Financeiros a Pessoas Físicas,7.890976,5.651375,6.136213

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 42.625777     33.448145     36.592522

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Concessão de Bolsa-Auxílio para Estagiários,34.734801,27.796770,30.456309
Concessão de auxílio-transporte a estagiários,7.890976,5.651375,6.136213

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Direitos da pessoa com deficiência,23.637411,19.874223,21.718005
Melhoria da qualidade e ampliação do acesso à educação,15.655248,12.104436,13.270773
Suporte Administrativo,3.333118,1.469486,1.603744

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Educação Especial - Aprender sem limite,23.637411,19.874223,21.718005
Iniciação à Docência e Alfabetização na Idade Certa,15.655248,12.104436,13.270773
Administração da Unidade,3.333118,1.469486,1.603744

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Instituições Caráter Assist. Cult. Educ. - Outros Serv. Terceiros - PJ,34.734801,27.796770,30.456309
Auxílios a Pessoas Físicas,7.890976,5.651375,6.136213

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Especial              23.637411     19.874223     21.718005
Educação Básica                15.655248     12.104436     13.270773
Administração Geral             3.333118      1.469486      1.603744

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário          42.625777     33.448145     36.592522

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          42.625777     33.448145     36.592522

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,42.625777,33.448145,36.592522

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
CENTRO DE INTEGRAÇÃO EMPRESA ESCOLA CIEE,42.625777,33.448145,36.592522

      txtObjetoContrato
25339               NaN

# 2. Transporte Escolar

## 2.1. Passe livre

#### Como filtrar? Acredito que este gasto deva estar fora do orçamento da SME.

In [37]:
# encontrar repasses para SMT?
(empenhos_df[empenhos_df['txtRazaoSocial'].str.contains('transporte', case=False)]
 .groupby('txtRazaoSocial')['valLiquidado']
 .sum().apply(lambda x: round(x / 1000000, 1))
 .sort_values(ascending=False)
 .head(20)
)

txtRazaoSocial
TB SERVIÇOS TRANSPORTE LIMPEZA GERENCIAMENTO E RECURSOS HUMANOS S/A     21.9
SERVIDORES DA SECRETARIA MUNICIPAL DE EDUCAÇÃO - AUX. TRANSPORTE        17.8
COOPERATIVA BRASILEIRA DE TRANSPORTE COBRATE                             6.3
INTEGRA SOLUCOES EM LOGISTICA E TRANSPORTE LTDA - EPP                    4.7
P R SELIS TRANSPORTES EIRELI - EPP                                       2.4
COOPERATIVA DE TRANSPORTE ESCOLAR DE CONDUTOR E MONITOR - COOTRECM       1.9
AÇÃO TRANSPORTES E TURISMO LTDA - EPP                                    1.7
BELLA TRANSPORTES LTDA - ME                                              1.3
JULIEDRY TRANSPORTES LTDA -ME                                            1.3
VIA LUZ TRANSPORTES DE PASSAGEIROS LTDA                                  1.3
JTI TRANSPORTES LTDA - ME                                                1.2
TRANSRUBY TRANSPORTES EM GERAL LTDA - ME                                 1.0
COOPER PLANALTO - COOPERATIVA DE TRABALHO EM TRANSPORTES RODOVIÁRIOS     0.9
CTPT - COOP. DE TRAB. DOS PROF. DA  ÁREA  DE TRANSPORTES                 0.9
MILLA TRANSPORTE E TURISMO LTDA                                          0.9
JAMBEIROS LUXO TRANSPORTES E TURISMO LTDA ME                             0.9
WM DIAS TRANSPORTE ESCOLAR LTDA ME                                       0.9
WAGNER ROBERTO DA SILVA TRANSPORTES - ME                                 0.8
TRANSLESTE TRANSPORTE ESCOLAR E TURISMO LTDA - ME                        0.8
IRMAOS SANTANA TRANSPORTE ESCOLAR LTDA - ME                              0.8
Name: valLiquidado, dtype: float64

## 2.2. TEG

#### Checar filtro

In [38]:
teg_filter = (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('transporte', case=False))
)
teg = (empenhos_df[teg_filter])
empenhos_df.loc[teg_filter, 'cat_1'] = 'transporte'
empenhos_df.loc[teg_filter, 'cat_2'] = 'teg'
groupSum(teg)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,233.014406,194.595252,211.120256

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            233.014406    194.595252    211.120256

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Física,123.252825,103.753417,112.568457
Outros Serviços de Terceiros -Pessoa Jurídica,103.894366,86.712105,94.055240
Obrigações Tributárias e Contributivas,5.515257,3.788212,4.155040
Despesas de Exercícios Anteriores,0.351958,0.341519,0.341519

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                233.014406    194.595252    211.120256

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Transporte Escolar - EMEF,226.955018,190.285810,206.443985
INSS / Contribuinte Individual,5.515257,3.788212,4.155040
Outros Serviços de Terceiros - Pessoa Jurídica - Tributável,0.276233,0.273998,0.273998
Pequenas Reformas - Centros Esportivos e Similares,0.112273,0.103859,0.103859
Outros Serviços de Terceiros - Pessoa Física,0.075726,0.067521,0.067521
Transporte Escolar - EMEI,0.065014,0.065014,0.065014
Serviço com a População de Rua,0.007867,0.007867,0.007867
Transporte Escolar - EMEE,0.002972,0.002972,0.002972
Veículos,0.004048,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,233.014406,194.595252,211.120256

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Transporte Escolar                   233.014406    194.595252    211.120256

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Locação de Móveis e Intangíveis,123.252825,103.753417,112.568457
Serviços de Creches e Assistência Pré-Escolar,103.774226,86.600379,93.943514
Contribuições Previdenciárias - Serviços de Terceiros,5.515257,3.788212,4.155040
Serviços de Terceiros - Pessoa Jurídica,0.276233,0.273998,0.273998
Manutenção e Conservação de Bens Imóveis,0.112273,0.103859,0.103859
Serviços de Terceiros - Pessoa Física,0.075726,0.067521,0.067521
Serviços de Assistência Social,0.007867,0.007867,0.007867

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica               233.014406    194.595252    211.120256

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário         233.014406    194.595252    211.120256

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         233.014406    194.595252    211.120256

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             233.014406    194.595252    211.120256

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
COOPERATIVA BRASILEIRA DE TRANSPORTE COBRATE,7.420587,6.290727,6.639005
"COOPER- X - COOP SERV TRANSPORTAD AUT PAS, ESCOLARES E MON DO EST SP",6.522607,5.387077,5.870044
INSTITUTO NACIONAL DO SEGURO SOCIAL,5.515257,3.788212,4.155040
P R SELIS TRANSPORTES EIRELI - EPP,2.994445,2.366641,2.585048
COOPER DE TRAB. DOS C. A.T.P NA REP. FED.DO.BR COOPERUNIÃO BRASILEIRA,2.403070,2.084142,2.204325
COOPERATIVA DE TRANSPORTE ESCOLAR DE CONDUTOR E MONITOR - COOTRECM,2.205080,1.903273,2.063458
BELLA TRANSPORTES LTDA - ME,1.472303,1.322393,1.452870
JULIEDRY TRANSPORTES LTDA -ME,1.518641,1.299755,1.385084
VIA LUZ TRANSPORTES DE PASSAGEIROS LTDA,1.381945,1.258995,1.361964
JTI TRANSPORTES LTDA - ME,1.333289,1.198409,1.292504
EDILSON DA LUZ CARVALHO,1.256544,1.072409,1.171609
JAMBEIROS LUXO TRANSPORTES E TURISMO LTDA ME,1.005418,0.894160,0.981494
WM DIAS TRANSPORTE ESCOLAR LTDA ME,0.978898,0.901945,0.978898
COOPERARTE-COOP. DE TRABALHO TRANSP.AUT. DE PASS. E DE ESCOLARES DE SP,1.094957,0.851823,0.934613
TRANSLESTE TRANSPORTE ESCOLAR E TURISMO LTDA - ME,0.940548,0.843831,0.921219
MILLA TRANSPORTE E TURISMO LTDA,1.081963,0.857364,0.902186
FABIO E KARINA TRNASPORTE ESCOLAR LTDA ME,1.057522,0.822380,0.890799
IRMAOS SANTANA TRANSPORTE ESCOLAR LTDA - ME,0.872450,0.790070,0.867293
DARIO CAMPOS DA SILVA,1.030644,0.793638,0.859295
SISTEMA BRASILEIRO DE TAQUARAL LTDA - ME,0.857560,0.783944,0.857560
WAGNER ROBERTO DA SILVA TRANSPORTES - ME,0.889869,0.757179,0.823773
VIRTUDE LOCADORA DE VEICULOS LTDA-ME,0.794227,0.718750,0.792637
L.V.A TRANSPORTE ESCOLAR LTDA - ME,0.758111,0.695260,0.758099
ACALANTO TRANSPORTES LTDA-ME,0.768953,0.634747,0.690164
J. V. N. TRANSPORTES E LOCADORA DE VEICULOS LTDA - ME,0.587144,0.535646,0.583122
CREMASCO TRANSPORTES E TERCEIRIZAÇÃO LTDA ME,0.612379,0.494676,0.535103
WILSIL TRANSPORTE ESCOLAR LTDA - ME,0.553811,0.494127,0.525654
ARTFRAN TRANSPORTES LTDA - ME,0.631099,0.469923,0.515361
QUALI SERVICE TRANSPORTES LTDA ME,0.510687,0.449321,0.489135
ALEXSANDRA MARIA DE ASSIS TRANSPORTES ME,0.522243,0.432636,0.475045
...,...,...,...
CLAUDETE NUNES DRIUZZO,0.014610,0.004610,0.004610
KARINA ALVES MAURICIO,0.006549,0.004409,0.004409
LUIZ VIANA SILVA,0.005147,0.004172,0.004172
GILVANDRO ANTONIO DE SOUZA,0.007757,0.003927,0.003927
VERONICA RODRIGUES DA SILVEIRA,0.005724,0.003874,0.003874
SERGIO JOSE DE LIMA - ME,0.003633,0.003633,0.003633
REGINA MARIA GENTILE CAPITULINO,0.011586,0.003586,0.003586
MARCIO ROBERTO SANTOS SILVA,0.007274,0.003276,0.003276
JOSÉ CARLOS SIMÃO,0.004790,0.003110,0.003110
FERNANDO DO PATROCINIO FIGUEIREDO,0.004993,0.002635,0.002987
MARCO ANTONIO COSTA JUNIOR,0.008903,0.002903,0.002903
CAMILA STEPHANIE VIEIRA COVO 35957368857,0.006230,0.002112,0.002640
FLAVIO GREGORIO LUZ,0.003579,0.001915,0.002091
JOILSON NASCIMENTO CERQUEIRA,0.002413,0.001637,0.002074
DANIELE FARIAS TOLENTINO,0.008049,0.002049,0.002049
ANTONIO MARCELINO DA SILVA,0.005878,0.001878,0.001878
ANISIO NUNES DA SILVA,0.005025,0.001025,0.001025
ROSANGELA CELESTINO,0.003018,0.001018,0.001018
MARIA ANGELA SIMÃO DO AMARAL,0.002854,0.000854,0.000854
DAVID FERREIRA DE MELO,0.002683,0.000683,0.000683
MAURO FERNANDES DE LIMA FILHO,0.011024,0.000683,0.000683
IVONILDO XAVIER DA SILVA,0.002683,0.000683,0.000683
SIDNEI NOGUEIRA CORREA,0.002341,0.000512,0.000512
JOHNY ALVES OLIVEIRA,0.002341,0.000342,0.000342
CLAUDIO TENORIO CABRAL,0.002341,0.000342,0.000342
LUIZ CARLOS SOARES DO CARMO,0.003668,0.000342,0.000342
GILMAR DIVINO DA SILVA,0.002171,0.000171,0.000171
JOAO BAPTISTA BARRIL NETO,0.002171,0.000171,0.000171
ROSELY MARIA JORGE DOS SANTOS,0.002171,0.000171,0.000171
MARIA DA PAIXÃO DE JESUS CELIDONIO,0.015000,0.000000,0.000000

                                                                                         txtObjetoContrato
49                                                                                                     NaN
816                                                          CONTRATAÇÃO DE INTÉRPRETE/INSTRUTOR DE LIBRAS
1801                                       Contratação de Instrutor de Instrumentos de Metais e Percussão
1888   PROGRAMA RECREIO NAS FÉRIAS - JULHO/2017 - DE ACORDO COMO EDITAL DE CREDENCIAMENTONº 004/2016/20...
1973   LOCAÇÃO DE BRINQUEDOS INFLÁVEIS, PARA A REALIZAÇÃO DO PROGRAMA RECREIO NAS FÉRIAS – JULHO/2017 N...
1987                                                        CONTRATAÇÃO DE OFICINEIRO- EXTENSÃO DE JORNADA
1993                                             2º REPASSE PTRF/ 2017 -CUSTEIO - DRE G- CEI INCONFIDENTES
2037                                                                                       JOGOS DIVERSOS
2106                                    CONTRATAÇÃO DE EMPRESA P/PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - CEUS
2215   SP/MP CONTRATAÇÃO DE INSTRUTOR DE LIBRAS PERÍODO DE 01/06/2017 À 30/05/2018 - CEU EMEF JARDIM SÃ...
2224                        Repasse de Recursos do PNAE para o CEI STA. CLARA DE ASSIS Cód. INEP  35391281
2246                                             CONTRATAÇÃO DE AGENTES PARA RECREIO NAS FÉRIAS JULHO/2017
2248               Aquisição de materiais descartáveis para o projeto Rede 2017 - Cotação Eletrônica nº 10
2249                                                                    Poda e remoção - EMEI OSWALDO CRUZ
2251                                             CELEBRAÇÃO DE TERMO DE COLABORAÇÃO - CEI CEU ESTRELADO II
2256   Aquisição de fraldas descartáveis geriátricas para as Unidades Educacionais da Diretoria Regiona...
2379    REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991...
2398   Repasse de recursos para APM de acordo com a Lei Federal Nº 9394/96, Lei Municipal Nº 13.991/05,...
2419                                                       CONTRATAÇÃO DE OFICINEIRO - EXTENSÃO DE JORNADA
2422                            Contratação de Serviços de Manutenção para a EMEF Celia Regina L. Consolin
2435                     Contratação de serviços de nutrição e alimentação escolar – LOTE  11B - PENHA II.
2450   REPASSE DE RECURSO PARA APM ,DE ACORDO COM A LEI 8394/1996, PORTARIA DE SME INDICANDO O VALOR PA...
2454                    Repasse de Recursos do PNAE para o CEI JARDIM FLOR DE LIS V - CÓD. INEP 35297574\n
2511                   Contratação de Agentes de Recreação, Oficineiros e Coordenadores -Edição Julho 2017
2850                                                     CONTRATAÇÃO DE OFICINEIRO RECREIO NAS FERIAS 2017
3038                                                      PAGAMENTO DO ADITAMENTO DO CEI LAR CRIANÇA FELIZ
3042                                      CELEBRAÇÃO DO TERMO DE PARCERIA POR MEIO DE TERMO DE COLABORAÇÃO
3059                                       AQUISIÇÃO DE MATERIAL ESPORTIVO - RECREIO NAS FÉRIAS JULHO/2017
3065                               Repasse de Recursos do PNAE para o CEI VILA GUSTAVO Cód. INEP  35182588
3148                       2º REPASSE PTRF/2017 - CUSTEIO - APM CEU EMEI THERESINHA SQUINCA DA SILVA, PROF
...                                                                                                    ...
20712                                         2º REPASSE PTRF/2017 - CUSTEIO - APM - EMEI ADONIRAN BARBOSA
20821                                                                              Aquisição de mobiliario
20949  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
20953  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
20955  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
20958  REPASSES DE RECURSOS À APM, DE ACORDO LEI FEDERAL 9394/1996 E PORTARIAS DA SME INDICANDO O VALOR...
20965  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
20985  REPASSE DE RECURSOS A APM, DE ACORDO LEI FEDERAL 9394/1996 DA PORTARIA DA SME INDICANDO O VALOR ...
20988                                                                                CONTRATAÇÃO ARTÍSTICA
20997  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
31312                               Repasse de Recursos do PNAE para o CEI YAHWE NISSI Cód. INEP  35435120
31341                                     1º REPASSE PTRF/2017 - DRE G- CUSTEIO  - EMEI WILSON REIS SANTOS
31598   AQUISIÇÃO DE SERVIÇOS DE PRIMEIRO ESCALÃO - MANUTENÇÃO E CONSERVAÇÃO - EMEI MARIA TEREZA FUMAGALLI
31895                                                                 LOCAÇÃO DE EQUIPAMENTO - PABX -CEUS
32047  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
32616                        1º REPASSE PTRF/2017 - DRE-G - CUSTEIO - CEI MARIA CONCEIÇÃO M. AYRES, PROFª
32619                                                                                  Entrega de Cadeiras
32627            CONTRATAÇÃO DE OFICINEIROS PARA O PROGRAMA EXTENSÃO DE JORNADA DOS ALUNOS NOS CEUs E CECI
38863                              SERVIÇOS DE ELÉTRICA , HIDRÁULICA E ALVENARIA - CEI VER. BENEDITO ROCHA
41020                                  AQUISIÇÃO DE MATERIAL DE EXPEDIENTE - RECREIO NAS FÉRIAS JULHO/2017
41735                      Repasse de Recursos do PNAE para o CEI CRIANDO HISTÓRIAS - CÓD. INEP 35450108\n
41791              1º REPASSE PTRF/2017 - DRE G -CAPITAL - EMEF AGUA AZUL - PAULO RENATO COSTA SOUZA,PROF.
41833                              1º REPASSE PTRF/2017 - DRE- G - CUSTEIO - EMEI PROFº GIANFEDERICO PORTA
41975   Locação de brinquedos infláveis com monitoria para atividaades de recreação - Virada cultural 2017
46120    Contratação de serviços de substituição e instalação de vidros laminados para o BEC do CEU Jaçanã
46340  CELEBRAÇÃO DE PARCERIA PARA ATENDIMENTO DE 257 CRIANÇAS, NA FAIXA ETÁRIA DE 0 A 3 ANOS, SENDO 71...
52201               ATENDIMENTO A CRIANÇAS NA FAIXA ETÁRIA DE 0 A 3 ANOS A PARTIR DE 28/06/17 POR 60 MESES
52275  LOCAÇÃO EMPRESA ESPECIALIZADA EM TRANSPORTE DE ÔNIBUS DE VIAGEM PARA TRANSPORTAR FUNCIONÁRIOS E ...
52320                                                        CONTRATAÇÃO DE OFICINEIRO-EXTENSÃO DE JORNADA
57882      SP/MP - MANUTENÇÃO PREDIAL DE REPARO EM TELHADO E CALHAS DO PRÉDIO DA GESTÃO DO CEU TRÊS PONTES

[326 rows x 1 columns]

## 2.3 Aluguel de veículos

In [39]:
veiculos_filter = (
    (empenhos_df['txtDescricaoSubElemento'].str
     .contains('Locação de Bens Móveis de Outra Natureza e Intangíveis', case=False)
     &
     ~(empenhos_df['txtDescricaoItemDespesa'].str
     .contains('Locação de Bens Móveis com Finalidade Artística e Cultural', case=False)
    ))
)
veiculos = (empenhos_df[veiculos_filter])
empenhos_df.loc[veiculos_filter, 'cat_1'] = 'transporte'
empenhos_df.loc[veiculos_filter, 'cat_2'] = 'veiculos'
groupSum(veiculos)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,23.468506,15.92027,17.627189

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             23.468506      15.92027     17.627189

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,23.468506,15.92027,17.627189

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 23.468506      15.92027     17.627189

                                valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
Veículos Leves com Motorista            13.177409      9.390203      9.889766
Ônibus com Motorista                     5.484531      3.555379      4.550464
Veículos Pesados com Motorista           3.201524      1.763547      1.919989
Veículos Pesados                         1.155082      0.982007      1.022657
Veículos Leves                           0.427569      0.229134      0.244313
Ônibus                                   0.022391      0.000000      0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Suporte Administrativo,18.068870,12.429799,13.141633
Melhoria da qualidade e ampliação do acesso à educação,5.399636,3.490471,4.485556

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Administração da Unidade,18.068870,12.429799,13.141633
Ações e materiais de apoio Didático-Pedagógico Educacional,4.623590,2.797961,3.778486
Operação e Manutenção do Sistema Municipal de Ensino,0.769586,0.686050,0.700610
Ampliação da jornada escolar - Programa Mais Educação,0.005460,0.005460,0.005460
"Eventos Educacionais, Culturais e Esportivos nos Centros Educacionais",0.001000,0.001000,0.001000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Locação de Bens Móveis de Outra Natureza e Intangíveis,23.468506,15.92027,17.627189

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Administração Geral            22.698920      15.23422     16.926579
Educação Básica                 0.769586       0.68605      0.700610

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,4.371954,3.036236,3.991971
Gabinete do Secretário,2.531521,1.686781,1.733829
Diretoria Regional de Educação - Penha,1.698923,1.258398,1.342298
Diretoria Regional de Educação - São Miguel,1.223700,1.062067,1.120934
Diretoria Regional de Educação - Santo Amaro,1.726081,1.036800,1.085174
Departamento de Alimentação Escolar,1.144227,1.083600,1.083600
Diretoria Regional de Educação - Itaquera,1.327189,0.933929,1.008471
Diretoria Regional de Educação - Ipiranga,1.228475,0.912538,0.988564
Diretoria Regional de Educação - Butantã,1.127668,0.829937,0.855946
Diretoria Regional de Educação Capela do Socorro,0.990940,0.714839,0.788414
Diretoria Regional de Educação - Pirituba,0.964565,0.703872,0.776292
Diretoria Regional de Educação - Guaianases,0.860694,0.724682,0.771783
Diretoria Regional de Educação - Jaçanã/Tremembé,1.070547,0.630107,0.657608
Diretoria Regional de Educação - Freguesia/Brasilândia,0.967392,0.489960,0.514119
Diretoria Regional de Educação - São Mateus,0.548169,0.492430,0.505160
Coordenadoria de Alimentação Escolar,0.618161,0.134621,0.213551
Diretoria Regional de Educação - Capela do Socorro,1.068302,0.189475,0.189475

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          23.468506      15.92027     17.627189

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              23.468506      15.92027     17.627189

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
AÇÃO TRANSPORTES E TURISMO LTDA - EPP,3.302512,1.725778,2.614848
EBSL EMPRESA BRASILEIRA DE SERVICOS DE LOCACOES LTDA - EPP,2.774193,1.933145,1.976044
UNITRANSP - COOP. UNIÃO INTERMODAL DE TRANSP. AUTÔNOMOS DE SÃO PAULO,1.882072,1.482244,1.503708
TRANSRUBY TRANSPORTES EM GERAL LTDA - ME,1.329792,1.033230,1.084979
DANLEX SERVIÇOS LTDA.,2.115157,0.948752,1.030058
TZAR LOGÍSTICA LTDA,1.100882,0.982007,0.982007
CTPT - COOP. DE TRAB. DOS PROF. DA ÁREA DE TRANSPORTES,1.310132,0.895729,0.947036
COOPER PLANALTO - COOPERATIVA DE TRABALHO EM TRANSPORTES RODOVIÁRIOS,1.157570,0.898686,0.944298
COOPERLESTE - COOPERATIVA DE SERVIÇOS DE TRANSPORTES,0.833352,0.673884,0.731378
TOP 5 SOLUCOES EM TRANSPORTES LTDA.- ME,0.810024,0.679812,0.679812
CORCOVADO TRANSPORTADORA TURISTICA LTDA,0.662470,0.568740,0.609690
TRANSLIGHT TRANSPORTES & SERVIÇOS LTDA - EPP,0.615356,0.529517,0.555504
G.N. GERENCIAMENTO NACIONAL DE TRANSPORTES E SERVIÇOS GERAIS LTDA,0.702150,0.452085,0.500273
MULTI VIAS LOCAÇÕES E VIAGENS LTDA EPP,0.590324,0.490188,0.500198
TRANSPORTES - TURISMO E SERVIÇOS JP GRANDINO EIRELI,0.497360,0.363980,0.414540
COOPERTAC - COOPERATIVA DOS PRESTADORES DE SERVIÇOS DE TRANSPORTES DO BRASIL,0.811599,0.341139,0.365298
VIA 80 TRANSPORTES LTDA - ME,0.379590,0.317506,0.348054
TRANSQUERQUI LTDA - EPP,0.415521,0.289014,0.317864
MESQUITTA SERVICOS E TRANSPORTES LTDA,0.371145,0.282819,0.282819
COUTINHO & FERREIRA SERVIÇOS E TRANSPORTE LTDA - EPP,0.271500,0.271500,0.271500
COOPERCAR - COOP DOS PREST DE SERV NA ÁREA DE TRANSP EM GERAL DE SP,0.314986,0.186471,0.222350
VIVA MOTO EXPRESS LTDA - EPP,0.226026,0.141497,0.154355
99 TECNOLOGIA LTDA.,0.462591,0.044189,0.137101
SP LOCSERV LOCAÇÃO DE VEÍCULOS E SERVIÇOS GERAIS EIRELI - EPP,0.134716,0.123205,0.134680
ALEX SANDRO MACIEL DANTAS ME,0.164222,0.119758,0.119758
TURISMO PAVÃO LTDA,0.136357,0.111185,0.115680
ARMAZENA ARMAZENS GERAIS LTDA - EPP,0.054200,0.000000,0.040650
INNOVARY FUTURE COMERCIAL LTDA - ME,0.018700,0.010200,0.018700
BEIJA FLOR LOCADORA DE VEÍCULOS LTDA - EPP,0.007808,0.007808,0.007808
GRANDE HEROI TURISMO LTDA - ME,0.007500,0.007500,0.007500
BREDA TRANSPORTES E SERVICOS S.A,0.004500,0.004500,0.004500
VC TRANSPORTES TURISMO E EMPREENDIMENTOS LTDA - EPP,0.004200,0.004200,0.004200

                                                                                         txtObjetoContrato
405                                                                                                    NaN
1386   ATA RP 005-SMG/COBES-2017 - Contratação de empresa ou cooperativa especializada na intermediação...
1424                  SERVIÇO DE LOCAÇÃO DE 420 ÔNIBUS DE VIAGEM  PARA TRANSPORTE DE ALUNOS E FUNCIONÁRIOS
4868   Contratação de Empresa Especializada para Prestação de Serviços  de Transporte de Veículos , Inc...
5985   LOCAÇÃO EMPRESA ESPECIALIZADA EM TRANSPORTE DE ÔNIBUS DE VIAGEM PARA TRANSPORTAR FUNCIONÁRIOS E ...
6883   PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
7496                                         PRESTAÇÃO DE SERVIÇOS DE MOTOFRETE PARA ATENDIMENTO DA DRE-BT
7930   Licitação Ata de Registro de Preços - Prestação de serviços de transporte com ônibus e motorista...
8438                                                                                     Locação de ônibus
8458   Contratação de Empresa Ônibus para Transporte de Alunos da DRE PJ para participação no Programa ...
8503    Contratação de empresa especializada na prestação de serviços de transporte em ônibus de fretam...
8506                                                                                     LOCAÇÃO DE ÔNIBUS
8516                                                               DL- CONTRATAÇÃO DE ÔNIBUS COM MOTORISTA
8713                              Contratação de viagens de ônibus para eventos - Programa Visão do Futuro
8951                                   Contratação de Ônibus para o 1º Mutirão do Programa Visão do Futuro
9999   REPASSES DE RECURSOS PARA APM DE ACORDO COM: LEI FEDERAL Nº 9394/1996; LEI MUNICIPAL Nº 13.991/0...
11194  contratação através de ATA DE RP Nº 02/SME/2017 – CONTRATAÇÃO DE LOCAÇÃO DE ÔNIBUS COM MOTORISTA...
11601  Contratação de transporte de alunos da Rede Municipal de Educação para o evento JAM de Robótica ...
12049  CONTRATAÇÃO EMERGENCIAL - Locação de veículos com quilometragem livre, incluso motorista e combu...
12550                      PR/SM- SERVIÇO DE TRANSPORTE EM ONIBUS DE FRETAMENTO POR VIAGEM-ARP07/SME/2017.
15298                                                     PREGÃO 02/2017-DRESA - VEICULOS via WEB e MOBILE
17398  CONTRATAÇÃO DE EMPRESA ESPECIALIZADA NA PRESTAÇÃO DE SERVIÇOS DE TRANSPORTE EM ÔNIBUS DE FRETAME...
18582  EMPRESA ESPECIALIZADA NA PRESTAÇÃO DE SERVIÇOS DE  TRANSPORTE EM ÔNIBUS DE FRETAMENTO POR VIAGEM...
19156   Contratação de serviços de transporte em ônibus de fretamento de viagem - ATA de RP nº 06/SME/2017
22060                                     LOCAÇÃO DE ONIBUS PARA TRANSPORTE DE ALUNOS - ATA RP 02/SME-2017
26354  Contratação de empresa especializada na prestação de serviço de gerenciamento de transporte de p...
27712  Contratação de empresa especializada na prestação de serviço de transporte em ônibus de fretamen...
28566                                                                              LOCAÇÃO DE CAMINHÃO BAÚ
28873  Contratação de serviços de transporte individual de passageiros via aplicativo - utilização da A...
30690       CONTRATAÇÃO DE ÔNIBUS COM MOTORISTA E COMBUSTÍVEL PARA ATENDIMENTO DA DEMANDA DA DRE IPIRANGA.
...                                                                                                    ...
33600  Transporte individual remunerado de passageiros via aplicativo customizável web e mobile com apo...
34202  DL- EMERGENCIAL - CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM LOCAÇÃO DE VEÍCULOS, COM QUILOMETRAGEM...
37489                                                              LOCAÇÃO DE VEÍCULOS LEVES COM MOTORISTA
40380                       PR/SM SERVIÇO DE TRANSPORTE EM ONIBUS DE FRETAMENTO POR VIAGEM-ARP 07/SME/2017
40575  SP/MP CONTRATAÇÃO DE EMPRESA ESPECIALIZADA NA INTERMEDIAÇÃO DE SERVIÇOS DE TRANSPORTE INDIVIDUAL...
40597                  CONTRATAÇÃO DE EMPRESA PARA TRANSPORTE E ENTREGA DE MATERIAIS DIVERSOS DRE CL E UES
40605                                                                     CONTRATAÇÃO DE VIAGENS DE ÔNIBUS
41688  CONTRATAÇÃO EMERGENCIAL - LOCAÇÃO DE VEÍCULOS tipo C1-D1-D4 VUC e Caminhão e MOTO pelo período d...
42505                         CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM LOCAÇÃO DE VEICULO CAMINHÃO TIPO VUC
42533     SP/SR CONTRATAÇÃO DE EMPRESA PARA UTILIZAÇÃO DE ONIBUS COM MOTORISTA PARA 50 VIAGENS PARA DRE MP
42696                                              Contratação de empresa de transporte para alunos da RME
43549                                                             LOCAÇÃO DE VEÍCULOS LEVES POR APLICATIVO
43771  Empresa especializada na intermediação ou agenciamento de serviços de transporte individual, via...
46076                                            Contratação de 07 ônibus para o programa Visão do Futuro.
46157                         Contratação de viagens de ônibus para eventos -  Visita monitorada ao teatro
48932  Contratação de empresa especializada em serviços de Transporte de carga seca BAU/FURGÃO LEVE inc...
49371                                       CONTRATAÇÃO DE AGENTES DE POLO - RECREIO NAS FÉRIAS JULHO/2017
49453                                                                      LOCAÇÃO DE TRANSPORTES - VIA 80
49574  contratação de empresa especializada para a prestação de transporte de veiculo pesado com motori...
51926                                                    Contratação de ônibus com motorista e combustível
52079                                                 DL- Locação de ônibus para o Projeto Visão do Futuro
52988                                                                  DL- LOCAÇÃO DE ÔNIBUS COM MOTORISTA
53192      Contratação de serviços de transporte em ônibus de fretamento de viagem - ATA de R.P. 06/SME/17
53420  CONTRATAÇÃO DE EMPRESA ESECIALIZADA  EM TRANSPORTE DE CARGAS PESADA PARA ATENDIMENTO DAS NECESSI...
53433  CONTRATAÇÃO DE EMPRESA ESPECIALIZADA NA PRESTAÇÃO DE SERVIÇOS DE TRANSPORTE EM ÔNIBUS DE FRETAME...
55307                            Repasse de Recursos do PNAE para o CEI Mundo Infantil- CÓD. INEP 35438397
58369                                                                      CELEBRAÇÃO CEI ESTRELA DA MANHÃ
58522  SP/MP CONTRATAÇÃO DE EMPRESA ESPECIALIZADA NA LOCAÇÃO DE CAMINHÕES TOCO E VUC PARA A DIRETORIA R...
58808  PROGRAMA RECREIO NAS FÉRIAS - JULHO/2017 - DE ACORDO COMO EDITAL DE CREDENCIAMENTONº 004/2016/20...
59876                                                                        CONTRATO EMERGENCIAL VEICULOS

[62 rows x 1 columns]

## 2.3. Outros?

# 3. Funcionamento das escolas

## 3.1. Limpeza

#### Como filtrar?

In [40]:
limpeza_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('limpeza', case=False))
    |
    (empenhos_df['txtDescricaoSubElemento'].str.contains('limpeza', case=False))
)
limpeza = (empenhos_df[limpeza_filter])
empenhos_df.loc[limpeza_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[limpeza_filter, 'cat_2'] = 'limpeza'
groupSum(limpeza)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,465.139461,407.756859,425.853968

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            465.139461    407.756859    425.853968

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,460.595615,404.679844,422.004253
Material de Consumo,3.827840,2.588546,3.279138
Locação de Mão-de-Obra,0.716006,0.488469,0.570577

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                465.139461    407.756859    425.853968

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Limpeza de Ambientes,460.588315,404.674394,421.998803
Produtos para Toucador e Higiene Pessoal,2.349727,1.613706,2.040909
Diversos Materiais de Limpeza e Higienização,1.362784,0.871918,1.122901
Limpeza e Conservação,0.716006,0.488469,0.570577
Antisépticos e Desinfetantes,0.115328,0.102923,0.115328
"Dedetização, Descupinização e Outros",0.007300,0.005450,0.005450

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,460.024135,403.621124,421.255838
Suporte Administrativo,5.004523,4.034690,4.488217
"Participação, transparência e controle social da administração pública",0.110803,0.101046,0.109912

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,351.707295,310.760536,320.793978
Operação e Manutenção dos Centros Educacionais Unificados,103.837628,88.802945,96.738436
Administração da Unidade,5.004523,4.034690,4.488217
Ações Complementares do Sistema Municipal de Ensino,4.471011,4.050552,3.716335
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,0.110803,0.101046,0.109912
Ações e materiais de apoio Didático-Pedagógico Educacional,0.007090,0.007090,0.007090
Operação e Manutenção da UniCEU,0.001112,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Limpeza e Conservação,461.311621,405.168313,422.574830
Material de Limpeza e Produção de Higienização,3.827840,2.588546,3.279138

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                      460.015934    403.614034    421.248748
Administração Geral                    5.122416      4.142825      4.605220
Formação de Recursos Humanos           0.001112      0.000000      0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,458.435946,402.873881,419.920942
Diretoria Regional de Educação - São Miguel,1.320629,0.729638,0.900521
Diretoria Regional de Educação - Campo Limpo,0.950557,0.584489,0.889156
Diretoria Regional de Educação Capela do Socorro,0.770271,0.686966,0.759155
Diretoria Regional de Educação - Guaianases,0.698750,0.522635,0.561207
Diretoria Regional de Educação - Penha,0.645757,0.535053,0.560037
Diretoria Regional de Educação - São Mateus,0.459895,0.406673,0.437826
Diretoria Regional de Educação - Butantã,0.322566,0.302487,0.322566
Diretoria Regional de Educação - Jaçanã/Tremembé,0.328513,0.280679,0.305838
Diretoria Regional de Educação - Itaquera,0.261672,0.172035,0.259792
Diretoria Regional de Educação - Santo Amaro,0.240026,0.227643,0.240026
Diretoria Regional de Educação - Ipiranga,0.235040,0.005943,0.231198
Diretoria Regional de Educação - Capela do Socorro,0.214676,0.210540,0.210540
Diretoria Regional de Educação - Pirituba,0.166929,0.136647,0.166929
Departamento de Alimentação Escolar,0.077674,0.071800,0.077674
Diretoria Regional de Educação - Freguesia/Brasilândia,0.009752,0.009752,0.009752
Coordenadoria de Alimentação Escolar,0.000809,0.000000,0.000809

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         465.139461    407.756859    425.853968

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             465.139461    407.756859    425.853968

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
LIMPADORA CALIFORNIA LTDA,56.133925,44.034916,47.262516
ARCOLIMP SERVIÇOS GERAIS LTDA,42.049078,39.114548,41.962832
G4S INTERATIVA SERVICE LTDA,35.803843,33.251570,35.737618
"GUIMA CONSECO CONSTRUÇÃO, SERVIÇOS E COMÉRCIO LTDA",31.047000,28.949667,30.823779
DEMAX SERVICOS E COMERCIO LTDA,30.061606,28.161345,29.921003
A. TONANNI CONSTRUÇÕES E SERVIÇOS LTDA,25.723431,23.657501,25.458943
EPS - EMPRESA PAULISTA DE SERVICOS S.A.,24.503134,22.728663,24.175498
GOCIL SERVICOS GERAIS LTDA,32.003199,22.321998,23.780131
TB SERVIÇOS TRANSPORTE LIMPEZA GERENCIAMENTO E RECURSOS HUMANOS S/A,22.812355,21.183561,22.653529
CENTRO SANEAMENTO E SERVIÇOS AVANCADOS LTDA,21.535106,19.811029,21.139698
AGRÍCOLA E CONSTRUTORA MONTE AZUL LTDA,21.134555,20.109769,20.890824
COR LINE SISTEMA DE SERVIÇOS LTDA,20.198090,15.771886,17.269708
WHITENESS - CONSULTORIA E SERVIÇOS LTDA,17.234460,16.008929,17.229655
PAINEIRAS LIMPEZA E SERVIÇOS GERAIS LTDA.,14.551701,12.996053,13.875739
ALTERNATIVA SERVIÇOS E TERCEIRIZAÇÃO EM GERAL LTDA,12.450802,11.673935,12.430606
INTERATIVA-DEDETIZACAO HIGIENIZACAO E CONSERVACAO LTDA,10.704002,10.011669,10.702780
EMPRESA TEJOFRAN DE SANEAMENTO E SERVIÇOS LTDA,22.075470,19.777658,9.604538
PROVAC TERCEIRIZAÇÃO DE MÃO DE OBRA LTDA,12.199077,7.450290,8.843321
R.C.A PRODUTOS E SERVIÇOS LTDA,5.635431,5.275628,5.631438
BOLLIMP COMERCIAL DE EMBALAGENS DESCARTAVEIS E PRESTACAO DE SERVICOS DE LIMPEZA E HIGIENIZACAO LTDA,1.714793,1.568639,1.700998
SPEZIA COMERCIAL DE MATERIAIS E SUPRIMENTOS EIRELI - ME,0.751923,0.576183,0.751923
MOMILLI COMERCIAL LTDA - EPP,1.174376,0.551838,0.656396
PRIME STOP COMERCIAL LTDA - ME,0.419597,0.419597,0.419597
QUALITECNICA EMPRESA NACIONAL DE SERVICOS LTDA - ME.,0.393785,0.351036,0.351036
MULTISERVICE NACIONAL DE SERV LTDA,0.526609,0.317731,0.345788
MEDPOA COMERCIO DE MATERIAL HOSPITALAR LTDA,0.312215,0.190653,0.311485
PHOENIX COMERCIAL DE INFORMATICA PAPELARIA E MOVEIS LTDA - EPP,0.236837,0.236837,0.236837
FUTURA COMERCIO DE PAPEIS E SERVIÇOS DIVERSOS LTDA - ME,0.217595,0.178398,0.194920
TOWER SERVIÇOS E MATERIAIS EIRELI - ME,0.173586,0.152907,0.171707
PERFECT CLEAN SERVIÇOS ESPECIALIZADOS - EIRELI - EPP,0.160632,0.140553,0.160632
...,...,...,...
CIRURGICA KD LTDA,0.078568,0.078568,0.078568
P.H.O. - PRODUTOS HOSPITALARES E ODONTOLOGICOS LTDA,0.076686,0.076686,0.076686
COMATIC COMERCIO E SERVICOS LTDA,0.068958,0.000000,0.068958
INNOVARY FUTURE COMERCIAL LTDA - ME,0.067743,0.063167,0.067743
FORTHUNITY SCALO EIRELI,0.066254,0.057333,0.062593
VOLPI DISTRIBUIDORA DE DROGAS EIRELI,0.048369,0.042993,0.048369
GHAIA COMERCIAL LTDA-EPP,0.039689,0.039689,0.039689
LUZIÂNIA COMÉRCIO E SERVIÇOS EIRELI - EPP,0.028656,0.028656,0.028656
JOÃO ROMERA MORENO INFORMÁTICA - ME,0.027612,0.018602,0.027612
ML RODRIGUES COMERCIAL LTDA. - ME,0.018420,0.013362,0.018420
F. DA COSTA CHAME - COMERCIO DE MERCADORIAS EM GERAL - EPP,0.017684,0.017684,0.017684
BEM MED COMERCIO ATACADISTA DE PRODUTOS MEDICOS LTDA - ME,0.014180,0.001418,0.014180
PEZANI COMERCIO DE MOVEIS EIRELI ME,0.013592,0.013592,0.013592
RBF DISTRIBUIDORA E SERVIÇOS EIRELI,0.007973,0.007973,0.007973
JC DA SILVA SUPRIMENTOS PARA ESCRITORIO - ME,0.007089,0.007089,0.007089
SOS JARDINAGEM LTD-EPP,0.007000,0.007000,0.007000
POSTERARI ASSESSORIA TECNICA LTDA - ME,0.005688,0.005688,0.005688
SIGPLAST COMERCIAL LTDA - ME,0.004868,0.004868,0.004868
ORALLS IMPORTAÇÃO E EXPORTAÇÃO COMERCIAL LTDA - ME,0.003980,0.003980,0.003980
MBR COMERCIO DE MATERIAIS LTDA. - ME,0.003959,0.003959,0.003959
DALIUMA COMERCIO E SERVIÇOS DE INFORMATICA LTDA,0.003709,0.003709,0.003709
CONTROLE OPERACIONAL DE PRAGAS AMBIENTAL LTDA. - EPP,0.003600,0.003600,0.003600
MEDIMPORT COMÉRCIO DE PRODUTOS HOSPITALARES EIRELI - EPP,0.002145,0.002145,0.002145
DESINTEC - SERVICOS TECNICOS LTDA - EPP,0.003700,0.001850,0.001850
QUARTFRATTELI DESCARTÁVEIS E EQUIPAMENTOS EIRELI - ME,0.001121,0.001121,0.001121
CASSIA CRISTINA DOS REIS COIMBRA,0.001120,0.000000,0.001120
PABLO GEOVANE DE OLIVEIRA 07957268641,0.001009,0.001009,0.001009
JOAO MATOS DA SILVA 07555612879,0.000700,0.000700,0.000700
CCK COMERCIAL EIRELI - EPP,0.001112,0.000000,0.000000
COMERCIAL CENTER VALLE LTDA,0.014184,0.000000,0.000000

                                                                                         txtObjetoContrato
368                      Materiais de higiene e saúde para o uso com os alunos com necessidades especiais.
578                                                               AQUISIÇÃO DE FRALDAS PARA USO NOS CEI'S
1195                                                         AQUISIÇÃO DE LUVA DESCARTÁVEL - TAMANHO MÉDIO
1425   AQUISIÇÃO DE PRODUTO PARA ASSADURAS, CONFORME ATA DE RP. 42/SME/2016 - COMERCIAL CENTER VALLE LTDA.
1432   AQUISIÇÃO DE PASTA E DENTE COM FLUOR E ESCOVA DENTAL INFANTIL, CONFORME ATA DE RP 38/SME/2016 - ...
1691              Contratação Emergencial de Serviços de Limpeza CEUs. por 180 dias a partir de 23/10/2017
4129                                                         Aquisição de fraldas para o Projeto Rede 2017
4541   Prestação de serviços de limpeza, asseio e conservação predial, visando a obtenção de adequadas ...
4629     DL- Aquisição de água sanitária em embalagem de 1 litros para uso das lavanderias dos CEIs DRESA.
4741                DL- Aquisição de detergente em pó embalagem de  1 kg para uso das lavanderias dos CEIs
4869                                                              FRALDAS  DESCARTÁVEIS  INFANTIL E ADULTO
4958                               SP/SR - Aquisição de detergente em pó biodegradável - COTAÇÃO Nº24/2017
5355                                                  Aquisição de produto para prevenir assadura infantil
5451              Cotação Eletrônica n.º 20/2017 - Aquisição de materiais de limpeza para os CEIs e CIEJAs
5535                                                 Ata de R.P. n.º 40/SME/2016 - Aquisição de Álcool Gel
5961                                                                                        PODA DE ARVORE
6068                                                                                    CEI PLENO VIVER IV
6154                                                                                                   NaN
6253                                                MANUTENÇÃO E CONSERVAÇÃO - EMEF ANTONIO ALVES DA SILVA
6324                                                                                    CEI JARDIM IPANEMA
6491   SP/MP CONTRATAÇÃO DE EMPRESA ESPECIALIZADA NA LOCAÇÃO DE CAMINHÕES TOCO E VUC PARA A DIRETORIA R...
6527   REG.DE PREÇOS 008/SMG-COBES/2016 - FORNEC.DE CAFÉ TORRADO E MOÍDO EM EMB.ALTO VÁCUO - GOURMET À ...
6684                                                                      CONTRATAÇÃO DE AGENTE RECREATIVO
7136                                                                      AQUISIÇÃO DE PRODUTOS DE LIMPEZA
7179                                                                           Aquisição de água sanitária
7931                                                                        Aquisição de detergente em pó.
8350                                    Aquisição de material para higiene infantil (fraldas descartáveis)
8450    REPASSES DO RECURSO PARA A APM DE ACORDO  COM A LEI FEDERAL 9394/96, LEI MUNICIPAL 13991/05, DE...
8772                                                            AQUISIÇÃO DE CREME OU GEL DENTAL INFANTIL
9741          Aquisição de 140.000 Kg de Achocolatado em Pó - ATA DE RP Nº 016/SME/CODAE/2017 - FNDE/PNAE.
...                                                                                                    ...
50119                          CONTRATAÇÃO DE COORDENADORES DE POLO PARA O RECREIO NAS FÉRIAS JANEIRO 2017
50128                      Contratação de Agentes de Recreação, Oficineiros e Coordenador Recreio Jan 2017
50138                                 SERVIÇO DE PODA E REMOÇÃO DE ARVORES POR EQUIPE PARA JANEIRO DE 2017
50147                                   Contratação de Agente de Recreação - Recreio nas Férias - Jan/2017
52087    Aquisição de lençol descartável , em rolo 50cm x 50 m, para uso nos Centros de Educação Infantil
52151                                                                                          sabão em pó
52260                                                                          AQISIÇÃO DE LENÇO UMEDECIDO
52460                                   Cotação Eletrônica nº 01/2017 - Aquisição de materiais de higiene.
52891                                                 DL- AQUISIÇÃO DE FRALDA GERIÁTRICA PARA USO DAS UE'S
52899                                   DL- AQUISIÇÃO DE LENÇO UMEDECIDO E LENÇOL DESCARTAVEL PARA AS UE'S
53039                                       DL - AQUISIÇÃO DE LUVA LATEX PARA PROCEDIMENTOS NÃO CIRURGICOS
53040                                                       DL- AQUISIÇÃO DE SABÃO EM PO EMBALAGEM DE 1KG.
53132                                                                Serviço de limpeza emergencial - CEUS
53334              Aquisição de materiais descartáveis para o projeto Rede 2017 - Cotação Eletrônica nº 10
56363                                                                                          SABÃO EM PO
56996                                                  ADESÃO A ATA DE RP 41/SME/2016 - AQUISIÇÃO DE LUVAS
57153                                                     LOCAÇÃO DE EQUIPAMENTOS - PABX - DRE CAMPO LIMPO
57194                                                           AQUISIÇÃO DE MATERIAIS DE LIMPEZA DIVERSOS
57209                                                                           Aquisição de Luva de vivil
57503                  DL- AQUISIÇÃO DE ALCOOL GEL REFIL 800 ML. PARA USO DAS UNIDADES EDUCACIONAIS-DRESA.
57504  DL- AQUISIÇAO DE LUVAS LATES PARA PROCEDIMENTOS NÃO CIRURGICO, EMBALAGEM COM 100 UNIDADEES PARA ...
57526           DL- AQUISIÇÃO DE ÁGUA SANITARIA e SABÃO EM PEDRA PARA USO DAS UNIDADES ESCOLARES DA DRESA.
59329  Celebração de Convênio em Continuidade para atendimento de 125 crianças, sendo 49 de berçário - ...
59451                 REPASSE DE RECURSOS DO PNAE PARA O CEI PERSIO GUIMARÃES AZEVEDO - COD. INEP 35299698
59452  Repasse de Recursos do PNAE para o CEI Brincar para Crescer - Cód. INEP: 35434759 e para o CEI C...
59455                                                             Aquisição de colchonetes conforme ATA RP
59465                Confecção de Troféus e medalhas para jogos de xadrez com dizeres conforme Setor DICEU
59471                                                                                  AQUISIÇÃO DE POMADA
59474                              REPASSE DE RECURSOS DO PNAE PARA O CEI ISSA KURBHI - COD. INEP 35308912
59515                         REPASSE DE RECURSOS DO PNAE PARA O CEI PRIMEIROS PASSOS - COD. INEP 35811725

[185 rows x 1 columns]

## 3.2. Vigilância

#### Como filtrar?

In [41]:
vigilancia_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('vigilância', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('vigilancia', case=False))
)
vigilancia = (empenhos_df[vigilancia_filter])
empenhos_df.loc[vigilancia_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[vigilancia_filter, 'cat_2'] = 'vigilancia'
groupSum(vigilancia)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,215.862453,181.857045,198.770123

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            215.862453    181.857045    198.770123

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,214.285475,180.449088,197.344181
Locação de Mão-de-Obra,1.576978,1.407958,1.425941

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                215.862453    181.857045    198.770123

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Guarda, Vigilância e Segurança em Geral",214.285475,180.449088,197.344181
Vigilância Ostensiva,1.576978,1.407958,1.425941

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,203.620787,171.500223,187.461786
Suporte Administrativo,12.013376,10.148020,11.080046
"Participação, transparência e controle social da administração pública",0.228290,0.208802,0.228290

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,128.565564,110.040415,120.333474
Operação e Manutenção dos Centros Educacionais Unificados,72.897342,59.518311,64.983758
Administração da Unidade,12.013376,10.148020,11.080046
Ações Complementares do Sistema Municipal de Ensino,1.927889,1.737821,1.921390
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,0.228290,0.208802,0.228290
Operação e Manutenção da UniCEU,0.228290,0.202995,0.222483
Ações e materiais de apoio Didático-Pedagógico Educacional,0.001702,0.000681,0.000681

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Vigilância Ostensiva / Monitorada,214.285475,180.449088,197.344181
Vigilância Ostensiva,1.576978,1.407958,1.425941

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                      203.390795    171.296547    187.238622
Administração Geral                   12.243368     10.357503     11.309017
Formação de Recursos Humanos           0.228290      0.202995      0.222483

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,205.742407,174.029004,190.237918
Diretoria Regional de Educação - Freguesia/Brasilândia,2.017294,1.182547,1.295202
Diretoria Regional de Educação - Santo Amaro,1.377752,1.125484,1.226716
Diretoria Regional de Educação - Campo Limpo,1.160609,0.992040,1.076030
Diretoria Regional de Educação - Jaçanã/Tremembé,1.116469,0.973041,1.062511
Diretoria Regional de Educação - São Miguel,0.973168,0.770355,0.841957
Diretoria Regional de Educação - Ipiranga,0.837397,0.767614,0.837397
Diretoria Regional de Educação - Pirituba,0.840800,0.572334,0.624803
Diretoria Regional de Educação - São Mateus,0.645336,0.549133,0.588212
Diretoria Regional de Educação - Guaianases,0.460134,0.418267,0.460134
Diretoria Regional de Educação - Butantã,0.462254,0.272224,0.296908
Diretoria Regional de Educação - Penha,0.154315,0.136983,0.154315
Departamento de Alimentação Escolar,0.068020,0.068020,0.068020
Coordenadoria de Alimentação Escolar,0.006496,0.000000,0.000000

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         215.862453    181.857045    198.770123

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             215.862453    181.857045    198.770123

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ALBATROZ SEGURANÇA E VIGILÂNCIA LTDA,27.713410,24.890311,27.494160
G4S VANGUARDA SEGURANCA E VIGILANCIA LTDA,27.801421,24.259330,26.380958
PLURI SEGURANÇA E VIGILANCIA LTDA,24.536613,22.139465,24.501776
SEAL SEGURANCA ALTERNATIVA EIRELI,25.595870,18.863292,20.577423
LÓGICA SEGURANÇA E VIGILÂNCIA EIRELI,20.400099,18.448181,20.165131
POWER - SEGURANÇA E VIGILANCIA LTDA,22.136168,14.820399,16.196585
GOCIL SERVIÇOS DE VIGILÂNCIA E SEGURANÇA LTDA,15.087489,13.067197,14.178405
SUPORTE SERVIÇOS DE SEGURANÇA LTDA,10.040263,9.180736,10.033247
ALSA FORT SEGURANCA LTDA,7.786121,6.402367,6.891521
CENTURION SEGURANÇA E VIGILANCIA LTDA,6.999060,5.621514,6.139770
MASTER SECURITY SEGURANÇA PATRIMONIAL LTDA,5.827682,5.332567,5.827682
ACOFORTE SEGURANCA E VIGILÂNCIA LTDA,4.585285,4.161541,4.547930
ESSENCIAL SISTEMA DE SEGURANÇA LTDA,4.421415,4.043878,4.417768
SP-INTERSEG SISTEMAS DE SEGURANÇA LTDA.,3.207480,3.134473,3.207471
ATENTO SAO PAULO SERVICOS DE SEGURANCA PATRIMONIAL EIRELI,3.571978,2.494368,2.718674
MRS SEGURANCA E VIGILANCIA PATRIMONIAL EIRELI - EPP,2.436216,2.180223,2.387496
DUNBAR SERVIÇOS DE SEGURANÇA - EIRELI,1.790346,1.422238,1.565381
DUBBAI SEGURANÇA E VIGILÂNCIA LTDA,0.694331,0.602993,0.658032
ACAPULCO SEGURANCA EIRELI - EPP,0.369403,0.337860,0.369226
TREZE LISTAS SEGURANÇA E VIGILÂNCIA LTDA,0.462254,0.272224,0.296908
ORPAN - ORGANIZAÇÃO PANAMERICANA DE SEGURANÇA PATRIMONIAL LTDA,0.186906,0.163878,0.179235
JUMPER SEGURANCA E VIGILANCIA PATRIMONIAL EIRELI - EPP,0.034664,0.017332,0.034664
MHPX SEGURANÇA E VIGILÂNCIA EIRELI - EPP,0.001702,0.000681,0.000681
LIMPADORA CALIFORNIA LTDA,0.176279,0.000000,0.000000

                                                                                         txtObjetoContrato
373                                                                                                    NaN
1374   PREGÃO ELETRÔNICO  12/2017 - CONTRATAÇÃO DE EMPRESA PARA PRESTAÇ~]AO DE SERVIÇOS DE SEGURANÇA E ...
2231                                             AQUISIÇÃO DE COLCHONETE - RECREIO NAS FÉRIAS - JULHO/2017
9924   Contratação de Agentes Recreativo para Recreio nas Férias - Edição Julho/2017 - Período de 10/07...
22026  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
31464                                                      Serviços de vigilância CEUs - lotes 03, 06 e 07
31467                                                  Serviços de vigilância CEUs - lotes 01, 02, 04 e 05
32100  SP/MP CONTRATAÇÃO DE SERVIÇOS DE SEGURANÇA E VIGILÂNCIA DESARMADA PARA A DRE-MP SENDO 5 POSTOS D...
33895                                       Contratação de empresa para serviços de segurança para eventos
35498                              LOCAÇÃO DE EMPRESA PARA PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - PABX - DRE
49534  CONTRATAÇÃ ODE EMPRESA ESPECIALIZADA NA PRESTAÇÃ ODE SERVIÇO DE VIGILANCIA E SEGURANÇA PATRIMONI...
51157         CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM VIGILANCIA DESARMADA PARA ATENDIMENTO DA SEDE DA DRE
58579                               Contratação de Empresa para Serviços de Manutenção na EMEF Dom Pedro I

## 3.4 Água, esgoto, energia, telefonia

In [42]:
agua_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('água e esgoto', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('água e sistema de esgoto', case=False))
)
agua = (empenhos_df[agua_filter])
empenhos_df.loc[agua_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[agua_filter, 'cat_2'] = 'agua_esgoto'
groupSum(agua)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,126.319533,93.020801,107.440314

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            126.319533     93.020801    107.440314

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,126.318075,93.019344,107.438856
Despesas de Exercícios Anteriores,0.001458,0.001458,0.001458

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                126.319533     93.020801    107.440314

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Água e Esgoto,126.312290,93.019344,107.438856
Serviços de Abastecimento de Água e Sistema de Esgoto Sanitário,0.001458,0.001458,0.001458
Reembolso de Água e Esgoto,0.005785,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,123.812070,92.135426,106.404824
Suporte Administrativo,2.507463,0.885375,1.035490

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,87.276498,66.019447,76.303337
Operação e Manutenção dos Centros Educacionais Unificados,35.473665,25.361935,29.215084
Administração da Unidade,2.507463,0.885375,1.035490
Ações Complementares do Sistema Municipal de Ensino,1.061907,0.754044,0.886403

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Água e Esgoto,126.318075,93.019344,107.438856
Serviços de Terceiros - Pessoa Jurídica,0.001458,0.001458,0.001458

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica               123.812070     92.135426    106.404824
Administração Geral             2.507463      0.885375      1.035490

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,19.281355,15.431377,17.479769
Diretoria Regional de Educação - Pirituba,11.278434,8.917984,10.582603
Diretoria Regional de Educação - São Mateus,11.432222,8.053293,9.369091
Diretoria Regional de Educação - São Miguel,10.062024,7.446496,8.882587
Diretoria Regional de Educação - Santo Amaro,8.827468,6.516152,7.834975
Diretoria Regional de Educação - Ipiranga,10.065321,6.769633,7.740754
Diretoria Regional de Educação - Penha,7.175886,6.907916,7.106903
Diretoria Regional de Educação - Itaquera,7.324075,5.698005,6.787394
Diretoria Regional de Educação - Guaianases,7.473731,6.136073,6.635490
Diretoria Regional de Educação Capela do Socorro,10.397564,4.478638,6.230931
Diretoria Regional de Educação - Freguesia/Brasilândia,6.256722,5.070365,5.601966
Diretoria Regional de Educação - Jaçanã/Tremembé,5.253938,4.305776,5.137638
Diretoria Regional de Educação - Butantã,4.904792,3.581170,4.281992
Diretoria Regional de Educação - Capela do Socorro,5.266000,3.467561,3.467561
Gabinete do Secretário,1.320000,0.240363,0.300660

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         126.319533     93.020801    107.440314

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             126.319533     93.020801    107.440314

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
CIA DE SANEAMENTO BÁSICO DO ESTADO DE SÃO PAULO SABESP,123.805741,93.020801,107.440314
ELETROPAULO METROPOLITANA ELETRICIDADE DE SÃO PAULO S.A.,2.496292,0.000000,0.000000
TELEFÔNICA BRASIL S.A.,0.017500,0.000000,0.000000

                                                                                         txtObjetoContrato
54                CONSUMO DE ÁGUA E SERVIÇO  DE ÁGUA E ESGOSTO-EMEF,EMEI.CEI,CIEJA,DRESA,EMEFM,CEU E EMEBS
115                                   CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-EMEI-EMEF-CEI CIEJA-EMEBS
353                                                  CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO--EMEF EME.
446                                                                                                    NaN
609                                                                    CONSUMO DE ÁGUA E ESGOTO UES E CEUS
735                                                         CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-CEU
783                                             PAGAMENTO CONCESSIONARIA SABESP - 2017 -UNIDADES ESCOLARES
845                            PAGAMENTO CONCESSIONARIA TELEFONICA VIVO 2017- UNIDADES ESCOLARES DRE E CEU
861                                          CONSUMO DE ÁGUA - SABESP - CEI, EMEI, EMEF, CIEJA, ADM E CEU.
1160                                                                     PAGTO. DE CONCESSIONÁRIA - SABESP
1256   SP/SR CONTRATAÇÃO DE SERVIÇOS DE AGUA E ESGOSTO REFERENTE O EXERCÍCIO DE 2017 PARA A UNIDADES DR...
1286               Consumode água e esgoto da DRE Pirituba e das Unidades Educacionais a ela subordinadas.
1371                                        PAGAMENTO DE SERVIÇO DE FORNECIMENTO DE ÁGUA E ESGOTO - SABESP
4357                                                           PAGAMENTO CONCESSIONÁRIA SABESP 2017 - CEUs
4543                                             PAGAMENTO CONCESSIONÁRIA SABESP 2017 - UNIDADES ESCOLARES
4696                                                                            CONCESSIONÁRIA SABESP 2017
6320                                          CONTRATAÇÃO DE EMPRESA PARA SERVIÇO DE AGUA E ESGOTO - 2017
9336                                 CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-UNIDADES ESCOLARES E DRESA
9378                                                  CONSUMO E TARIFAS DE TELEFONIA FIXA- APOIO AO ENSINO
9406                                                           CONSUMO E TARIFAS DE TELEFONIA FIXA - CEUS
9411                                                             CONSUMO E TARIFAS DE TELEFONIA FIXA - DRE
11034                                                                       CONSUMO DE AGUA DRE E SUAS UES
11495         Contratação de empresa para serviços de água e esgoto - Complementar a Contratação 1189/2017
11571              FORNECIMENTO DE AGUA E ESGOSTO PARA AS UNIDADES DE CEI´s MES DE OUTUBRO A DEZEMBRO 2017
11624                CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-EMEF,EME,CEI,CEU,EMEFM,EMEBS,CIEJA E DRESA
12135  SP/SR FORNECIMENTO DE SERVIÇOS DE AGUA E ESGOSTO PARA O CEU PQ SÃO CARLOS, CEU PQ VEREDAS, CEU T...
15252                              SP/SR FORNECIMENTO DE SERVIÇOS DE AGUA E ESGOSTO PARA O CEU'S DA DRE/MP
30417                                                                    CONSUMO E TARIFA DE ÁGUA E ESGOTO
35291                                                               PAGTO. DE CONCESSIONÁRIA - ELETROPAULO
40446                                                                      CONSUMO CONCESSIONÁRIA - SABESP
40489                            SP/SR SERVIÇOS DE FORNECIMENTO DE AGUA E ESGOTO PARA AS UNIDADES DE EMEIS
42271                                   CONTRATAÇÃO DE AGENTE DE RECREAÇÃO - RECREIO NAS FÉRIAS - JAN.2017
42531  PAGAMENTO DE DESPESAS DE EXERCÍCIOS ANTERIORES - SET/2012 - SERVIÇOS DE CONSUMO DE ÁGUA - CIA DE...
49508             Consumo de energia elétrica da DRE Pirituba e das Unidades Escolares a ela subordinadas.
57256  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
59184                                                           SERVIÇOS DE ENERGIA ELETRICA - ELETROPAULO
59688             Pagamento dos serviços de fornecimento de água e esgoto para as Unidades Centrais da SME

In [43]:
eletricidade_filter = (empenhos_df['txtRazaoSocial'].str.contains('eletropaulo', case=False))
eletricidade = (empenhos_df[eletricidade_filter])
empenhos_df.loc[eletricidade_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[eletricidade_filter, 'cat_2'] = 'eletricidade'
groupSum(eletricidade)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,66.003813,44.973127,50.88234

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             66.003813     44.973127      50.88234

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,66.003813,44.973127,50.88234

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 66.003813     44.973127      50.88234

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Energia Elétrica de Prédios Públicos,63.432221,44.935585,50.844798
Serviços de Instalação de Rede de Energia,0.040100,0.037542,0.037542
"Desmontagem, Remoção e Montagem de Equipamentos e Afins",0.001164,0.000000,0.000000
Gás Canalizado,0.034000,0.000000,0.000000
Reembolso de Energia Elétrica,0.000035,0.000000,0.000000
Água e Esgoto,2.496292,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,63.071609,43.520762,49.19010
Suporte Administrativo,2.932204,1.452365,1.69224

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,47.839624,33.479474,37.747635
Operação e Manutenção dos Centros Educacionais Unificados,14.329886,9.555300,10.890469
Administração da Unidade,2.932204,1.452365,1.692240
Ações Complementares do Sistema Municipal de Ensino,0.902099,0.485988,0.551996

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Energia Elétrica e Iluminação Pública,63.472357,44.973127,50.88234
Outros Serviços de Terceiros - Pessoa Jurídica,0.001164,0.000000,0.00000
Serviços de Gás / São Paulo,0.034000,0.000000,0.00000
Serviços de Água e Esgoto,2.496292,0.000000,0.00000

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                63.071609     43.520762      49.19010
Administração Geral             2.932204      1.452365       1.69224

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,7.175809,6.192868,6.818542
Diretoria Regional de Educação - São Miguel,7.582278,4.555495,4.995474
Diretoria Regional de Educação - Pirituba,5.568449,4.396149,4.931503
Diretoria Regional de Educação - São Mateus,7.733360,4.101346,4.846382
Diretoria Regional de Educação - Guaianases,4.292843,3.463225,3.887183
Diretoria Regional de Educação - Itaquera,4.202624,3.288448,3.843624
Diretoria Regional de Educação - Penha,4.352793,3.090721,3.397688
Diretoria Regional de Educação - Ipiranga,3.446775,2.829503,3.132679
Diretoria Regional de Educação - Jaçanã/Tremembé,3.165392,2.525720,2.960374
Diretoria Regional de Educação - Freguesia/Brasilândia,3.675465,2.675959,2.952791
Diretoria Regional de Educação - Santo Amaro,4.406237,2.338368,2.778277
Diretoria Regional de Educação - Butantã,2.616579,2.019938,2.399838
Diretoria Regional de Educação Capela do Socorro,3.631647,1.822582,2.149688
Diretoria Regional de Educação - Capela do Socorro,2.937000,1.105644,1.105644
Gabinete do Secretário,1.216561,0.567160,0.682652

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          66.003813     44.973127      50.88234

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              66.003813     44.973127      50.88234

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ELETROPAULO METROPOLITANA ELETRICIDADE DE SÃO PAULO S.A.,66.003813,44.973127,50.88234

                                                                                         txtObjetoContrato
45                                 CONSUMO DE ENERGIA ELÉTRICA-EMEF,EMEI,CEI,EMEBS,EMEFM,CIEJA,DRESA E CEU
283    SP/SR SERVIÇOS DE FORNECIMENTO DE ENERGIA ELETRICA REFERENTE AO EXERCÍCIO DE 2017 PARA A UNIDADE...
741                                                               CONSUMO DE ENERGIA ELETRICA - UES E CEUS
1161                                                                           CONSUMO DE ENERGIA ELETRICA
1697                                      PAGAMENTO DE CONCESSIONÁRIA ELETROPAULO 2017 UNIDADES ESCOLARES
3424                                                                                                   NaN
5608                                                            SERVIÇOS DE ENERGIA ELETRICA - ELETROPAULO
6088                                   CONTRATAÇÃO DE EMPRESA PARA FORNECIMENTO DE ENERGIA ELÉTRICA - 2017
6784                                                                   CONCESSIONÁRIA AES ELETROPAULO 2017
9873                                                 CONSUMO DE ENRGIA ELÉTRICA-UNIDADES ESCOLARES E DRESA
9959                                                                PAGTO. DE CONCESSIONÁRIA - ELETROPAULO
11299                                                        CONSUMO E TARIFAS DE ENERGIA ELÉTRICA - CEUS
11505             Consumo de energia elétrica da DRE Pirituba e das Unidades Escolares a ela subordinadas.
11631                                              CONSUMO E TARIFAS DE ENERGIA ELÉTRICA - APOIO AO ENSINO
13421  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
15241  SP/SR SERVIÇOS DE FORNECIMENTO DE ENERGIA ELETRICA REFERENTE AO EXERCÍCIO DE 2017 PARA OS CEU'S ...
16087  INEXIGIBILIDADE_ SERVIÇO DE AUMENTO DE DEMANDA DE CARGA DE ENERGIA ELETRICA PARA ATENDIMENTO DO ...
21528                                                           CONSUMO E TARIFAS DE ENERGIA ELÉTRICA -DRE
35113                             Consumo  de Energia Elétrica: EMEF-EMEI-CEI-CEU-DRESA-EMEFM-EMEBS-CIEJA
35782                                        SERVIÇO DE FORNECIMENTO DE ENERGIA ELÉTRICA - AES ELETROPAULO
43627           PAGTO  DE DESLIGAMENTO PROGRAMADO PARA CONSTRUÇÃO DE OBRA - EMEF MARIA BERENICE DOS SANTOS
59777          Pagamento dos serviços de fornecimento de energia elétrica para as Unidades Centrais da SME

In [44]:
telefone_filter = (empenhos_df['txtDescricaoItemDespesa'].str.contains('telefonia', case=False))
telefone = (empenhos_df[telefone_filter])
empenhos_df.loc[telefone_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[telefone_filter, 'cat_2'] = 'telefone'
groupSum(telefone)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,25.054313,16.570464,19.735539

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             25.054313     16.570464     19.735539

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,25.054313,16.570464,19.735539

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 25.054313     16.570464     19.735539

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Serviço de Instalação, Ampliação de Sist. de Telefonia/Teleinformática",15.433389,11.321042,13.575405
Telefonia Fixa,9.162018,5.216719,6.124723
Telefonia Móvel,0.458906,0.032704,0.035411

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,15.368131,11.271799,13.518565
Melhoria da qualidade e ampliação do acesso à educação,8.283374,4.892816,5.674370
Suporte Administrativo,1.401059,0.405849,0.541751
"Participação, transparência e controle social da administração pública",0.001749,0.000000,0.000853

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",15.368131,11.271799,13.518565
Operação e Manutenção do Sistema Municipal de Ensino,7.032816,4.545678,5.283852
Administração da Unidade,1.401059,0.405849,0.541751
Operação e Manutenção dos Centros Educacionais Unificados,1.185091,0.298446,0.337325
Ações Complementares do Sistema Municipal de Ensino,0.065467,0.048692,0.053194
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,0.001749,0.000000,0.000853

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Serviços de Telecomunicações          25.054313     16.570464     19.735539

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação          15.368131     11.271799     13.518565
Educação Básica                    8.283374      4.892816      5.674370
Administração Geral                1.402807      0.405849      0.542604

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,15.705322,11.287676,13.614811
Diretoria Regional de Educação - Campo Limpo,1.098561,0.685051,0.772048
Diretoria Regional de Educação - Jaçanã/Tremembé,0.727494,0.516987,0.575609
Diretoria Regional de Educação - Guaianases,0.814640,0.510620,0.554707
Diretoria Regional de Educação - Pirituba,0.616080,0.466939,0.542085
Diretoria Regional de Educação - São Miguel,0.769980,0.493618,0.526179
Diretoria Regional de Educação - São Mateus,0.579139,0.449281,0.519887
Diretoria Regional de Educação - Ipiranga,0.664515,0.455821,0.505451
Diretoria Regional de Educação - Penha,0.596295,0.425594,0.470553
Diretoria Regional de Educação - Freguesia/Brasilândia,0.714442,0.342742,0.371682
Diretoria Regional de Educação - Santo Amaro,0.427466,0.343078,0.359156
Diretoria Regional de Educação - Itaquera,0.466877,0.104609,0.356032
Diretoria Regional de Educação - Butantã,0.547308,0.308918,0.353483
Diretoria Regional de Educação - Capela do Socorro,1.012485,0.168910,0.171792
Diretoria Regional de Educação Capela do Socorro,0.277657,0.010620,0.036286
Departamento de Alimentação Escolar,0.036052,0.000000,0.005777

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          25.054313     16.570464     19.735539

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              25.054313     16.570464     19.735539

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
PRIMESYS SOLUÇÕES EMPRESARIAIS S.A.,14.698120,10.708426,12.848554
TELEFÔNICA BRASIL S.A.,9.974875,5.550734,6.552776
NEC LATIN AMERICA S.A.,0.377138,0.310331,0.333172
CLARO S.A.,0.004180,0.000973,0.001037

                                                                                         txtObjetoContrato
332    SP/SR CONTRATAÇÃO DE SERVIÇOS DE TELEFONIA FIXA REFERENTE AO EXERCÍCIO DE 2017 PARA AS UNIDADES ...
385                                                                                                    NaN
392                                                                   SERVIÇO DE TELEFONIA FIXA-CEI.E EMEI
579                                                                   CONSUMO DE TELEFONIA FIXA DAS U.E.s.
706                                                  CONSUMO E TARIFAS DE TELEFONIA FIXA - APOIO AO ENSINO
854                            PAGAMENTO CONCESSIONARIA TELEFONICA VIVO 2017- UNIDADES ESCOLARES DRE E CEU
4466                                                                   concessionaria telefonica dre e ues
4694   SP/SR CONTRATAÇÃO DE SERVIÇOS DE TELEFONIA FIXA REFERENTE AO EXERCÍCIO DE 2017 PARAAS UNIDADES D...
5061                                                                     SERVIÇOS DE TELEFONIA-TELEFONICA
5797                                  SERVIÇO DE TELEFONIA FIXA-EMEI,EMEF,CEI, DRESA,EMEBS,EMEFM,CIEJA,CEU
5929                                                   SERVIÇO DE TELEFONIA FIXA-EMEF,EMEI,CEI,EMEBS,CIEJA
6551                                                                                 SERVIÇOS DE TELEFONIA
6738                                                              CONTRATAÇÃO DE SERVICOS TELEFONIA - 2017
9022                                                                        SERVIÇO DE TELEFONIA FIXA-EMEF
9791          Repasse de Recursos do PNAE para o CEI Comunidade Infantil Aglaezinha IV- CÓD. INEP 35381007
11342                            Consumo de telefonia fixa das Unidades Escolares da DRE Pirituba/Jaraguá.
11530                          2º REPASSE PTRF/2017 - CUSTEIO - DRE G - CEI LUCIANO MENDES DE ALMEIDA, DOM
11771                                                                      CONSUMO DE TELEFONIA FIXA - DRE
12442                          CONTRATAÇÃO DE COORDENADORES DE POLO PARA O RECREIO NAS FÉRIAS JANEIRO 2017
15205                                            CONTRATAÇÃO DE AGENTES PARA RECREIO NAS FÉRIAS JUNHO/2017
15403                                              CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM LOCAÇÃO DE PABX
23734                                                                   LOCAÇÃO DE EQUIPAMENTO - PABX  DRE
23736                                                                 LOCAÇÃO DE EQUIPAMENTO - PABX -CEUS
24790                                               CONSUMO E TARIFAS DE TELEFONIA FIXA- CLARO / EMBRATEL
28022                                                                                   MANUTENÇÃO PREDIAL
31290                                                                           Aquisição de Luva de vivil
32767                                                PAGAMENTO CONCESSIONÁRIA TELEFÔNICA/VIVO- 2017 -  DRE
32771                                                 PAGAMENTO CONCESSIONÁRIA TELEFÔNICA/VIVO- 2017 - CEU
37894    CONTRATAÇÃO DE SERVIÇO DE TELEFONIA FIXA POR COMUTADO POR ADESÃO A ATA 14/ SEMPLA/ COBES- DRE-BT
41199                                 SERVIÇO DE FORNECIMENTO DE TELECOMUNICAÇÕES - TELEFONICA BRASIL S.A.
49177                                                                PAGTO. DE CONCESSIONÁRIA - TELEFÔNICA
49303                                                          MANUTENÇÃO E CONSERVAÇÃO - CEU PARAISÓPOLIS
49584                                                                  SERVIÇO DE TELEFONI A FIXO COMUTADO
49944                                                                           AQUISIÇÃO DE ÓLEO DE SOJA
51211                                     CONTRATAÇÃO DE EMPRESA P/PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - DRE
51212                                   CONTRATAÇÃO DE EMPRESA P/PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - CEUS
56043                                                     LOCAÇÃO DE EQUIPAMENTOS - PABX - DRE CAMPO LIMPO
56052                                                              LOCAÇÃO DE EQUIPAMENTOS - PABX -  CEUS
56058                              LOCAÇÃO DE EMPRESA PARA PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - PABX - DRE
56063                               LOCAÇÃO DE EMPRESA PARA PRESTAÇÃO DE SERVIÇO DE MINUTAGEM - PABX -CEUS
56104                                                           CONSUMO E TARIFAS DE TELEFONIA FIXA- CEUS
56108                                                           CONSUMO E TARIFAS DE TELEFONIA FIXA - DRE
59422                                                             TELEFÔNICA BRASIL S/A - CONTRATO 04/2013
59431                                                            TELEFÔNICA BRASIL S/A - CONTRATO 03/2013

## 3.5 Mobiliário

In [45]:
mobiliario_filter = (empenhos_df['txtDescricaoSubElemento'].str.contains('Mobiliário', case=False))
mobiliario = (empenhos_df[mobiliario_filter])
empenhos_df.loc[mobiliario_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[mobiliario_filter, 'cat_2'] = 'mobiliario'
groupSum(mobiliario)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,10.793645,0.011702,7.332216

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas de Capital            10.793645      0.011702      7.332216

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Equipamentos e Material Permanente,10.793645,0.011702,7.332216

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 10.793645      0.011702      7.332216

                                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
Padronizados                              4.795223      0.000000      4.160380
Carteiras e Cadeiras Escolares            5.986720      0.000000      3.160134
Outros Móveis em Geral                    0.007947      0.007947      0.007947
Não Padronizados                          0.003755      0.003755      0.003755

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,10.793645,0.011702,7.332216

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,10.793645,0.011702,7.332216

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Mobiliário em Geral              10.793645      0.011702      7.332216

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                10.793645      0.011702      7.332216

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,10.781943,0.000000,7.320514
Diretoria Regional de Educação - Guaianases,0.007947,0.007947,0.007947
Diretoria Regional de Educação - Butantã,0.003755,0.003755,0.003755

                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Investimentos            10.793645      0.011702      7.332216

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              10.793645      0.011702      7.332216

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ERGO MOBILI IND. E COM. DE MOVEIS LTDA,2.245002,0.000000,2.245002
SANTOS & MATINATA MOVEIS LTDA - EPP,1.776898,0.000000,1.776898
MAQMÓVEIS INDUSTRIA E COMERCIO DE MÓVEIS LTDA,4.049882,0.000000,1.223296
FUNDAÇÃO PROF DR MANOEL PEDRO PIMENTEL- FUNAP,0.533520,0.000000,0.511784
EQUISCOLA EQUIPAMENTOS ESCOLARES LTDA-ME,0.418824,0.000000,0.418824
ANDRESSA PANINI ALBISSU EPP,0.362138,0.000000,0.362138
CANTARES MAGAZINE - EIRELI,0.329306,0.000000,0.329306
LUCINEIDE B DOS SANTOS MOVEIS - EPP,0.894539,0.000000,0.281432
ARTEMOVEIS - SOLUCOES E COMERCIO DE MOVEIS LTDA - ME,0.080364,0.000000,0.080364
C.G. RANDI MOVEIS PARA ESCRITORIO - EPP,0.062990,0.000000,0.062990
MINIMAQ EQUIPAMENTOS PARA ESCRITORIO LTDA - EPP,0.028480,0.000000,0.028480
SPEZIA COMERCIAL DE MATERIAIS E SUPRIMENTOS EIRELI - ME,0.004447,0.004447,0.004447
GHAIA COMERCIAL LTDA-EPP,0.003755,0.003755,0.003755
INNOVARY FUTURE COMERCIAL LTDA - ME,0.003500,0.003500,0.003500

                                                                                         txtObjetoContrato
25381                                                         DL - AQUISIÇÃO DE CADEIRÃO PARA ALIMENTAÇÃO
33311  AUTORIZO a aquisição de 15 Cadeiras para alimentação infantil conforme cotação eletrônica Nº SEI...
40343                                     Aquisição de Mobiliário - Conjunto sala de aula EMEF - tamanho 2
40392                                                                      Aquisição de Mobiliário Escolar
40406                                                                      AQUISIÇÃO DE MOBILIARIO ESCOLAR
40448                                                    Aquisição de Mobiliário - Conjunto para Professor
40565                                     Aquisição Mobiliário Administrativo - Mesa comum para Secretaria
40679                                                               Conjunto sala de aula EMEF - tamanho 2
40694                                                Aquisição de Conjunto Sala de Leitura - Tam. 1 - EMEF
40697                                         Aquisição de Mobiliários para Sala de Aula EMEF - Tamanho II
40774                                             Aquisição de 540 Armários de Madeira de 02 (dois) Corpos
40778                                               Aquisição de Conjunto Sala de Leitura EMEF Tam. I e II
40894             Aquisição de Mobiliário "Sala de Aula EMEF - Tamanho I e Refeitório Escolar - Tamanho I"
40926                                                                              Aquisição de mobiliario
47030                                                              Aquisição de conjunto sala de aula EMEI
47048                                                                       Aquisição de cadeiras diversas
57040                                                                       Aquisição de Lousas escolares

## 3. 5 Manutenção

In [46]:
manutencao_filter = (
    (
        (empenhos_df['txtDescricaoSubElemento'].str.contains('Manut', case=False))
        |
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Jardinagem', case=False))
        |
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Outros Serviços Urbanos', case=False))
    )
    &
    ~(empenhos_df['txtDescricaoSubElemento'].str.contains('processamento de dados', case=False))
    &
    ~(empenhos_df['txtDescricaoSubElemento'].str.contains('software', case=False))    
)
manutencao = (empenhos_df[manutencao_filter])
empenhos_df.loc[manutencao_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[manutencao_filter, 'cat_2'] = 'manutencao'
groupSum(manutencao)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,30.577765,21.525497,24.463952

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             29.437765     20.956155     23.894610
Despesas de Capital             1.140000      0.569343      0.569343

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,29.339279,20.901669,23.796124
Outros Serviços de Terceiros - Pessoa Jurídica,1.140000,0.569343,0.569343
Material de Consumo,0.098486,0.054486,0.098486

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 30.577765     21.525497     24.463952

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Elevadores,9.009160,6.225331,6.747958
Outras Máquinas e Equipamentos,4.090783,3.732811,4.087592
Pequenas Reformas - Escolas de Ensino Fundamental,3.019048,2.532999,2.969131
Pequenas Reformas - Escolas de Educação Infantil,2.853613,2.227234,2.809598
Jardinagem,2.610985,1.938594,2.048520
Pequenas Reformas - Centros de Educação Infantil,1.656765,1.274057,1.604573
Outros Serviços Urbanos,1.234350,0.946000,1.032000
Pequenas Reformas - Outros Imóveis,0.888097,0.687964,0.873266
Equipamentos de Processamento de Dados,0.583397,0.522691,0.570617
Manutenção e Reformas de Bens Imóveis,1.140000,0.569343,0.569343
Pequenas Reformas - Imóveis Administrativos,0.327757,0.161134,0.327756
Manutenção e Conservação de Bens Imóveis,0.529771,0.173759,0.216449
Bens Móveis,0.151358,0.126757,0.139537
Pequenas Reformas - Centros Esportivos e Similares,0.127258,0.118845,0.118845
Pequenas Reformas - Escolas de Educação Especial,2.090407,0.103481,0.103481
Pequenas Reformas - Escolas de Ensino Médio e Supletivo,0.073361,0.073361,0.073361
"Peças e Acessórios para Elevadores, Escadas Rolantes e Esteiras",0.057770,0.019770,0.057770
Equipamentos Médico-Hospitalares e Laboratoriais,0.033579,0.016789,0.033579
Manutenção em Equipamentos de Proteção e Segurança Pessoal,0.049171,0.029443,0.029443
Diversos Materiais para Manutenção de Bens Imóveis,0.015373,0.015373,0.015373
Diversos Materiais para Manutenção de Bens Móveis,0.007955,0.001955,0.007955
Pequenas Reformas - Creches,0.006468,0.006468,0.006468
Aparelhos e Acessórios Sanitários,0.006400,0.006400,0.006400
"Peças e Acessórios para Aparelhos de Som, Imagem, Iluminação e Comunic",0.006120,0.006120,0.006120
Materiais para Pintura e Acabamento,0.004868,0.004868,0.004868
Pequenas Reformas - Móveis,0.003950,0.003950,0.003950

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,27.594822,19.323056,21.953282
Suporte Administrativo,1.846567,1.218933,1.387074
Modernização e descentralização da gestão e prestação de serviços,1.136377,0.983508,1.123597

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,19.441345,13.710836,15.717841
Operação e Manutenção dos Centros Educacionais Unificados,6.804146,4.864600,5.468408
Administração da Unidade,1.846567,1.218933,1.387074
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",1.136377,0.983508,1.123597
Reformas de Equipamentos Educacionais,1.140000,0.569343,0.569343
Transporte Escolar,0.112273,0.103859,0.103859
Ações Complementares do Sistema Municipal de Ensino,0.092238,0.074420,0.089011
Ações e materiais de apoio Didático-Pedagógico Educacional,0.004820,0.000000,0.004820

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Manut. e Conserv. de Máquinas e Equipamentos,13.716919,10.497623,11.439746
Manutenção e Conservação de Bens Imóveis,12.712546,7.928644,9.672271
"Serviço de Apoio Administrativo, Técnico e Operacional",2.610985,1.938594,2.048520
Serviços Urbanos,1.234350,0.946000,1.032000
Manutenção e Conserv. de Bens Móveis e de Outras Naturezas,0.204480,0.160150,0.172930
Material para Manutenção de Bens Móveis,0.071845,0.027845,0.071845
Material para Manutenção de Bens Imóveis,0.026641,0.026641,0.026641

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                   27.590002     19.323056     21.948462
Administração Geral                1.851387      1.218933      1.391894
Tecnologia da Informação           1.136377      0.983508      1.123597

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,5.926842,4.879727,5.306571
Diretoria Regional de Educação - Penha,4.302361,3.070078,3.414653
Diretoria Regional de Educação - Campo Limpo,5.188091,2.707139,2.990838
Diretoria Regional de Educação - São Mateus,1.941934,1.321618,1.893169
Diretoria Regional de Educação - Pirituba,2.068438,1.698392,1.842621
Diretoria Regional de Educação - Santo Amaro,1.938028,1.557613,1.677633
Diretoria Regional de Educação - São Miguel,1.655400,1.040023,1.387665
Diretoria Regional de Educação - Guaianases,2.083498,1.084195,1.279092
Diretoria Regional de Educação - Freguesia/Brasilândia,1.374205,0.829390,0.895999
Diretoria Regional de Educação - Butantã,0.997926,0.816381,0.859622
Diretoria Regional de Educação - Ipiranga,0.870834,0.772205,0.808540
Diretoria Regional de Educação Capela do Socorro,0.807039,0.742000,0.792172
Diretoria Regional de Educação - Itaquera,0.678492,0.441570,0.574423
Diretoria Regional de Educação - Jaçanã/Tremembé,0.518089,0.338576,0.514365
Diretoria Regional de Educação - Capela do Socorro,0.222857,0.222857,0.222857
Departamento de Alimentação Escolar,0.003732,0.003732,0.003732

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          29.437765     20.956155     23.894610
Investimentos                       1.140000      0.569343      0.569343

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              30.577765     21.525497     24.463952

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ELEVADORES ORION LTDA.,7.629500,5.460767,5.948843
CAMARGO RODRIGUES LTDA,3.039063,2.783454,3.039063
POTENZA ENGENHARIA E CONSTRUÇÃO LTDA,2.461475,1.813287,1.899010
ERA-TECNICA ENGENHARIA CONSTRUÇÕES E SERVIÇOS LTDA,1.234350,0.946000,1.032000
ELEPAR ELEVADORES LTDA,1.190297,0.666701,0.726110
L & M COMERCIO E SERVIÇOS DE MANUTENÇÃO LTDA - EPP,0.656720,0.395817,0.627086
ACECO TI S.A.,0.583397,0.522691,0.570617
CONSTRUTORA PROGREDIOR LTDA,1.140000,0.569343,0.569343
GOLDEN DISTRIBUIDORA LTDA.,0.552979,0.460816,0.552979
EBER QUINTINO GOMES ENGENHARIA - ME,0.471022,0.388383,0.456086
BOSTON SERVICE DO BRASIL LTDA - EPP,0.432209,0.432209,0.432209
KOINSTEC INSTALAÇÕES E PROJETOS LTDA EPP,0.421957,0.377075,0.421957
DBL CONSTRUÇÕES EIRELI - EPP,0.413155,0.257677,0.413155
ZAC MANUTENÇÃO E REFORMAS EM GERAL SOCIEDADE EMPRESARIA LTDA EPP,0.414279,0.355173,0.384659
ENGEBRAS CONSTRUÇÕES E EMPREENDIMENTOS LTDA,0.388262,0.328486,0.373328
MAXPOWER MANUTENCAO E REFORMA EIRELI - ME,0.340205,0.295381,0.340205
SIM SOLUÇÕES INTEGRADAS EM MÃO DE OBRA E MATERIAIS LTDA - EPP,0.315186,0.314052,0.314052
D B DA SILVA CONSTRUÇOES REFORMA E MANUTENÇÃO EIRELI - EPP,0.297742,0.145092,0.297742
EMPREITEC CONSTRUÇÕES E MANUTENÇÕES LTDA-EPP,0.299217,0.297039,0.297039
MAFEN ENGENHARIA E CONSTRUÇÕES LTDA - EPP,0.283743,0.283743,0.283743
GHANMA SERVIÇOS E CONSTRUÇÕES EIRELI - EPP,0.283167,0.223491,0.283167
PCT ENGENHARIA E CONSTRUÇÕES LTDA,0.269891,0.226613,0.264481
CHEP - RESTAURO SERVICOS E OBRAS EM GERAL LTDA - EPP,0.242073,0.212444,0.242073
CEDRO AFS EMPREITEIRA DE OBRAS EIRELI - ME,0.204556,0.093658,0.203629
JHONATHAN SILVA SANTOS EIRELI - ME,0.202646,0.138695,0.202646
MARCA CONSTRUCOES E EMPREENDIMENTOS LTDA,0.170992,0.170992,0.170992
BRUNO MONTENEGRO RIBEIRO - ME,0.156554,0.122380,0.156554
AFA COMERCIO E PRESTADORA DE SERVIÇO LTDA - ME,0.155616,0.155616,0.155616
AKATIJU COMERCIAL E PRESTADORA DE SERVIÇOS LTDA-EPP,0.157668,0.153739,0.153739
ELEVADORES SÃO PAULO LTDA - EPP,0.257026,0.126069,0.153701
...,...,...,...
A. MIMURA COMERCIAL E SERVIÇOS LTDA ME,0.007930,0.007930,0.007930
SPEZIA COMERCIAL DE MATERIAIS E SUPRIMENTOS EIRELI - ME,0.007890,0.007890,0.007890
COOPERATIVA BRASILEIRA DE TRANSPORTE COBRATE,0.007475,0.007475,0.007475
ESGOTECNICA COMERCIO E SERVIÇOS ESPECIALIZADOS LTDA-ME,0.007200,0.000000,0.007200
GERAL LESTE COM. E MANUT. DE MAQUINAS E PREDIAL LTDA - ME,0.007200,0.007200,0.007200
FHB - COMERCIAL ELETRÔNICA LTDA,0.007003,0.007003,0.007003
COOPERUNIDAS - COOPERATIVA DE TRANSPORTES ALTERNATIVOS,0.006865,0.006865,0.006865
MARCOS E BERTA LTDA - ME,0.006400,0.006400,0.006400
CRISTIANE MABEL TEIXEIRA 05498863624,0.006070,0.006070,0.006070
ON LINE ORTOPEDIA LTDA - ME -ME,0.004820,0.000000,0.004820
MIRIAM SILVA PINHEIRO GONCALVES 33124420870,0.004753,0.004753,0.004753
MFP ELETRONICOS LTDA - EPP,0.004620,0.004620,0.004620
W A AMBIENTAL E SERVIÇOS DE TERCEIRIZAÇÃO LTDA,0.004500,0.004500,0.004500
AP SERVIÇOS DE CONSTRUÇÃO E ACABAMENTOS EIRELI - ME,0.004336,0.004336,0.004336
ANISIO ALVES MOREIRA ESQUADRIAS DE ALUMINIO E VIDROS - ME,0.004074,0.004074,0.004074
DANIEL VOIGT - ME,0.004000,0.000000,0.004000
DARDOUR TINTAS COMERCIO E SERVIÇOS LTDA,0.003693,0.003693,0.003693
BG COMERCIO DE BALANÇAS LTDA - EPP,0.003184,0.003184,0.003184
ORTEGA EQUIPAMENTOS CONTRA INCENDIO LTDA - ME,0.003227,0.003048,0.003048
PGB DE SOUZA JUNIOR EXTINTORES - ME,0.002390,0.002390,0.002390
DAFMAQ COMERCIAL LTDA,0.001915,0.001915,0.001915
MAGITECH - DISTRIBUIDOR DE ELETRONICOS EIRELI,0.001500,0.001500,0.001500
NOVO BRASIL COMERCIO DE EQUIPAMENTOS E SISTEMAS CONTRA INCENCIO LTDA - EPP,0.001261,0.001261,0.001261
ELAINE C. FERREIRA - ME,0.001176,0.001176,0.001176
ATIVA COM PREST SERV MANUT E INSPEÇÃO EXTINTORES DE INCENDIO LTDA ME,0.000931,0.000931,0.000931
BICIEXTIL EXTINTORES EIRELI EPP,0.000548,0.000548,0.000548
PEDRO GALDINO DA SILVA 50145240606,0.003485,0.000000,0.000000
CIA DE SANEAMENTO BÁSICO DO ESTADO DE SÃO PAULO SABESP,1.972000,0.000000,0.000000
PAINEIRAS LIMPEZA E SERVIÇOS GERAIS LTDA.,0.311271,0.000000,0.000000
GILBERTO CANGUCU OLIVEIRA EIRELI - ME,0.004929,0.000000,0.000000

                                                                                         txtObjetoContrato
36                                  SERVIÇOS DE MANUTENÇÃO E INSTALAÇÃO DE CONDICIONADORES DE AR DRE/DIPED
142                               Contratação de Empresa para Serviços de manutenção no CEI Madre Cristina
164                 Contratação de Empresa para Serviços de manutenção na EMEF Coronel Hélio Franco Chaves
177                      Contratação de Empresa para Serviços de manutenção no CEI Maria Henriqueta Catite
188                                   Contratação de Empresa para Serviços de manutenção no CEU CEI Jaçanã
204                             Contratação de Empresa para Serviços de manutenção no teatro do CEU Jaçanã
354    Contratação de Empresa para Serviços de manutenção no prédio do Bloco Esportivo e Cultural do CE...
371                             Serviço de Manutenção e recarga de extintores e equipamentos de segurança.
403                                                 MANUTENÇÃO E CONSERVAÇÃO - EMEF ANNA SILVEIRA PEDREIRA
404                         Manutenção predial – INSTALAÇÕES HIDRÁULICAS -  EMEI EUNICE DOS SANTOS, PROFA.
408                                   Manutenção predial – MANUTENÇÃO DE REVESTIMENTO – EMEF Rogê Ferreira
411                                               SERVIÇOS GERAIS DE MANUTENÇÃO PREDIAL - CEI CEU UIRAPURU
424                                    Manutenção predial – MANUTENÇÃO NO PISO - CEI SOLEDAD BARRET VIEDMA
433                                  MANUTENÇÃO E CONSERVAÇÃO - EMEF MARIA RITA DE C.ASSIA P. SIMÕES BRAGA
435                                                 MANUTENÇÃO E CONSERVAÇÃO - EMEF ANTONIO ALVES DA SILVA
439                                                 MANUTENÇÃO E CONSERVAÇÃO - EMEF MAURO FACCIO - ZACARIA
445                                                      MANUTENÇÃO E CONSERVAÇÃO - CEI JARDIM MARIA ALICE
447                                                              MANUTENÇÃO E CONSERVAÇÃO - CEI CID FRANCO
448                                                      MANUTENÇÃO E CONSERVAÇÃO - EMEF MODESTO SCAGLIUSI
449                                               MANUTENÇÃO E CONSERVAÇÃO - EMEI JOAQUIM MANUEL DE MACEDO
465                                                                                                    NaN
598           Contratação de Empresa para Serviços de manutenção na EMEI José Bonifácio de Andrada e Silva
687    SP/IT CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE REPAROS NAS INSTALAÇÕES CENOTÉCNICAS DO TEATRO DO ...
709    SP/IT CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE SUBSTITUIÇÃO DA CALHA DA QUADRA EMEF. PROFª. MARIS...
711    SP/MP CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE MANUTENÇÃO NA ESTRUTURA METÁLICA DO RESERVATÓRIO D...
719                             Manutenção predial – PODA DE ÁRVORES - EMEI PROFª NEYDE GUZZI DE CHIACCHIO
723        SP/IT CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE MANUTENÇÃO DA CAIXA D'AGUA NO CEI IND. VILA JÓIA
765                            SP/IT - CONTRATAÇÃO PARA MANUTENÇÃO DA PARTE ELÉTRICA NO CEU PARQUE VEREDAS
795    SP/MP CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE IMPERMEABILIZAÇÃO DA CAIXA D'AGUA DE REUSO DA CEI ...
841                               Manutenção predial – MANUTENÇÃO DE TELHADO E PISO - EMEI AFONSO SARDINHA
...                                                                                                    ...
53896                                Manutenção predial – MANUTENÇÃO  ELÉTRICA - EMEF AMADEU MENDES, PROFº
53897                                   SERVIÇOS GERAIS DE MANUTENÇÃO PREDIAL - EMEF. PROF. ROBERTO MANGE.
53898                         Manutenção predial – Manutenção nas calhas e coberturas - CEU GESTÃO JAGUARÉ
53903                               SERVIÇOS GERAIS DE MANUTENÇÃO PREDIAL - EMEI PROF. BENEDICTO CASTRUCCI
54236                                             SERVIÇO DE MANUTENÇÃO DE TELHADO - EMEI GLEBA DO PÊSSEGO
54323                  Manutenção predial – MANUTENÇÃO DE INSTALAÇÕES HIDRAULICAS - EMEI JARDIM MONTE BELO
54371                                                         MANUTENÇÃO E CONSERVAÇÃO CEU FEITIÇO DA VILA
54411            MANUTENÇÃO PREDIAL - MANUTENÇÃO HIDRÁULICA - CEI JARDIM PANAMERICANO e CEI JARDIM IPANEMA
54675                                                                 Aquisição de Divisórias e Acessórios
54811  SP/IT CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE MANUTENÇÃO NAS JUNTAS DE DILATAÇÃO MUDANÇA NO LOCA...
55066                                               CELEBRAÇÃO DE TERMO DE COLABORAÇÃO - CEI NENEM VITORIA
55564                                                                SERV. DE COBERTURA - EMEF COELHO NETO
56360  SP/MP - MANUTENÇÃO PREDIAL PREVISTA NO 1º ESCALÃO DO DECRETO Nº 29.929/91 PARA O CEU TRÊS PONTES...
56450  SP/IT - MANUTENÇÃO PREDIAL PREVISTA NO 1º ESCALÃO DO DECRETO Nº 29.929/91 PARA O CEU PARQUE VERE...
56912                   Contratação de Empresa para Serviços de manutenção na EMEI Profª Eudoxia de Barros
57017                                                 SERVIÇO DE PODA DE ÁRVORES NA EMEF JOÃO NAOKI SUMITA
57018                                            SERVIÇO DE PODA DE ÁRVORES - EMEI PADRE MANOEL DA NÓBREGA
57020                                                        SERVIÇO DE PODA DE ÁRVORES - EMEF MALBA TAHAN
57087                                         MANUTENÇÃO E CONSERVAÇÃO CEI NATHALIA PEDROSO ROSEMBURG, DRA
57114                                          SERVIÇO DE HIDRÁULICA - CEI LUIZ GONZAGA NASCIMENTOS JUNIOR
57117                                                SERVIÇO DE MANUTENÇÃO PREDIAL - EMEI ADALBERTO PANZAN
57142      Contratação de Empresa para Serviços de manutenção na EMEF Profª Esmeralda Salles Pereira Ramos
57255                                                    SERVIÇO DE MANUTENÇÃO PREDIAL - EMEF OLIVAL COSTA
57268                                       Remoção de árvores - EMEI Pedro de Toledo e EMEI Santos Dumont
57333                 AQUISIÇÃO DE SERVIÇOS DE PRIMEIRO ESCALÃO - MANUTENÇÃO E CONSERVAÇÃO - CEI CEU PERUS
57335        AQUISIÇÃO DE SERVIÇOS DE PRIMEIRO ESCALÃO - MANUTENÇÃO E CONSERVAÇÃO - EMEF CHACARA TURISTICA
57527  Contratação de Empresa para Serviços de Manutenção de telhado na EMEI Margareth de Fátima Marque...
58157  DL- Serviços de reparo técnico nos elevadores da EMEF Prof. Maria Lucia dos Santos e na EMEI Vir...
58884                 DL- SERVIÇOS TÉCNICOS DE REPARO NO ELEVADOR DA EMEI PROF. ROSA MARIA DOGO DE RESENDE
59239       REPASSE DO PTRF PARA AS APMs e APMSUACs DE ACORDO COM A LEI 9394/1996 E PORTARIA SME 4128/2017

[736 rows x 1 columns]

## 3.6 Aluguel de imóveis e IPTU

In [47]:
aluguel_imoveis_filter = (
    empenhos_df['txtDescricaoItemDespesa'].str.contains('Locação de Imóveis', case=False)
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('IPTU', case=False))
)
aluguel_imoveis = (empenhos_df[aluguel_imoveis_filter])
empenhos_df.loc[aluguel_imoveis_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[aluguel_imoveis_filter, 'cat_2'] = 'aluguel_imoveis'
groupSum(aluguel_imoveis)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,24.199316,18.825336,19.519948

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             24.199316     18.825336     19.519948

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,14.870512,11.425897,11.860792
Outros Serviços de Terceiros - Pessoa Física,9.048384,7.157610,7.406123
Outros Serviços de Terceiros - Pessoa Jurídica,0.280420,0.241828,0.253034

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 24.199316     18.825336     19.519948

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
Locação de Imóveis               22.911279     17.577437     18.270620
IPTU                              1.288037      1.247898      1.249328

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,17.811039,14.234053,14.734692
Suporte Administrativo,6.388277,4.591282,4.785256

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,12.412420,9.634764,10.039974
Administração da Unidade,6.388277,4.591282,4.785256
Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo,5.398619,4.599289,4.694718

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Locação de Imóveis,24.185728,18.812258,19.506871
Tributos a Conta do Locatário e Cessionário,0.013588,0.013077,0.013077

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                12.412420      9.634764     10.039974
Administração Geral             6.388277      4.591282      4.785256
Educação Infantil               5.398619      4.599289      4.694718

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Santo Amaro,5.446101,4.509562,4.876779
Diretoria Regional de Educação - Capela do Socorro,4.972329,3.589969,3.589969
Diretoria Regional de Educação - Ipiranga,3.411035,2.927363,2.950637
Diretoria Regional de Educação - Butantã,2.427450,1.428948,1.428948
Diretoria Regional de Educação - São Mateus,1.030175,0.926937,1.002179
Diretoria Regional de Educação - São Miguel,0.884889,0.861278,0.861278
Diretoria Regional de Educação - Guaianases,0.820028,0.734312,0.797013
Gabinete do Secretário,1.265979,0.642569,0.730822
Diretoria Regional de Educação - Itaquera,0.806349,0.631560,0.631560
Diretoria Regional de Educação - Campo Limpo,0.659739,0.608687,0.627797
Departamento de Alimentação Escolar,0.426987,0.415597,0.415597
Diretoria Regional de Educação - Jaçanã/Tremembé,0.455894,0.369834,0.402316
Diretoria Regional de Educação Capela do Socorro,0.487779,0.353692,0.362026
Diretoria Regional de Educação - Penha,0.452543,0.304474,0.304474
Diretoria Regional de Educação - Pirituba,0.328864,0.268537,0.268537
Diretoria Regional de Educação - Freguesia/Brasilândia,0.248373,0.224994,0.242994
Coordenadoria de Alimentação Escolar,0.074800,0.027021,0.027021

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          24.199316     18.825336     19.519948

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Aplicações Diretas,23.918896,18.583507,19.266914
Transferências a Instituições Privadas sem Fins Lucrativos,0.137952,0.129775,0.129775
"Apl.Dir.Dec.Op. entre Órgãos,Fundos e Ent.Int.Orç.Fiscal e Seg.Social",0.142468,0.112054,0.123259

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
MASTER ADMINISTRACAO DE IMOVEIS PROPRIOS LTDA,2.072770,1.237733,1.241856
FEMARJAN COSTRUTORA LTDA,1.694046,1.129028,1.131346
SEARA BENDITA INSTITUICAO ESPIRITA,1.173829,0.876346,0.944825
MCT ADMINISTRAÇÃO DE IMÓVEIS LTDA - EPP,0.964000,0.746000,0.812000
HAGE ADMINISTRAÇÃO DE BENS LTDA.- ME,0.724383,0.657883,0.724383
ROLEX CONSULTORIA E ADMINISTRAÇÃO DE BENS E NEGÓCIOS LTDA - ME,0.779624,0.649085,0.700291
ENAL EMPREENDIMENTOS LTDA,1.473781,0.687913,0.687913
OTTAVIANI EMPREENDIMENTO IMOBILIARIO LTDA,0.601519,0.555336,0.601519
S.R. ADMINISTRADORA DE BENS PROPRIOS - EIRELI,0.593349,0.588000,0.588962
SOCIEDADE DE ARMAZENS E REPRESENTAÇÕES SÃO LOURENÇO LTDA,0.493227,0.453227,0.493227
MS BACHA ADMINISTRAÇÃO DE BENS PRÓPRIOS LTDA.,0.457700,0.456000,0.456932
HOLDING CARDOSO DISTRIBUIDORA E PARTICIPAÇOES LTDA,0.504261,0.396100,0.434100
CAMPER EMPREENDIMENTOS LTDA,0.390783,0.343004,0.343004
DIRETORIA REGIONAL DE EDUCAÇÃO - IPIRANGA,0.312861,0.312861,0.312861
AAA HOLDING PATRIMONIAL E PARTICIPAÇÕES - EIRELI,0.319958,0.269298,0.291962
SANTO AMARO PARTICIPAÇOES LTDA,0.372000,0.269700,0.269700
ROSANA FERREIRA DE TOLEDO,0.328864,0.268537,0.268537
SME/ DIRETORIA REGIONAL DE EDUCAÇÃO - SANTO AMARO,0.259742,0.259742,0.259742
EGBERTO CAMPOS FRAGA FILHO,0.241658,0.239366,0.239366
MARIA AP. FRAGA DE ALMEIDA PRADO,0.239366,0.239366,0.239366
MARIA CAROLINA FRAGA ZWICKER,0.247441,0.239366,0.239366
MANOEL CARLOS ALTIERI,0.433480,0.195759,0.228787
WALDIR DE SOUZA LOPES,0.225869,0.202491,0.220491
SÃO GUALTER ADMINISTRAÇÃO E PARTICIPAÇÕES LTDA,0.232558,0.199907,0.211356
CARLOS GILBERTO DO ESPIRITO SANTO,0.195582,0.179284,0.195582
MARIA AMELIA RODRIGUES RACHID,0.187303,0.187303,0.187303
NEURO FERREIRA DOS SANTOS,0.169449,0.155329,0.169449
DIRETORIA REGIONAL DE EDUCAÇÃO - BUTANTÃ,0.165496,0.165496,0.165496
MAZEN SERVIÇOS DE ADMINISTRAÇÃO LTDA,0.163214,0.154029,0.160128
DOMINGOS ALVES DE CARVALHO,0.162522,0.157446,0.157446
...,...,...,...
CARLOS TORRES MORAES,0.046468,0.039830,0.039830
SERGIO TORRES MORAES,0.046468,0.039830,0.039830
ESTECYR DE SIQUEIRA,0.034392,0.031526,0.034392
FUMIO NISHIYAMA,0.047996,0.033151,0.033151
LUIZ GIOSA,0.030026,0.027524,0.030026
ELZA SOARES GIOSA,0.030026,0.027524,0.030026
JACQUELINE BARMAK,0.054185,0.024470,0.028598
DORA BARMAK,0.054185,0.024470,0.028598
JOSÉ ALBERTO BARMAK,0.054185,0.024470,0.028598
IVETE APARECIDA VICENTE DOTTORI,0.029135,0.027334,0.027334
KANDICE SCHEIDEMANTEL DA ROCHA LIMA,0.033566,0.024610,0.026613
KRISTIAN SCHEIDEMANTEL DA ROCHA LIMA,0.033566,0.024610,0.026613
SME - DIRETORIA REGIONAL DE EDUCAÇÃO - CAPELA DO SOCORRO,0.025501,0.025501,0.025501
MARIA CRISTINA MATTOSO RAMOS DE SOUZA,0.035624,0.024560,0.024560
ROBERTO ASSAF,0.022988,0.022988,0.022988
VALTER BREANZA,0.025467,0.020044,0.021539
VANIA BREANZA,0.040192,0.020044,0.021539
EDUARDO QUINTANS RODRIGUES,0.084739,0.015692,0.015692
LAURA MONTES WU MARTINS,0.022225,0.014149,0.014149
FLAVIO CORREIA DA SILVA,0.017522,0.014118,0.014118
RICARDO CORREIA DA SILVA,0.030631,0.014118,0.014118
MARIO IALENTE DA SILVA JUNIOR,0.018656,0.014118,0.014118
RENATA CORREIA SILVA DOS SANTOS,0.016387,0.014118,0.014118
MARIA LUIZA CORREIA DA SILVA,0.016387,0.014118,0.014118
HENRIQUE NELSON CALANDRA,0.012759,0.008506,0.012759
AMERICO GOMES DA SILVA,0.019470,0.008461,0.008461
FLORIPES GIMENEZ,0.005665,0.005665,0.005665
FABIANA ALCANTARA REZENDE,0.003969,0.003969,0.003969
MARIA JOSE ALCANTARA DE REZENDE,0.003969,0.003969,0.003969
STALEY MONTE WU,0.003537,0.003537,0.003537

    txtObjetoContrato
683               NaN

## 3.7 Obras e reformas

In [48]:
obras_reformas_filter = (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('constru', case=False))
    |
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('reforma', case=False))
)
obras_reformas = (empenhos_df[obras_reformas_filter])
empenhos_df.loc[obras_reformas_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[obras_reformas_filter, 'cat_2'] = 'obras_reformas'
groupSum(obras_reformas)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,109.748075,58.263296,78.704729

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas de Capital           109.748075     58.263296     78.704729

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Obras e Instalações,89.634945,39.131728,59.550083
Indenizações e Restituições,14.682730,14.682730,14.682730
Outros Serviços de Terceiros - Pessoa Jurídica,4.668341,3.686780,3.709857
Aquisição de Imóveis,0.762059,0.762059,0.762059

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 50.697717     23.415711     34.567339
Outras Fontes                     33.979873     16.566437     24.311365
Transferências Estaduais          20.010323     16.419021     16.419021
Transferências Federais            5.060162      1.862127      3.407003

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Escolas e Similares,89.634945,39.131728,59.550083
Restituições a Pessoas Jurídicas,14.682730,14.682730,14.682730
Gerenciamento,3.528341,3.117437,3.140515
Desapropriações,0.762059,0.762059,0.762059
Manutenção e Reformas de Bens Imóveis,1.140000,0.569343,0.569343

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,109.748075,58.263296,78.704729

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Construção de Centros de Educação Infantil - CEI,75.645724,45.401582,59.824468
Construção de Escolas Municipais de Educação Infantil - EMEI,23.131830,7.560151,13.072542
Reformas de Equipamentos Educacionais,4.668341,3.686780,3.709857
"Construção, reforma e ampliação de equipamentos educacionais",6.302179,1.614783,2.097862

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Obras em Andamento - Uso Comum do Povo,89.634945,39.131728,59.550083
Restituições,14.682730,14.682730,14.682730
Serviços Técnicos Profissionais,3.528341,3.117437,3.140515
Outras Aquisições de Bens Imóveis,0.762059,0.762059,0.762059
Manutenção e Conservação de Bens Imóveis,1.140000,0.569343,0.569343

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Infantil              98.777554     52.961733     72.897010
Educação Básica                10.970521      5.301563      5.807719

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário         109.748075     58.263296     78.704729

                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Investimentos           109.748075     58.263296     78.704729

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             109.748075     58.263296     78.704729

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
LOPES KALIL ENGENHARIA E COMERCIO LTDA,24.832149,14.212378,21.855359
SAO PAULO SECRETARIA DA EDUCACAO,14.682730,14.682730,14.682730
LEMAM CONSTRUCOES E COMERCIO S.A.,15.664034,5.957008,9.157260
CONSÓRCIO FBS - LOPES KALIL,14.142956,4.945245,7.446875
CONSTRUTORA CRONACON LTDA,10.552064,2.944424,5.540711
CONSTRUMEDICI ENGENHARIA E COMÉRCIO LTDA,5.406643,3.873227,4.723819
FLASA ENGENHARIA E CONSTRUCOES LTDA,6.325143,1.975835,3.218295
SIMETRICA ENGENHARIA LTDA,2.269715,1.835567,2.269715
KALLAS ENGENHARIA LTDA,1.991962,0.325909,1.676465
DB CONSTRUCOES LTDA,2.148101,1.447351,1.563723
ENGEBRAS CONSTRUÇÕES E EMPREENDIMENTOS LTDA,5.766503,1.091909,1.562200
CONSTRUTORA ITAJAI LTDA,1.666799,1.355032,1.355032
DEPTO DESAP COND AC JUD EM DESAPR,0.762059,0.762059,0.762059
HE ENGENHARIA COMÉRCIO E REPRESENTAÇÕES LTDA,0.755351,0.741501,0.741501
CONSTRUTORA PROGREDIOR LTDA,1.140000,0.569343,0.569343
SANED ENGENHARIA E EMPREENDIMENTOS S.A,0.547165,0.531595,0.531595
CENTRAL DE PLANEJAMENTO DE OBRAS E CONSTRUÇÕES LTDA,0.522889,0.522875,0.522875
ALMEIDA SAPATA ENGENHARIA E CONSTRUÇÕES LTDA,0.559027,0.489309,0.512386
SYSTEM ENGENHARIA LTDA,0.012787,0.000000,0.012787

                          txtObjetoContrato
387                                     NaN
7380  CONFECÇÃO  DE COLETES, LONAS E XADREZ

## 3.8 CEUs - outros custos

In [49]:
ceu_filter = (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Operação e Manutenção dos Centros Educacionais Unificados', case=False))
    &
    (
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Outros Serviços de Áudio, Vídeo, Foto, Som, Luz e Imagens', case=False))
        |
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Lavanderia em Geral', case=False))
        |
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Monitoramento Aquático', case=False))
    )
)
ceu = (empenhos_df[ceu_filter])
empenhos_df.loc[ceu_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[ceu_filter, 'cat_2'] = 'ceu_outros'
groupSum(ceu)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,28.004133,23.396643,25.410115

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             28.004133     23.396643     25.410115

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,28.004133,23.396643,25.410115

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 28.004133     23.396643     25.410115

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Lavanderia em Geral,8.897260,8.152681,8.897260
"Outros Serviços de Áudio, Vídeo, Foto, Som, Luz e Imagens",9.379732,8.203001,8.831185
Monitoramento Aquático,9.727140,7.040960,7.681670

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,28.004133,23.396643,25.410115

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção dos Centros Educacionais Unificados,28.004133,23.396643,25.410115

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços Domésticos,8.897260,8.152681,8.897260
"Serviços de Áudio, Vídeo e Foto",9.379732,8.203001,8.831185
Serviços de Socorro e Salvamento,9.727140,7.040960,7.681670

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                28.004133     23.396643     25.410115

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário          28.004133     23.396643     25.410115

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          28.004133     23.396643     25.410115

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              28.004133     23.396643     25.410115

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
MARTINS & LOCOCO LAVANDERIA LTDA,8.897260,8.152681,8.897260
E.SERVICE COMERCIO E SERVIÇOS LTDA,5.162101,3.413503,3.770282
FLASH ILUMINACÃO E SONORIZACÃO LTDA - EPP,3.304667,3.016439,3.296961
LUME SERVIÇOS GERAIS LTDA EPP,2.899012,2.504761,2.703958
SHAMOU - ESPORTES COMÉRCIO E SERVIÇOS LTDA - ME,2.130006,1.839776,2.036581
BAKMAR ELETRONICA LTDA ME,1.349765,1.173434,1.184251
FHB - COMERCIAL ELETRÔNICA LTDA,1.137263,0.887909,0.968531
FLYPPER SALVAMENTO AQUÁTICO LTDA. EPP,1.503474,0.950726,0.950726
ARCOLIMP SERVIÇOS GERAIS LTDA,0.764375,0.684738,0.757645
LIFE WORK SERVIÇOS ESPECIALIZADOS LTDA,0.689026,0.620458,0.677482
E SERVICE SOLUCOES EM SERVICOS EIRELI - ME,0.167185,0.152217,0.166436

                                                                                         txtObjetoContrato
2463                                                                                                   NaN
5582                                               Contratação emergencial de manutenção de Som de 23 CEUs
5583                                        Contratação emergencial de manutenção de Iluminação de 23 CEUs
38767                                        SERVIÇOS GERAIS DE MANUTENÇÃO PREDIAL - EMEF. JARDIM PAULO VI
38925                           CONTRATAÇÃO DE AGENTE RECREATIVO - RECREIO NAS FÉRIAS EDIÇÃO JULHO DE 2017
38929  PR-SM(S.MATEUS) – PR-VP/SB (SAPOPEMBA) – CONTRATAÇÃO DE OFICINEIROS - RECREIO NAS FÉRIAS JULHO/2017
40132       Contratação emergencial de serviços de manutenção dos equipamentos de Som dos Teatros de CEUs.
40138  Contratação emergencial de serviços de manutenção dos equipamentos de Iluminação dos Teatros de ...

## 3.? UniCEU

In [50]:
uniceu_filter = (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('uniceu', case=False))
)
uniceu = (empenhos_df[uniceu_filter])
empenhos_df.loc[uniceu_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[uniceu_filter, 'cat_2'] = 'uniceu'
groupSum(uniceu)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,3.07456,2.142509,2.870959

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              2.990401      2.142509      2.786800
Despesas de Capital             0.084159      0.000000      0.084159

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,2.989290,2.142509,2.786800
Equipamentos e Material Permanente,0.084159,0.000000,0.084159
Material de Consumo,0.001112,0.000000,0.000000

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                   3.07456      2.142509      2.870959

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",2.731250,1.909764,2.534567
"Guarda, Vigilância e Segurança em Geral",0.228290,0.202995,0.222483
"Outros Equipamentos para Vídeo, Áudio e Foto",0.084159,0.000000,0.084159
Refeições para Eventos em Educação,0.029750,0.029750,0.029750
Diversos Materiais de Limpeza e Higienização,0.001112,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,3.07456,2.142509,2.870959

                                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Operação e Manutenção da UniCEU            3.07456      2.142509      2.870959

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços Técnicos Profissionais,2.731250,1.909764,2.534567
Vigilância Ostensiva / Monitorada,0.228290,0.202995,0.222483
"Equipamentos para Vídeo, Áudio e Foto",0.084159,0.000000,0.084159
Fornecimento de Alimentação,0.029750,0.029750,0.029750
Material de Limpeza e Produção de Higienização,0.001112,0.000000,0.000000

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Formação de Recursos Humanos            3.07456      2.142509      2.870959

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário            3.07456      2.142509      2.870959

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           2.990401      2.142509      2.786800
Investimentos                       0.084159      0.000000      0.084159

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas                3.07456      2.142509      2.870959

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
UNIAO SOCIAL CAMILIANA,2.731250,1.909764,2.534567
MRS SEGURANCA E VIGILANCIA PATRIMONIAL EIRELI - EPP,0.228290,0.202995,0.222483
HS COMERCIO LOCAÇÃO E MANUTENÇÃO DE EQUIPAMENTOS DE INFORMATICA LTDA - EPP,0.084159,0.000000,0.084159
F.G.R. SILVA BUFFET E EVENTOS LTDA.,0.029750,0.029750,0.029750
CCK COMERCIAL EIRELI - EPP,0.001112,0.000000,0.000000

                                                                             txtObjetoContrato
30987                                                                                      NaN
33422  Aquisição de lixeiras para a Universidade nos Centros Educacionais Unificados – UniCEU
40511                                                         AQUISIÇÃO DE PROJETOR MULTIMIDIA
56439                     Utilização de Ata de Registro de Preços – Fornecimento de kit lanche

## 3.9 Eventos, oficinas, recreação

In [51]:
eventos_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Eventos Esportivos, Culturais e Turísticos', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Oficineiros', case=False))

)
eventos = (empenhos_df[eventos_filter])
empenhos_df.loc[eventos_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[eventos_filter, 'cat_2'] = 'eventos'
groupSum(eventos)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,10.788179,9.045793,9.126208

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             10.788179      9.045793      9.126208

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,8.018114,6.497739,6.497739
Outros Serviços de Terceiros - Pessoa Física,2.770065,2.548054,2.628469

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 10.788179      9.045793      9.126208

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Eventos Esportivos, Culturais e Turísticos",7.310114,5.812939,5.812939
Oficineiros,2.770065,2.548054,2.628469
"Eventos Esportivos, Culturais e Turísticos - Cooperativas",0.708000,0.684800,0.684800

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,10.605209,8.937823,9.018238
Modernização e descentralização da gestão e prestação de serviços,0.153970,0.078970,0.078970
Suporte Administrativo,0.029000,0.029000,0.029000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Eventos Educacionais, Culturais e Esportivos nos Centros Educacionais",5.950235,5.480901,5.480901
Ampliação da jornada escolar - Programa Mais Educação,2.658057,2.349584,2.352608
Operação e Manutenção do Sistema Municipal de Ensino,0.673223,0.589245,0.666636
Mês do Hip Hop,1.203600,0.398000,0.398000
Ações e materiais de apoio Didático-Pedagógico Educacional,0.099119,0.099119,0.099119
"Capacitação, Formação e Aperfeiçoamento de Servidores",0.153970,0.078970,0.078970
Administração da Unidade,0.029000,0.029000,0.029000
Operação e Manutenção dos Centros Educacionais Unificados,0.020975,0.020975,0.020975

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
"Exposições, Congressos, Conferências e Outros Eventos",8.018114,6.497739,6.497739
Serviços Técnicos Profissionais,2.770065,2.548054,2.628469

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Administração Geral                    9.940011      8.356604      8.359628
Educação Básica                        0.694198      0.610220      0.687611
Formação de Recursos Humanos           0.153970      0.078970      0.078970

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,9.992492,8.334085,8.337109
Diretoria Regional de Educação - Campo Limpo,0.460737,0.402741,0.457077
Diretoria Regional de Educação - Ipiranga,0.132132,0.119688,0.131400
Diretoria Regional de Educação - Penha,0.118952,0.105414,0.116757
Diretoria Regional de Educação - Butantã,0.027095,0.027095,0.027095
Diretoria Regional de Educação - São Mateus,0.021710,0.021710,0.021710
Diretoria Regional de Educação - Guaianases,0.013280,0.013280,0.013280
Diretoria Regional de Educação - São Miguel,0.012300,0.012300,0.012300
Diretoria Regional de Educação - Itaquera,0.006240,0.006240,0.006240
Diretoria Regional de Educação - Santo Amaro,0.003240,0.003240,0.003240

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          10.788179      9.045793      9.126208

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              10.788179      9.045793      9.126208

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
TOKA EVENTOS ARTISTICOS EIRELI,0.702000,0.636000,0.636000
COOPERATIVA PAULISTA DE TEATRO,0.564000,0.548800,0.548800
CONFEDERAÇÃO BRASILEIRA DE ARTES MARCIAIS CHINESAS - KUNG FU,0.630115,0.381328,0.381328
BAIOQUE PRODUCOES ARTISTICAS LTDA - ME,0.350000,0.350000,0.350000
FEDERAÇÃO DO DESPORTO ESCOLAR DO ESTADO DE SÃO PAULO,0.330915,0.279311,0.279311
BOLZAN E ASCHENBACH EVENTOS LTDA,0.276000,0.276000,0.276000
FEDERAÇÃO PAULISTA DE KARATE,0.258095,0.208461,0.208461
NAJARA CINE VIDEO E EVENTOS LTDA,0.603800,0.200200,0.200200
FEDERAÇÃO PAULISTA DE ARTES MARCIAIS INTERESTILOS,0.223940,0.194742,0.194742
RIGMATOUR EVENTOS E TURISMO LTDA - ME,0.175000,0.175000,0.175000
CARLOS NAVAS PRODUCOES EIRELI - ME,0.155000,0.155000,0.155000
DANIEL DE SOUZA LIMA 22328226809,0.150000,0.150000,0.150000
COOPERATIVA DE TRABALHO DOS PROFISSIONAIS DE MUSICA DE SAO PAULO,0.144000,0.136000,0.136000
GRIMARK EVENTOS LTDA - ME,0.130000,0.130000,0.130000
CASA FORTE SP PRODUCOES ARTISTICAS LTDA - ME,0.120000,0.120000,0.120000
SINGLE PRODUCOES E EVENTOS ARTISTICOS EIRELI,0.119000,0.119000,0.119000
XLEVY PRODUÇÕES ARTISTICAS LTDA,0.115000,0.115000,0.115000
CRIOLA FILMES E PRODUCOES ARTISTICAS LTDA-ME,0.112000,0.112000,0.112000
MM & ETF PROMOÇÃO E PUBLICIDADE LTDA - ME,0.110000,0.110000,0.110000
BRANCO EVENTOS LTDA,0.107000,0.107000,0.107000
GIRANDOLA PRODUCOES ARTISTICAS EIRELI,0.104000,0.104000,0.104000
"FEDERAÇÃO PAULISTA DE KUNG FU, WUSHU E KUOSHU TRADICIONAL",0.123909,0.099558,0.099558
LUIZ LOBATO DA SILVA 22078012840,0.094800,0.094800,0.094800
AGO LONA,0.150000,0.075000,0.075000
PAULO MARCOS FALCO DE BRITO PRODUÇÕES ARTISTICAS - ME,0.072000,0.072000,0.072000
SAZARTE PRODUÇÕES LTDA,0.070000,0.070000,0.070000
T.T. SOMAIO PRODUÇÕES ARTÍSTICAS E CULTURAIS,0.069000,0.069000,0.069000
ADRIANY DE SOUSA MOTA,0.068808,0.062220,0.068076
DENIS DA SILVA SANTOS,0.065000,0.065000,0.065000
MARCELO BESSA DE LIMA,0.060756,0.054534,0.060390
...,...,...,...
WANDERLEY MARTINI JUNIOR SARGENTO,0.000168,0.000168,0.000168
VILMA MAXIMIANO VIEIRA,0.000780,0.000120,0.000120
SHEILA APARECIDA DA SILVA OLIVEIRA,0.000780,0.000120,0.000120
LUCAS MICHELÃO,0.000900,0.000120,0.000120
HELIO DAMIAO SOARES DA SILVA,0.000900,0.000120,0.000120
MARCIA JESUS DA SILVA GARCIA,0.000780,0.000120,0.000120
ALEXANDRE GOMES DE ANDRADE,0.000900,0.000075,0.000075
ROSEMARY DELMONDES SILVA,0.000900,0.000060,0.000060
FABIANA SILVA FERREIRA,0.000780,0.000060,0.000060
MARCELO VIEIRA DA SILVA,0.000900,0.000000,0.000000
HEITOR RIMAN,0.000780,0.000000,0.000000
FERNANDA DA SILVA,0.000420,0.000000,0.000000
SILVIO ROBERTO VIEIRA DOS SANTOS FILHO,0.000672,0.000000,0.000000
ADNAIELY LACERDA DE JESUS OLIVEIRA,0.000780,0.000000,0.000000
DANIELA FRANCISCA GOMES,0.000780,0.000000,0.000000
ANA MARIA MACHADO DE JESUS,0.001344,0.000000,0.000000
CHISLEINE APARECIDA RESCA,0.000780,0.000000,0.000000
JADE CONDUTA LOCKMANN ARAUJO DA ANUNCIAÇÃO,0.000780,0.000000,0.000000
DANIEL MACHADO TORRIGO,0.001330,0.000000,0.000000
GLEDSON OLIVEIRA ALVES CORREIA,0.000378,0.000000,0.000000
LARYSSA MOTTA DE SANTANA,0.000780,0.000000,0.000000
FABIANA APARECIDA DE LIMA CALIAN,0.000780,0.000000,0.000000
LUANA FORMIGONI,0.000780,0.000000,0.000000
ALINE SILVA DOS SANTOS,0.000336,0.000000,0.000000
SUELEN CRISTINA SANTOS PAULA,0.000780,0.000000,0.000000
ALZENIR ROBERTA DA SILVA SOUZA,0.000780,0.000000,0.000000
TATIANE RUIZ FALCONI,0.000780,0.000000,0.000000
ALBERTINA DE CAMPOS TOLEDO LIMA,0.001330,0.000000,0.000000
LILIAN ROSA DE AGUIAR,0.000900,0.000000,0.000000
GABRIELA GASPARINI DO SANTOS,0.000420,0.000000,0.000000

                                                                                         txtObjetoContrato
2003                                                      CONTRATAÇÃO DE OFICINEIRO - EXETENSÃO DE JORNADA
2005                                                       CONTRATAÇÃO DE OFICINEIRO - EXTENSÃO DE JORNADA
2205          CONTRATAÇÃO DE OFICINEIROS - EXTENSÃO DE JORNADA NOS CEUs PERIODO DE 05/06/2017 À 31/08/2017
2209         CONTRATAÇÃO DE OFICINEIROS - EXTENSÃO DE JORNADA NOS CEU'S PERÍODO DE 05/06/2017 A 31/08/2017
2210       CONTRATAÇAO DE OFICINEIROS - EXTENSÃO DE JORNADA NOS CEUS NO PERÍODO DE 05/06/2017 A 31/08/2017
2236                                                       Contratação de Oficineiro - Extensão de Jornada
2240                                               Contratação oficineiros - Extensão de Jornada nos CEUS
2269                                                      CONTRATAÇÃO DE OFICINEIROS - EXENSÃO DE JORNADA.
2270                                                     CONTRATAÇÃO DE OFICINEIROS - EXTENSÃO DE JORNADA.
2609            CONTRATAÇÃO DE OFICINEIROS PARA O PROGRAMA EXTENSÃO DE JORNADA  DOS ALUNOS NOS CEUs E CECI
2681                             PRESTAÇÃO DE SERVIÇO COMO OFICINEIRO NO PROGRAMA EXTENSÃO DE JORNADA/2017
2686                             Prestação de serviço como oficineiro no Programa Extensão de Jornada/2017
2689                           PRESTAÇÃO DE SERVIÇO COMO OFICINEIRO NO PROGRAMA EXTENSÃO DE JORNADA/2017\n
2696                             Prestação de serviço como Oficineiro no Programa Extensão de Jornada/2017
2715             CONTRATAÇÃO DE OFICINEIROS PARA O PROGRAMA EXTENSÃO DE JORNADA DOS ALUNOS NOS CEUs E CECI
3064                        Apresentações do Espetáculo “REISADO DA BORBOLETA, DO MARACUJÁ E DO PICA-PAU”
3593                    CONTRATAÇÃO DE AGENTE DE RECREAÇÃO PARA O PROJETO RECREIO NAS FÉRIAS - JULHO/2017.
3594                     CONTRATAÇÃO DE AGENTE DE RECREAÇÃO PAR O PROJETO RECREIO NAS FÉRIAS - JULHO/2017.
3602   PR-SM(S.MATEUS) – PR-VP/SB (SAPOPEMBA) – CONTRATAÇÃO DE COORDENADORES DE POLO - RECREIO NAS FÉRI...
3607   PR-SM(S.MATEUS) – PR-VP/SB (SAPOPEMBA) – CONTRATAÇÃO DE AGENTE DE RECREAÇÃO -  RECREIO NAS FÉRIA...
3644                                        CONTRATAÇÃO DE AGENTES DE POLO - RECREIO NAS FÉRIAS JULHO/2017
3760                                              CONTRATAÇÃO DE AGENTE RECREATIVO PARA RECREIO NAS FÉRIAS
3843   Contratação de Agente Recreativo para Recreio nas Férias - Edição Julho/2017 - Período de 10/07 ...
4703                                                                                 CONTRATAÇÃO ARTISTICA
4918   CONTRATAÇÃO DE APRESENTAÇÃO ARTÍSTICA DE CONTAÇÃO DE HISTÓRIA “A BARCA DA TARTARUGA & OUTRAS HIS...
4920                                                           Programação Artística e Cultural  dos  CEUs
4930                                                             Programação Artística e Cultural dos CEUs
4937                                                                     CONTRATAÇÃO ARTÍSTICA\r\n\r\n\r\n
4939                                                     Programação Artística e Cultural dos CEUs\r\n\r\n
4945                                                                                 CONTRATAÇÃO ARTÍSTICA
...                                                                                                    ...
58212                                             CONTRATAÇÃO DE AGENTE RECREATIVO - EDIÇÃO JANEIRO 2017\n
58309                                              Contratação de oficineiro-recreio nas férias .-Jan/2017
58312                                                                                               agente
58313                                    Contratação de Coordenador de Polo -Recreio nas Ferias - Jan/2017
58318                                    Contratação de Agente de Recreação -Recreio nas Ferias - jan/2017
58331                                      Contratação de Coordenador de Polo -Recreio nas Ferias jan/2017
58335                                       Contratação de Agente de Recreação-Recreio nas Férias-jan/2017
58338                            CONTRATAÇÃO DE AGENTE DE RECREAÇÃO PARA O RECREIO NAS FÉRIAS JANEIRO 2017
58367                                               Contratação de Oficineiro -Recreio nas Ferias -Jan2017
58376  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
58487                   Contratação de coordenador de pólo - Recreio nas Férias - edição - Janeiro/ 2.017.
58503  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
58573          PRESTAÇÃO DE SERVIÇOS DE AGENTE DE RECREAÇÃO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/ 2017
58632                          CONTRATAÇÃO DE COORDENADORES DE POLO PARA O RECREIO NAS FÉRIAS JANEIRO 2017
58639                                    CONTRATAÇÃO DE OFICINEIROS PARA O RECREIO NAS FÉRIAS JANEIRO 2017
58657                                                                     CONTRATAÇÃO DE AGENTE RECREATIVO
58805          PRESTAÇÃO DE SERVIÇOS DE COORDENADOR DE PÓLO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017
58851                   PRESTAÇÃO DE SERVIÇOS DE OFICINEIRO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017
58868                                                 Locação de Brinquedos Infláveis - Recreio nas Férias
58877  PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
59037                                              CONTRATAÇÃO DE AGENTE DE RECREAÇÃO - RECREIO NAS FERIAS
59109  CONTRATAÇÃO DE COORDENADOR DE POLO PARA COORDENAR AS ATIVIDADES LÚDICAS, CULTURAIS, RECREATIVAS,...
59149                                                           Programa Recreio nas Férias - Janeiro 2017
59150                                         Apresentações do Espetáculo “A Menina, o Príncipe e a Noite”
59151                                                       Apresentações do Espetáculo “Bichos do Brasil”
59153                                                      Apresentações do Espetáculo “Cadê Meu Nariz?¿¿”
59156                           Apresentações do Espetáculo “O Príncipe Medroso e Outros Contos Africanos”
59157                                                    Apresentações do Espetáculo “Circo de Variedades”
59165                                         Apresentações do Espetáculo “CONTO UM CANTO, CANTO UM CONTO"
59174                                                      Apresentações do Espetáculo “Somos Cromossomos”

[383 rows x 1 columns]

## 3.3. Outros?

# 4. Uniformes e materiais escolares

## 4.1. Uniformes

#### Checar filtro: pode estar sub representado

In [52]:
uniformes_filter = empenhos_df['txtDescricaoItemDespesa'].str.contains('uniforme', case=False)
uniformes = (empenhos_df[uniformes_filter])
empenhos_df.loc[uniformes_filter, 'cat_1'] = 'uniforme_materiais'
empenhos_df.loc[uniformes_filter, 'cat_2'] = 'uniforme'
groupSum(uniformes)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,300.02518,101.825344,203.651681

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             300.02518    101.825344    203.651681

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
"Material, Bem ou Serviço para Distribuição Gratuita",299.956901,101.765057,203.583401
Material de Consumo,0.035434,0.027442,0.035434
Outros Serviços de Terceiros -Pessoa Jurídica,0.032845,0.032845,0.032845

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 300.02518    101.825344    203.651681

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Uniforme Escolar,299.956901,101.765057,203.583401
"Uniformes, Camisas, Coletes e Outros",0.032845,0.032845,0.032845
"Diversos Uniformes, Tecidos e Aviamentos",0.025565,0.017573,0.025565
Uniformes Esportivos,0.009870,0.009870,0.009870

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,300.017183,101.817347,203.643683
Suporte Administrativo,0.007997,0.007997,0.007997

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Fornecimento de Uniformes e Material Escolar,299.956901,101.765057,203.583401
Operação e Manutenção do Sistema Municipal de Ensino,0.033788,0.025796,0.033788
Ações e materiais de apoio Didático-Pedagógico Educacional,0.016921,0.016921,0.016921
Ampliação da jornada escolar - Programa Mais Educação,0.009572,0.009572,0.009572
Administração da Unidade,0.007997,0.007997,0.007997

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Outros Materiais de Distribuição Gratuita,299.956901,101.765057,203.583401
"Uniformes, Tecidos e Aviamentos",0.035434,0.027442,0.035434
"Confecção de Uniformes, Bandeiras e Flâmulas",0.032845,0.032845,0.032845

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica               299.990689    101.790853    203.617189
Administração Geral             0.034491      0.034491      0.034491

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,299.966473,101.774629,203.592974
Diretoria Regional de Educação - Penha,0.017870,0.017870,0.017870
Diretoria Regional de Educação Capela do Socorro,0.015924,0.015924,0.015924
Diretoria Regional de Educação - Ipiranga,0.013064,0.005071,0.013064
Diretoria Regional de Educação - Santo Amaro,0.011850,0.011850,0.011850

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          300.02518    101.825344    203.651681

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              300.02518    101.825344    203.651681

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
EBN COMERCIO IMPORTACAO E EXPORTACAO S/A,107.089565,36.572437,72.334200
NILCATEX TEXTIL LTDA,94.554172,24.173376,48.606697
BRINK MOBIL EQUIPAMENTOS EDUCACIONAIS LTDA,38.947337,19.286998,38.947337
R.R.INDUSTRIA E COMERCIO DE MALHAS LTDA,19.607706,9.709875,19.607706
LT GLOBAL COMERCIO E SERVIÇOS EIRELI - ME,18.161577,6.253990,12.450629
LOTUS COMERCIO LTDA - ME,16.330650,4.312548,8.613858
BRASILSUL INDUSTRIA E COMERCIO LTDA - EPP,3.799922,1.240188,2.621697
PLANETA EDUCACIONAL COMERCIO E CONFECCAO LTDA,0.598229,0.215644,0.401277
SPEZIA COMERCIAL DE MATERIAIS E SUPRIMENTOS EIRELI - ME,0.016258,0.016258,0.016258
GIMED CONFECÇÕES HOSPITALARES LTDA - EPP,0.008000,0.008000,0.008000
PERSIANAS NOVA AMERICA LTDA,0.007997,0.007997,0.007997
JOÃO ROMERA MORENO INFORMÁTICA - ME,0.007992,0.000000,0.007992
ORION VISION - COMERCIAL LTDA - EPP,0.007926,0.007926,0.007926
HELDE EWERTON ALMEIDA DE AZEVEDO 05612426402,0.006990,0.006990,0.006990
LUZIÂNIA COMÉRCIO E SERVIÇOS EIRELI - EPP,0.005164,0.005164,0.005164
FERNANDO UNIFORMES EIRELI - EPP,0.005071,0.005071,0.005071
GHC UNIFORMES PROFISSIONAIS LTDA - EPP,0.002880,0.002880,0.002880
THONY PRINT EDITORA GRAFICA LTDA - ME,0.867742,0.000000,0.000000

                                                                                         txtObjetoContrato
361                                                                                   Aquisição de tecidos
4689                                                                   INSTALAÇÃO E  CONFECÇÃO DE CORTINAS
4721                                                                         Aquisição de uniforme escolar
4793                                                            Aquisição de uniforme escolar lote 04 e 06
4846                                                                     Aquisição de kit uniforme escolar
4986                                                                        aquisição de camiseta e colete
8353                                        CONFECÇÃO DE CAMISETAS PARA O TORNEIO DE XADREZ – DRE IPIRANGA
9311                                               AQUISIÇÃO DE KITS DE UNIFORME ESCOLAR LOTES 01, 03 E 05
9314                                               Aquisição de Kits de uniforme escolar lotes 01, 03 e 05
9324                                               Aquisição de kits de uniforme escolar lotes 01, 03 e 05
9586                                                   Aquisição de kits de uniforme escolar lotes 04 e 06
14713                                      Contratação de empresa especializada em reformas de colchonetes
34040  DL- Serviços para confecção de material de apoio ao evento Clube do Xadrez, Movimento Educativo ...
40009                                                                 Aquisição de Kit de Uniforme Escolar
40057                                                                    AQUISIÇÃO DE KIT UNIFORME ESCOLAR
40096                                                                Aquisição de Kit de Uniforme Escolar
46696                                                aquisição de camisetas e polos para torneio de xadrez
46793  DL- Aquisição de materiais e serviços para os Eventos FESTGIN, Movimento Educativo de Xadrez e T...
47089                                                                               AQUISIÇÃO DE BABADORES
52359                                 AQUISIÇÃO DE TOUCA DESCARTÁVEL, ATRAVES DA ATA DE RP135/2015  SMS-G.
53344                                                                CONFECÇÃO  DE COLETES, LONAS E XADREZ
57483                                                AQUISIÇÃO DE KITS DE UNIFORME ESCOLAR - LOTES 04 E 06
59456                               Aquisição de kits de material escolar individual lotes 01, 02, 03 e 04
59485                                                        Aquisição de kits de uniforme escolar lote 02

## 4.2. Materiais

#### (escolares, esportivos, educativos, didáticos, artísticos... como subdividir?)

In [53]:
materiais_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('materia', case=False))
    &
    (~empenhos_df['txtDescricaoItemDespesa'].str.contains('comun', case=False))
    &
    (~empenhos_df['txtDescricaoItemDespesa'].str.contains('uniforme', case=False))
)
materiais = (empenhos_df[materiais_filter])
empenhos_df.loc[materiais_filter, 'cat_1'] = 'uniforme_materiais'
empenhos_df.loc[materiais_filter, 'cat_2'] = 'materiais'
groupSum(materiais)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,58.755042,26.113732,55.646292

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             58.755042     26.113732     55.646292

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
"Material, Bem ou Serviço para Distribuição Gratuita",47.821169,21.005472,45.638596
Material de Consumo,10.783596,4.957983,9.857419
Despesas de Exercícios Anteriores,0.150277,0.150277,0.150277

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 58.755042     26.113732     55.646292

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Material Escolar,47.743602,20.931055,45.564179
Material Educativo,3.883992,0.302317,3.874363
Materiais Didáticos,2.476033,2.040071,2.473633
Diversos Materiais de Limpeza e Higienização,1.362784,0.871918,1.122901
"Diversos Materiais de Cama, Mesa e Banho",0.875004,0.402524,0.826874
Diversos Materiais de Expediente,0.412113,0.360387,0.388126
Material Esportivo,0.207774,0.155505,0.197389
Diversos Materiais Farmacológicos,0.187762,0.109750,0.187762
Outros Materiais de Consumo,0.150277,0.150277,0.150277
Materiais para Impressão e Encadernação,0.671882,0.142865,0.144859
Diversos Materiais Elétricos e Eletrônicos,0.109332,0.105353,0.105353
Diversos Materiais de Proteção e Segurança,0.095710,0.095710,0.095710
Material de Proteção e Segurança de Pessoas,0.084674,0.084674,0.084674
Material Médico-Hospitalar,0.077567,0.074417,0.074417
"Oxigênio Industrial, Acetileno e Outros Materiais",0.132571,0.069719,0.073537
Diversos Materiais de Copa e Cozinha,0.068489,0.068489,0.068489
Diversos Materiais Bibliográficos Não Imobilizáveis,0.058830,0.001230,0.058830
Diversos Materiais de Acondicionamento e Embalagens,0.032493,0.032493,0.032493
"Materiais para Desenho, Topografia e Cartografia",0.028355,0.028355,0.028355
Diversos Materiais de Sinalização Visual e Afins,0.025747,0.025653,0.025655
Diversos Materiais para Manutenção de Bens Imóveis,0.015373,0.015373,0.015373
Diversos Materiais Hospitalares,0.015233,0.015230,0.015233
Materiais para Montagem de Exposição,0.007991,0.007991,0.007991
Diversos Materiais para Manutenção de Bens Móveis,0.007955,0.001955,0.007955
Diversos Materiais para Uso na Área de Informática,0.007694,0.007299,0.007694
Diversos Materiais Odontológicos,0.006948,0.006948,0.006948
Materiais para Pintura e Acabamento,0.004868,0.004868,0.004868
Diversos Materiais Festividades e Homenagens,0.001048,0.000000,0.001048
Materiais Fotográficos,0.000499,0.000499,0.000499
Diversos Materiais Químicos,0.000607,0.000427,0.000427
Material de Proteção e Segurança de Bens Públicos,0.000378,0.000378,0.000378
"Diversos Materiais para Áudio, Vídeo e Foto",0.001455,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,57.718734,25.576614,54.642282
Modernização e descentralização da gestão e prestação de serviços,0.828853,0.371663,0.828853
Suporte Administrativo,0.206378,0.164377,0.174080
"Participação, transparência e controle social da administração pública",0.001078,0.001078,0.001078

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Fornecimento de Uniformes e Material Escolar,43.717062,20.931055,41.537640
Ações e materiais de apoio Didático-Pedagógico Educacional,9.956060,1.846474,9.420489
Operação e Manutenção do Sistema Municipal de Ensino,3.383275,2.297636,3.052694
"Capacitação, Formação e Aperfeiçoamento de Servidores",0.828853,0.371663,0.828853
Ampliação da jornada escolar - Programa Mais Educação,0.603773,0.448556,0.576967
Administração da Unidade,0.206378,0.164377,0.174080
Operação e Manutenção dos Centros Educacionais Unificados,0.040250,0.039292,0.039292
Ações Complementares do Sistema Municipal de Ensino,0.017200,0.013600,0.015200
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,0.001078,0.001078,0.001078
Operação e Manutenção da UniCEU,0.001112,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Material Educacional e Cultural,47.743602,20.931055,45.564179
Material Educativo e Esportivo,4.091766,0.457822,4.071753
Outros Materiais de Consumo,2.512379,2.076417,2.509979
Material de Limpeza e Produção de Higienização,1.362784,0.871918,1.122901
"Material de Cama, Mesa e Banho",0.875004,0.402524,0.826874
Material de Expediente,1.083996,0.503252,0.532986
Material Farmacológico,0.187762,0.109750,0.187762
Material de Proteção e Segurança,0.180762,0.180762,0.180762
Material de Consumo,0.150277,0.150277,0.150277
Material Elétrico e Eletrônico,0.109332,0.105353,0.105353
Outros Materiais de Distribuição Gratuita,0.077567,0.074417,0.074417
Gás e Outros Materiais Engarrafados,0.132571,0.069719,0.073537
Material de Copa e Cozinha,0.068489,0.068489,0.068489
Material Bibliográfico Não Imobilizável,0.058830,0.001230,0.058830
Material de Acondicionamento e Embalagem,0.032493,0.032493,0.032493
Material de Sinalização Visual e Afins,0.025747,0.025653,0.025655
Material para Manutenção de Bens Imóveis,0.020241,0.020241,0.020241
Material Hospitalar,0.015233,0.015230,0.015233
Material para Manutenção de Bens Móveis,0.007955,0.001955,0.007955
Material de Processamento de Dados,0.007694,0.007299,0.007694
Material Odontológico,0.006948,0.006948,0.006948
Material para Festividades e Homenagens,0.001048,0.000000,0.001048
"Material para Áudio, Vídeo e Foto",0.001954,0.000499,0.000499
Material Químico,0.000607,0.000427,0.000427

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                       47.157789     23.281583     44.644826
Administração Geral                   10.767290      2.460486     10.172614
Formação de Recursos Humanos           0.829964      0.371663      0.828853

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,55.147769,23.660507,52.407251
Diretoria Regional de Educação Capela do Socorro,0.561995,0.542368,0.544408
Diretoria Regional de Educação - Penha,0.348548,0.345548,0.345548
Diretoria Regional de Educação - Jaçanã/Tremembé,0.344580,0.232654,0.339332
Diretoria Regional de Educação - Campo Limpo,0.321241,0.133224,0.321236
Diretoria Regional de Educação - São Miguel,0.557414,0.306702,0.316511
Diretoria Regional de Educação - Ipiranga,0.270690,0.041031,0.261515
Diretoria Regional de Educação - São Mateus,0.258059,0.138259,0.253259
Diretoria Regional de Educação - Butantã,0.246324,0.236285,0.243174
Diretoria Regional de Educação - Guaianases,0.196260,0.121262,0.196260
Diretoria Regional de Educação - Santo Amaro,0.132567,0.118212,0.132567
Diretoria Regional de Educação - Pirituba,0.172685,0.097073,0.127355
Diretoria Regional de Educação - Freguesia/Brasilândia,0.096355,0.094152,0.094330
Diretoria Regional de Educação - Itaquera,0.098168,0.044067,0.061160
Departamento de Alimentação Escolar,0.002387,0.002387,0.002387

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          58.755042     26.113732     55.646292

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              58.755042     26.113732     55.646292

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
BRINK MOBIL EQUIPAMENTOS EDUCACIONAIS LTDA,28.010818,13.565110,26.740698
ATAKA BRASIL COMERCIO E SERVIÇOS EIRELI,9.892844,4.948793,9.892844
LOGPRESS SOLUCOES GRAFICAS LTDA,4.026539,0.000000,4.026539
DUAL SYSTEM PRODUTOS E SERVIÇOS LTDA,3.523019,0.000000,3.523019
GRAFICA PRINT INDUSTRIA E EDITORA LTDA,2.779470,1.795257,2.252447
FUTURA COMERCIO DE MATERIAIS EDUCACIONAIS LTDA - EPP,1.904316,0.927924,1.904316
THONY PRINT EDITORA GRAFICA LTDA - ME,2.717415,0.898809,1.808112
ONLINE PAPELARIA E INFORMATICA EIRELI - EPP,1.191670,0.590419,1.191670
INDUSTRIA E COMERCIO COLCHOES ORTHOVIDA LTDA - EPP,0.678929,0.242895,0.626957
SPEZIA COMERCIAL DE MATERIAIS E SUPRIMENTOS EIRELI - ME,0.540511,0.435086,0.540498
PRIME STOP COMERCIAL LTDA - ME,0.377421,0.377421,0.377421
MOMILLI COMERCIAL LTDA - EPP,0.574658,0.236756,0.339734
INFO-SIG COMÉRCIO DE SUPRIMENTOS DE INFORMÁTICA LTDA.,0.301925,0.301925,0.301925
INNOVARY FUTURE COMERCIAL LTDA - ME,0.157742,0.143753,0.157742
INDUSTRIA E COMERCIO DE COLCHOES POLAR LTDA,0.124355,0.000000,0.124355
RELAFLEX INDUSTRIA E COMERCIO DE COLCHOES EIRELI - EPP,0.106500,0.106500,0.106500
MEDPOA COMERCIO DE MATERIAL HOSPITALAR LTDA,0.101206,0.101203,0.101206
AMÉRICA SERVE LIMPEZA E SERVIÇOS LTDA.,0.097586,0.097581,0.097581
FEIRA LIVRO COMERCIO LTDA,0.089070,0.089070,0.089070
COMERCIAL CENTER VALLE LTDA,0.084009,0.005997,0.084009
LUMINUS COMERCIAL ELETRICA LTDA - EPP,0.075000,0.075000,0.075000
METALPLAY INDÚSTRIA E COMÉRCIO LTDA EPP,0.071267,0.071267,0.071267
TERRÃO COMÉRCIO E REPRESENTAÇÕES EIRELI,0.063353,0.063353,0.063353
TONI CARLOS PEREIRA COMERCIO DE LIVROS,0.061207,0.061207,0.061207
PATRICIA C R MUCEDULA BRINQUEDOS PEDAGOGICOS ME,0.056832,0.056832,0.056832
AMAD-COMERCIO E TRANSPORTE DE GÁS LTDA - EPP,0.107859,0.052450,0.056090
IMPRENSA OFICIAL DO ESTADO S/A IMESP,0.054590,0.054589,0.054589
CTIS TECNOLOGIA S.A.,0.049812,0.049763,0.049763
MAROUN SLEIMAN MOVEIS E COLCHOES LTDA - EPP,0.046956,0.046956,0.046956
ML RODRIGUES COMERCIAL LTDA. - ME,0.046176,0.035489,0.046176
...,...,...,...
SANDRA REGINA MIQUE DA SILVA - ME,0.000750,0.000750,0.000750
JOSINALDO EPIFANIO DA SILVA ME,0.000735,0.000735,0.000735
JOAO MATOS DA SILVA 07555612879,0.000700,0.000700,0.000700
AGUIA COMERCIO DE EQUIPAMENTOS EIRELI - ME,0.000684,0.000684,0.000684
MED SHAPE COMERCIO E PRODUTOS PARA SAUDE EIRELI,0.000594,0.000594,0.000594
R SUPRIMENTOS LTDA-ME,0.000559,0.000559,0.000559
JOCEAN INDUSTRIA GRAFICA LTDA - ME,0.000555,0.000555,0.000555
CKW ELECTRIC INDUSTRIA E COMERCIO DE MATERIAL ELETRICO LTDA - EPP,0.000533,0.000533,0.000533
BSI BRASIL SOLUCOES INTELIGENTES LTDA-ME,0.000509,0.000000,0.000509
IDEAL INDUSTRIA E COMERCIO DE MATERIAIS ELETRICOS EIRELI - EPP,0.000489,0.000489,0.000489
RICARDO DOS SANTOS MOTTA 42365546587,0.000469,0.000469,0.000469
JEAN CARLO SIQUEIRA 40227943805,0.000453,0.000453,0.000453
LUCRATT COMER CIO E TURISMO LTDA - ME,0.000452,0.000452,0.000452
IDPROMO COMERCIAL EIRELI - EPP,0.000422,0.000422,0.000422
DIGITAL DISTRIBUIDORA COMERCIO E SERVIÇOS EIRELI - ME,0.000399,0.000399,0.000399
FERRAGENS SÃO JUDAS LTDA,0.000378,0.000378,0.000378
VITOR EDE RODRIGUES GUERIERI 45633605896,0.000368,0.000368,0.000368
AMAZONAS COMÉRCIO DE ADESIVOS E BRINDES LTDA ME,0.000390,0.000296,0.000298
GAYER MED PRODUTOS MEDICOS E ODONTOLOGICOS LTDA - ME,0.000259,0.000259,0.000259
JOÃO BOSCO DE LIMA 00025405845,0.000247,0.000247,0.000247
SANIGRAN LTDA-ME,0.000360,0.000180,0.000180
SILMARA APARECIDA VIEIRA CHAGAS GABRIEL 28057531860,0.000140,0.000140,0.000140
PAPELARIA PAPEL CARTAZ LTDA-EPP,0.000084,0.000084,0.000084
DG ENTERPRISES LTDA - ME,0.000083,0.000083,0.000083
SPACE IDENTIDADE CORPORATIVA LTDA - ME,0.000040,0.000040,0.000040
TECH MAIS IMPORTACAO LTDA,0.001455,0.000000,0.000000
CCK COMERCIAL EIRELI - EPP,0.001112,0.000000,0.000000
VEM SE DIVERTIR COM A GENTE LTDA - ME,0.005481,0.000000,0.000000
ESPORTE GLOBAL COMÉRCIO DE ARTIGOS ESPORTIVOS LTDA - ME,0.005480,0.000000,0.000000
BRINK CRIANÇA COMERCIO DE BRINQUEDOS LTDA-ME,0.005670,0.000000,0.000000

                                                                                         txtObjetoContrato
352                 DL- Aquisição de materiais de Papelaria para o RECREIO NAS FÉRIAS, edição janeiro/2018
368                      Materiais de higiene e saúde para o uso com os alunos com necessidades especiais.
379                                                                       Aquisição de brinquedos diversos
451                                            Aquisição de cartazes para divulgação do Recreio nas Férias
570                                              DL- RECREIO NAS FÉRIAS - Aquisição de Brinquedos diversos
578                                                               AQUISIÇÃO DE FRALDAS PARA USO NOS CEI'S
596                                 LOTE DE MATERIAL PEDAGÓGICO PARA O PROGRMA RECREIO NAS FÉRIAS JAN-2018
602                                      lote de material artístico RECREIO NAS FÉRIAS-EDIÇÃO DE JAN 2018
693                                           AQUISIÇÃO DE MATERIAIS ESPORTIVOS  PARA O RECREIO NAS FÉRIAS
883                                                               Impressão dos CADERNOS DA CIDADE - ALUNO
988                                                 DL- RECREIO NAS FÉRIAS - Aquisição de Jogos Educativos
999                              AQUISIÇÃO DE MATERIAL DIDÁTICO - RECREIO NAS FÉRIAS - EDIÇÃO JANEIRO/2018
1111                                    Aquisição de 100 colchonetes de repouso através da Ata 01/SME/2017
1131                                                                        Aquisição de garrafas térmicas
1422   AQUISIÇÃO DE LUVAS DESCARTAVÉIS, CONFORME ATA DE RP 41/SME/2016 - VOLPI DISTRIBUIDORA DE DROGAS ...
1437   AQUISIÇÃO DE LENÇOIS PARA MACA, CONFORME ATA DE RP, 43/SME/2016 - BEM MED COMERCIO ATACADISTA DE...
1438   AQUISIÇÃO DE ÁLCOOL GEL, CONFORME ATA DE RP 40/SME/2016 - MEDPOA COMERCIO DE MATERIAL HOSPITALAR...
2834                                                                    Aquisição de materiais de elétrica
3331   Aquisição de Gás Liquefeito de Petróleo - G.L.P., Botijão de 13KG e Cilindro de 45Kg, através da...
3416                                                                              AQUISIÇÃO DE COLCHONETES
3506   contratação através de dispensa de licitação a empresa Innovary Future Comercial Ltda - ME, insc...
3532   contratação através de dispensa de licitação a empresa Spezia Comercial de Materiais e Supriment...
3550                                     AQUISIÇÃO DE MATERIAIS DE CONSUMO - RECREIO NAS FÉRIAS JULHO/2017
3700                                 AQUISIÇÃO DE MATERIAL DIDÁTICO - RECREIO NAS FÉRIAS EDIÇÃO JULHO/2017
3727                       AQUISIÇÃO DE MATERIAL DIDÁTICO - RECREIO NAS FÉRIAS-EDIÇÃO JULHO/2017 - ITEM 11
3801                             Aquisição de Material Esportivo - Recreio nas Férias - Edição Julho/2017.
4028                                                 AQUISIÇÃO DE MATERIAL DE EXPEDIENTE I - EMPRESA GHAIA
4060                                          AQUISIÇÃO DE MATERIAL DE EXPEDIENTE II - EMPRESA RT COMÉRCIO
4064                          AQUISIÇÃO DE MATERIAL DE EXPEDIENTE - CORDÃO PARA CRACHÁ - EMPRESA ID PROMO
4111                                                 AQUISIÇÃO DE MATERIAL DE EXPEDIENTE IV - EMPRESA SLIM
...                                                                                                    ...
53847                                                         MATERIAL ESPORTIVO PARA O RECREIO NAS FERIAS
53909                                                      MATERIAL DE PAPELARIA PARA O RECREIO NAS FÉRIAS
53912  SP/SR - AQUISIÇÃO DE MATERIAL DE EXPEDIENTE PARA O PROGRAMA RECREIO NAS FÉRIAS - COTAÇÃO Nº 017/...
53966  contratação através de dispensa de licitação a empresa Spezia Comercial de Materiais e Supriment...
54125                                 Aquisição de Jogos Educativos para o Recreio nas Férias - Julho/2017
54149                                                             AQUISIÇÃO DE ROLOS DE ALGODÃO HIDRÓFILO.
54157                              AT ARP 001/SMG/COBES-2017 - Aquisição de gás GLP em cilindros de 45 KG.
54569                                                               Aquisição de cilindros de gás de 45 kg
54604                                                      AQUISIÇÃO DE JOGOS DE TABULEIRO - JOGO DA ONÇA.
54610                                                              Aquisição de compressas de gaze estéril
54675                                                                 Aquisição de Divisórias e Acessórios
54849   AUTORIZO a contratação através de dispensa de licitação a empresa FHB Comercial Eletrônica Ltda...
56363                                                                                          SABÃO EM PO
56496                                                                              AQUISIÇÃO DE GIZ BRANCO
56797                                                                         Aquisição de luvas de látex.
56921                                                         AQUISIÇÃO DE KIT MATERIAL ESCOLAR INDIVIDUAL
56996                                                  ADESÃO A ATA DE RP 41/SME/2016 - AQUISIÇÃO DE LUVAS
57033                      SP/MP AQUISIÇÃO DE MATERIAL DE EXPEDIENTE PARA FORMAÇÃO DE SERVIDORES NA DRE MP
57119                                                               Aquisição de papel Offset TP Chambrill
57194                                                           AQUISIÇÃO DE MATERIAIS DE LIMPEZA DIVERSOS
57413                                                                            Aquisição de kit babador.
57497                                                                  Aquisição de etiquetas autoadesivas
57504  DL- AQUISIÇAO DE LUVAS LATES PARA PROCEDIMENTOS NÃO CIRURGICO, EMBALAGEM COM 100 UNIDADEES PARA ...
57508                               ATA RP 9/SMG/COBES-16 - CAPA DE PAPELÃO PARA PROCESSOS ADMINISTRATIVOS
57509          ATA RP 10-SMG/COBES-2016 - AQUISIÇÃO DE CAPA PLÁSTICA - PVC- PARA PROCESSOS ADMINISTRATIVOS
57518                                                           AQUISIÇÃO DE COLCHOES DE ESPUMA PARA BERÇO
57526           DL- AQUISIÇÃO DE ÁGUA SANITARIA e SABÃO EM PEDRA PARA USO DAS UNIDADES ESCOLARES DA DRESA.
57583                                                                Aparelho telefonico com fio e sem fio
58508                                                            Aquisição de kit de material escolar EMEI
59483                               Aquisição de kits de material escolar individual lotes 01, 02, 03 e 04

[418 rows x 1 columns]

# 5. Parcerias

In [54]:
parcerias_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('convênio', case=False))
    &
    ~(empenhos_df['txtDescricaoItemDespesa'].str.contains('qualificação profissional', case=False))
    &
    ~(empenhos_df['txtDescricaoItemDespesa'].str.contains('conferências', case=False))
)
parcerias = (empenhos_df[parcerias_filter])
empenhos_df.loc[parcerias_filter, 'cat_1'] = 'parcerias'
# empenhos_df.loc[parcerias_filter, 'cat_2'] = ''
groupSum(parcerias)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,2292.424092,2004.240927,2013.787685

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes           2292.424092   2004.240927   2013.787685

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,2292.424092,2004.240927,2013.787685

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal               2283.978007   2001.647192   2011.023143
Transferências Federais            8.446086      2.593735      2.764542

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Convênio - Creche,2230.700574,1955.371328,1964.544610
"Convênios - Alfabetização, Educação e Outros",46.247443,40.399999,40.655594
Convênios - Portadores de Deficiência,15.476076,8.469600,8.587481

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,2232.936045,1957.070104,1966.243386
Direitos da pessoa com deficiência,47.550230,36.483657,36.601538
Superação da extrema pobreza,11.937817,10.687166,10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo,2228.235843,1954.064406,1962.607936
Educação Especial - Aprender sem limite,32.364774,28.047264,28.047264
Alfabetização de Jovens e Adultos,11.937817,10.687166,10.942761
Convênios para Atendimento de Crianças e Adolescentes com necessidades,15.185455,8.436392,8.554274
Operação e Manutenção do Sistema Municipal de Ensino,3.572491,2.972491,2.972491
E3863 - Programa Destinado à Ampliação e Qualificação da Primeira Infâ,0.815673,0.000000,0.629752
Transferência de Recursos Financeiros para as Unidades Educacionais,0.312040,0.033207,0.033207

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Creches e Assistência Pré-Escolar,2230.700574,1955.371328,1964.544610
Serviços de Apoio ao Ensino,61.723519,48.869598,49.243075

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Infantil            2229.051515   1954.064406   1963.237688
Educação Especial              47.550230     36.483657     36.601538
Ensino Fundamental             11.937817     10.687166     10.942761
Educação Básica                 3.884530      3.005698      3.005698

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,211.128657,198.508353,199.366757
Diretoria Regional de Educação - Guaianases,273.353338,195.805506,195.783704
Diretoria Regional de Educação - São Miguel,191.131776,187.042496,187.524018
Diretoria Regional de Educação - Pirituba,173.658696,167.766596,167.828934
Diretoria Regional de Educação - Freguesia/Brasilândia,193.370990,161.123885,161.123885
Diretoria Regional de Educação - Ipiranga,162.784893,157.419697,157.556162
Diretoria Regional de Educação - Itaquera,185.470959,156.606269,156.914577
Diretoria Regional de Educação - Penha,149.866191,142.346145,142.346145
Diretoria Regional de Educação - São Mateus,148.360836,118.086611,118.126438
Diretoria Regional de Educação - Santo Amaro,117.123047,111.536157,111.755805
Diretoria Regional de Educação - Jaçanã/Tremembé,118.685536,109.266639,109.273212
Diretoria Regional de Educação - Capela do Socorro,103.449359,87.027545,87.027545
Diretoria Regional de Educação Capela do Socorro,88.768512,81.217267,81.367174
Diretoria Regional de Educação - Butantã,90.626633,79.185193,79.189233
Gabinete do Secretário,84.644668,51.302568,58.604096

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes        2292.424092   2004.240927   2013.787685

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,2292.424092,2004.240927,2013.787685

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SOCIEDADE BENEFICIENTE EQUILIBRIO DE INTERLAGOS,42.737749,36.517114,36.568171
CRUZADA PRO INFANCIA,33.450280,31.354406,31.354406
SPDM-ASSOCIAÇÃO PAULISTA PARA O DESENVOLVIMENTO DA MEDICINA,32.364774,28.047264,28.047264
CENTRO SOCIAL NOSSA SENHORA DO BOM PARTO,28.229937,23.636730,23.636730
CARITAS DIOCESANA DE CAMPO LIMPO-CDCL,23.977510,21.997971,22.109361
UNAS - UNIAO DE NUCLEOS ASSOCIACOES DOS MORADORES DE HELIOPOLIS E REGIAO,22.568385,21.621270,21.625205
INSTITUTO CRIANÇA CIDADÂ,18.914968,17.682746,17.682746
CENTRO DE ASSISTÊNCIA E PROMOÇÃO SOCIAL NOSSO LAR,20.532360,17.517496,17.517496
SOCIEDADE BENEFICENTE SÃO CAMILO,20.752715,16.580584,16.580584
C.A.S.A.S. - CENTRO DE APOIO A SAUDE E ASSISTENCIA SOCIAL,16.627836,15.860197,15.925148
ASSOCIAÇÃO SÃO SABAS DE FILANTROPIA,15.965346,14.116654,14.478218
SOCIEDADE EDUCATIVA E BENEFICENTE ESTRELA DA ESPERANÇA,16.445365,13.814927,13.814927
CEDEJI - CENTRO EDUCACIONAL DE DESENVOLVIMENTO JUVENIL E INFANTIL,14.837746,13.765703,13.765703
ASSOCIAÇÃO CEDRO DO LIBANO DE PROTEÇÃO À INFÂNCIA,12.928359,12.771434,12.771434
ASSOCIAÇÃO SEARA NORTE,14.273992,11.483260,11.483260
ICEDEH-INSTITUTO EDUCACIONAL E DE DEFESA DOS DIREITOS HUMANOS - CORA CORALINA,12.380065,11.442670,11.399974
OBRA ASSISTENCIAL NOSSA SENHORA DO O,12.514542,11.234189,11.234189
NUCLEO ASSISTENCIAL FRATERNO,15.484831,11.083465,11.083465
LIGA DAS SENHORAS CATOLICAS DE SÃO PAULO,12.743511,10.718279,10.718279
INSTITUTO BENEFICENTE PERSIO GUIMARAES AZEVEDO,10.568354,10.509678,10.509678
ASSOCIAÇÃO ÁGUAS MARINHA,11.705560,10.474272,10.474272
ASSOCIAÇÃO CENTRO SOCIAL BROOKLIN PAULISTA,10.593808,10.004849,10.071216
ACAO SOCIAL COMUNITARIA DO LAGEADO JOILSON DE JESUS,15.076075,9.439119,9.439119
INSTITUTO EDUCACIONAL PAIS E FILHOS,9.393201,9.303451,9.303451
GREMIO AMIGOS DIAS FELIZES,9.349912,9.203082,9.203082
GALPÃO ATRIA BRASIL,11.906963,9.009041,9.009041
IESP - INSTITUTO EDUCAR DE SÃO PAULO,10.435716,8.838463,8.986326
INSTITUTO CEM POR CENTO SOCIAL,10.418738,8.776540,8.776540
ASSOCIAÇÃO EVANGELICA BENEFICENTE,9.098005,8.593060,8.593513
ACRIA - ASSOCIAÇÃO AMIGA DA CRIANÇA E DO ADOLESCENTE,10.221343,8.215176,8.444675
...,...,...,...
ASSOCIAÇÃO ANJOS DA PAZ DA VILA SANTISTA,0.024243,0.019048,0.019048
A ALTERNATIVA ASSOCIAÇÃO DE ASSISTÊNCIA AO EXCEPCIONAL,0.059918,0.017232,0.018896
LAREIRA - INSTITUIÇÃO MONSENHOR BENEDICTO MARIO CALAZANS-A SERVIÇO DA FAMILIA,0.025528,0.018498,0.018783
SOBEOM - SOCIEDADE BENEFICENTE OSVALDO MOREIRA DO JD SÃO JORGE,0.016883,0.016566,0.016566
CENTRO DE EDUCAÇÃO E ORGANIZACÃO POPULAR,0.024474,0.015585,0.015585
APM DA EMEF PADRE ANTONIO VIEIRA,0.013651,0.013651,0.013651
UNIÃO DOS MORADORES DA FAVELA DO JD. COLOMBO,0.077508,0.007273,0.007273
ASSOC. DE PAIS E MESTRES SERVID. USUARIOS E AMIGOS DO CEU ARICANDUVA PROF IRENE GALVAO DE SOUZA,0.024688,0.000000,0.000000
INSTITUTO AMOR E UNIÃO,0.470198,0.000000,0.000000
CEI FONTE DA UNCAO CELESTIAL,0.011256,0.000000,0.000000
GRUPO DE MULHERES DE VILA FLAVIA SÃO MATEUS,1.401175,0.000000,0.000000
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA CAMINHO DA LUZ,0.178667,0.000000,0.000000
APM DA EMEF SENADOR LINO DE MATTOS,0.017247,0.000000,0.000000
APM DA EMEF JOSE AMERICO DE ALMEIDA,0.021895,0.000000,0.000000
APM DA EMEF MARECHAL MASCARENHAS DE MORAES,0.016649,0.000000,0.000000
APM DA EMEF CANDIDO PORTINARI,0.021019,0.000000,0.000000
APM DA EMEF PADRE JOSE DE ANCHIETA,0.023934,0.000000,0.000000
APM DA EMEF SEN JOSE E.DE MORAES,0.017116,0.000000,0.000000
APM - SERV. USUÁRIOS E AMIGOS DO CENTRO EDUC. UNIF MENINOS PROF. PR. ARTUR A. DE MOTA GONÇALVES.,0.017540,0.000000,0.000000
OBRA ASSISTENCIAL NOSSA SENHORA DO Ó,0.440886,0.000000,0.000000
APM DA EMEI PROF. MILTON IMPROTA,0.007560,0.000000,0.000000
CENTRO EDUCACIONAL DE DESENVOLVIMENTO JUVENIL E INFANTIL - CEDEJI,0.350343,0.000000,0.000000
NUCLEO RECREATIVO MUNDO ENCANTADO,0.369962,0.000000,0.000000
ASSOCIAÇÃO DOS ESTUDANTES DO CONJ PAULISTANO,0.360763,0.000000,0.000000
APM DA EMEF DOUTOR PEDRO ALEIXO,0.018898,0.000000,0.000000
ASSOCIAÇÃO DE PAIS E MESTRES EMEF DR. ABRÃO HUCK,0.019686,0.000000,0.000000
ASSOCIAÇÃO DE PAIS E MESTRES DA EMEI VILA EMA,0.006116,0.000000,0.000000
ASSOCIAÇÃO DE PAIS E MESTRES DA EMEF VARGEM GRANDE,0.021419,0.000000,0.000000
ASSOCIAÇÃO DE PAIS E MESTRES EMEF MURURES,0.021086,0.000000,0.000000
APM DA EMEF DOM PAULO ROLIM LOUREIRO,0.023979,0.000000,0.000000

                                                                                         txtObjetoContrato
0                                                   Contratação de Agente Recreativo - Edição Janeiro 2017
1                                                               RECREIO NAS FÉRIAS JANEIRO / 2017 - DRE/IQ
2                                      2º REPASSE PTRF/2017 – DRE-G – CUSTEIO – APM – CEU EMEF LAJEADO  \t
3      Celebração do Termo de Convênio nº 013/DRE-PJ/2015-RP para atendimento de 178 crianças, sendo 84...
4                                                                                                      NaN
5                                                PRORROGAÇÃO DE VIGÊNCIA- CEI EUGêNIO FRANCISCO DE SANTANA
9                                Repasse de Recursos do PNAE para o CEI SANTA ANGELA- CÓD. INEP 35181560\n
12     \r\nCONTRATAÇÃO DE AGENTES DE RECREAÇÃO PARA O RECREIO NAS FÉRIAS JANEIRO DE 2017 NO PERÍODO DE ...
15                                                                   CEI PRIMEIRO LAPIS - JANEIRO A AGOSTO
20                                                    PRORROGAÇÃO DE VIGÊNCIA - CEI VIRTUDE DA CRIANÇA III
23                                                                          CEI ADALGIZA COELHO DOS SANTOS
24     Repasses de recursos à APM, de acordo com a Lei Federal 9394/1996 e Portarias da SME indicando o...
27                                                               CELEBRAÇÃO DE CONVÊNIO- CEI ABC AURORA II
28                                                 CELEBRAÇÃO DE CONVÊNIO- CEI JARDIM IPANEMA I - 29/05/17
32                                 Repasse de Recursos do PNAE para o CEI AVES GALHANI- CÓD. INEP 35305534
33                                                     TERMO DE COLABORAÇÃO- CEI VITÓRIA- EM CONTINUIDADE
34                                                              TERMO DE COLABORAÇÃO - CEI FLOR DO ORIENTE
37                                                               TERMO DE COLABORAÇÃO- CEI GALPÃO ATRIA II
38                                            CELEBRAÇÃO DE TERMO DE COLABORAÇÃO- CEI REINO DOS PEQUENINOS
39                                                                CELEBRAÇÃO DE PARCERIA- CEI TRINDADE III
42                                                     CELEBRAÇÃO DE PARCERIA- CEI ESPAÇO DA COMUNIDADE VI
43                                                               CELEBRAÇÃO DE PARCERIA- CEI MARAVILHA III
46                                  CELEBRAÇÃO TERMO DE COLABORAÇÃO/PARCERIA - CEI CIDADE A.E. CARVALHO II
50                 TERMO DE COLABORAÇÃO PARA A MANUTENÇÃO DO CEI PIRAJUCARA NOS TERMOS DA PORTARIA 4548/17
55                                                                RECREIO NAS FÉRIAS JULHO / 2017 - DRE/IQ
59     Manutenção do CEI Vovó Joaninha, para atendimento de 70 crianças de 0 a 3 anos, sendo 25 de berç...
63     PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
64                          Contratação de empresa especializada em correção de redação - Simulado do ENEM
65                   520.000 Kg de Feijão Comum de Cores Carioca - Tipo 1 - ATA de RP nº 02/SME/DAE/2016\n
66     Aditamento contratual referente a prorrogação de vigência visando o atendimento a 74 crianças, s...
...                                                                                                    ...
52332                                                CONVENIO -CEI  BRILHO DO SOL V - CONTRATO EMERGENCIAL
52474                                                                   CELEBRAÇÃO DE CONVÊNIO/ CEI KAIRÓS
53212  Termo de Colaboração com a Organização da Sociedade Civil Instituto Criança Cidadã que tem por o...
53453                                                       Convênio Creche - CEI Salesiano Domingos Sávio
53949  AUTORIZO empresa Amazônia Ambiental Cons.Serv. e Constr. LTDA - ME - CNPJ nº 00.935.969/0001-54,...
54625                         CELEBRAÇÃO DE PARCERIA PARA ATENDIMENTO DE 114 CRIANÇAS, SENDO 0 DE BERÇARIO
55043                                                            TERMO DE COLABORAÇÃO - CEI PLENO VIVER II
56711                                                               CELEBRAÇÃO DE PARCERIA - CEI ANJO YURI
57099  CEI RENASCER PARA O SABER - TERMO DE COLABORAÇÃO PARA ATENDIMENTO A CRIANÇAS NA FAIXA ETÁRIA DE ...
58553                                                                          CEI CONJUNTO JOSÉ BONIFÁCIO
58557                                                                           CEI VIRTUDE DAC RIANÇA III
58567                                                                                   CEI PLENO VIVER IV
58580                                                                     CEI EUGÊNIO FRANCISCO DE SANTANA
58594                                 Aquisição de Jogos Educativos para o Recreio nas Férias - Julho/2017
58938                                                                                   CEI A. E. CARVALHO
58961                                                                                  CONVÊNIO MOVA - SP
58962                                                                            02 SALAS DE CONVENIO MOVA
59018                                                                                 CEI SEMEANDO ALEGRIA
59023                                                                 CEI CENTRO SOCIAL MARISTA ITAQUERA I
59030                                                                                 CEI MONTE CARMELO II
59041                                                                              03 SLS DO CONVÊNIO MOVA
59054                                                                                CEI MONTE CARMELO III
59064                                                                            CEI CASA DA CRIANÇA FELIZ
59067                                                                                           CEI KAIROS
59108                                                                                          CEI VITÓRIA
59710                                                           MOVA COMUNIDADE CRISTÃ DO AVIVAMENTO PLENO
59712                                                                                      MOVA SANTA ZITA
59715                                                                     MOVA CLUBE DE MÃES RAIOS DE LUAR
59730                                                                        MOVA NOSSA SENHORA DAS GRAÇAS
59746                                           CONTRATAÇÃO DE OFICINEIRO- RECREIO NAS FÉRIAS JANEIRO/2017

[923 rows x 1 columns]

## 5.1. Convênios com creches

#### Checar filtro

In [55]:
creches_filter = parcerias_filter & (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo', case=False))
)
creches = (empenhos_df[creches_filter])
empenhos_df.loc[creches_filter, 'cat_1'] = 'parcerias'
empenhos_df.loc[creches_filter, 'cat_2'] = 'creches'
groupSum(creches)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,2228.235843,1954.064406,1962.607936

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes           2228.235843   1954.064406   1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,2228.235843,1954.064406,1962.607936

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal               2219.789757   1951.470672   1959.843394
Transferências Federais            8.446086      2.593735      2.764542

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
Convênio - Creche              2228.235843   1954.064406   1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,2228.235843,1954.064406,1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo,2228.235843,1954.064406,1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Creches e Assistência Pré-Escolar,2228.235843,1954.064406,1962.607936

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Infantil            2228.235843   1954.064406   1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,208.947509,196.493778,197.352182
Diretoria Regional de Educação - Guaianases,272.658228,195.139340,195.117538
Diretoria Regional de Educação - São Miguel,189.632871,185.791027,186.245709
Diretoria Regional de Educação - Pirituba,171.742631,165.975216,165.975216
Diretoria Regional de Educação - Freguesia/Brasilândia,191.832897,159.690220,159.690220
Diretoria Regional de Educação - Ipiranga,162.083622,156.809580,156.942643
Diretoria Regional de Educação - Itaquera,184.584608,155.914009,156.196343
Diretoria Regional de Educação - Penha,149.310823,141.828572,141.828572
Diretoria Regional de Educação - São Mateus,147.244224,117.174850,117.174850
Diretoria Regional de Educação - Santo Amaro,116.346984,110.812911,110.981458
Diretoria Regional de Educação - Jaçanã/Tremembé,118.394451,109.012656,109.012656
Diretoria Regional de Educação - Capela do Socorro,101.587511,85.465696,85.465696
Diretoria Regional de Educação Capela do Socorro,87.260484,80.222002,80.336411
Diretoria Regional de Educação - Butantã,90.330234,78.915637,78.915637
Gabinete do Secretário,36.278766,14.818912,21.372805

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes        2228.235843   1954.064406   1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,2228.235843,1954.064406,1962.607936

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SOCIEDADE BENEFICIENTE EQUILIBRIO DE INTERLAGOS,42.737749,36.517114,36.568171
CRUZADA PRO INFANCIA,33.450280,31.354406,31.354406
CENTRO SOCIAL NOSSA SENHORA DO BOM PARTO,28.229937,23.636730,23.636730
CARITAS DIOCESANA DE CAMPO LIMPO-CDCL,23.759583,21.781073,21.892463
UNAS - UNIAO DE NUCLEOS ASSOCIACOES DOS MORADORES DE HELIOPOLIS E REGIAO,22.288221,21.354797,21.358498
INSTITUTO CRIANÇA CIDADÂ,18.914968,17.682746,17.682746
CENTRO DE ASSISTÊNCIA E PROMOÇÃO SOCIAL NOSSO LAR,20.532360,17.517496,17.517496
SOCIEDADE BENEFICENTE SÃO CAMILO,20.622715,16.580584,16.580584
ASSOCIAÇÃO SÃO SABAS DE FILANTROPIA,15.965346,14.116654,14.478218
C.A.S.A.S. - CENTRO DE APOIO A SAUDE E ASSISTENCIA SOCIAL,14.353111,14.055472,14.120423
SOCIEDADE EDUCATIVA E BENEFICENTE ESTRELA DA ESPERANÇA,16.445365,13.814927,13.814927
CEDEJI - CENTRO EDUCACIONAL DE DESENVOLVIMENTO JUVENIL E INFANTIL,14.837746,13.765703,13.765703
ASSOCIAÇÃO CEDRO DO LIBANO DE PROTEÇÃO À INFÂNCIA,12.928359,12.771434,12.771434
ASSOCIAÇÃO SEARA NORTE,14.273992,11.483260,11.483260
ICEDEH-INSTITUTO EDUCACIONAL E DE DEFESA DOS DIREITOS HUMANOS - CORA CORALINA,12.380065,11.442670,11.399974
OBRA ASSISTENCIAL NOSSA SENHORA DO O,12.514542,11.234189,11.234189
NUCLEO ASSISTENCIAL FRATERNO,15.484831,11.083465,11.083465
LIGA DAS SENHORAS CATOLICAS DE SÃO PAULO,12.691966,10.670659,10.670659
INSTITUTO BENEFICENTE PERSIO GUIMARAES AZEVEDO,10.568354,10.509678,10.509678
ASSOCIAÇÃO ÁGUAS MARINHA,11.705560,10.474272,10.474272
ASSOCIAÇÃO CENTRO SOCIAL BROOKLIN PAULISTA,10.593808,10.004849,10.071216
ACAO SOCIAL COMUNITARIA DO LAGEADO JOILSON DE JESUS,15.076075,9.439119,9.439119
INSTITUTO EDUCACIONAL PAIS E FILHOS,9.393201,9.303451,9.303451
GREMIO AMIGOS DIAS FELIZES,9.349912,9.203082,9.203082
GALPÃO ATRIA BRASIL,11.906963,9.009041,9.009041
IESP - INSTITUTO EDUCAR DE SÃO PAULO,10.435716,8.838463,8.986326
INSTITUTO CEM POR CENTO SOCIAL,10.418738,8.776540,8.776540
ASSOCIAÇÃO EVANGELICA BENEFICENTE,9.058178,8.553233,8.553685
ACRIA - ASSOCIAÇÃO AMIGA DA CRIANÇA E DO ADOLESCENTE,10.221343,8.215176,8.444675
FUNDAÇÃO COMUNIDADE DA GRAÇA,10.350552,8.433406,8.433406
...,...,...,...
ASSOCIAÇÃO LIVRE DA TERCEIRA IDADE DA ZONA NORTE DE SÃO PAULO,0.093131,0.092281,0.092281
INSTITUTO EDUCACIONAL NOVA ALIANÇA,0.151089,0.000000,0.088184
INSTITUTO AÇÃO E PROTEÇÃO,0.161030,0.081848,0.081848
FRATERNIDADE FREI FREDERICO,0.089981,0.000000,0.076031
ASSOCIAÇÃO EDUCACIONAL PITAGORAS,0.131185,0.000000,0.075919
ASSOCIAÇÃO BENEFICENTE CAMINHO BRILHANTE,0.074561,0.072636,0.072636
ASSOCIAÇÃO COMUNITÁRIA RENASCER DO JARDIM SÃO PEDRO,0.124526,0.000000,0.072525
ASSOCIAÇÃO FAMILIA UNIDA EM CRISTO FUEC,0.137426,0.070046,0.070046
ASSOCIAÇÃO BENEFICENTE AQUARELA,0.142676,0.068930,0.068930
INESP-INSTITUIÇÃO ESPERANÇA PARA TODOS,0.212897,0.068754,0.068754
ASSOCIAÇÃO PROTAGONISTA DO AMANHÃ,0.117392,0.003072,0.064193
INSTITUTO EDUCACIONAL SOSSEGO DA MAMÃE,0.115896,0.060948,0.060948
ASSOCIAÇÃO BENEFICENTE CONSTRUIR,0.130416,0.000000,0.060223
INSTITUTO EDUCACIONAL SER,0.060948,0.058948,0.058948
CAPES CENTRO ANHANGUERA DE PROMOÇÃO E EDUCAÇÃO SOCIAL,0.058410,0.058410,0.058410
INSTITUTO NEW KIDS,0.058754,0.058392,0.058392
ASSOCIAÇÃO DE MORADORES DA MATA VIRGEM-AMOMAV,0.056803,0.000000,0.056803
CENTRO CULTURAL GUERREIROS DE ZUMBI,0.059098,0.000000,0.056746
ASSOCIAÇÃO EDUCACIONAL CLUBE DOS LEOEZINHOS,0.055830,0.000000,0.055830
INSTITUTO BENEFICENTE ARCO IRIS,0.057569,0.054728,0.054728
ASSOCIAÇÃO BENEFICENTE E CULTURA PASSOS,0.100934,0.000000,0.048474
CENTRO SOCIAL PAROQUIAL DE SÃO GERALDO DAS PERDIZES,0.167181,0.046144,0.046144
NUCLEO RECREATIVO MUNDO ENCANTADO,0.369962,0.000000,0.000000
INSTITUTO AMOR E UNIÃO,0.470198,0.000000,0.000000
ASSOCIAÇÃO DOS ESTUDANTES DO CONJ PAULISTANO,0.360763,0.000000,0.000000
OBRA ASSISTENCIAL NOSSA SENHORA DO Ó,0.440886,0.000000,0.000000
CENTRO EDUCACIONAL DE DESENVOLVIMENTO JUVENIL E INFANTIL - CEDEJI,0.350343,0.000000,0.000000
UNIÃO DOS MORADORES DA FAVELA DO JD. COLOMBO,0.070087,0.000000,0.000000
GRUPO DE MULHERES DE VILA FLAVIA SÃO MATEUS,1.401175,0.000000,0.000000
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA CAMINHO DA LUZ,0.178667,0.000000,0.000000

                                                                                         txtObjetoContrato
0                                                   Contratação de Agente Recreativo - Edição Janeiro 2017
1                                                               RECREIO NAS FÉRIAS JANEIRO / 2017 - DRE/IQ
2                                      2º REPASSE PTRF/2017 – DRE-G – CUSTEIO – APM – CEU EMEF LAJEADO  \t
3      Celebração do Termo de Convênio nº 013/DRE-PJ/2015-RP para atendimento de 178 crianças, sendo 84...
4                                                                                                      NaN
5                                                PRORROGAÇÃO DE VIGÊNCIA- CEI EUGêNIO FRANCISCO DE SANTANA
9                                Repasse de Recursos do PNAE para o CEI SANTA ANGELA- CÓD. INEP 35181560\n
12     \r\nCONTRATAÇÃO DE AGENTES DE RECREAÇÃO PARA O RECREIO NAS FÉRIAS JANEIRO DE 2017 NO PERÍODO DE ...
15                                                                   CEI PRIMEIRO LAPIS - JANEIRO A AGOSTO
20                                                    PRORROGAÇÃO DE VIGÊNCIA - CEI VIRTUDE DA CRIANÇA III
23                                                                          CEI ADALGIZA COELHO DOS SANTOS
24     Repasses de recursos à APM, de acordo com a Lei Federal 9394/1996 e Portarias da SME indicando o...
27                                                               CELEBRAÇÃO DE CONVÊNIO- CEI ABC AURORA II
28                                                 CELEBRAÇÃO DE CONVÊNIO- CEI JARDIM IPANEMA I - 29/05/17
32                                 Repasse de Recursos do PNAE para o CEI AVES GALHANI- CÓD. INEP 35305534
33                                                     TERMO DE COLABORAÇÃO- CEI VITÓRIA- EM CONTINUIDADE
34                                                              TERMO DE COLABORAÇÃO - CEI FLOR DO ORIENTE
37                                                               TERMO DE COLABORAÇÃO- CEI GALPÃO ATRIA II
38                                            CELEBRAÇÃO DE TERMO DE COLABORAÇÃO- CEI REINO DOS PEQUENINOS
39                                                                CELEBRAÇÃO DE PARCERIA- CEI TRINDADE III
42                                                     CELEBRAÇÃO DE PARCERIA- CEI ESPAÇO DA COMUNIDADE VI
43                                                               CELEBRAÇÃO DE PARCERIA- CEI MARAVILHA III
46                                  CELEBRAÇÃO TERMO DE COLABORAÇÃO/PARCERIA - CEI CIDADE A.E. CARVALHO II
50                 TERMO DE COLABORAÇÃO PARA A MANUTENÇÃO DO CEI PIRAJUCARA NOS TERMOS DA PORTARIA 4548/17
55                                                                RECREIO NAS FÉRIAS JULHO / 2017 - DRE/IQ
59     Manutenção do CEI Vovó Joaninha, para atendimento de 70 crianças de 0 a 3 anos, sendo 25 de berç...
63     PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
64                          Contratação de empresa especializada em correção de redação - Simulado do ENEM
65                   520.000 Kg de Feijão Comum de Cores Carioca - Tipo 1 - ATA de RP nº 02/SME/DAE/2016\n
66     Aditamento contratual referente a prorrogação de vigência visando o atendimento a 74 crianças, s...
...                                                                                                    ...
50043                                                                   CONVÊNIO CEI TURMA DO BALÃO MÁGICO
50111                                                                               CEI DAMARIS CASTILHO I
50993  Celebração de Parceria em Continuidade , de acordo com a portaria 4548/2017, do Cei Noite Encant...
51059  ATENDIMENTO A CRIANÇAS NA FAIXA ETÁRIA DE 0 A 3 ANOS POR MEIO DE CRECHE/CENTRO DE EDUCAÇÃO INFAN...
51308                                                             TERMO DE COLABORAÇÃO - CEI BELEZINHA III
51646  CELEBRAÇÃO DE PARCERIA PARA ATENDIMENTO DE 113 CRIANÇAS NA FAIXA ETÁRIA DE 0 A 3 ANOS, SENDO 32 ...
51711  Atendimento por meio do CEI Vila Medeiros - Capacidade 486 Crianças sendo 109 berçário - migraçã...
52332                                                CONVENIO -CEI  BRILHO DO SOL V - CONTRATO EMERGENCIAL
52474                                                                   CELEBRAÇÃO DE CONVÊNIO/ CEI KAIRÓS
53212  Termo de Colaboração com a Organização da Sociedade Civil Instituto Criança Cidadã que tem por o...
53453                                                       Convênio Creche - CEI Salesiano Domingos Sávio
53949  AUTORIZO empresa Amazônia Ambiental Cons.Serv. e Constr. LTDA - ME - CNPJ nº 00.935.969/0001-54,...
54625                         CELEBRAÇÃO DE PARCERIA PARA ATENDIMENTO DE 114 CRIANÇAS, SENDO 0 DE BERÇARIO
55043                                                            TERMO DE COLABORAÇÃO - CEI PLENO VIVER II
56711                                                               CELEBRAÇÃO DE PARCERIA - CEI ANJO YURI
57099  CEI RENASCER PARA O SABER - TERMO DE COLABORAÇÃO PARA ATENDIMENTO A CRIANÇAS NA FAIXA ETÁRIA DE ...
58553                                                                          CEI CONJUNTO JOSÉ BONIFÁCIO
58557                                                                           CEI VIRTUDE DAC RIANÇA III
58567                                                                                   CEI PLENO VIVER IV
58580                                                                     CEI EUGÊNIO FRANCISCO DE SANTANA
58594                                 Aquisição de Jogos Educativos para o Recreio nas Férias - Julho/2017
58938                                                                                   CEI A. E. CARVALHO
59018                                                                                 CEI SEMEANDO ALEGRIA
59023                                                                 CEI CENTRO SOCIAL MARISTA ITAQUERA I
59030                                                                                 CEI MONTE CARMELO II
59054                                                                                CEI MONTE CARMELO III
59064                                                                            CEI CASA DA CRIANÇA FELIZ
59067                                                                                           CEI KAIROS
59108                                                                                          CEI VITÓRIA
59746                                           CONTRATAÇÃO DE OFICINEIRO- RECREIO NAS FÉRIAS JANEIRO/2017

[856 rows x 1 columns]

## 5.2. Educação especial

In [56]:
ed_especial_filter = parcerias_filter & (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Convênios para Atendimento de Crianças e Adolescentes com necessidades', case=False))
    |
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Educação Especial', case=False))
)
ed_especial = (empenhos_df[ed_especial_filter])
empenhos_df.loc[ed_especial_filter, 'cat_1'] = 'parcerias'
empenhos_df.loc[ed_especial_filter, 'cat_2'] = 'ed_especial'
groupSum(ed_especial)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,47.55023,36.483657,36.601538

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              47.55023     36.483657     36.601538

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,47.55023,36.483657,36.601538

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  47.55023     36.483657     36.601538

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Convênios - Alfabetização, Educação e Outros",32.364774,28.047264,28.047264
Convênios - Portadores de Deficiência,15.185455,8.436392,8.554274

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Direitos da pessoa com deficiência,47.55023,36.483657,36.601538

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Educação Especial - Aprender sem limite,32.364774,28.047264,28.047264
Convênios para Atendimento de Crianças e Adolescentes com necessidades,15.185455,8.436392,8.554274

                             valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Serviços de Apoio ao Ensino           47.55023     36.483657     36.601538

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Especial               47.55023     36.483657     36.601538

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           47.55023     36.483657     36.601538

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           47.55023     36.483657     36.601538

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,47.55023,36.483657,36.601538

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SPDM-ASSOCIAÇÃO PAULISTA PARA O DESENVOLVIMENTO DA MEDICINA,32.364774,28.047264,28.047264
ASSOCIAÇÃO DE PAIS E AMIGOS DOS EXCEPCIONAIS DE SÃO PAULO,3.939519,1.886311,1.886311
ASSOCIAÇÃO OBRAS SOCIAIS SANTA CRUZ,0.891831,0.658792,0.658792
ASSOCIAÇAO NANY APPLE EM BENEFICIO DO OBESO E CARENTE,0.943445,0.638419,0.638419
AHIMSA ASSOC EDUC PARA MULT DEFIC,0.795604,0.598979,0.598979
INSTITUTO SEVERINO FABRIANI PARA CRIANÇAS SURDAS,1.735683,0.576806,0.576806
ASSOCIAÇÃO FILHAS DE SANTA MARIA DA PROVIDENCIA,0.756604,0.519410,0.519410
ADEFAV - CENTRO DE RECURSOS EM DEFICIENCIA MULTIPLA SURDOCEGUEIRA E DEFICIENCIA VISUAL,0.684021,0.468102,0.468102
ASSOCIAÇÃO DA CASA DOS DEFICIENTES DE ERMELINO MATARAZZO,0.595999,0.416625,0.455479
CENTRO SOCIAL NOSSA SENHORA DA PENHA - CENHA,0.459374,0.395203,0.432486
CAMINHANDO NUCLEO DE EDUCAÇÃO E AÇÃO SOCIAL,0.410467,0.328279,0.328279
ASSOCIAÇÃO DE ASSISTÊNCIA A CRIANÇA DEFICIENTE,0.999677,0.271272,0.296439
INSTITUTO MATER DEI,0.275569,0.226902,0.226902
LAR MÃE DO DIVINO AMOR,0.263433,0.221253,0.221253
"INST. EFORT ACAO SOCIAL, CUL.EDUC.P. DES.ENER.INF.M.AMB. REC.H.TELECOM",0.432143,0.208738,0.208738
CENTRO DE ACAO SOCIAL ESPACO LIVRE,0.240206,0.177092,0.177092
INSTITUICAO BENEFICENTE NOSSO LAR,0.260157,0.172143,0.172143
ASSOCIAÇÃO NOVA PROJETO EDUCAÇÃO E TRABALHO PARA PESSOA ESPECIAL,0.186335,0.150650,0.150650
ASSOCIACAO BENEFICENTE GUAINUMBI,0.271216,0.141915,0.141915
LARAMARA ASSOCIAÇÃO BRASILEIRA ASSISTÊNCIA DEFIC VISUAL,0.547947,0.113171,0.128085
GRUPO BRASIL DE APOIO AO SURDOCEGO E AO MULTIPLO DEFICIENTE SENSORIAL,0.183750,0.108679,0.108679
SHALOM LIGA ISRAELITA DO BRASIL,0.122733,0.071468,0.071468
ASSOCIAÇÃO NOSSA ESCOLA,0.129823,0.068951,0.068951
A ALTERNATIVA ASSOCIAÇÃO DE ASSISTÊNCIA AO EXCEPCIONAL,0.059918,0.017232,0.018896

                                                                                         txtObjetoContrato
2238                                                                                                   NaN
8128                  CELEBRAÇÃO DE CONV. EDUCAÇÃO ESPECIAL - ASSOC. FILHAS DE SANTA MARIA DA PROVIDENCIA
8297   CELEBRAÇÃO DE CONVÊNIO EDUC. ESPECIAL - INST. SEVERINO FABRIANI PARA VRIANÇAS SURDAS (29/04/2017...
16006                     CELEBRAÇÃO DE CONVÊNIO EM CONTINUIDADE - EDUCAÇÃO ESPECIAL INSTITURTO MATER DEI
16017                          PAGTO MENSAL - INSTITUIÇÃO BENEFICENTE NOSSO LAR  (13/04/2017 À 31/12/2017)
16271                               CELEBRAÇÃO DE CONV. EM CONTINUIDADE - ADEFAV (20/04/2017 À 31/12/2017)
16478                                   CELEBRAÇÃO DE CONV. EM CONTINUIDADE - E.E. LAR MÃE DO DIVINO AMOR

## 5.3 EJA

In [57]:
eja_filter = parcerias_filter & (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Alfabetização de Jovens e Adultos', case=False))
)
eja = (empenhos_df[eja_filter])
empenhos_df.loc[eja_filter, 'cat_1'] = 'parcerias'
empenhos_df.loc[eja_filter, 'cat_2'] = 'eja'
groupSum(eja)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,11.937817,10.687166,10.942761

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             11.937817     10.687166     10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,11.937817,10.687166,10.942761

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 11.937817     10.687166     10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Convênios - Alfabetização, Educação e Outros",11.825031,10.616516,10.872111
Convênio - Creche,0.112786,0.070650,0.070650

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoPrograma
Superação da extrema pobreza          11.937817     10.687166     10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Alfabetização de Jovens e Adultos,11.937817,10.687166,10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Apoio ao Ensino,11.825031,10.616516,10.872111
Serviços de Creches e Assistência Pré-Escolar,0.112786,0.070650,0.070650

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Ensino Fundamental             11.937817     10.687166     10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,2.181148,2.014575,2.014575
Diretoria Regional de Educação - Freguesia/Brasilândia,1.538093,1.433665,1.433665
Diretoria Regional de Educação - São Miguel,1.354749,1.251469,1.278309
Diretoria Regional de Educação - São Mateus,1.097055,0.892205,0.932032
Diretoria Regional de Educação - Santo Amaro,0.776063,0.723247,0.774348
Diretoria Regional de Educação - Itaquera,0.861663,0.692260,0.718234
Diretoria Regional de Educação - Pirituba,0.727280,0.623614,0.685952
Diretoria Regional de Educação - Guaianases,0.695110,0.666166,0.666166
Diretoria Regional de Educação - Ipiranga,0.633720,0.610117,0.613519
Diretoria Regional de Educação - Penha,0.541717,0.503922,0.503922
Diretoria Regional de Educação - Capela do Socorro,0.416224,0.416224,0.416224
Diretoria Regional de Educação Capela do Socorro,0.527509,0.336165,0.371663
Diretoria Regional de Educação - Butantã,0.296400,0.269555,0.273596
Diretoria Regional de Educação - Jaçanã/Tremembé,0.291085,0.253983,0.260556

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          11.937817     10.687166     10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,11.937817,10.687166,10.942761

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
ASSOCIAÇÃO EDUCACIONAL E CULTURAL PADRE LUIZ SUTTER,0.720612,0.640699,0.669271
SOCIEDADE AMIGOS DISTRITO DE PERUS SADIP,0.498359,0.411374,0.460725
AVIB - ASSOCIAÇÃO DE VOLUNTÁRIOS INTEGRADOS NO BRASIL,0.425335,0.416667,0.416667
ASSOCIAÇÃO SÃO JUDAS TADEU E CENTRO COMUNITÁRIO DO JD. IBIRAPUERA,0.420784,0.415589,0.415589
CENTRO DE EDUCAÇÃO DA ZONA LESTE,0.398305,0.386536,0.386536
INSTITUTO SOCIAL SANTA LUCIA,0.426844,0.353250,0.353250
CETEAC CENTRO DE ESTUDOS E TRABALHOS EM EDUCAÇÃO ARTE E CULTURA,0.289109,0.230911,0.269584
ASSOC A CRIANCA ADOLES JOV. ICARAI,0.270133,0.257146,0.268401
UNAS - UNIAO DE NUCLEOS ASSOCIACOES DOS MORADORES DE HELIOPOLIS E REGIAO,0.280163,0.266473,0.266707
ASSOCIACAO CANTAREIRA,0.290912,0.249353,0.249353
CENTRO COMUNITARIO JARDIM AUTODROMO,0.228574,0.219050,0.228574
ASSOCIAÇÃO COMUNITARIA JARDIM IDEAL,0.382688,0.219916,0.228574
ACEB-ASSOCIAÇÃO CULTURAL ESPORTIVA E BENEF.DE VILA NOVA CACHOEIRINHA,0.245024,0.227708,0.227708
CLUBE DE MAES RAIOS DE LUAR,0.306612,0.225111,0.225111
CARITAS DIOCESANA DE CAMPO LIMPO-CDCL,0.217927,0.216898,0.216898
ASSOCIACAO TRÊS IRMAOS,0.204331,0.197147,0.204074
INSTITUTO DE EDUCACAO E CULTURA ALUTHA,0.314505,0.196509,0.202570
SOCIEDADE SANTOS MARTIRES,0.216452,0.190478,0.190478
SOCIEDADE AMIGA E ESPORTIVA JARDIM COPACABANA,0.195237,0.173418,0.173418
SOCIEDADE AMIGOS DE VILA MARA JARDIM MAIA E VILAS ADJACENTES,0.180088,0.166236,0.166236
OBRAS SOCIAIS DE VISTA ALEGRE,0.145456,0.145456,0.145456
"UNIAO MORADORES DO JARDIM ANTONIETA, PQ. SANTO ANTONIO E ADJACÊNCIAS",0.145456,0.145456,0.145456
CENTRO POP. DEFESA DOS D. H. FREI TITO DE ALENCAR LIMA,0.145456,0.139395,0.143742
CAPES - CENTRO ANHANGUERA DE PROMOÇÃO E EDUCAÇÃO SOCIAL,0.145456,0.125542,0.131603
ASSOCIAÇÃO COOP. DE FAMÍLIAS CARENTES DO JARDIM SENICE,0.124677,0.109092,0.124677
INSTITUTO OIKOS,0.124677,0.124677,0.124677
INSTITUTO ALEGRIA DE VIVER,0.124677,0.119482,0.124677
CLUBE DE MÃES DO JARDIM TURQUESA,0.124677,0.124677,0.124677
ENTIDADE DE PROMOÇÃO E ASSISTÊNCIA SOCIAL ESPAÇO ABERTO,0.124676,0.119480,0.124675
ASSOCIAÇÃO COMUNITÁRIA SEMPRE VIVA,0.139915,0.117305,0.122500
...,...,...,...
ASSOCIAÇÃO SÓCIO CULTURAL MADRE TERESA DE JESUS,0.062338,0.057143,0.057143
ASSOCIAÇÃO DOS MUTUARIOS E MORADORES COHAB I,0.056350,0.050490,0.050490
ASSOCIAÇÃO CULTURAL NOSSA SENHORA,0.075325,0.048312,0.048312
LIGA DAS SENHORAS CATOLICAS DE SÃO PAULO,0.051545,0.047620,0.047620
SOCIEDADE AMIGOS DO BAIRRO SICILIANO ANGLO BRASILEIRA,0.041559,0.039827,0.041559
ASSOCIAÇÃO SANTA CECILIA,0.041559,0.041559,0.041559
ASSOCIAÇÃO DE MORADORES DO JARDIM COMERCIAL E ADJACÊNCIAS,0.041559,0.041559,0.041559
ASSOCIAÇÃO VIVER MELHOR DO JARDIM MIRIAM,0.041559,0.039827,0.041559
ASSOCIAÇÃO MÃE MARA,0.041559,0.041559,0.041559
CENTRO INTEGRADO DE PROMOCAO SOCIAL,0.041559,0.036364,0.041559
ASSOCIAÇÃO DOS MORADORES EUTALIA LESTE E ADJACÊNCIAS,0.041559,0.041559,0.041559
ASSOC.COMUNITARIA RAIO DE CRISTAL,0.041559,0.039827,0.041206
SOCIEDADE AMIGOS DO JARDIM VERONIA E ADJACÊNCIAS,0.041905,0.041106,0.041106
OBRA SANTA ZITA DO CORAÇÃO EUCARISTICO DE JESUS,0.039904,0.039904,0.039904
ASSOCIAÇÃO EVANGELICA BENEFICENTE,0.039827,0.039827,0.039827
ASSOCIAÇÃO FEMININA DE VILA ALPINA PARQUE SÃO LUCAS,0.039765,0.039765,0.039765
"ASSOCIAÇÃO DOS MORADORES DE VILA REIS, JARDIM PLANALTO E REGIÃO",0.041559,0.039705,0.039705
SAO PAULO WOMAN S CLUB - CLUBE PAULISTANO DE SENHORAS,0.021596,0.020730,0.021596
ASSOCIAÇÃO SANTA BARBARA - CAMINHO DA PAZ,0.024243,0.020779,0.020779
ASSOCIAÇÃO METODISTA LIVRE AGENTE,0.020779,0.020779,0.020779
GRUPO ORGANIZADO EM DEFESA DA EDUCAÇAO E CULTURA,0.020779,0.020779,0.020779
ASSOCIAÇÃO SANTA ZITA,0.021684,0.019754,0.019754
ASSOCIAÇÃO ANJOS DA PAZ DA VILA SANTISTA,0.024243,0.019048,0.019048
LAREIRA - INSTITUIÇÃO MONSENHOR BENEDICTO MARIO CALAZANS-A SERVIÇO DA FAMILIA,0.025528,0.018498,0.018783
CLUBE DE MÃES DO JARDIM VISTA ALEGRE,0.020779,0.017316,0.017316
SOBEOM - SOCIEDADE BENEFICENTE OSVALDO MOREIRA DO JD SÃO JORGE,0.016883,0.016566,0.016566
CENTRO DE EDUCAÇÃO E ORGANIZACÃO POPULAR,0.024474,0.015585,0.015585
UNIÃO DOS MORADORES DA FAVELA DO JD. COLOMBO,0.007421,0.007273,0.007273
CLUBE DE MAES CORACAO DE JESUS,0.004329,0.000000,0.000000
CEI FONTE DA UNCAO CELESTIAL,0.011256,0.000000,0.000000

                                                                                         txtObjetoContrato
377                                                                                                    NaN
1085                                                           SERVIÇO DE ELÉTRICA - EMEI MARIA DE LOURDES
1258   Programa Movimento de Alfabetização de Jovens e Adultos do município de São Paulo – MOVA / SP,  ...
1345                                                                    Aquisição de Certificados Digitais
1362                                                      TERMO DE CONVENIO - ADITAMENTO DE 5 SALAS (MOVA)
1379                             2º REPASSE PTRF/2017 - CUSTEIO - DRE G - CEI PEDRO BRASIL BANDECCHI, VER.
1448                                                                                CONVÊNIO MOVA / ALUTHA
1734   Aquisição de 140.000 Kg de Extrato de Tomate - ATA de RP n 31/SME/CODAE/2016 - PNAE/FNDE - DECRE...
1744   CONTRATAÇÃO DE AGENTE RECREATIVO PARA RECREIO NAS FÉRIAS - EDIÇÃO JULHO/2017 - PERIODO DE 10/07 ...
1746                   Repasse de Recursos do PNAE para o CEI  Familia Nova Aliança - CÓD. INEP 35578307\n
1747   PR-SM(S.MATEUS) – PR-VP/SB (SAPOPEMBA) – CONTRATAÇÃO DE AGENTE DE RECREAÇÃO -  RECREIO NAS FÉRIA...
4071                                                                                      PAGAMENTO DE DEA
4073   Celebração de Convênio MOVA - Centro Anhanguera de Promoção e Educação Social - CAPES para funci...
4075   Celebração de Convênio MOVA - Sociedade Amigos do Bairro Siciliano - ANGLO BRASILEIRA para funci...
4079        REPASSE DO PTRF PARA AS APMs e APMSUACs DE ACORDO COM A LEI 9394/1996 E PORTARIA SME 4128/2017
4599                                                                                    CONVENIO MOVA AVIB
4605                                                                            CONVÊNIO MOVA VILA SOLANGE
4947            2º REPASSE PTRF/2017 – DRE-G – CUSTEIO – APM – EMEF\tMARIA APARECIDA DO NASCIMENTO, PROFª
4959                                                               CONVENIO EM CONTINUIDADE - MOVA LAREIRA
9132                                                                                  REF 07 SALAS DE MOVA
9186   Aquisição de 12.000 Kg de Flocos de Milho Açucarados - ATA de RP nº 017/SME/CODAE/2017 - FNDE/PNAE.
9211   PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017 - DE ACORDO COM O EDITAL DE CREDENCIAMENTO Nº 004/201...
11598  CELEBRAÇÃO CONVÊNIO MOVA - SAVIC - 06 SALAS A PARTIR DE 23.11.2017 (Objeto da Contratação: Repub...
11773  ATENDIMENTO A CRIANÇA POR MEIO DO CENTRO DE EDUCAÇÃO INFANTIL CEI NOVOS RUMOS COM CAPACIDADE CON...
11777                                                                          Aquisição de passagem aérea
12051                                                                                  REF 01 SALA DE MOVA
12542                           CELEBRAÇÃO DE CONVÊNIO MOVA - ASSOCIAÇÃO CULTURAL NOSSA SENHORA DAS GRAÇAS
15590                                                            TERMO DE CONVÊNIO /MOVA CASP Nº 055/2015
15599                                CELEBRAÇÃO EM CONTINUIDADE MOVA COMUNIDADE CRISTÃ DO AVIVAMENTO PLENO
15602                                          2º REPASSE PTRF/2017 - CUSTEIO -  APM EMEI MARIO BENI, DEP.
15607  CONVÊNIO MOVA - CONSENHO COMUNITÁRIO DE EDUCAÇÃO, CULTURA, SAÚDE E AÇÃO SOCIAL DE VILA SOLANGE E...
19031                                                                                        CONVENIO MOVA
19041                                                                               MOVA - JARDIM TURQUESA
22312                              PARCERIA DE 03 SALAS DE MOVA - LIGA DAS SENHORAS CATÓLICAS DE SÃO PAULO
22334                 PR/SM - PR/VP-SB - CONTRATAÇÃO DE OFICINEIROS PARA O PROGRAMA DE EXTENSÃO DE JORNADA
24698  PAGAMENTO INDENIZATÓRIO CENTRO COMUNITÁRIORAPOSO TAVARES - MOVA - 03 DE ABRIL DE 2017 À 21 DE MA...
25436                           AQUISIÇÃO DE MATERIAL EDUCATIVO - PROGRAMA RECREIO NAS FÉRIAS - JULHO/2017
30391                                                                     ADEQUAÇÃO DA VERBA DE INSTALAÇÃO
30685                                                                         REFORMA DIVERSAS EM CADEIRAS
33634                                              CELEBRAÇÃO EM CONTINUIDADE - MOVA ASSOCIAÇÃO SANTA ZITA
38638                                                                              CONVENIO MOVA SAO PAULO
43689  PROGRAMA RECREIO NAS FÉRIAS - JULHO/2017 - DE ACORDO COMO EDITAL DE CREDENCIAMENTONº 004/2016/20...
45997                                                    confecção de premiação para homenagem e premiação
51386                                 CONTRATAÇÃO DE AGENTE DE RECREAÇÃO - RECREIO NAS FÉRIAS JULHO / 2017
58961                                                                                  CONVÊNIO MOVA - SP
58962                                                                            02 SALAS DE CONVENIO MOVA
59041                                                                              03 SLS DO CONVÊNIO MOVA
59082                                                                                 REF 04 SALAS DE MOVA
59710                                                           MOVA COMUNIDADE CRISTÃ DO AVIVAMENTO PLENO
59712                                                                                      MOVA SANTA ZITA
59715                                                                     MOVA CLUBE DE MÃES RAIOS DE LUAR
59730                                                                        MOVA NOSSA SENHORA DAS GRAÇAS

## 5.3. MOVA

#### Como filtrar?

## 5.4. Outros?

# 6. Obras e reformas

## 6.1. Obras e reformas (talvez devesse passar para a categoria de operação das unidades?)

#### (possível subdividir em unidades educacionais e outros?) 

#### Checar filtro

In [58]:
(empenhos_df[empenhos_df['txtDescricaoProjetoAtividade'].str.contains('reforma', case=False)]
    .txtDescricaoProjetoAtividade.unique())

array(['Construção, reforma e ampliação de equipamentos educacionais',
       'Reformas de Equipamentos Educacionais'], dtype=object)

In [59]:
# obras_reformas_filter = (
#     (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('constru', case=False))
#     |
#     (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('reforma', case=False))
# )
# obras_reformas = (empenhos_df[obras_reformas_filter])
# empenhos_df.loc[obras_reformas_filter, 'cat_1'] = 'obras_reformas'
# empenhos_df.loc[obras_reformas_filter, 'cat_2'] = 'obras_reformas'
# groupSum(obras_reformas)

# 7. Alimentação

#### Checar filtro

In [60]:
(empenhos_df[
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('alimenta', case=False))
    |
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
]
.txtDescricaoProjetoAtividade.unique())

array(['Programa Nacional de Alimentação Escolar - PNAE/ FNDE',
       'Alimentação Escolar', 'Leve-Leite'], dtype=object)

In [61]:
alimentacao_filter = (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('alimenta', case=False))
    |
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
alimentacao = (empenhos_df[alimentacao_filter])
empenhos_df.loc[alimentacao_filter, 'cat_1'] = 'alimentacao'
# empenhos_df.loc[alimentacao_filter, 'cat_2'] = ''
groupSum(alimentacao)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,1026.362386,646.263529,707.817315

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes           1026.362386    646.263529    707.817315

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,700.795726,392.613835,414.062018
Material de Consumo,258.694712,194.498042,231.123712
"Material, Bem ou Serviço para Distribuição Gratuita",42.994545,39.280542,42.909846
Contribuições,23.877403,19.871110,19.721738

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Transferências Federais          922.274282    581.286497    632.832297
Tesouro Municipal                104.088104     64.977033     74.985018

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Refeições Prontas,593.326962,328.161845,344.783132
Diversos Gêneros Alimentícios,159.069208,118.266813,144.727754
Leite e Achocolatados,42.994545,39.280542,42.909846
Preparo e Distribuição de Alimentos,33.367069,29.668550,32.019037
Carnes em Geral,30.159054,23.368220,27.439776
Armazenagem de Alimentos,37.534199,23.237049,25.713242
"Outras Instituições de Caráter Assistencial, Cultural ou Educacional",23.877403,19.871110,19.721738
"Pães, Doces, Biscoitos e Salgados",20.711276,15.177323,19.138145
Laticínios em Geral,15.931271,15.732020,15.870590
Transporte e Remessa de Encomendas,36.567497,11.546391,11.546607
Grãos em Geral,12.048248,9.668589,9.675717
Frutas Naturais,10.804552,4.785197,5.938649
Leite em Pó ou Natural,2.847350,2.847350,2.847350
"Óleos, Gorduras e Azeites Comestíveis, Condimentos e Temperos em Geral",4.226210,1.855835,2.588235
Massas Alimentícias,1.560750,1.459940,1.560740
Bebidas em Geral,1.216395,1.216355,1.216355
Farináceos,0.120400,0.120400,0.120400

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,1026.362386,646.263529,707.817315

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Alimentação Escolar,782.432983,476.980195,505.948126
Programa Nacional de Alimentação Escolar - PNAE/ FNDE,164.367361,118.456401,147.412735
Leve-Leite,79.562042,50.826933,54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Fornecimento de Alimentação,593.326962,328.161845,344.783132
Gêneros de Alimentação,258.694712,194.498042,231.123712
Mercadorias para Doação,42.994545,39.280542,42.909846
Outros Serviços de Terceiros - Pessoa Jurídica,33.367069,29.668550,32.019037
Armazenagem,37.534199,23.237049,25.713242
"Instituições de Caráter Assistencial, Cultural e Educacional",23.877403,19.871110,19.721738
Fretes e Transporte de Encomendas,36.567497,11.546391,11.546607

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição        1026.362386    646.263529    707.817315

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Departamento de Alimentação Escolar,862.147511,553.323166,568.961843
Coordenadoria de Alimentação Escolar,164.214876,92.940363,138.855472

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes        1026.362386    646.263529    707.817315

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Aplicações Diretas,1002.484983,626.392419,688.095577
Transferências a Instituições Privadas sem Fins Lucrativos,23.877403,19.871110,19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SHA COMERCIO DE ALIMENTOS LTDA,190.741737,118.178282,123.844806
COMERCIAL MILANO BRASIL LTDA,92.039220,74.653773,81.704879
DENJUD REFEIÇÕES COLETIVAS ADMINISTRAÇÃO E SERVIÇOS LTDA,144.606175,77.517622,80.985775
APETECE SISTEMAS DE ALIMENTACAO S/A,161.392758,73.424133,76.517002
TANGARÁ IMP.E EXP.S/A,61.845260,55.286151,61.575245
BASE SISTEMA SERVIÇOS DE ADMINISTRAÇÃO E COMERCIO LTDA,65.781097,40.209289,43.874478
P.R.M. SERVIÇOS E MAO DE OBRA ESPECIALIZADA EIRELI,44.011233,34.421740,36.242098
SERBOM ARMAZENS GERAIS FRIGORIFICOS LTDA,37.534199,23.237049,25.713242
CASTOR ALIMENTOS LTDA,22.742754,19.027426,19.743049
FRESKITO PRODUTOS ALIMENTICIOS LTDA,17.755644,11.225533,16.180177
ATV ASSESSORIA TÉCNICA EM VENDAS LTDA,17.002894,12.596724,14.290894
PRO ATIVA ALIMENTOS LTDA - EPP,14.265284,11.399346,11.825223
EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS,36.567497,11.546391,11.546607
ALNUTRI ALIMENTOS LTDA,10.571033,2.522284,9.955922
BONISSIMA COMERCIO E SERVIÇOS LTDA. EPP,9.920076,9.552511,9.916102
MULTICOM COMERCIO MULTIPLO DE ALIMENTOS LTDA,9.510698,7.138311,7.138311
AEX ALIMENTA COMERCIO DE REFEIÇÕES E SERVIÇOS LTDA,8.983506,6.201431,6.829052
GONÇALVES & TORTOLA S/A,4.788000,4.787395,4.787950
G NOVA COMERCIO DE PRODUTOS ALIMENTICIOS EIRELI - ME,3.225500,0.000000,3.225254
VIGOR ALIMENTOS /A,3.087080,2.948434,3.087003
ARIS ALIMENTOS LTDA. ME,2.866500,2.866336,2.866336
OURO PRETO ALIMENTOS COMÉRCIO LTDA - EPP.,2.740899,2.653659,2.740899
COOPERATIVA DOS SUINICULTORES DO CAÍ SUPERIOR LTDA,2.709900,0.325967,2.702799
COOPERATIVA DE PRODUCAO INDUSTRIALIZACAO E COMERCIALIZACAO AGROPECUARIA DOS ASSENTADOS E AGRICULTORE,2.464280,2.464266,2.464266
COMERCIAL DE ALIMENTOS NUTRIVIP DO BRASIL LTDA,3.944960,1.762100,2.307480
SUPPORT PRODUTOS NUTRICIONAIS LTDA,2.040898,2.040898,2.040898
SOMA ALIMENTOS DO BRASIL EIRELI,1.764000,1.199520,1.764000
ALIMENTOS DALLAS INDÚSTRIA E COMÉRCIO LTDA,1.667753,1.667714,1.667714
COOPERATIVA DE PRODUÇÃO E CONSUMO FAMILIAR NOSSA TERRA LTDA,1.588860,0.000000,1.588856
CRIALIMENTOS INDÚSTRIA E COMÉRCIO LTDA,1.407950,1.171550,1.407950
...,...,...,...
INSTITUIÇÃO AQUARELA,0.015622,0.007811,0.007811
ASSOCIACAO EDUCACIONAL DE BRACOS ABERTOS,0.015622,0.007811,0.007811
ASSOCIAÇÃO NOVOS HORIZONTES A COMUNIDADE,0.014980,0.007490,0.007490
IHDI - INSTITUTO HUMANIZAÇÃO E DESENVOLVIMENTO INTEGRAL,0.014980,0.007490,0.007490
GRUPO DE MAES COMUNIDADE FELIZ,0.014980,0.007490,0.007490
CRECHE NOSSA SENHORA MAE DA IGREJA,0.014980,0.007490,0.007490
ASSOCIAÇÃO DOS MORADORES DO JARDIM AUREA,0.014980,0.007490,0.007490
ASSOCIACAO FEMININA DAS SERVIDORAS PUBLICAS DO BRASIL,0.014124,0.007062,0.007062
COMUNIDADE KOLPING DO JARDIM CATANDUVA,0.014124,0.007062,0.007062
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA MÃOS ESTENDIDAS,0.013910,0.006955,0.006955
ASSOCIAÇÃO AMIGOS LUTANDO PARA UM FUTURO MELHOR,0.012840,0.006420,0.006420
ASSOCIACAO BENEFICENTE EDUCATIVA A.B.E,0.012840,0.006420,0.006420
CENTRO DE ASSISTÊNCIA SOCIAL SANTO AGNELO,0.012840,0.006420,0.006420
ASSOCIAÇÃO DE LUTAS E PROMOÇÃO SOCIAL JARDIM ROBRU E ADJACÊNCIAS,0.012840,0.006420,0.006420
INSTITUTO VIDA SÃO PAULO,0.012412,0.006206,0.006206
ASSOCIAÇÃO COMUNITÁRIA PRIMEIRO PASSO DO JARDIM DONARIA,0.011984,0.005992,0.005992
CARITAS DIOCESANA DE CAMPO LIMPO,0.010058,0.005029,0.005029
ASSOCIAÇÃO BRASILEIRA DE EDUCAÇÃO E CULTURA - ABEC,0.040018,0.040018,0.000000
COOPERATIVA AGRICOLA DE JUNQUEIROPOLIS - COOPAJ,0.261630,0.000000,0.000000
COOPERATIVA AGROPECUARIA DA AGRICULTURA FAMILIAR DE PARAGUACU PAULISTA E REGIAO,1.152000,0.000000,0.000000
AGROECOLÓGICA DOS PRODUTORES RURAIS E DE AGUA LIMPA DA REGIÃO SUL DE SÃO PAULO-COOPERAPAS,0.060577,0.000000,0.000000
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA E CULTURAL NÚCLEO DE ATEND. SOCIAL,0.014980,0.014980,0.000000
SECRETARIA MUNICIPAL DE EDUCAÇÃO,0.041580,0.000000,0.000000
ASSOCIACAO UNIAO E PROGRESSO DO PARQUE ARARIBA E ADJACENCIAS,0.028676,0.000000,0.000000
ASSOCIACAO QUIALTERAS CULTURAIS - A.Q.C,0.070192,0.035096,0.000000
ASSOCIAÇÃO DE MORADORES UNIAO E PROGR. DO PARQ ARARIBA E ADJAC,0.066982,0.000000,0.000000
ASSOCIAÇÃO SONHAR E ACREDITAR,0.017120,0.017120,0.000000
OBRAS SOCIAIS DE VISTA ALEGRE,0.021400,0.021400,0.000000
ONG FORÇA E PERSERVERANÇA,0.040660,0.000000,0.000000
(FIB) FEDERACAO DE IRMAOS BENEFICENTE,0.020758,0.020758,0.000000

                                                                                         txtObjetoContrato
31     Aquisição de 87.500 Kg de Composto Lácteo Sabor Chocolate - ATA de RP nº 008/SME/CODAE/2017 - FN...
450                                  Repasse de Recursos do PNAE para o CEI CANTINHO AMAC - INEP 3531467\n
601             Repasse de Recursos do PNAE para o CEI PINGO DE GENTE  - CÓD. INEP 35127929 - 2º REPASSE\n
606                   Repasse de Recursos do PNAE para o CEI IPIRANGA  - CÓD. INEP 35391918 - 2º REPASSE\n
613                           REPASSE DE RECURSOS DO PNAE PARA O CEI PRIMEIROS PASSOS - COD. INEP 35811725
753                     Repasse de Recursos do PNAE para o CEI MARIAMA - CÓD. INEP 35580934 - 2º REPASSE\n
759                Repasse de Recursos do PNAE para o CEI REI SALOMÃO  - CÓD. INEP 35183751 - 2º REPASSE\n
862                                                                                                    NaN
1001                             Repasse de Recursos do PNAE para o CEI Aldair Maria - Cód. INEP: 35445071
1002                       Repasse de Recursos do PNAE para o CEI Principe Encantado - Cód. INEP: 35564308
1087                          Repasse de Recursos do PNAE para o CEI Estrela Dourada - Cód. INEP: 35563742
1091                        Repasse do Recurso do PNAE para o CEI Crescer e Aprender - Cód. INEP: 35580983
1093                                 Repasse do Recurso do PNAE para o CEI Irineu II - Cód. INEP: 35584548
1109                          Repasse de Recursos do PNAE para o CEI Cantinho Mágico - Cód. INEP: 35566676
1121                           Repasse de Recursos do PNAE para o CEI Luar do Sertão - Cód. INEP: 35128235
1142                                    Repasse de Recursos do PNAE para o CEI EFATA-  CÓD. INEP: 35579981
1143                           Repasse de Recursos do PNAE para o CEI Nelson Mandela - Cód. INEP: 35578940
1144                           Repasse de Recursos do PNAE para o CEI Parque do Lago - Cód. INEP: 35579841
1145                             Repasse de Recursos do PNAE para o CEI Família Sião - Cód. INEP: 35579312
1146                            Repasse de Recursos do PNAE para o CEI Elohim Kadosh - Cód. INEP: 35581773
1147                         Repasse de Recursos do PNAE para o CEI Cecilia Meireles - Cód. INEP: 35578150
1148                           Repasse de Recursos do PNAE para o CEI Novos Caminhos - Cód. INEP: 35584496
1152                                Repasse do Recurso do PNAE para o CEI Vovó Vanda - Cód. INEP: 35581070
1154                               Repasse de Recurso do PNAE para o CEI Amor Eterno - Cód. INEP: 35569434
1167                            Repasse do Recurso do PNAE para o CEI Cantinho Feliz - Cód. INEP: 35393061
1168                                                                             02 SALAS DE CONVENIO MOVA
1171                               Repasse de Recursos do PNAE para o CEI Rei Arthur - Cód. INEP: 35583327
1172                             Repasse de Recursos do PNAE para o CEI CASTILHO - CÓD. INEP 355811611\r\n
1173                    Repasse de Recursos do PNAE para o CEI UNIÃO DA VILA NOVA - CÓD. INEP 35439101\r\n
1175                       Repasse de Recursos do PNAE para o CEI PALAVRA CANTADA - CÓD. INEP 35578290\r\n
...                                                                                                    ...
53620                  Repasse de Recursos do PNAE para o CEI SELMO MARTINS DOS SANTOS Cód. INEP  35444923
53628  Aquisição 73.440 kg de FÓRMULA INFANTIL EM PÓ PARA LACTANTE A PARTIR DOS 6 MESES –  Ata de RP nº...
53630                       Repasse de Recursos do PNAE para o CEI JARDIM DA CONQUISTA Cód. INEP  35181912
53631              Repasse de Recursos do PNAE para o CEI JULIO FRANCISCO DE SOUZA III- CÓD. INEP 35443736
53632                              Repasse de Recursos do PNAE para o CEI AVES GALHANI- CÓD. INEP 35305534
53633               Repasse de Recursos do PNAE para o CEI Brincando Também se Aprende- CÓD. INEP 35183143
53634                                Repasse de Recursos do PNAE para o CEI NOVOS RUMOS Cód. INEP  3547512
53635                            Aquisição 81.000 kg de FLOCOS DE MILHO –  Ata de RP nº 23/SME/CODAE/2016.
53636                                 Repasse de Recursos do PNAE para o CEI TIÃOZINHO Cód. INEP  35183660
53638                                 Repasse de Recursos do PNAE para o CEI SER FELIZ Cód. INEP  35419096
53640                     Repasse de Recursos do PNAE para o CEI SALESIANO SANTA LUZIA- CÓD. INEP 35813643
53641                       Repasse de Recursos do PNAE para o CEI JARDIM NORDESTE- CÓD. INEP 35181742\r\n
53642                             Repasse de Recursos do PNAE para o CEI GALILEU MENON Cód. INEP  35288494
53643                  Repasse de Recursos do PNAE para o CEI ESPAÇO DA COMUNIDADE III Cód. INEP  35353280
53645                                 Repasse de Recursos do PNAE para o CEI ACONCHEGO Cód. INEP  35307841
53646              Repasse de Recursos do PNAE para o CEI NORA AULER DE ARRUDA BOTELHO Cód. INEP  35432556
53648                               Repasse de Recursos do PNAE para o CEI CURUMIM- CÓD. INEP 35479597\r\n
55762                  Serviços de Nutrição e Alimentação Escolar - Região da FREGUESIA DO Ó e SÃO MATEUS
55795            Serviços de Nutrição e Alimentação Escolar - Regiões de GUAIANASES, ITAQUERA e PENHA \n\n
55821                        Serviços de Nutrição e Alimentação Escolar - Regiões - IPIRANGA E SÃO MIGUEL
55937     Aquisição de 45.000 kg de Proteína Texturizada de Soja Granulada – ATA de RP nº 03/SME/DAE/2016.
55944  Aquisição de 380.000 Kg de Cortes Congelados de Frango – filé de coxa e sobrecoxa sem pele – Ata...
56491           Aquisição de 42.000 Kg de Sal de Mesa Iodado - ATA de RP nº 006/SME/CODAE/2017 - FNDE/PNAE
56773  Aquisição de 1.245.000 unidades (200 ml) de Suco de Laranja Integral Pasteurizado Congelado - AT...
57026  Aquisição de 956.000 Unidades (40 g) de Bolo Integral em Embalagem Individual Diversos Sabores e...
57075  Aquisição de 30.000 Kg de Proteína Texturizada de Soja Granulada - ATA de RP nº 002/SME/CODAE/20...
57127  Aquisição de 36.000 Kg de Flocos de Milho Açucarados - ATA de RP nº 018/SME/CODAE/2017 - FNDE/PNAE.
57229                   Aquisição de 99.984 kg de biscoito salgado integral – Ata de RP 05/SME/CODAE/2016.
59699  116.700 Kg de Pão Tipo Bisnaguinha Tradicional e 36.900 Kg de Pão Tipo Bisnaguinha Integral - AT...
59705                520.000 Kg de Feijão Comum de Cores Carioca - Tipo 1 - ATA de RP nº 02/SME/DAE/2016\n

[864 rows x 1 columns]

## 7.1. Refeições prontas

#### Checar filtro e filtro anterior

In [62]:
refeicoes_filter = alimentacao_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Refeições Prontas', case=False))
    &
    ~(empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
refeicoes = (empenhos_df[refeicoes_filter])
empenhos_df.loc[refeicoes_filter, 'cat_1'] = 'alimentacao'
empenhos_df.loc[refeicoes_filter, 'cat_2'] = 'refeicoes'
groupSum(refeicoes)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,593.326962,328.161845,344.783132

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            593.326962    328.161845    344.783132

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,593.326962,328.161845,344.783132

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Transferências Federais          593.326962    328.161845    344.783132

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
Refeições Prontas               593.326962    328.161845    344.783132

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,593.326962,328.161845,344.783132

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Alimentação Escolar                  593.326962    328.161845    344.783132

                             valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Fornecimento de Alimentação         593.326962    328.161845    344.783132

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição         593.326962    328.161845    344.783132

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Departamento de Alimentação Escolar,586.456048,326.603238,338.306574
Coordenadoria de Alimentação Escolar,6.870914,1.558606,6.476558

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         593.326962    328.161845    344.783132

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             593.326962    328.161845    344.783132

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SHA COMERCIO DE ALIMENTOS LTDA,163.581916,93.378398,96.694435
DENJUD REFEIÇÕES COLETIVAS ADMINISTRAÇÃO E SERVIÇOS LTDA,143.268568,76.278551,79.746704
APETECE SISTEMAS DE ALIMENTACAO S/A,161.392758,73.424133,76.517002
BASE SISTEMA SERVIÇOS DE ADMINISTRAÇÃO E COMERCIO LTDA,60.911457,36.579694,40.244883
P.R.M. SERVIÇOS E MAO DE OBRA ESPECIALIZADA EIRELI,44.011233,34.421740,36.242098
COMERCIAL MILANO BRASIL LTDA,11.177524,7.877897,8.508958
AEX ALIMENTA COMERCIO DE REFEIÇÕES E SERVIÇOS LTDA,8.983506,6.201431,6.829052

                                                                                    txtObjetoContrato
3586                            CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-UNIDADES ESCOLARES E DRESA
4962                                                                                              NaN
6471                                                  MANUTENÇÃO PREDIAL - CEI VILA LIBANESA ELETRICA
8437                                   PAGAMENTO DE SERVIÇO DE FORNECIMENTO DE ÁGUA E ESGOTO - SABESP
30048           Contratação de serviços de nutrição e alimentação escolar  - Lote 5 - FREGUESIA DO O.
30056             Contratação de serviços de nutrição e alimentação escola - Lote 4 - FREGUESIA DO O.
30060               Contratação de serviços de nutrição e alimentação escolar - Lote 7A - IPIRANGA I.
30063                Contratação de seviços e nutrição e alimentação escolar - LOTE 7B - IPIRANGA II.
30110                Contratação de serviços de nutrição e alimentação escolar - LOTE 6 - GUAIANAZES.
30117       Contratação de serviços de nutrição e alimentação escolar - LOTE 8 - ITAQUERA/GUAIANAZES.
30128            Contratação de serviços de nutrição e alimentação escolar - LOTE 10A - SÃO MIGUEL I.
30134           Contratação de serviços de nutrição e alimentação escolar - LOTE 10B - SÃO MIGUEL II.
30210                   Contratação de serviços de nutrição e alimentação escolar - LOTE 11A - PENHA.
30293                    Contratação de serviços de nutrição e alimentação - LOTE 14A - SÃO MATEUS I.
30403            Contratação de serviços de nutrição e alimentação escolar - LOTE 5 - FREGUESIA DO Ó.
30422        \r\nContratação de serviços de nutrição e alimentação escolar – LOTE 6 - GUAIANAZES.\r\n
30426               Contratação de serviços de nutrição e alimentação escolar – LOTE  7A - IPIRANGA I
30439     Contratação de serviços de nutrição e alimentação escolar – LOTE  7B - IPIRANGA II.\r\n\r\n
30483           Contratação de serviços de nutrição e alimentação escolar – LOTE  9 - JAÇANA/TREMEMBÉ
30489                  Contratação de serviços de nutrição e alimentação escolar – LOTE  8 - ITAQUERA
30523           Contratação de serviços de nutrição e alimentação escolar – LOTE  10A - SÃO MIGUEL I.
30533      \r\nContratação de serviços de nutrição e alimentação escolar – LOTE  10B - SÃO MIGUEL II.
30544                  Contratação de serviços de nutrição e alimentação escolar – LOTE  11A - PENHA.
30554               Contratação de serviços de nutrição e alimentação escolar – LOTE  11B - PENHA II.
30572           Contratação de serviços de nutrição e alimentação escolar – LOTE  14A - SÃO MATEUS I.
30580      \r\nContratação de serviços de nutrição e alimentação escolar – LOTE  14B - SÃO MATEUS II.
51330          Contratação de serviços de nutrição e alimentação escolar- Lote 4 - CAPELA DO SOCORRO.
52422  Serviço de nutrição e alimentação escolar - Região Jãçanã-Tremembé - Contrataçãqo emergencial.
55762             Serviços de Nutrição e Alimentação Escolar - Região da FREGUESIA DO Ó e SÃO MATEUS
55795       Serviços de Nutrição e Alimentação Escolar - Regiões de GUAIANASES, ITAQUERA e PENHA \n\n
55821                   Serviços de Nutrição e Alimentação Escolar - Regiões - IPIRANGA E SÃO MIGUEL

## 7.2. Leve-Leite

In [63]:
leve_leite_filter = alimentacao_filter & (
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
leve_leite = (empenhos_df[leve_leite_filter])
empenhos_df.loc[leve_leite_filter, 'cat_1'] = 'alimentacao'
empenhos_df.loc[leve_leite_filter, 'cat_2'] = 'leve_leite'
groupSum(leve_leite)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,79.562042,50.826933,54.456454

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             79.562042     50.826933     54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
"Material, Bem ou Serviço para Distribuição Gratuita",42.994545,39.280542,42.909846
Outros Serviços de Terceiros -Pessoa Jurídica,36.567497,11.546391,11.546607

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 79.562042     50.826933     54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Leite e Achocolatados,42.994545,39.280542,42.909846
Transporte e Remessa de Encomendas,36.567497,11.546391,11.546607

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,79.562042,50.826933,54.456454

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Leve-Leite                            79.562042     50.826933     54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Mercadorias para Doação,42.994545,39.280542,42.909846
Fretes e Transporte de Encomendas,36.567497,11.546391,11.546607

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição          79.562042     50.826933     54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Departamento de Alimentação Escolar,61.083896,37.872368,37.872368
Coordenadoria de Alimentação Escolar,18.478146,12.954565,16.584085

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          79.562042     50.826933     54.456454

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              79.562042     50.826933     54.456454

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
TANGARÁ IMP.E EXP.S/A,35.921819,32.575381,35.841094
EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS,36.567497,11.546391,11.546607
BONISSIMA COMERCIO E SERVIÇOS LTDA. EPP,7.072726,6.705161,7.068752

                                                                                         txtObjetoContrato
4827   Prestação de serviços e venda de produtos / Prestação de serviços de logística integrada: Entreg...
12081  Aquisição de 70.154 Kg de Leite em Pó  Integral - PROGRAMA LEVE-LEITE -  Lote 1 e 2 - ATA DE RP ...
12349  Aquisição de 80.677 Kg de Leite em Pó Integral - Lote 9 - PROGRAMA LEVE-LEITE - ATA de RP nº 09/...
12406  Aquisição de 196.431Kg de Leite em Pó  Integral – Lote 5 e 6 - PROGRAMA LEVE-LEITE - ATA DE RP N...
12538  Aquisição de 189.415 Kg de leite em Pó Integral - Lote 8 - PROGRAMA LEVE-LEITE - ATA de RP 07/SM...
12549  Aquisição 87.692 Kg de Leite em Pó Integral - Lote 4 - PROGRAMA LEVE-LEITE - ATA de RP nº 07/SME...
12610  Aquisição 63.138 Kg de Leite em Pó Integral - Lote 7 - PROGRAMA LEVE-LEITE - ATA de RP 09/SME/CO...
12637  Aquisição de 224.493 Kg de Leite em Pó Integral - Lote 10 - PROGRAMA LEVE-LEITE - ATA de RP nº 0...
31418  OBJETO: Aquisição 146.178 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lote 4 - ATA de RP ...
31422  Aquisição 394.681 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lote 8 - ATA de RP 07/SME/C...
31425  Aquisição 36.545  kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – referente a 75% da necessid...
31426  Aquisição 12.182 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – referente a 25% da necessida...
31678  Aquisição 146.178 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lotes 1 e 2 - ATA de RP 07/...
31679  Aquisição 409.299 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lotes 5 e 6 - ATA de RP 07/...
31680  Aquisição 467.770 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lote 10 - ATA de RP 07/SME/...
32372                                                                                                  NaN
52416  Aquisição 155.923 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lote 9 - 25% - ATA de RP 09...
52419  Aquisição 131.560 kg de Leite em Pó Integral – PROGRAMA LEVE-LEITE – Lote 7 - ATA de RP 09/SME/C...

## 7.3. Preparo, distribuição e armazenagem

#### Checar filtro alimentação

In [64]:
prep_dist_filter = alimentacao_filter & (
    (
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Preparo e Distribuição de Alimentos', case=False))
        |
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Armazenagem de Alimentos', case=False))
    )
    &
    ~(empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
prep_dist = (empenhos_df[prep_dist_filter])
empenhos_df.loc[prep_dist_filter, 'cat_1'] = 'alimentacao'
empenhos_df.loc[prep_dist_filter, 'cat_2'] = 'prep_dist'
groupSum(prep_dist)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,70.901268,52.905599,57.732279

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             70.901268     52.905599     57.732279

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,70.901268,52.905599,57.732279

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Transferências Federais           70.901268     52.905599     57.732279

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Preparo e Distribuição de Alimentos,33.367069,29.668550,32.019037
Armazenagem de Alimentos,37.534199,23.237049,25.713242

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,70.901268,52.905599,57.732279

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoProjetoAtividade
Alimentação Escolar                   70.901268     52.905599     57.732279

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,33.367069,29.668550,32.019037
Armazenagem,37.534199,23.237049,25.713242

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição          70.901268     52.905599     57.732279

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Departamento de Alimentação Escolar,58.967661,47.529303,47.529303
Coordenadoria de Alimentação Escolar,11.933606,5.376297,10.202976

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          70.901268     52.905599     57.732279

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              70.901268     52.905599     57.732279

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SHA COMERCIO DE ALIMENTOS LTDA,27.159821,24.799884,27.150370
SERBOM ARMAZENS GERAIS FRIGORIFICOS LTDA,37.534199,23.237049,25.713242
BASE SISTEMA SERVIÇOS DE ADMINISTRAÇÃO E COMERCIO LTDA,4.869640,3.629595,3.629595
DENJUD REFEIÇÕES COLETIVAS ADMINISTRAÇÃO E SERVIÇOS LTDA,1.337607,1.239071,1.239071

                                                           txtObjetoContrato
6472                                                                     NaN
31492  CONSUMO DE ÁGUA E SERVIÇO DE ÁGUA E ESGOTO-UNIDADES ESCOLARES E DRESA
32395         PAGAMENTO DE SERVIÇO DE FORNECIMENTO DE ÁGUA E ESGOTO - SABESP

## 7.4. Insumos 

#### (para refeições preparadas pela própria SME? Como subdividir?)

#### Checar filtro alimentação e filtros anteriores

In [65]:
insumos_regex = 'Diversos Gêneros Alimentícios|Carnes em Geral|Laticínios em Geral|Pães, Doces, Biscoitos e Salgados|Grãos em Geral|Frutas Naturais|Leite em Pó ou Natural|Óleos, Gorduras e Azeites Comestíveis, Condimentos e Temperos em Geral|Massas Alimentícias|Bebidas em Geral|Farináceos'
insumos_filter = alimentacao_filter & (
    (
        (empenhos_df['txtDescricaoItemDespesa'].str.contains(insumos_regex, case=False))
    )
    &
    ~(empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
insumos = (empenhos_df[insumos_filter])
empenhos_df.loc[insumos_filter, 'cat_1'] = 'alimentacao'
empenhos_df.loc[insumos_filter, 'cat_2'] = 'insumos'
groupSum(insumos)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,258.694712,194.498042,231.123712

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes            258.694712    194.498042    231.123712

                      valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoElemento
Material de Consumo          258.694712    194.498042    231.123712

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Transferências Federais          234.168650    180.347942    210.595148
Tesouro Municipal                 24.526063     14.150100     20.528564

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Diversos Gêneros Alimentícios,159.069208,118.266813,144.727754
Carnes em Geral,30.159054,23.368220,27.439776
"Pães, Doces, Biscoitos e Salgados",20.711276,15.177323,19.138145
Laticínios em Geral,15.931271,15.732020,15.870590
Grãos em Geral,12.048248,9.668589,9.675717
Frutas Naturais,10.804552,4.785197,5.938649
Leite em Pó ou Natural,2.847350,2.847350,2.847350
"Óleos, Gorduras e Azeites Comestíveis, Condimentos e Temperos em Geral",4.226210,1.855835,2.588235
Massas Alimentícias,1.560750,1.459940,1.560740
Bebidas em Geral,1.216395,1.216355,1.216355
Farináceos,0.120400,0.120400,0.120400

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,258.694712,194.498042,231.123712

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Programa Nacional de Alimentação Escolar - PNAE/ FNDE,140.489958,98.585291,127.690997
Alimentação Escolar,118.204754,95.912751,103.432715

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Gêneros de Alimentação          258.694712    194.498042    231.123712

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição         258.694712    194.498042    231.123712

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Departamento de Alimentação Escolar,143.758840,133.062779,137.033216
Coordenadoria de Alimentação Escolar,114.935873,61.435264,94.090496

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes         258.694712    194.498042    231.123712

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             258.694712    194.498042    231.123712

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
COMERCIAL MILANO BRASIL LTDA,80.861696,66.775876,73.195921
TANGARÁ IMP.E EXP.S/A,25.923441,22.710770,25.734151
CASTOR ALIMENTOS LTDA,22.742754,19.027426,19.743049
FRESKITO PRODUTOS ALIMENTICIOS LTDA,17.755644,11.225533,16.180177
ATV ASSESSORIA TÉCNICA EM VENDAS LTDA,17.002894,12.596724,14.290894
PRO ATIVA ALIMENTOS LTDA - EPP,14.265284,11.399346,11.825223
ALNUTRI ALIMENTOS LTDA,10.571033,2.522284,9.955922
MULTICOM COMERCIO MULTIPLO DE ALIMENTOS LTDA,9.510698,7.138311,7.138311
GONÇALVES & TORTOLA S/A,4.788000,4.787395,4.787950
G NOVA COMERCIO DE PRODUTOS ALIMENTICIOS EIRELI - ME,3.225500,0.000000,3.225254
VIGOR ALIMENTOS /A,3.087080,2.948434,3.087003
ARIS ALIMENTOS LTDA. ME,2.866500,2.866336,2.866336
BONISSIMA COMERCIO E SERVIÇOS LTDA. EPP,2.847350,2.847350,2.847350
OURO PRETO ALIMENTOS COMÉRCIO LTDA - EPP.,2.740899,2.653659,2.740899
COOPERATIVA DOS SUINICULTORES DO CAÍ SUPERIOR LTDA,2.709900,0.325967,2.702799
COOPERATIVA DE PRODUCAO INDUSTRIALIZACAO E COMERCIALIZACAO AGROPECUARIA DOS ASSENTADOS E AGRICULTORE,2.464280,2.464266,2.464266
COMERCIAL DE ALIMENTOS NUTRIVIP DO BRASIL LTDA,3.944960,1.762100,2.307480
SUPPORT PRODUTOS NUTRICIONAIS LTDA,2.040898,2.040898,2.040898
SOMA ALIMENTOS DO BRASIL EIRELI,1.764000,1.199520,1.764000
ALIMENTOS DALLAS INDÚSTRIA E COMÉRCIO LTDA,1.667753,1.667714,1.667714
COOPERATIVA DE PRODUÇÃO E CONSUMO FAMILIAR NOSSA TERRA LTDA,1.588860,0.000000,1.588856
CRIALIMENTOS INDÚSTRIA E COMÉRCIO LTDA,1.407950,1.171550,1.407950
NOVA CITRICOLA BRASIL EIRELLI - EPP,1.245000,0.630000,1.245000
COOPERATIVA VINICOLA GARIBALDI LTDA,1.216395,1.216355,1.216355
NUTRI-ALI COMERCIO E REPRESENTAÇÕES LTDA,1.170000,1.169996,1.169996
COOPERATIVA DA AGRICULTURA FAMILIAR DE SETE BARRAS,2.035536,0.944191,1.152960
COOPERATIVA DOS BANANICULTORES E AGRICULTORES DE MIRACATU - COOBAM,2.019370,0.915000,1.152712
COOPERATIVA AGROPECUARIA DE PRODUTOS SUSTENTAVEIS DO GUAPIRUVU - COOPERAGUA,1.127871,0.885838,1.117250
PREDILECTA ALIMENTOS LTDA,1.235400,1.110380,1.110380
ASSOCIAÇÃO DE BANANICULTORES DO MUNICÍPIO DE MIRACATU - ABAM,1.788645,0.931237,1.076633
LUAM INDUSTRIA E COMÉRCIO DE ALIMENTOS LTDA.,1.041500,1.041478,1.041478
ITAMBÉ ALIMENTOS S/A.,1.031250,0.281235,1.030755
COOPERATIVA DOS TRABALHADORES ASSENTADOS DA REGIÃO DE PORTO ALEGRE LTDA,0.956800,0.949528,0.956656
COMERCIAL RAMSAY EIRELI - EPP,0.807750,0.607784,0.807750
MASSAS ALIMENTÍCIAS DA ROZ LTDA,0.773550,0.391950,0.773550
PANIFICADORA E DISTRIBUIDORA RE ALI JUNIOR LTDA,0.672750,0.672204,0.672204
COOPERATIVA DOS PRODUTORES RURAIS E DA AGRICULTURA FAMILIAR DO MUNICÍPIO DE JUQUIÁ - COOPAFARGA,0.546530,0.546520,0.546520
M.ZAMBONI COMERCIO E REPRESENTAÇÕES DE PRODUTOS ALIMENTICIOS E MERCADORIAS EM GERAL - EPP,0.483560,0.483491,0.483491
ANBIOTON IMPORTADORA LTDA - EPP,0.465248,0.465248,0.465248
COOPERATIVA DOS AGRICULTORES QUILOMBOLAS DO VALE DO RIBEIRA - COOPERQUIVALE,0.838289,0.330280,0.418671
FAMILIA DO VALE - COOP. AGROECOLÓGICA DOS AGRICULTORES FAMILIARES DO VALE DO RIBEIRA E LITORAL SUL,0.880311,0.141985,0.320900
COSTA MARINE INDUSTRIA E COMERCIO DE PRODUTOS ALIMENTICIOS LTDA,0.279837,0.279837,0.279837
LGM COMÉRCIO E REPREENTAÇÕES DE PRODUTOS ALIMENTICIOS EM GERAL EIRELI-EPP,0.161502,0.161502,0.161502
ASSOCIACAO DOS AGRICULTORES FAMILIARES DO MUNICIPIO DE CAJATI,0.416000,0.090144,0.153003
COOPERATIVA CENTRAL DE AGRICULTORES FAMILIARES - COCAF,0.120400,0.120400,0.120400
TERRÃO COMÉRCIO E REPRESENTAÇÕES EIRELI,0.088060,0.000000,0.088060
SECRETARIA MUNICIPAL DE EDUCAÇÃO,0.041580,0.000000,0.000000
COOPERATIVA AGRICOLA DE JUNQUEIROPOLIS - COOPAJ,0.261630,0.000000,0.000000
COOPERATIVA AGROPECUARIA DA AGRICULTURA FAMILIAR DE PARAGUACU PAULISTA E REGIAO,1.152000,0.000000,0.000000
AGROECOLÓGICA DOS PRODUTORES RURAIS E DE AGUA LIMPA DA REGIÃO SUL DE SÃO PAULO-COOPERAPAS,0.060577,0.000000,0.000000

                                                                                         txtObjetoContrato
31     Aquisição de 87.500 Kg de Composto Lácteo Sabor Chocolate - ATA de RP nº 008/SME/CODAE/2017 - FN...
862                                                                                                    NaN
1168                                                                             02 SALAS DE CONVENIO MOVA
5366   Aquisição de 125.000 Kg de Composto Lácteo Sabor Chocolate - ATA de RP nº 008/SME/CODAE/2017 - F...
8294      Aquisição 117.000 kg de Macarrão de Sêmola Sopa tipo Conchinha – Ata de RP nº 14/SME/CODAE/2016.
8420   Aquisição de 1.790.000 Kg de Arroz  Longo Fino Tipo I – item 1 da Ata de RP nº 13/SME/CODAE/2016...
10149  Aquisição de 219.375 Kg de Carne Bovina Congelada em Peça - Corte Coxão Duro - ATA de RP nº 022/...
12016  Aquisição de 600.000 Unid. (200ml) Bebida Láctea U.A.T ou U.H.T Chocolate - ATA de RP nº 29/SME/...
12521  Aquisição de 222.500 Kg de Macarrão Curto de Sêmola sem ovos para Macarronada Tipo Caracolino - ...
12996  Aquisição de 180.000 Kg de Filé de Polaca do Alasca - ATA de RP 25/SME/CODAE/2016 - PNAE/FNDE - ...
15075  Aquisição de 30.000 Kg de Proteína Texturizada de Soja Granulada - ATA de RP nº 002/SME/CODAE/20...
15089  Aquisição de  125.000 KG de Composto Lácteo Sabor Café - ATA de RP nº 010/SME/CODAE/2017 - FNDE/...
15094  Aquisição de 160.000 Kg de Carne Bovina Congelada em Peças Cortada ao meio Corte Coxão Duro -  d...
15172          OBJETO: Aquisição de 180.000 Kg de Leite em Pó Integral  da ATA de RP nº 020/SME/CODAE/2017
15244  OBJETO: Aquisição de 300.000 de Feijão Comum de Cores – Carioca Tipo 1 -l  da ATA de RP nº 004/S...
15306  Aquisição de 30.000 Kg de Macarrão de Sêmola para Sopa - Cortes Tipo Alfabeto ou Letrinhas e/ou ...
15401           Aquisição de 54.000 KG de polpa de Acerola – da CHAMADA PÚBLICA de  nº 008/SME/CODAE/2017.
15710      Aquisição de 375.000 Kg de Composto Lácteo Sabor Chocolate  da ATA de RP nº 009/SME/CODAE/2017.
15782  Aquisição de 150.000 unidades (500 g)  de Margarina Sem Sal - ATA de RP nº 005/SME/CODAE/2017 - ...
15871  Aquisição de 194.000 LT de Suco de Uva integral  - Agricultura Familiar - Chamada Pública nº 004...
15886  Aquisição de 120.000 K  de Macarrão Curto Integral sem ovos para macarronada - Tipo Parafuso ou ...
18194         Aquisição 27.000 Kg de Flocos de Milho Açúcarados - ATA de RP 22/SME/CODAE/2016 - PNAE/FNDE.
18841  Aquisição de 1.650.000 Unid. de 40 grs. de Bolo em Embalagem Individual Diversos Sabores - ATA d...
18911  Aquisição de 140.000 Kg de Extrato de Tomate - ATA de RP n 31/SME/CODAE/2016 - PNAE/FNDE - DECRE...
19851  Aquisição de 1.570.546 unidades de Banana Nanica e 813.980 unidades de Banana Prata - AF - Chama...
19939  Aquisição – 1.524.008 und.de Banana Nanica - 632.160 und. de  Banana Prata  - 46.512 und de Bana...
19941  Aquisição de 2.000.000 unidades de Banana Nanica - AF - CHAMDA PUBLICA Nº 003/SME/CODAE/2017 - F...
19963  Aquisição de 505.555 unidades de Banana Nanica  e 210.811 unidades de Banana Prata - AF - CHAMAD...
19982  Aquisição – 777.777 und.de Banana Nanica – 324.325 und. de  Banana Prata – AGRICULTURA FAMILIAR ...
20970             Aquisição de 443.720 kg de Pão Hot Dog Tradicional – ATA de RP nº 12/SME/CODAE/2016.\r\n
...                                                                                                    ...
40901           Aquisição de Hortaliças e Verduras – 14.555,00 Kg da Chamada Pública nº 014/SME/CODAE/2017
42026  OBJETO: Aquisição – 1.141.120  unidades de Banana Nanica  - 813.981 unidades de Banana Prata - A...
42071  Aquisição de 972.222 unidades de Banana Nanica  e 541.068 unidades de Banana Prata - AF - CHAMAD...
42308  OBJETO: Aquisição – 279.000 Kg de Iogurte com Polpa de Morango- AGRICULTURA FAMILIAR – CHAMADA P...
42389  Aquisição de 1524.036 unidades de Banana Nanica, 632.161 unidades de Banana Prata, 46.511 unidad...
43196  Aquisição de 170.000 unidades (400 grs) de Biscoito Doce Tipo Maisena - ATA de RP  Nº 003/SME/CO...
43283  Aquisição de 85.000 Kg de Composto Lácteo Sabor Café - ATA de RP nº 010/SME/CODAE/2017 - FNDE/PNAE.
43959  Aquisição de 150.000 Unidades (400 g) de Biscoito Salgado Integral - ATA de RP nº  012/SME/CODAE...
45307  Aquisição de 435.000 Kg de Carne Bovina congelada em peças cortadas ao meio corte Coxão Duro -  ...
46036  Aquisição 3.688 kg de FÓRMULA INFANTIL EM PÓ PARA LACTENTES DE 0 A 6 MESES DE IDADE – Ata de RP ...
46342  Aquisição 11.096 kg de FÓRMULA INFANTIL EM PÓ PARA LACTENTES DE 0 A 6 MESES DE IDADE –  Ata de R...
46461  Aquisição de 200.000 unidades de óleo de soja Refinado Tipo 1, conforme especificações técnicas ...
47077     Aquisição de 139.000 Kg de Carne Suina - AF - Chamada Pública nº 010/SME/CODAE/2017 - FNDE/PNAE.
50392             Aquisição de 375.000 Kg de Composto Lácteo Sabor Café da ATA de RP nº 011/SME/CODAE/2017
50621         Aquisição de 255.000,00 Kg de Composto Lácteo Sabor Café da ATA de RP nº 011/SME/CODAE/2017.
51634    Aquisição de 140.000 KG de Filé de Polaca do Alasca - ATA de RP nº 25/SME/CODAE/2016 - FNDE/PNAE.
53033                 Aquisição de 455.000 kg de Pão Hot Dog Tradicional – ATA de RP nº 12/SME/DAE/2016.
53348    Aquisição de 39.998 Kg de Rosquinha Doce Sabor Leite  – item 1 da ATA de RP nº 32/SME/CODAE/2016.
53628  Aquisição 73.440 kg de FÓRMULA INFANTIL EM PÓ PARA LACTANTE A PARTIR DOS 6 MESES –  Ata de RP nº...
53635                            Aquisição 81.000 kg de FLOCOS DE MILHO –  Ata de RP nº 23/SME/CODAE/2016.
55937     Aquisição de 45.000 kg de Proteína Texturizada de Soja Granulada – ATA de RP nº 03/SME/DAE/2016.
55944  Aquisição de 380.000 Kg de Cortes Congelados de Frango – filé de coxa e sobrecoxa sem pele – Ata...
56491           Aquisição de 42.000 Kg de Sal de Mesa Iodado - ATA de RP nº 006/SME/CODAE/2017 - FNDE/PNAE
56773  Aquisição de 1.245.000 unidades (200 ml) de Suco de Laranja Integral Pasteurizado Congelado - AT...
57026  Aquisição de 956.000 Unidades (40 g) de Bolo Integral em Embalagem Individual Diversos Sabores e...
57075  Aquisição de 30.000 Kg de Proteína Texturizada de Soja Granulada - ATA de RP nº 002/SME/CODAE/20...
57127  Aquisição de 36.000 Kg de Flocos de Milho Açucarados - ATA de RP nº 018/SME/CODAE/2017 - FNDE/PNAE.
57229                   Aquisição de 99.984 kg de biscoito salgado integral – Ata de RP 05/SME/CODAE/2016.
59699  116.700 Kg de Pão Tipo Bisnaguinha Tradicional e 36.900 Kg de Pão Tipo Bisnaguinha Integral - AT...
59705                520.000 Kg de Feijão Comum de Cores Carioca - Tipo 1 - ATA de RP nº 02/SME/DAE/2016\n

[80 rows x 1 columns]

## 7.5. Transferencias PNAE

In [66]:
pnae_filter = alimentacao_filter & (
    (
        (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Programa Nacional de Alimentação Escolar - PNAE/ FNDE', case=False))
        &
        (empenhos_df['txtDescricaoItemDespesa'].str.contains('Outras instituições', case=False))
    )
    &
    ~(empenhos_df['txtDescricaoProjetoAtividade'].str.contains('leite', case=False))
)
pnae = (empenhos_df[pnae_filter])
empenhos_df.loc[pnae_filter, 'cat_1'] = 'alimentacao'
empenhos_df.loc[pnae_filter, 'cat_2'] = 'pnae'
groupSum(pnae)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,23.877403,19.87111,19.721738

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             23.877403      19.87111     19.721738

                      valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoElemento
Contribuições                 23.877403      19.87111     19.721738

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Transferências Federais           23.877403      19.87111     19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Outras Instituições de Caráter Assistencial, Cultural ou Educacional",23.877403,19.87111,19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,23.877403,19.87111,19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Programa Nacional de Alimentação Escolar - PNAE/ FNDE,23.877403,19.87111,19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
"Instituições de Caráter Assistencial, Cultural e Educacional",23.877403,19.87111,19.721738

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Alimentação e Nutrição          23.877403      19.87111     19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Coordenadoria de Alimentação Escolar,11.996337,11.615632,11.501356
Departamento de Alimentação Escolar,11.881066,8.255478,8.220382

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          23.877403      19.87111     19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,23.877403,19.87111,19.721738

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
SOCIEDADE BENEFICENTE EQUILIBRIO DE INTERLAGOS,0.940530,0.505682,0.505682
CENTRO DE ASSISTÊNCIA E PROMOÇÃO SOCIAL NOSSO LAR,0.496266,0.496266,0.496266
CRUZADA PRÓ INFÂNCIA,0.460956,0.460956,0.460956
CENTRO SOCIAL NOSSA SENHORA DO BOM PARTO,0.401250,0.401250,0.401250
AÇÃO SOCIAL COMUNITÁRIA DO LAGEADO JOILSON DE JESUS,0.279270,0.279270,0.279270
INSTITUTO CEM POR CENTO SOCIAL,0.222346,0.222346,0.222346
FUNDAÇÃO COMUNIDADE DA GRAÇA,0.219564,0.219564,0.219564
ASSOCIAÇÃO SANTA EDWIGES,0.185966,0.185966,0.185966
OBRA ASSISTENCIAL JESUS MENINO,0.185324,0.185324,0.185324
AÇÃO SOCIAL SÃO MATEUS,0.183398,0.183398,0.183398
INSTITUTO EDUCACIONAL PAIS E FILHOS,0.214000,0.180402,0.180402
CRUZADA PRO INFANCIA,0.170986,0.170986,0.170986
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA CRIANÇAS DE DEUS,0.170558,0.170558,0.170558
ASSOCIACAO CEDRO DO LIBANO DE PROTECAO A INFANCIA,0.306234,0.169916,0.169916
ONG PLENO VIVER,0.148944,0.148944,0.148944
INSTITUTO CRIANÇA CIDADÃ,0.143380,0.143380,0.143380
ASSOCIAÇÃO SEARA NORTE,0.247598,0.138137,0.138137
SOCIEDADE INSTRUÇÃO E SOCORROS,0.272636,0.136318,0.136318
CENTRO SOCIAL DE PARELHEIROS,0.136104,0.136104,0.136104
CENTRO INTERESCOLAR DA JUVENTUDE,0.127758,0.127758,0.127758
NUCLEO ASSISTENCIAL FRATERNO,0.255516,0.127758,0.127758
TURMA DA TOUCA ACRS,0.189069,0.126046,0.126046
CENTRO SOCIAL SANTA CATARINA,0.120696,0.120696,0.120696
INSTITUTO KWARAY,0.188533,0.120482,0.120482
ASSOCIACAO BENEFICENTE SANTA FILOMENA,0.118128,0.118128,0.118128
ORGANIZAÇÃO TALENTO JOVEM,0.115346,0.115346,0.115346
ASSET - ASSOCIAÇÃO EDUCAR PARA TRANSFORMAR,0.148730,0.113206,0.113206
ASSOCIAÇÃO SÃO GABRIEL,0.112778,0.112778,0.112778
ASSOCIAÇÃO AGUAS MARINHA,0.111494,0.111494,0.111494
ASSOCIAÇÃO DE MORADORES JACINTO PAZ,0.108926,0.108926,0.108926
...,...,...,...
ASSOCIAÇÃO DE VOLUNTÁRIOS EDUCADORES SOCIAIS - AVES,0.016906,0.008453,0.008453
CARITAS DIOCESANA DE CAMPO LIMPO -CDCL,0.016906,0.008453,0.008453
ASSOCIAÇÃO DE VOLUNTARIOS EDUCADORES SOCIAIS - AVES,0.016478,0.008239,0.008239
ASSOC. COMUN. E BENEF. PE. JOSÉ A. M. MOREIRA,0.016050,0.008025,0.008025
INSTITUIÇÃO AQUARELA,0.015622,0.007811,0.007811
ASSOCIACAO EDUCACIONAL DE BRACOS ABERTOS,0.015622,0.007811,0.007811
ASSOCIAÇÃO NOVOS HORIZONTES A COMUNIDADE,0.014980,0.007490,0.007490
IHDI - INSTITUTO HUMANIZAÇÃO E DESENVOLVIMENTO INTEGRAL,0.014980,0.007490,0.007490
GRUPO DE MAES COMUNIDADE FELIZ,0.014980,0.007490,0.007490
CRECHE NOSSA SENHORA MAE DA IGREJA,0.014980,0.007490,0.007490
ASSOCIAÇÃO DOS MORADORES DO JARDIM AUREA,0.014980,0.007490,0.007490
ASSOCIACAO FEMININA DAS SERVIDORAS PUBLICAS DO BRASIL,0.014124,0.007062,0.007062
COMUNIDADE KOLPING DO JARDIM CATANDUVA,0.014124,0.007062,0.007062
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA MÃOS ESTENDIDAS,0.013910,0.006955,0.006955
ASSOCIACAO BENEFICENTE EDUCATIVA A.B.E,0.012840,0.006420,0.006420
CENTRO DE ASSISTÊNCIA SOCIAL SANTO AGNELO,0.012840,0.006420,0.006420
ASSOCIAÇÃO DE LUTAS E PROMOÇÃO SOCIAL JARDIM ROBRU E ADJACÊNCIAS,0.012840,0.006420,0.006420
ASSOCIAÇÃO AMIGOS LUTANDO PARA UM FUTURO MELHOR,0.012840,0.006420,0.006420
INSTITUTO VIDA SÃO PAULO,0.012412,0.006206,0.006206
ASSOCIAÇÃO COMUNITÁRIA PRIMEIRO PASSO DO JARDIM DONARIA,0.011984,0.005992,0.005992
CARITAS DIOCESANA DE CAMPO LIMPO,0.010058,0.005029,0.005029
ASSOCIAÇÃO BENEFICENTE COMUNITÁRIA E CULTURAL NÚCLEO DE ATEND. SOCIAL,0.014980,0.014980,0.000000
ASSOCIAÇÃO SONHAR E ACREDITAR,0.017120,0.017120,0.000000
ASSOCIAÇÃO DE MORADORES UNIAO E PROGR. DO PARQ ARARIBA E ADJAC,0.066982,0.000000,0.000000
OBRAS SOCIAIS DE VISTA ALEGRE,0.021400,0.021400,0.000000
ONG FORÇA E PERSERVERANÇA,0.040660,0.000000,0.000000
ASSOCIAÇÃO BRASILEIRA DE EDUCAÇÃO E CULTURA - ABEC,0.040018,0.040018,0.000000
ASSOCIACAO QUIALTERAS CULTURAIS - A.Q.C,0.070192,0.035096,0.000000
ASSOCIACAO UNIAO E PROGRESSO DO PARQUE ARARIBA E ADJACENCIAS,0.028676,0.000000,0.000000
(FIB) FEDERACAO DE IRMAOS BENEFICENTE,0.020758,0.020758,0.000000

                                                                                         txtObjetoContrato
450                                  Repasse de Recursos do PNAE para o CEI CANTINHO AMAC - INEP 3531467\n
601             Repasse de Recursos do PNAE para o CEI PINGO DE GENTE  - CÓD. INEP 35127929 - 2º REPASSE\n
606                   Repasse de Recursos do PNAE para o CEI IPIRANGA  - CÓD. INEP 35391918 - 2º REPASSE\n
613                           REPASSE DE RECURSOS DO PNAE PARA O CEI PRIMEIROS PASSOS - COD. INEP 35811725
753                     Repasse de Recursos do PNAE para o CEI MARIAMA - CÓD. INEP 35580934 - 2º REPASSE\n
759                Repasse de Recursos do PNAE para o CEI REI SALOMÃO  - CÓD. INEP 35183751 - 2º REPASSE\n
1001                             Repasse de Recursos do PNAE para o CEI Aldair Maria - Cód. INEP: 35445071
1002                       Repasse de Recursos do PNAE para o CEI Principe Encantado - Cód. INEP: 35564308
1087                          Repasse de Recursos do PNAE para o CEI Estrela Dourada - Cód. INEP: 35563742
1091                        Repasse do Recurso do PNAE para o CEI Crescer e Aprender - Cód. INEP: 35580983
1093                                 Repasse do Recurso do PNAE para o CEI Irineu II - Cód. INEP: 35584548
1109                          Repasse de Recursos do PNAE para o CEI Cantinho Mágico - Cód. INEP: 35566676
1121                           Repasse de Recursos do PNAE para o CEI Luar do Sertão - Cód. INEP: 35128235
1142                                    Repasse de Recursos do PNAE para o CEI EFATA-  CÓD. INEP: 35579981
1143                           Repasse de Recursos do PNAE para o CEI Nelson Mandela - Cód. INEP: 35578940
1144                           Repasse de Recursos do PNAE para o CEI Parque do Lago - Cód. INEP: 35579841
1145                             Repasse de Recursos do PNAE para o CEI Família Sião - Cód. INEP: 35579312
1146                            Repasse de Recursos do PNAE para o CEI Elohim Kadosh - Cód. INEP: 35581773
1147                         Repasse de Recursos do PNAE para o CEI Cecilia Meireles - Cód. INEP: 35578150
1148                           Repasse de Recursos do PNAE para o CEI Novos Caminhos - Cód. INEP: 35584496
1152                                Repasse do Recurso do PNAE para o CEI Vovó Vanda - Cód. INEP: 35581070
1154                               Repasse de Recurso do PNAE para o CEI Amor Eterno - Cód. INEP: 35569434
1167                            Repasse do Recurso do PNAE para o CEI Cantinho Feliz - Cód. INEP: 35393061
1171                               Repasse de Recursos do PNAE para o CEI Rei Arthur - Cód. INEP: 35583327
1172                             Repasse de Recursos do PNAE para o CEI CASTILHO - CÓD. INEP 355811611\r\n
1173                    Repasse de Recursos do PNAE para o CEI UNIÃO DA VILA NOVA - CÓD. INEP 35439101\r\n
1175                       Repasse de Recursos do PNAE para o CEI PALAVRA CANTADA - CÓD. INEP 35578290\r\n
1176                       Repasse de Recursos do PNAE para o CEI CECILIA MEIRELES- CÓD. INEP 35578236\r\n
1177    Repasse de Recursos do PNAE para o CEI PROFESSORA RITA DE CÁSSIA SOBRAL LAZER- CÓD. INEP 355784...
1179                Repasse de Recursos do PNAE para o CE DONA MARIA FONSECA LAGO - CÓD. INEP 35483060\r\n
...                                                                                                    ...
53473                           Repasse de Recursos do PNAE para o CEI BERNARDO SANTANA CÓD. INEP 35417348
53474                      Repasse de Recursos do PNAE para o CEI LUIZA SOPHIA ROSCHEL- CÓD. INEP 35468988
53475           Repasse de Recursos do PNAE para o CEI VEREADOR MIGUEL FRANCHINI NETTO- CÓD. INEP 35183775
53477                             Repasse de Recursos do PNAE para o CEI FIM DE SEMANA- CÓD. INEP 35481129
53481                             Repasse de Recursos do PNAE para o CEI PLENITUDE- CÓD. INEP 35470466\r\n
53488                                  Repasse de Recursos do PNAE para o CEI MMDC- CÓD. INEP 35180166\r\n
53547                             Repasse de Recursos do PNAE para o CEI CAMPO LIMPO V- CÓD. INEP 35562993
53551                       Repasse de Recursos do PNAE para o CEI MONTEIRO LOBATO- CÓD. INEP 35482717\r\n
53554                                    Repasse de Recursos do PNAE para o CEI IASHUA- CÓD. INEP 35438340
53558          Repasse de Recursos do PNAE para o CEI HORIZONTE AZUL ACQUA DI VITA- CÓD. INEP 35814295\r\n
53561                             Repasse de Recursos do PNAE para o CEI SÃO SEBASTIÃO- CÓD. INEP 35183453
53564                                      Repasse de Recursos do PNAE para o CEI CRIA- CÓD. INEP 35343572
53565                     Repasse de Recursos do PNAE para o CEI EDUCADOR PAULO FREIRE- CÓD. INEP 35406193
53567                            Repasse de Recursos do PNAE para o CEI DENTE DE LEITE Cód. INEP  35566238
53568                              Repasse de Recursos do PNAE para o CEI VILA GUSTAVO Cód. INEP  35182588
53620                  Repasse de Recursos do PNAE para o CEI SELMO MARTINS DOS SANTOS Cód. INEP  35444923
53630                       Repasse de Recursos do PNAE para o CEI JARDIM DA CONQUISTA Cód. INEP  35181912
53631              Repasse de Recursos do PNAE para o CEI JULIO FRANCISCO DE SOUZA III- CÓD. INEP 35443736
53632                              Repasse de Recursos do PNAE para o CEI AVES GALHANI- CÓD. INEP 35305534
53633               Repasse de Recursos do PNAE para o CEI Brincando Também se Aprende- CÓD. INEP 35183143
53634                                Repasse de Recursos do PNAE para o CEI NOVOS RUMOS Cód. INEP  3547512
53636                                 Repasse de Recursos do PNAE para o CEI TIÃOZINHO Cód. INEP  35183660
53638                                 Repasse de Recursos do PNAE para o CEI SER FELIZ Cód. INEP  35419096
53640                     Repasse de Recursos do PNAE para o CEI SALESIANO SANTA LUZIA- CÓD. INEP 35813643
53641                       Repasse de Recursos do PNAE para o CEI JARDIM NORDESTE- CÓD. INEP 35181742\r\n
53642                             Repasse de Recursos do PNAE para o CEI GALILEU MENON Cód. INEP  35288494
53643                  Repasse de Recursos do PNAE para o CEI ESPAÇO DA COMUNIDADE III Cód. INEP  35353280
53645                                 Repasse de Recursos do PNAE para o CEI ACONCHEGO Cód. INEP  35307841
53646              Repasse de Recursos do PNAE para o CEI NORA AULER DE ARRUDA BOTELHO Cód. INEP  35432556
53648                               Repasse de Recursos do PNAE para o CEI CURUMIM- CÓD. INEP 35479597\r\n

[737 rows x 1 columns]

# 8. Pedagógico e formação

## 8.1. Cursos e formação

In [67]:
formacao_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Cursos de Especialização e Treinamento', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Convênios - Qualificação Profissional', case=False))
)
formacao = (empenhos_df[formacao_filter])
empenhos_df.loc[formacao_filter, 'cat_1'] = 'pedagogico'
empenhos_df.loc[formacao_filter, 'cat_2'] = 'formacao'
groupSum(formacao)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,1.595121,1.449761,1.486303

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              1.595121      1.449761      1.486303

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,1.595121,1.449761,1.486303

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  1.595121      1.449761      1.486303

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Cursos de Especialização e Treinamento,1.011638,0.889933,0.926476
Convênios - Qualificação Profissional,0.583483,0.559827,0.559827

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,1.565231,1.421871,1.458413
Direitos da pessoa com deficiência,0.027890,0.027890,0.027890
Suporte Administrativo,0.002000,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Capacitação, Formação e Aperfeiçoamento de Servidores",1.565231,1.421871,1.458413
Educação Especial - Aprender sem limite,0.027890,0.027890,0.027890
Administração da Unidade,0.002000,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Seleção e Treinamento,1.011638,0.889933,0.926476
Serviços de Apoio ao Ensino,0.583483,0.559827,0.559827

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Formação de Recursos Humanos           1.565231      1.421871      1.458413
Educação Especial                      0.027890      0.027890      0.027890
Administração Geral                    0.002000      0.000000      0.000000

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           1.595121      1.449761      1.486303

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           1.595121      1.449761      1.486303

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas               1.595121      1.449761      1.486303

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
INSTITUTO VLADIMIR HERZOG,0.583483,0.559827,0.559827
FUNDACAO DE DESENVOLVIMENTO DA PESQUISA,0.471951,0.471951,0.471951
FUNDACAO SAO PAULO,0.509797,0.390092,0.426635
FUNDACAO PARA O DESENVOLVIMENTO DA UNESP - FUNDUNESP,0.027890,0.027890,0.027890
RL ASSESSORIA E TREINAMENTO EDUCACIONAL EIRELI - ME,0.002000,0.000000,0.000000

                                                                                         txtObjetoContrato
6734   Contratação de instituição para ministrar curso d3e especialização na área de surdez. Esta contr...
6794   Contratação de instituição para realização de curso de especialização na área de altas habilidad...
13300                                                                                                  NaN
16902                                                                           Contratação de Palestrante
26001  Contratação de instituição de ensino para desenvolvimento de Curso de Mestrado. Esta contratação...

## 8.2. Elaboração de materiais didáticos

## 8.3. Outros?

# 9. Tecnologia da informação

#### Checar filtros

In [68]:
ti_filter = (
    (empenhos_df['txtDescricaoSubFuncao'].str.contains('tecnologia da inf', case=False))
)
ti = (empenhos_df[ti_filter])
empenhos_df.loc[ti_filter, 'cat_1'] = 'ti'
groupSum(ti)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,108.087883,40.89734,86.059425

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             66.708423     40.613301     45.753647
Despesas de Capital            41.379460      0.284038     40.305778

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,66.705633,40.610511,45.750857
Equipamentos e Material Permanente,41.019460,0.104038,40.125778
Outros Serviços de Terceiros - Pessoa Jurídica,0.360000,0.180000,0.180000
Material de Consumo,0.002790,0.002790,0.002790

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                108.087883      40.89734     86.059425

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Outros Aparelhos e Equipamentos de Comunicação,40.021740,0.000000,40.021740
"Serviço de Instalação, Ampliação de Sist. de Telefonia/Teleinformática",15.368131,11.271799,13.518565
PRODAM,15.912125,9.824414,11.357797
"Outros Serviços de Apoio Administrativo, Técnico e Operacional",9.316095,6.581965,7.106000
Manutenção e Conservação de Equipamentos de Processamento de Dados,9.195115,5.937811,6.459788
Manutenção de Software,8.605008,3.876742,3.915567
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",2.559587,1.771597,1.869473
Equipamentos de Processamento de Dados,0.583397,0.522691,0.570617
Outras Máquinas e Equipamentos,0.552979,0.460816,0.552979
Guarda e Gerenciamento de Documentos,4.603634,0.361129,0.390509
Aquisição de Softwares - Intangível,0.360000,0.180000,0.180000
Outras Máquinas e Equipamentos Energéticos,0.075294,0.070812,0.070812
Switch,0.033226,0.033226,0.033226
Pesquisa em Geral,0.007813,0.000000,0.007813
Toner e Cartuchos de Tinta,0.002790,0.002790,0.002790
Certificado Digital,0.001747,0.001547,0.001747
Hardware,0.889200,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,108.087883,40.89734,86.059425

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",92.175758,31.072926,74.701628
Manutenção de Sistemas de Informação e Comunicação,15.912125,9.824414,11.357797

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Aparelhos e Equipamentos de Comunicação,40.021740,0.000000,40.021740
Serviços de Telecomunicações,15.368131,11.271799,13.518565
Serviços Técnicos Profissionais de T.I.,15.912125,9.824414,11.357797
"Serviço de Apoio Administrativo, Técnico e Operacional",13.919729,6.943094,7.496509
Manutenção e Conservação de Equipamentos de Processamento de Dados,9.195115,5.937811,6.459788
Manutenção de Software,8.605008,3.876742,3.915567
Serviços Técnicos Profissionais,2.567401,1.771597,1.877287
Manut. e Conserv. de Máquinas e Equipamentos,1.136377,0.983508,1.123597
Aquisição de Softwares de Base ou Aplicação,0.360000,0.180000,0.180000
Máquinas e Equipamentos Energéticos,0.075294,0.070812,0.070812
Equipamentos de Processamento de Dados,0.922426,0.033226,0.033226
Material de Processamento de Dados,0.002790,0.002790,0.002790
Assinatura de Periódicos e Anuidades,0.001747,0.001547,0.001747

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação         108.087883      40.89734     86.059425

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário         108.087883      40.89734     86.059425

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          66.708423     40.613301     45.753647
Investimentos                      41.379460      0.284038     40.305778

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas             108.087883      40.89734     86.059425

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
POSITIVO TECNOLOGIA S.A.,40.910940,0.000000,40.021740
PRIMESYS SOLUÇÕES EMPRESARIAIS S.A.,14.698120,10.708426,12.848554
EMPRESA DE TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO DO MUNICÍPIO DE SÃO PAULO - PRODAM-SP S/A,15.912125,9.824414,11.357797
GOLDEN DISTRIBUIDORA LTDA.,9.334915,6.538447,7.124821
G&P PROJETOS E SISTEMAS LTDA,9.320045,5.895701,6.415942
MSTECH EDUCACAO E TECNOLOGIA EIRELI,7.853286,3.335047,3.335047
AYNIL SOLUÇÕES S/A,2.634882,1.842409,1.940286
TELEFÔNICA BRASIL S.A.,0.670011,0.563374,0.670011
ACECO TI S.A.,0.583397,0.522691,0.570617
GARTNER DO BRASIL SERVIÇOS DE PESQUISAS LTDA.,0.534159,0.504334,0.534159
COMPWIRE INFORMATICA S/A,0.528122,0.492444,0.525696
NC COMERCIO E SERVIÇOS LTDA - ME,4.603634,0.361129,0.390509
GEOAMBIENTE SENSORIAMENTO REMOTO LTDA,0.360000,0.180000,0.180000
LIFE TECNOLOGIA E CONSULTORIA LTDA - ME,0.098670,0.091360,0.098670
H L P COMERCIO ELETRO-FONIA LTDA - EPP,0.033226,0.033226,0.033226
MERCER HUMAN RESOURCE CONSULTING LTDA,0.007813,0.000000,0.007813
SÉRGIO LUIZ SCHOGOR JUNIOR - ME,0.002100,0.002100,0.002100
SERASA S.A.,0.001747,0.001547,0.001747
VITOR EDE RODRIGUES GUERIERI 45633605896,0.000690,0.000690,0.000690

                                                                                         txtObjetoContrato
2927                                                                                 Aquisição de switches
5062                                                                                                   NaN
8123                    Repasse de Recursos do PNAE para o CEI MORRO GRANDE CT VIDA - CÓD. INEP 35403118\n
8749   Aquisição de pesquisa salarial referente a cargos de tecnologia da informação para utilização co...
9017                                                                        Serviços de Manutenção Predial
11088  Repasse de recursos para APM de acordo com a Lei Federal nº 9.394/1996, Lei Municipal nº 13.991/...
15268                                                                   Aquisição de Certificados Digitais
18004                                                   Serviço de suporte técnico e manutenção p/hardware
22368                                     Contratação Emergencial - Suporte Técnico e Manutenção "On Site"
32760  PRESTAÇÃO DE SERVIÇOS DE PROCESSAMENTO, ARMAZENAMENTO, E VISUALIZAÇÃO DE DADOS GEORREFERENCIADOS...
33699                                           REPASSE DE RECURSOS A APM - PTRF: CUSTEIO E CAPITAL / 2017
40093                                                                                Aquisição de notebook
40224                                                                       Aquisição de microcomputadores
51184            \r\n\r\nAquisição de cartuchos de tinta para a impressota jato de tinta CANON iP 7210\r\n
51186                                   Cartuchos de tinta para a impressora jato de tinta CANON iP 7210.
53831           PRESTAÇÃO DE SERVIÇOS DE AGENTE DE RECREAÇÃO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017

## 9.0 Compra de notebooks (2017)

In [69]:
compra_notebooks_filter = ti_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Outros Aparelhos e Equipamentos de Comunicação', case=False))
)
compra_notebooks = (empenhos_df[compra_notebooks_filter])
empenhos_df.loc[compra_notebooks_filter, 'cat_1'] = 'ti'
empenhos_df.loc[compra_notebooks_filter, 'cat_2'] = 'compra_notebooks'
groupSum(compra_notebooks)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,40.02174,0.0,40.02174

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas de Capital             40.02174           0.0      40.02174

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Equipamentos e Material Permanente,40.02174,0.0,40.02174

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  40.02174           0.0      40.02174

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Outros Aparelhos e Equipamentos de Comunicação,40.02174,0.0,40.02174

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,40.02174,0.0,40.02174

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",40.02174,0.0,40.02174

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Aparelhos e Equipamentos de Comunicação,40.02174,0.0,40.02174

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação           40.02174           0.0      40.02174

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           40.02174           0.0      40.02174

                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Investimentos             40.02174           0.0      40.02174

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas               40.02174           0.0      40.02174

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtRazaoSocial
POSITIVO TECNOLOGIA S.A.           40.02174           0.0      40.02174

           txtObjetoContrato
40093  Aquisição de notebook

## 9.1. Fornecimento de internet

#### Checar filtro

In [70]:
internet_filter = ti_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Serviço de Instalação, Ampliação de Sist. de Telefonia/Teleinformática', case=False))
    |
#   # cabeamento elétrico e lógico
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Supervisão, Acompanhamento e Suporte de Serviços Técnicos', case=False))
)
internet = (empenhos_df[internet_filter])
empenhos_df.loc[internet_filter, 'cat_1'] = 'ti'
empenhos_df.loc[internet_filter, 'cat_2'] = 'internet'
groupSum(internet)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,17.927718,13.043396,15.388038

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             17.927718     13.043396     15.388038

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,17.927718,13.043396,15.388038

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 17.927718     13.043396     15.388038

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Serviço de Instalação, Ampliação de Sist. de Telefonia/Teleinformática",15.368131,11.271799,13.518565
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",2.559587,1.771597,1.869473

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,17.927718,13.043396,15.388038

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",17.927718,13.043396,15.388038

                                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Serviços de Telecomunicações             15.368131     11.271799     13.518565
Serviços Técnicos Profissionais           2.559587      1.771597      1.869473

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação          17.927718     13.043396     15.388038

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário          17.927718     13.043396     15.388038

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          17.927718     13.043396     15.388038

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              17.927718     13.043396     15.388038

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
PRIMESYS SOLUÇÕES EMPRESARIAIS S.A.,14.698120,10.708426,12.848554
AYNIL SOLUÇÕES S/A,2.559587,1.771597,1.869473
TELEFÔNICA BRASIL S.A.,0.670011,0.563374,0.670011

                                                                        txtObjetoContrato
5362                                                                                  NaN
8123   Repasse de Recursos do PNAE para o CEI MORRO GRANDE CT VIDA - CÓD. INEP 35403118\n

## 9.2. Manutenção de equipamentos -> suporte de TI

In [71]:
manutencao_equip_ti_filter = ti_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Manutenção e Conservação de Equipamentos de Processamento de Dados', case=False))
)
manutencao_equip_ti = (empenhos_df[manutencao_equip_ti_filter])
empenhos_df.loc[manutencao_equip_ti_filter, 'cat_1'] = 'ti'
empenhos_df.loc[manutencao_equip_ti_filter, 'cat_2'] = 'manutencao_equip_ti'
groupSum(manutencao_equip_ti)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,9.195115,5.937811,6.459788

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              9.195115      5.937811      6.459788

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,9.195115,5.937811,6.459788

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  9.195115      5.937811      6.459788

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Manutenção e Conservação de Equipamentos de Processamento de Dados,9.195115,5.937811,6.459788

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,9.195115,5.937811,6.459788

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",9.195115,5.937811,6.459788

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Manutenção e Conservação de Equipamentos de Processamento de Dados,9.195115,5.937811,6.459788

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação           9.195115      5.937811      6.459788

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           9.195115      5.937811      6.459788

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           9.195115      5.937811      6.459788

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas               9.195115      5.937811      6.459788

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtRazaoSocial
G&P PROJETOS E SISTEMAS LTDA           8.666993      5.445367      5.934092
COMPWIRE INFORMATICA S/A               0.528122      0.492444      0.525696

                                                      txtObjetoContrato
18005                Serviço de suporte técnico e manutenção p/hardware
22374  Contratação Emergencial - Suporte Técnico e Manutenção "On Site"
33699        REPASSE DE RECURSOS A APM - PTRF: CUSTEIO E CAPITAL / 2017
38489                                                               NaN

## 9.3. Manutenção de software e sistemas PRODAM

In [72]:
prodam_filter = ti_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('PRODAM', case=False))
    |
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Manutenção de Software', case=False))
)
prodam = (empenhos_df[prodam_filter])
empenhos_df.loc[prodam_filter, 'cat_1'] = 'ti'
empenhos_df.loc[prodam_filter, 'cat_2'] = 'manutencao_software_sistemas'
groupSum(prodam)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,24.517133,13.701156,15.273364

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             24.517133     13.701156     15.273364

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,24.517133,13.701156,15.273364

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 24.517133     13.701156     15.273364

                         valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoItemDespesa
PRODAM                           15.912125      9.824414     11.357797
Manutenção de Software            8.605008      3.876742      3.915567

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,24.517133,13.701156,15.273364

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Manutenção de Sistemas de Informação e Comunicação,15.912125,9.824414,11.357797
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",8.605008,3.876742,3.915567

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços Técnicos Profissionais de T.I.,15.912125,9.824414,11.357797
Manutenção de Software,8.605008,3.876742,3.915567

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação          24.517133     13.701156     15.273364

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário          24.517133     13.701156     15.273364

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          24.517133     13.701156     15.273364

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas              24.517133     13.701156     15.273364

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
EMPRESA DE TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO DO MUNICÍPIO DE SÃO PAULO - PRODAM-SP S/A,15.912125,9.824414,11.357797
MSTECH EDUCACAO E TECNOLOGIA EIRELI,7.853286,3.335047,3.335047
G&P PROJETOS E SISTEMAS LTDA,0.653052,0.450335,0.481850
LIFE TECNOLOGIA E CONSULTORIA LTDA - ME,0.098670,0.091360,0.098670

                                                                                txtObjetoContrato
5062                                                                                          NaN
18004                                          Serviço de suporte técnico e manutenção p/hardware
22368                            Contratação Emergencial - Suporte Técnico e Manutenção "On Site"
53831  PRESTAÇÃO DE SERVIÇOS DE AGENTE DE RECREAÇÃO NO PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017

## 9.4. Manutenção de equipamentos de impressão e insumos

In [73]:
outros_ti_filter = ti_filter & (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Supervisão, Acompanhamento e Suporte de Serviços Técnicos', case=False))
)
outros_ti = (empenhos_df[outros_ti_filter])
empenhos_df.loc[outros_ti_filter, 'cat_1'] = 'ti'
empenhos_df.loc[outros_ti_filter, 'cat_2'] = 'manutencao_impressao'
groupSum(outros_ti)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,2.559587,1.771597,1.869473

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              2.559587      1.771597      1.869473

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,2.559587,1.771597,1.869473

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  2.559587      1.771597      1.869473

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",2.559587,1.771597,1.869473

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Modernização e descentralização da gestão e prestação de serviços,2.559587,1.771597,1.869473

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
"Aquisição de Materiais, Equipamentos e Serviços de Informação e Comuni",2.559587,1.771597,1.869473

                                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Serviços Técnicos Profissionais           2.559587      1.771597      1.869473

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Tecnologia da Informação           2.559587      1.771597      1.869473

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           2.559587      1.771597      1.869473

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           2.559587      1.771597      1.869473

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas               2.559587      1.771597      1.869473

                    valTotalEmpenhado  valLiquidado  valPagoTotal
txtRazaoSocial
AYNIL SOLUÇÕES S/A           2.559587      1.771597      1.869473

                                                                        txtObjetoContrato
8123   Repasse de Recursos do PNAE para o CEI MORRO GRANDE CT VIDA - CÓD. INEP 35403118\n

# 10. Transferência de recursos PTRF

## 10.1 Geral

In [74]:
# mapear?

In [75]:
ptrf_filter = (
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Programa Transferência Recursos Financeiros', case=False))
)
ptrf = (empenhos_df[ptrf_filter])
empenhos_df.loc[ptrf_filter, 'cat_1'] = 'transferencias'
empenhos_df.loc[ptrf_filter, 'cat_2'] = 'ptrf'
groupSum(ptrf)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,42.878479,41.84657,41.84657

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             38.034370     37.074281     37.074281
Despesas de Capital             4.844109      4.772288      4.772288

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros - Pessoa Jurídica,38.034370,37.074281,37.074281
Equipamentos e Material Permanente,4.844109,4.772288,4.772288

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 42.878479      41.84657      41.84657

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Programa Transferência Recursos Financeiros - Assoc de Pais e Mestres,38.034370,37.074281,37.074281
Programa Transferência Recursos Financeiros - PTRF - APM,4.844109,4.772288,4.772288

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,42.861163,41.829254,41.829254
Superação da extrema pobreza,0.017316,0.017316,0.017316

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Transferência de Recursos Financeiros para as Unidades Educacionais,42.861163,41.829254,41.829254
Alfabetização de Jovens e Adultos,0.017316,0.017316,0.017316

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços de Apoio ao Ensino,38.034370,37.074281,37.074281
Materiais e Equipamentos de Apoio ao Ensino,4.844109,4.772288,4.772288

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                42.861163     41.829254     41.829254
Ensino Fundamental              0.017316      0.017316      0.017316

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Diretoria Regional de Educação - Campo Limpo,6.001994,5.582000,5.582000
Diretoria Regional de Educação - São Miguel,4.253045,4.150001,4.150001
Diretoria Regional de Educação - Pirituba,4.297259,4.004503,4.004503
Diretoria Regional de Educação - São Mateus,3.886844,3.847700,3.847700
Diretoria Regional de Educação Capela do Socorro,3.087856,3.071113,3.071113
Diretoria Regional de Educação - Guaianases,2.931090,2.899841,2.899841
Diretoria Regional de Educação - Penha,2.909953,2.888076,2.888076
Diretoria Regional de Educação - Jaçanã/Tremembé,2.881946,2.881946,2.881946
Diretoria Regional de Educação - Freguesia/Brasilândia,2.737565,2.710469,2.710469
Diretoria Regional de Educação - Itaquera,2.775872,2.697746,2.697746
Diretoria Regional de Educação - Ipiranga,2.689750,2.687871,2.687871
Diretoria Regional de Educação - Santo Amaro,2.277907,2.277907,2.277907
Diretoria Regional de Educação - Butantã,2.147399,2.147399,2.147399

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          38.034370     37.074281     37.074281
Investimentos                       4.844109      4.772288      4.772288

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Transferências a Instituições Privadas sem Fins Lucrativos,42.878479,41.84657,41.84657

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
APM EMEF PADRE JOSE PEGORARO,0.065233,0.065233,0.065233
APM DA EMEFM ANTONIO A.VERISSIMO,0.064433,0.064433,0.064433
APM DA EMEFM PROF. LINNEU PRESTES,0.063803,0.063803,0.063803
APM DA EMEF FAGUNDES VARELLA,0.062930,0.062930,0.062930
ASSOCIAÇÃO DE PAIS E MESTRES DA EMEF PADRE LEONEL FRANCA,0.096381,0.060962,0.060962
A. P. M. DA EMEF CEU SAPOPEMBA,0.060248,0.060248,0.060248
APM DO CEU EMEF MARIA APARECIDA DE SOUZA CAMPOS,0.059965,0.059965,0.059965
APM DA EMEF FREI DAMIAO,0.059521,0.059521,0.059521
APM DO CEU EMEF MANOEL VIEIRA DE QUEIROZ FILHO,0.059013,0.059013,0.059013
APM DA EMEF PROF. MARIA RITA DE CASSIA PINHEIRO SIMOES BRAGA,0.058199,0.058199,0.058199
ASSOCIAÇÃO DE PAIS E MESTRES SERVIDORES USUÁRIOS E AMIGOS DO CENTRO EDUC UNIFICADO VILA DO SOL,0.056785,0.056785,0.056785
APM DA EMEF EZEQUIEL RAMOS JUNIOR,0.056265,0.056265,0.056265
ASSOCIAÇÃO DE PAIS E MESTRES DO CEU EMEF JAGUARÉ,0.088643,0.056158,0.056158
ASSOCIAÇÃO DE PAIS E METRES SERVIDORES USUARIOS E AMIGOS DO CENTRO EDUCACIONAL UNIFICADO TRES PONTES,0.055082,0.055082,0.055082
APM DA EMEFM PROFESSOR DERVILLE ALLEGRETTI,0.054890,0.054890,0.054890
APM. SERVIDORES. USUÁR. E AMIGOS CEU INACIO MONTEIRO (APMSUAC),0.054342,0.054342,0.054342
ASSOCIAÇÃO DE PAIS E MESTRES DO CEU EMEF VILA DO SOL,0.075946,0.054232,0.054232
APM SERVIDORES USUARIOS AMIGOS DO CEU NAVEGANTES PROF JOSE EVERARDO RODRIGUES COSME,0.054183,0.054183,0.054183
APM DA EMEF HIPÓLITO JOSÉ DA COSTA,0.054003,0.054003,0.054003
APM DA EMEF PROF. ANDRE RODRIGUES DE ALCKMIN,0.053998,0.053998,0.053998
APM DA EMEF PROF CARLOS PASQUALE,0.053934,0.053934,0.053934
ASSOCIACAO DE PAIS E MESTRES DA EMEF JORNALISTA MILLOR FERNANDES,0.053765,0.053765,0.053765
ASSOCIAÇÃO DE PAIS E MESTRES DO CEU EMEF TRÊS PONTES,0.053679,0.053679,0.053679
ASSOCIAÇÃO DE PAIS E MESTRES DA EMEF DR JOÃO AUGUSTO BREVES,0.053594,0.053594,0.053594
ASSOCIAÇÃO DE PAIS E MESTRES DO CEU EMEF CAPÃO REDONDO,0.080031,0.053325,0.053325
ASSOCIAÇAO PAIS MESTRES SERVIDORES USUARIOS AMIGOS DO CENTRO EDUCACIONAL UNIFICADO PARELHEIROS,0.053269,0.053269,0.053269
ASSOCIAÇÃO DE PAIS E MESTRES DA EMEF CASTOR,0.052977,0.052977,0.052977
APM DA EMEF FRANCISCO ALVES MENDES FILHO - CHICO MENDES,0.052908,0.052908,0.052908
APM DA EMEF PROF AROLDO DE AZEVEDO,0.059166,0.052788,0.052788
APM DA ESCOLA MUNICIPAL DE ENSINO FUDAMENTAL CASSIANO RICARDO,0.052498,0.052498,0.052498
...,...,...,...
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI VEREADOR BENEDICTO ROCHA,0.011408,0.011408,0.011408
A.P.M. DO CEI INEZ MENEZES MARIA,0.011116,0.011116,0.011116
APM DA EMEI DONA ANA ROSA DE ARAÚJO,0.011094,0.011094,0.011094
APM DA EMEI CIDADE ADEMAR II,0.011061,0.011061,0.011061
APM - EMEI PROFESSOR ORLANDO DA ALVARENGA GAUDIO,0.011040,0.011040,0.011040
ASSOCIAÇÃO DE PAIS E MESTRES DO CENTRO MUNICIPAL DE EDUCAÇÃO INFANTIL - CEMEI IRAPARÁ,0.010986,0.010986,0.010986
APM DA EMEI ADEVALDO DE MORAES,0.010980,0.010980,0.010980
APM ESCOLA MUNICIPAL DE EDUCAÇÃO INFANTIL JOÃO THEODORO,0.010968,0.010968,0.010968
APM EMEI TENENTE PAULO ALVES,0.010947,0.010947,0.010947
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI JARDIM RODRIGO,0.010914,0.010914,0.010914
APM DO CEI ELFRIDA ZUKOWSKI JARDIM,0.010798,0.010798,0.010798
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI VEREADOR LAERCIO CORTE,0.010671,0.010671,0.010671
A.P.M. DO CENTRO DE EDUCAÇÃO INFANTIL GENOVEVA D ASCOLI,0.010608,0.010608,0.010608
ASSOCIAÇÃO DE PAIS E MESTRES DO CEU CEI CAMPO LIMPO,0.020998,0.010499,0.010499
ASSOCIAÇÃO DE PAIS E MESTRES DO CTO. EDUC. INF. VER. JOÃO TONIOLO,0.010122,0.010122,0.010122
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI SILVIA COVAS,0.010041,0.010041,0.010041
APM DO CEI VEREADOR MARCOS MELEGA,0.009792,0.009792,0.009792
APM EMEI PROFESSOR LUCIANO ROBERTO,0.009525,0.009525,0.009525
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI VILA PRADO,0.009471,0.009471,0.009471
APM DO CECI CEI JARAGUÁ,0.009396,0.009396,0.009396
ASSOCIACAO DE PAIS E MESTRES DA E M E I JEAN PIAGET,0.009366,0.009366,0.009366
APM DA EMEI PROF. IGNÁCIO HENRIQUE ROMEIRO,0.009357,0.009357,0.009357
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI PARQUE SAO RAFAEL II,0.009266,0.009266,0.009266
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI SANTA BARBARA,0.008992,0.008992,0.008992
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI DOM LUCIANO MENDES DE ALMEIDA,0.008843,0.008843,0.008843
ASSOCIAÇÃO DE PAIS E MESTRES DO CENTRO EDUC. IINFANTIL JARDIM MONJOLO,0.008626,0.008626,0.008626
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI VEREADOR FRANCISCO PEREZ,0.008587,0.008587,0.008587
APM CEI SAMIR RACHID SALIBA,0.007875,0.007875,0.007875
ASSOCIAÇÃO DE PAIS E MESTRES DO CEI WILSON JOSE ABDALLA,0.007751,0.007751,0.007751
ASSOCIAÇÃO DE PAIS E MESTRES DO C E I JARDIM IPANEMA,0.007733,0.007733,0.007733

                                                                                         txtObjetoContrato
1000   REPASSES DO RECURSO PARA  A APM DE ACORDO COM A LEI FEDERAL 9394/96, LEI MUNICIPAL 13991/05, DEC...
1003    REPASSES DO RECURSO PARA A APM DE ACORDO  COM A LEI FEDERAL 9394/96, LEI MUNICIPAL 13991/05, DE...
1004   IT - 1º REPASSE PARA APM DA EMEF PROFº FERNANDO DE AZEVEDO - DE ACORDO COM A LEI Nº 9394//96, LE...
1005   IT - 1º REPASSE PARA APM DA EMEF DR. HELLIO TAVARES  - DE ACORDO COM A LEI Nº 9394//96, LEI MUNI...
1006   IT- 1º REPASSE PARA APM DA EMEF HENRIQUE FELIPE DA COSTA HENRICAO- DE ACORDO COM A LEI Nº 9394//...
1007   IT - 1º REPASSE PARA APM DA EMEF JOSEFA NICÁCIO DE ARAUJO, PROFª  - DE ACORDO COM A LEI Nº 9394/...
1008   IT- 1º REPASSE PARA APM DA EMEF PROFª IZABEL APARECIDA CRISTOVÃO DA LUZ - DE ACORDO COM A LEI Nº...
1009   IT- 1º REPASSE PARA APM DA EMEF JOSE HONORIO RODRIGUES - DE ACORDO COM A LEI Nº 9394//96, LEI MU...
1011   IT - 1º REPASSE PARA APM DA EMEF DR. JOSE PEDRO LEITE CORDEIRO - DE ACORDO COM A LEI Nº 9394//96...
1015   IT- 1º REPASSE PARA APM DA EMEF COM.VICENTE AMATO SOBRINHO - DE ACORDO COM A LEI Nº 9394//96, LE...
1017   IT- 1º REPASSE PARA APM DA EMEF PROFª WANDA OVIDIO GONÇALVES - DE ACORDO COM A LEI Nº 9394//96, ...
1021   IT- 1º REPASSE PARA APM DA EMEF CEU MARIA CLARA MACHADO - DE ACORDO COM A LEI Nº 9394//96, LEI M...
1023   IT - 1º REPASSE PTRF PARA APM DA EMEF CEU VILA CURUÇA   - DE ACORDO COM A LEI Nº 9394//96, LEI M...
1025   IT - 1º REPASSE PTRF PARA APM DA EMEF JARDIM BARTIRA   - DE ACORDO COM A LEI Nº 9394//96, LEI MU...
1038   MP - 1º REPASSE PTRF PARA APM DA EMEF JOSÉ AMÉRICO DE ALMEIDA   - DE ACORDO COM A LEI Nº 9394//9...
1039   MP - 1º REPASSE PTRF PARA APM DA EMEF PROFº JOSE BENTO DE ASSIS   - DE ACORDO COM A LEI Nº 9394/...
1040   MP - 1º REPASSE PTRF PARA APM DA EMEF PE JOSE DE ANCHIETA   - DE ACORDO COM A LEI Nº 9394//96, L...
1041   MP - 1º REPASSE PTRF PARA APM DA EMEF SEN. JOSE ERMIRIO DE MORAES   - DE ACORDO COM A LEI Nº 939...
1042   MP - 1º REPASSE PTRF PARA APM DA EMEF SEN. LINO DE MATTOS  - DE ACORDO COM A LEI Nº 9394//96, LE...
1043   MP - 1º REPASSE PTRF PARA APM DA EMEF MURURES  - DE ACORDO COM A LEI Nº 9394//96, LEI MUNICIPAL ...
1044   MP - 1º REPASSE PTRF PARA APM DA EMEF D. PAULO ROLIM LOUREIRO  - DE ACORDO COM A LEI Nº 9394//96...
1045   MP- 1º REPASSE PTRF PARA APM DA EMEF DR. PEDRO ALEIXO - DE ACORDO COM A LEI Nº 9394//96, LEI MUN...
1047   REPASSES DO RECURSO PARA A APM DE ACORDO COM A LEI FEDERAL 9394/06, LEI MUNICIPAL 13991/05, DECR...
1191   REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991/...
1192    REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991...
1196    REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991...
1200   Repasse de Recursos para  APM de acordo com A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991/...
1223   Repasse de Recursos para  APM de acordo com A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991/...
1233    REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991...
1236   REPASSES DE RECURSOS PARA APM DE ACORDO COM A LEI FEDERAL Nº 9394/1996, LEI MUNICIPAL Nº 13.991/...
...                                                                                                    ...
44010  MP - 1º REPASSE PTRF PARA APM DA EMEF ARQ. LUIS SAIA   - DE ACORDO COM A LEI Nº 9394//96, LEI MU...
44028  MP - 1º REPASSE PARA APM DA EMEF ALM. PEDRO DE FRONTIN - DE ACORDO COM A LEI Nº 9394//96, LEI MU...
44033  MP - 1º REPASSE PARA APM DA EMEF  PEDRO TEIXEIRA - DE ACORDO COM A LEI Nº 9394//96, LEI MUNICIPA...
47414                         2º REPASSE PTRF/2017 - CUSTEIO - DRE G - CEI ALICE APARECIDA DE SOUZA, PROFA
47415                     2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI ALICE APARECIDA DE SOUZA, PROFA\r\n
47417                                        2º REPASSE PTRF/2017 - CUSTEIO - DRE G - APM SUAC CEU LAJEADO
47418                    2º REPASSE PTRF/2017 - CUSTEIO - DRE G - CIEJA ROSA KAZUE INAKAKE DE SOUZA, PROFA
47419                     2º REPASSE PTRF/2017 - CUSTEIO – DRE G – EMEFM OSWALDO ARANHA BANDEIRA DE MELLO
47420                                    2º REPASSE PTRF/2017 - CAPITAL - APM SUAC ADM CEU LAJEADO - DRE G
47421                     2º REPASSE PTRF/2017 - CAPITAL - DRE G - EMEFM OSWALDO ARANHA BANDEIRA DE MELLO
47426                                   2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI CONJUNTO PRESTES MAIA
47428                                         2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI INACIO MONTEIRO
47430                                           2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI INCONFIDENTES
47432                                        2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI JARDIM SÃO PAULO
47435                 2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI JUSCELINO KUBITSCHEK DE OLIVEIRA, PRES.
47437                           2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI MARIA AUGUSTA DE PAULA, PROFA
47438                                   2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI TITO DE ALENCAR, FREI
47441                                           2º REPASSE PTRF/2017 - CAPITAL - DRE G - CEI VILA MARILENA
47445                                         2º REPASSE PTRF/2017 - CUSTEIO - APM - EMEI ADONIRAN BARBOSA
47447                                            2º REPASE PTRF/2017 - CAPITAL - APM EMEI ADONIRAN BARBOSA
47452                                       2ª REPASSE PTRF/2017 - CUSTEIO - DRE G - CEI BARBARA HELIODORA
47455                                       2º REPASSE PTRF/2017 - CUSTEIO - DRE G - CEI CIDADE TIRADENTES
47532                                          REPASSE DE RECUIRSOS A APM - PTRF: CUSTEIO E CAPITAL / 2017
51220                                               1º REPASSE PTRF/2017-DRE-G-CUSTEIO-EMEI KLAUS REINACH
51222                                        1º REPASSE PTRF/2017-DRE-G-CUSTEIO-CEU EMEI INÁCIO MONTEIRO
51225                       1º REPASSE PTRF/2017-DRE-G-CUSTEIO-CEU EMEI PROFª THERESINHA SQUINCA DA SILVA
51228                                         1º REPASSE PTRF/2017-DRE-G-CAPITAL-CEU EMEI INÁCIO MONTEIRO
51232                        1º REPASSE PTRF/2017-DRE-G-CAPITAL-CEU EMEI PROFª THERESINHA SQUINCA DA SILVA
51352  REPASSE DE RECURSO PARA APM DE ACORDO COM A LEI FEDERAL  8394/1996,PORTARIA SME, INDICANDO O VAL...
57106                                                                                                  NaN

[734 rows x 1 columns]

# Identificando categorias faltantes

In [76]:
faltantes = empenhos_df[(
#     empenhos_df['cat_2'].isnull()
#     |
    empenhos_df['cat_1'].isnull()
)]
groupSum(faltantes)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,51.879332,36.663468,41.89032

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes             51.370645     36.531052     41.638142
Despesas de Capital             0.508687      0.132416      0.252178

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,37.512911,26.427119,31.145670
Outros Serviços de Terceiros - Pessoa Física,5.815730,4.323230,4.524359
Locação de Mão-de-Obra,2.827289,1.705485,1.740714
Obrigações Tributárias e Contributivas,2.076094,1.321706,1.398307
Auxílio-Alimentação,1.252159,1.248434,1.248434
Material de Consumo,1.256918,1.106857,1.146958
Equipamentos e Material Permanente,0.253903,0.132416,0.252178
Despesas de Exercícios Anteriores,0.222071,0.211834,0.211834
"Premiações Culturais, Artísticas, Científicas, Desportivas e Outras",0.107596,0.090112,0.099867
Auxílio-Transporte,0.072710,0.072710,0.072710
Passagens e Despesas com Locomoção,0.215488,0.015372,0.041096
Diárias - Civil,0.011680,0.008193,0.008193
Obras e Instalações,0.254784,0.000000,0.000000

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                 51.873872     36.663468      41.89032
Transferências Federais            0.005460      0.000000       0.00000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
"Supervisão, Acompanhamento e Suporte de Serviços Técnicos",11.991727,10.025471,10.376764
Administração de Bens ou Negócios em Geral,6.073733,4.654509,5.532017
Publicidade Legal,3.007800,0.007800,3.006130
Patrocínio a Projetos Culturais,1.800000,1.800000,1.800000
"Outros Serviços de Apoio Administrativo, Técnico e Operacional",1.616754,1.440490,1.557545
Copa e Cozinha,2.612104,1.529440,1.548806
SPTURIS,1.930917,1.448251,1.448251
INSS / Contribuinte Individual,2.056594,1.321706,1.398307
Palestrantes,1.708957,1.257272,1.318592
Serviços de Recepção e Portaria,1.148492,1.029733,1.121924
Outras Máquinas e Equipamentos em Geral,0.847906,0.679797,0.760803
Indenização,0.745904,0.745904,0.745904
Técnicos na Área Cultural e Artística,0.816441,0.651652,0.739522
Projeto Vocacional,0.750860,0.735020,0.738628
Vale-Alimentação - RGPS,0.648203,0.648203,0.648203
Despesas com Reembolso,0.678064,0.624843,0.629733
Auxílio-Refeição - RGPS,0.603956,0.600231,0.600231
"Poços, Reservatórios e Esgotos",0.559806,0.553654,0.553654
Taxa de Administração - Estagiário,0.589004,0.498706,0.545147
PIÁ - Programa de Iniciação Artística,0.528500,0.503992,0.503992
Especialização e Treinamento,0.545702,0.453207,0.481457
Conselho Municipal de Educação,1.149140,0.462918,0.471352
Tradução ou Interpretação Comercial,0.543698,0.416436,0.450782
Copeiragem,0.487839,0.398115,0.434677
Papel para Copiadora em Geral,0.419486,0.378254,0.378254
Motoristas com Veículos,0.346113,0.282491,0.308974
Postagem de Correspondências,0.691156,0.228914,0.236865
Transporte e Remessa de Encomendas,0.211810,0.188656,0.203781
Coffee Break,0.229506,0.189605,0.202425
Reprografia e Correlatos - Locação,0.451650,0.200620,0.200844
...,...,...,...
Outros Seguros,0.007496,0.006540,0.007031
Reatores e Geradores,0.006768,0.006768,0.006768
Associações,0.005400,0.005400,0.005400
"Apostilas, Almanaques, Folhetos e Periódicos",0.005352,0.005352,0.005352
"Diversas Flâmulas, Distintivos e/ou Insígnias",0.005244,0.005244,0.005244
Contratação por Tempo Determinado - Pessoa Física,0.004991,0.004991,0.004991
"Outros Serviços de Áudio, Vídeo, Foto, Som, Luz e Imagens",0.004800,0.004800,0.004800
"Adiantamento - Inciso VI, Art. 2º da Lei 10.513/88",0.008112,0.004625,0.004625
"Outros Equipamentos para Proteção, Segurança e Socorro",0.003830,0.000000,0.003830
"Adiantamento - Inciso VI, Art. 2º da Lei nº 10.513/88",0.003568,0.003568,0.003568
Diversas Ferramentas,0.003018,0.003018,0.003018
Refeições para Eventos em Educação,0.002700,0.002700,0.002700
Assinatura de Jornais,0.002176,0.002176,0.002176
"Adiantamento - Inciso VII, Art. 2º da Lei nº 10.513/88",0.002100,0.002100,0.002100
Utensíllios de Escritório,0.002096,0.002096,0.002096
Encadernação,0.002000,0.002000,0.002000
"Exposições,Congressos,Conferências, e Outros Ev.,Convênios, Seminários",0.001900,0.001900,0.001900
Aparelhos Telefônicos,0.001609,0.001609,0.001609
Disquetes e CD-ROM,0.001455,0.001455,0.001455
Certificado Digital,0.001333,0.000833,0.001333
Bebidas em Geral,0.020028,0.001272,0.001272
Direitos Autorais,0.000400,0.000400,0.000400
Assinaturas de Revistas,0.000119,0.000119,0.000119
Locação de Software,0.000049,0.000049,0.000049
Programa Dinheiro Direto na Escola - PDDE - APM,0.001725,0.000000,0.000000
Escolas e Similares,0.254784,0.000000,0.000000
Transporte Escolar - EMEI,0.027500,0.000000,0.000000
Preparo e Distribuição de Alimentos,0.015980,0.000000,0.000000
INSS,0.019500,0.000000,0.000000
Energia Elétrica de Prédios Públicos,0.254200,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,35.519319,28.123668,29.700501
Suporte Administrativo,9.681713,4.943924,8.294342
Modernização e descentralização da gestão e prestação de serviços,2.989795,1.280907,1.526975
Promoção da cidade como centro de eventos e destino turístico de refer,2.056456,1.448251,1.448251
"Participação, transparência e controle social da administração pública",1.260375,0.546824,0.572889
Direitos da pessoa com deficiência,0.371674,0.319894,0.347361

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,17.350943,11.841809,12.930701
Ampliação da jornada escolar - Programa Mais Educação,7.030981,6.255440,6.533670
Administração da Unidade,6.681713,4.943924,5.296012
Ações e materiais de apoio Didático-Pedagógico Educacional,4.680959,4.409048,4.509483
Publicações de Interesse do Município,3.000000,0.000000,2.998330
"Eventos Educacionais, Culturais e Esportivos nos Centros Educacionais",1.905174,1.905174,1.905174
Operação e Manutenção dos Centros Educacionais Unificados,1.729779,1.525262,1.573865
"Capacitação, Formação e Aperfeiçoamento de Servidores",2.989795,1.280907,1.526975
PIÁ/Vocacional,1.537168,1.486814,1.490422
Promoção de Campanhas e Eventos de Interesse do Município.,2.056456,1.448251,1.448251
Operação e Manutenção dos Conselhos e Espaços Participativos Municipai,1.260375,0.546824,0.572889
Ações Complementares do Sistema Municipal de Ensino,0.771471,0.496340,0.536075
Educação Especial - Aprender sem limite,0.371674,0.319894,0.347361
Iniciação à Docência e Alfabetização na Idade Certa,0.215574,0.180989,0.198154
Operação e Manutenção de CEIs e Creches da rede conveniada e outras mo,0.030309,0.017800,0.017965
Programa Nacional de Inclusão de Jovens - PROJOVEM Urbano,0.010451,0.004991,0.004991
E6160 - Instalação de Elevador na CEI Menino Jesus,0.254784,0.000000,0.000000
Transferência de Recursos Financeiros para as Unidades Educacionais,0.001725,0.000000,0.000000

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoSubElemento,,,
Serviços Técnicos Profissionais,24.088331,18.546718,19.973399
"Serviço de Apoio Administrativo, Técnico e Operacional",3.178657,2.793631,3.024133
Serviços de Publicidade Legal,3.007800,0.007800,3.006130
Patrocínios,1.800000,1.800000,1.800000
Serviços de Copa e Cozinha,2.612104,1.529440,1.548806
"Exposições, Congressos, Conferências e Outros Eventos",2.026314,1.540957,1.540957
Contribuições Previdenciárias - Serviços de Terceiros,2.076094,1.321706,1.398307
Outros Serviços de Terceiros - Pessoa Jurídica,1.402466,1.296188,1.342630
Indenização Auxílio-Refeição,1.252159,1.248434,1.248434
Locação de Máquinas e Equipamentos,1.139150,0.735452,0.816458
Locação de Imóveis,0.678064,0.624843,0.629733
Serviços Urbanos,0.575768,0.561120,0.561632
Serviços Domésticos,0.601460,0.480839,0.526910
Serviço de Seleção e Treinamento,0.545702,0.453207,0.481457
Jetons,1.149140,0.462918,0.471352
Material de Expediente,0.511776,0.470544,0.470544
Gêneros de Alimentação,0.371350,0.310491,0.323932
Fornecimento de Alimentação,0.326499,0.279599,0.292419
Serviços de Comunicação em Geral,0.691156,0.228914,0.236865
Fretes e Transporte de Encomendas,0.272885,0.196795,0.212383
Serviços de Cópias e Reprodução de Documentos,0.451650,0.200620,0.200844
"Apoio Administrativo, Técnico e Operacional",0.215185,0.176045,0.191908
Serviços Gráficos e Editoriais,0.188304,0.166614,0.175309
Material Farmacológico,0.125492,0.125492,0.125492
Aparelhos e Equipamentos p/ Esportes e Diversões,0.124380,0.035531,0.124380
Indenizações e Restituições,0.131428,0.121191,0.121191
Material Elétrico e Eletrônico,0.113753,0.113753,0.113753
Outros Serviços - Pessoa Física,0.111756,0.104547,0.104547
Serviços Técnicos Profissionais de T.I.,0.094893,0.094893,0.094893
Locação de Bens Móveis de Outra Natureza e Intangíveis,0.075330,0.075330,0.075330
...,...,...,...
Material Bibliográfico Não Imobilizável,0.027864,0.005352,0.027864
Serviços de Terceiros - Pessoa Jurídica,0.024145,0.024145,0.024145
Combustíveis e Lubrificantes Automotivos,0.045128,0.023707,0.023817
Material para Festividades e Homenagens,0.018355,0.018355,0.018355
Material de Acondicionamento e Embalagem,0.018053,0.018053,0.018053
Aparelhos e Utensílios Domésticos,0.014777,0.014777,0.014777
Aparelhos e Equipamentos de Comunicação,0.014696,0.012509,0.014696
"Uniformes, Tecidos e Aviamentos",0.013823,0.009785,0.013823
Passagens para o País,0.011675,0.011675,0.011675
"Confecção de Uniformes, Bandeiras e Flâmulas",0.009760,0.009760,0.009760
Máquinas e Equipamentos de Natureza Industrial,0.008000,0.000000,0.008000
Serviços de Socorro e Salvamento,0.007220,0.007220,0.007220
"Máquinas, Ferramentas e Utensílios de Oficina",0.007077,0.007077,0.007077
Seguros em Geral,0.007496,0.006540,0.007031
"Bandeiras, Flâmulas e Insígnias",0.005244,0.005244,0.005244
"Serviços de Áudio, Vídeo e Foto",0.004800,0.004800,0.004800
Diárias no País,0.008112,0.004625,0.004625
"Equipamento de Proteção, Segurança e Socorro",0.003830,0.000000,0.003830
Diárias no Exterior,0.003568,0.003568,0.003568
Ferramentas,0.003018,0.003018,0.003018
Outros Serv. de Terceiros Pessoa Jurídica - Pagto Antecipado,0.002100,0.002100,0.002100
"Máquinas, Instalações e Utensílios de Escritório",0.002096,0.002096,0.002096
Material para Comunicações,0.001609,0.001609,0.001609
Material de Processamento de Dados,0.001455,0.001455,0.001455
Direitos Autorais,0.000400,0.000400,0.000400
Locação de Softwares,0.000049,0.000049,0.000049
Serviços de Creches e Assistência Pré-Escolar,0.027500,0.000000,0.000000
Serviços de Energia Elétrica e Iluminação Pública,0.254200,0.000000,0.000000
Materiais e Equipamentos de Apoio ao Ensino,0.001725,0.000000,0.000000
Obras em Andamento - Uso Comum do Povo,0.254784,0.000000,0.000000

                              valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Administração Geral                   25.152827     20.995475     21.755902
Educação Básica                       20.069492     14.044401     15.238795
Comunicação Social                     3.000000      0.000000      2.998330
Formação de Recursos Humanos           2.989795      1.280907      1.526975
Educação Especial                      0.371674      0.319894      0.347361
Educação Infantil                      0.285093      0.017800      0.017965
Educação de Jovens e Adultos           0.010451      0.004991      0.004991

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoUnidade,,,
Gabinete do Secretário,36.063217,26.334069,31.034895
Diretoria Regional de Educação - Itaquera,3.847548,1.696399,1.714604
Diretoria Regional de Educação - Pirituba,1.595141,1.238665,1.340235
Diretoria Regional de Educação - Jaçanã/Tremembé,1.441218,1.201522,1.282150
Diretoria Regional de Educação - São Mateus,1.263228,0.970049,1.051017
Diretoria Regional de Educação - São Miguel,1.489818,0.839346,0.918334
Diretoria Regional de Educação - Santo Amaro,0.851568,0.730066,0.759921
Diretoria Regional de Educação - Penha,0.803352,0.699206,0.722299
Diretoria Regional de Educação - Guaianases,1.026884,0.658777,0.683210
Diretoria Regional de Educação - Campo Limpo,0.639145,0.582068,0.583248
Diretoria Regional de Educação - Butantã,0.628745,0.502231,0.509347
Departamento de Alimentação Escolar,0.445518,0.434966,0.438456
Diretoria Regional de Educação - Freguesia/Brasilândia,0.469268,0.269294,0.280545
Diretoria Regional de Educação Capela do Socorro,0.310166,0.194860,0.235528
Diretoria Regional de Educação - Capela do Socorro,0.238626,0.179439,0.183044
Diretoria Regional de Educação - Ipiranga,0.762976,0.132510,0.150576
Coordenadoria de Alimentação Escolar,0.002913,0.000000,0.002913

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes          51.370645     36.531052     41.638142
Investimentos                       0.508687      0.132416      0.252178

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtModalidadeAplicacao,,,
Aplicações Diretas,51.857133,36.653231,41.880083
Transferências a Instituições Privadas sem Fins Lucrativos,0.022199,0.010237,0.010237

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
INTEGRA SOLUCOES EM LOGISTICA E TRANSPORTE LTDA - EPP,6.073733,4.654509,5.532017
FUNDACAO PARA O VESTIBULAR DA UNIVERSIDADE ESTADUAL PAULISTA JULIO DE MESQUITA FILHO VUNESP,3.917452,3.917452,3.917452
FEDERAÇÃO DO DESPORTO ESCOLAR DO ESTADO DE SÃO PAULO,3.599508,3.466878,3.466878
LUA PROPAGANDA LTDA.,3.000000,0.000000,2.998330
SOCIEDADE DE CONCERTOS DE SÃO PAULO,2.269378,1.881276,2.032769
EMPRESA DE CINEMA E AUDIOVISUAL DE SÃO PAULO S.A.,1.800000,1.800000,1.800000
JOTABE SERVIÇOS TECNICOS ESPECIALIZADOS LTDA,3.295158,1.462790,1.462790
SÃO PAULO TURISMO S/A.,2.056456,1.448251,1.448251
INSTITUTO NACIONAL DO SEGURO SOCIAL,2.043112,1.321706,1.398307
SERV.SEC.MUN. DE EDUCAÇÃO - AUX. REFEIÇÃO,1.250583,1.248434,1.248434
G4S INTERATIVA SERVICE LTDA,0.815061,0.746329,0.815061
HIPLAN CONSTRUÇÕES E SERVIÇOS DE MANUTENÇÃO URBANA LTDA,0.821217,0.737483,0.801744
TB SERVIÇOS TRANSPORTE LIMPEZA GERENCIAMENTO E RECURSOS HUMANOS S/A,0.745904,0.745904,0.745904
DEMAX SERVICOS E COMERCIO LTDA,0.573633,0.528773,0.573360
NORTE-SUL HIDROTECNOLOGIA E COMÉRCIO LTDA.,0.559806,0.553654,0.553654
CENTRO DE INTEGRAÇÃO EMPRESA ESCOLA CIEE,0.589004,0.498706,0.545147
NEC LATIN AMERICA S.A.,0.367215,0.308253,0.344953
INFO-SIG COMÉRCIO DE SUPRIMENTOS DE INFORMÁTICA LTDA.,0.334972,0.327316,0.327316
INCLUIR TECNOLOGIA LTDA ME,0.346275,0.274677,0.299251
DANLEX SERVIÇOS LTDA.,0.289439,0.259556,0.281410
AJC CONSULTORIA EDUCACIONAL LTDA ME,0.258000,0.160000,0.258000
BRASFILTER INDUSTRIA E COMÉRCIO LTDA,0.299391,0.214907,0.254478
EMPRESA BRASILEIRA DE CORREIOS E TELÉGRAFOS,0.752231,0.237052,0.245466
GAL TRANSPORTES E LOCAÇÃO DE VEICULOS LTDA - ME,0.268484,0.211592,0.231345
SÃO GUALTER ADMINISTRAÇÃO E PARTICIPAÇÕES LTDA,0.254427,0.222623,0.222623
CAMPER EMPREENDIMENTOS LTDA,0.215604,0.215604,0.215604
PAINEIRAS LIMPEZA E SERVIÇOS GERAIS LTDA.,0.233701,0.185965,0.201703
H PRINT REPROGRAFIA E AUTOMAÇÃO DE ESCRITÓRIO LTDA,0.451650,0.200620,0.200844
SUEDE SERVIÇOS - EIRELLI - EPP,0.204776,0.174233,0.195058
VITTA FORTIS SERVIÇOS GERAIS LTDA - ME,0.194587,0.176045,0.176045
...,...,...,...
RENATA AMORIM DE LIMA SILVA,0.000168,0.000000,0.000000
ANA CARLA MONTEIRO ALMEIDA,0.013860,0.000000,0.000000
LEONARDO BEZERRA DE ARAUJO,0.000900,0.000000,0.000000
MARCELO BESSA DE LIMA,0.009000,0.000000,0.000000
MARCOS ANTONIO SANTOS DA SILVA,0.002520,0.000000,0.000000
MARIA AMELIA RODRIGUES RACHID,0.003000,0.000000,0.000000
AILTON CARNEIRO RIOS,0.000168,0.000000,0.000000
MOMENT LOCAÇÕES E EVENTOS LTDA - ME,0.023970,0.000000,0.000000
JOSÉ LUCAS GIAMPERSA,0.000183,0.000183,0.000000
CARLOS ROBERTO DA SILVA,0.005640,0.000000,0.000000
GUILHERME HENRIQUE ACCA DOS SANTOS,0.001380,0.000000,0.000000
URUBATAN MIRANDA DA SILVA,0.000168,0.000000,0.000000
SPALLA ENGENHARIA LTDA.,0.254784,0.000000,0.000000
EGLINA DE LOURDES DOMINGOS,0.000156,0.000000,0.000000
SWAMI GOMES DOS SANTOS,0.006960,0.000000,0.000000
CLEITON LUIZ SOUZA DE LIMA,0.002940,0.000000,0.000000
CLEITON LIMA MAIA,0.000168,0.000000,0.000000
CLAUDIO MAROJA,0.000640,0.000000,0.000000
SERV.SEC.MUNICIPAL DE GESTÃO - AUX. REFEIÇÃO,0.001576,0.000000,0.000000
F. DA COSTA CHAME - COMERCIO DE MERCADORIAS EM GERAL - EPP,0.017460,0.000000,0.000000
FERNANDA ZIENTARA DO NASCIMENTO,0.002846,0.000000,0.000000
TELEFÔNICA BRASIL S.A.,0.027500,0.000000,0.000000
THAISY PAYO VAQUERO,0.009000,0.000000,0.000000
FERNANDO SILVA MACIEL,0.000600,0.000000,0.000000
S.R. ADMINISTRADORA DE BENS PROPRIOS - EIRELI,0.000371,0.000000,0.000000
GABRIELA GASPARINI DO SANTOS,0.000084,0.000000,0.000000
GENESIO RAMOS DA CRUZ,0.000168,0.000000,0.000000
CELSO HENRIQUE SANTOS DE SOUSA,0.005640,0.000000,0.000000
CAROLINA FERNANDES MODESTO,0.000156,0.000000,0.000000
MULTPAPER DISTRIBUIDORA DE PAPÉIS LTDA.,0.033576,0.000000,0.000000

                                                                                         txtObjetoContrato
184                              Utilização de Ata de Registro de Preços – Fornecimento de Welcome Coffee
226                     REPASSE DE RECURSOS DO PNAE PARA O CEI MAYARA ESPERANCA E VIDA - COD.INEP 35432271
251    CONTRATAÇÃO DE EMPRESA ESPECIALIZADA PARA PRESTAÇÃO DE SERVIÇO DE DOIS POSTOS DIURNOS DE AUXILIA...
356                                                   AQUISIÇÃO DE PISCINA DE BOLINHA E TABELA DE BASQUETE
452                                                                                                    NaN
569                                                   DL- RECREIO NAS FÉRIAS - Aquisição de Bem Permanente
620              AQUISIÇÃO DE 05 MESAS DE PING PONG PARA O PROGRAMA RECREIO NAS FÉRIAS EDIÇÃ OJAN DE 2017
989                AQUISIÇÃO DE MATERIAL PERMANENTE AUDIOVISUAL - RECREIO NAS FÉRIAS - EDIÇÃO JANEIRO/2018
1135      Prestação de serviços de interpretação para LIBRAS (Língua Brasileira de Sinais) da 2ª PROVA EJA
1170                                                                                  MATERIAIS DE HIGIENE
1194                   Contratação de Instrutor de Libras - Eber Spurgeon de Almeida - EMEBS Anne Sullivan
1245                         Confecção e instalação de placas externas de identificação em aço galvanizado
1279                                        Contratação de Instrutor de Instrumentos de Metais e Percussão
1385                            DL- Confecção de troféus e medalhas para o Campeonato de Xadrez Individual
1618                                Utilização de Ata de Registro de Preços – Fornecimento de Coffee Break
1732                                                                    CONFECÇÃO DE PREMIAÇÃO PARA EVENTO
1743                                                             Contratação de Assessoria - Notório Saber
1849   Interpretação para LIBRAS (Língua Brasileira de Sinais) da 2ª Prova Semestral para os alunos do ...
2013   Contratação de Agentes Recreativos credenciados para o desenvolvimento de atividades de lazer e ...
2047                                                        Aquisição de gás liquefeito - botijão de 13 kg
2067                           Contratação de empresa especializada na instalaçã ode camenra de segurança.
2073                                     Aquisição de biscoitos  tipo maisena, tipo waffer, tipo tortinha
2074                                     Aquisição de biscoitos tipo água e sal, cream cracker e adoçante
2085                                 Aquisição de biscoito redondo salgado (salsalito) , cha de erva mate
2235   Contratação de empresa especializada para realizar a interpretação para LIBRAS (Língua Brasileir...
2400                                                      PRESTAÇÃO DE SERVIÇOS DE INTÉRPRETE DE "LIBRAS"
2423                                                              CONFECÇÃO PASTAS PARA ARQUIVO DESLIZANTE
2571   Contratação do intérprete Thiago Nanuze Verza para a “Seminário Salas de Leitura: 45 Anos Forman...
2655       ATA RP 03-SMG-COBES/2017- Aquisição de papel sulfite A4 branco para uso das Unidades Escolares.
2668                                                                   Contratação de Intérprete de Libras
...                                                                                                    ...
57034                                                           Certificado Digital A-3 e-CPF com leitora
57042                                                                         Secadora de roupas para CEI
57085    Confecção de Materiais personalizados para os Seminários "Novembro Negro" e "Dezembro Imigrante".
57172                                     COORDENADOR DE POLO - PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017
57176                                    COORDENADOR  DE POLO - PROGRAMA RECREIO NAS FÉRIAS - JANEIRO/2017
57226                                           Aquisição de copo e materiais diversos de limpeza - ATA RP
57321                                                                        Ata de RP  007/SMG-COBES/2016
57394  Aquisição de açúcar refinado - ATA de RP 007/SMG-COBES/2016 para a DRE Pirituba/Jaraguá e para o...
57501                                                                                RECARGA DE EXTINTORES
57502                                                       DL- AQUSIÇÃO DE OLEO DE SOJA, FRASCO DE 900 ML
57505  Serviços Especializados de Consultoria visando análise das planilhas de custos apresentadas no â...
57528                      DL- Aquisição de papel sulfite branco A4 para uso das Unidades Escolares DRESA.
57766                                                                               Prestação de serviços
58196                                          Locação de Brinquedos Infláveis-Recreio nas Férias Jan/2017
58224                   DL- Serviços de confecção de carimbos diversos para uso da Administração da DRESA.
58543  REG.DE PREÇOS 008/SMG-COBES/2016 - FORNEC.DE CAFÉ TORRADO E MOÍDO EM EMB.ALTO VÁCUO - GOURMET À ...
58554          REG. DE PREÇOS 008/SMG-COBES/2016-FORNE. CAFÉ TORRADO E MOÍDO EM, ALTO VÁCUO-GOUMERT À PMSP
58566             TERMO DE COLABORAÇÃO PARA A MANUTENÇÃO DO CEI RIO CLARO NOS TERMOS DA PORTARIA 4548/2017
58578                                                                                    BOLETIM CENOFISCO
58609                                                                     LOCAÇÃO DE BRINQUEDOS INFLÁVEIS.
58914  SP/SR DE TRADUTOR E INTÉRPRETE DE LIBRAS PERÍODO DE 01/02/2017 À 28/04/2017 SIMONE TRETELLE DOS ...
58916              SP/SR CONTRATAÇÃO DE TRADUTOR E INTÉRPRETE DE LIBRAS PERÍODO DE 01/02/2017 À 30/06/2017
59035                                                                      Locação de brinquedos infláveis
59140  SP/SR ALUGUEL DE BRINQUEDOS INFLÁVEIS INFANTIS PARA O PROGRAMA RECREIO NAS FÉRIAS PERÍODO DE 17/...
59205  SP/IT CONTRATAÇÃO DE EMPRESA PARA SERVIÇOS DE MANUTENÇÃO EM TODA REDE ELÉTRICA DO AR CONDICIONAD...
59439                      CONTRATAÇÃO AGENTE DE RECREAÇÃO PARA O PROJETO RECREIO NAS FÉRIAS - JULHO/2017.
60032                                                                       CONFECÇÃO DE BANNER E CARTAZES
60034        CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM SERVIÇOS DE COCKTAIL PARA EMEVTO NO CEU QUINTA DO SOL
60048                    CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM SERVIÇOS CONFECÇÃO DE CADERNOS ECOLOGICOS
60057            CONTRATAÇÃO DE EMPRESA ESPECIALIZADA EM SERVIÇOS DE EMCADERNAÇÃO DE TRABALHOS PEDAGOGICOS

[531 rows x 1 columns]

In [77]:
faltantes_det = empenhos_df[(
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Administração de Bens ou Negócios em Geral', case=False))
)]
groupSum(faltantes_det)

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoOrgao,,,
Secretaria Municipal de Educação,6.073733,4.654509,5.532017

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtCategoriaEconomica
Despesas Correntes              6.073733      4.654509      5.532017

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoElemento,,,
Outros Serviços de Terceiros -Pessoa Jurídica,6.073733,4.654509,5.532017

                          valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoFonteRecurso
Tesouro Municipal                  6.073733      4.654509      5.532017

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoItemDespesa,,,
Administração de Bens ou Negócios em Geral,6.073733,4.654509,5.532017

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoPrograma,,,
Melhoria da qualidade e ampliação do acesso à educação,6.067052,4.649389,5.525932
Suporte Administrativo,0.006681,0.005120,0.006085

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtDescricaoProjetoAtividade,,,
Operação e Manutenção do Sistema Municipal de Ensino,5.889091,4.513012,5.363844
Operação e Manutenção dos Centros Educacionais Unificados,0.150629,0.115432,0.137194
Ações Complementares do Sistema Municipal de Ensino,0.027332,0.020945,0.024894
Administração da Unidade,0.006681,0.005120,0.006085

                                 valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubElemento
Serviços Técnicos Profissionais           6.073733      4.654509      5.532017

                       valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoSubFuncao
Educação Básica                 6.067052      4.649389      5.525932
Administração Geral             0.006681      0.005120      0.006085

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtDescricaoUnidade
Gabinete do Secretário           6.073733      4.654509      5.532017

                           valTotalEmpenhado  valLiquidado  valPagoTotal
txtGrupoDespesa
Outras Despesas Correntes           6.073733      4.654509      5.532017

                        valTotalEmpenhado  valLiquidado  valPagoTotal
txtModalidadeAplicacao
Aplicações Diretas               6.073733      4.654509      5.532017

,valTotalEmpenhado,valLiquidado,valPagoTotal
txtRazaoSocial,,,
INTEGRA SOLUCOES EM LOGISTICA E TRANSPORTE LTDA - EPP,6.073733,4.654509,5.532017

      txtObjetoContrato
40040               NaN

In [78]:
# funcionamento - logistica e transportes
funcionamento_logistica_filter = (
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Administração de Bens ou Negócios em Geral', case=False))
)
funcionamento_logistica = (empenhos_df[funcionamento_logistica_filter])
empenhos_df.loc[funcionamento_logistica_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[funcionamento_logistica_filter, 'cat_2'] = 'logistica_transportes'
# groupSum(funcionamento_logistica)

In [79]:
# CEU - outros
ceu_filter = (
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Operação e Manutenção dos Centros Educacionais Unificados', case=False))
)
ceu = (empenhos_df[ceu_filter])
empenhos_df.loc[ceu_filter, 'cat_1'] = 'funcionamento_unidades'
empenhos_df.loc[ceu_filter, 'cat_2'] = 'ceu_outros'
# groupSum(ceu)

In [80]:
# suporte adm - outros
suporte_administrativo_filter = (
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoPrograma'].str.contains('Suporte Administrativo', case=False))
)
suporte_administrativo = (empenhos_df[suporte_administrativo_filter])
empenhos_df.loc[suporte_administrativo_filter, 'cat_1'] = 'suporte_administrativo'
empenhos_df.loc[suporte_administrativo_filter, 'cat_2'] = 'suporte_administrativo_outros'
# groupSum(suporte_administrativo)

In [81]:
# pedagogico - mais formação
pedagogico_form_filter = (
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Capacitação, Formação e Aperfeiçoamento de Servidores', case=False))
)
pedagogico_form = (empenhos_df[pedagogico_form_filter])
empenhos_df.loc[pedagogico_form_filter, 'cat_1'] = 'pedagogico'
empenhos_df.loc[pedagogico_form_filter, 'cat_2'] = 'formacao'
# groupSum(pedagogico_form)

## Faz sentido esse filtro e catergorização do Mais Educação?

In [82]:
# pedagogico - mais educação
pedagogico_mais_edu_filter = (
    empenhos_df['cat_1'].isnull()
    &
    (empenhos_df['txtDescricaoProjetoAtividade'].str.contains('Ampliação da jornada escolar - Programa Mais Educação', case=False))
    &
    (empenhos_df['txtDescricaoItemDespesa'].str.contains('Supervisão, Acompanhamento e Suporte de Serviços Técnicos', case=False))
)
pedagogico_mais_edu = (empenhos_df[pedagogico_mais_edu_filter])
empenhos_df.loc[pedagogico_mais_edu_filter, 'cat_1'] = 'pedagogico'
empenhos_df.loc[pedagogico_mais_edu_filter, 'cat_2'] = 'mais_educacao'

# Export

In [83]:
# clean errors, columns with cat_1 but no cat_2
errors_filter = ((empenhos_df['cat_2'].isnull() | (empenhos_df['cat_2'] == '')) & ~empenhos_df['cat_1'].isnull())
print('erros:', len(empenhos_df[errors_filter]))
# empenhos_df.loc[errors_filter, 'cat_1'] = ''
empenhos_df.loc[errors_filter, 'cat_2'] = 'outros'
empenhos_df[errors_filter]['txtDescricaoItemDespesa'].unique()

erros: 269

array(['Outras Despesas Fixas - Pessoal Civil',
       'Convênios - Portadores de Deficiência', 'Switch ',
       'Convênios - Alfabetização, Educação e Outros',
       'Pesquisa em Geral',
       'Outros Serviços de Apoio Administrativo, Técnico e Operacional',
       'Convênio - Creche', 'Guarda e Gerenciamento de Documentos',
       'Certificado Digital',
       'Outras Máquinas e Equipamentos Energéticos ',
       'Aquisição de Softwares - Intangível', 'Hardware',
       'Toner e Cartuchos de Tinta'], dtype=object)

In [84]:
# # todos outros restantes, em uma categoria "outros"
# # clean errors, columns with cat_1 but no cat_2
# errors_filter = ((empenhos_df['cat_2'].isnull() | (empenhos_df['cat_2'] == '')) & empenhos_df['cat_1'].isnull())
# print('erros:', len(empenhos_df[errors_filter]))
# empenhos_df.loc[errors_filter, 'cat_1'] = 'outros'
# empenhos_df.loc[errors_filter, 'cat_2'] = 'outros'
# empenhos_df[errors_filter]['txtDescricaoItemDespesa'].unique()

In [85]:
# coverage
coverage = empenhos_df[~empenhos_df['cat_1'].isnull() & ~empenhos_df['cat_2'].isnull()]['valLiquidado'].sum() / empenhos_df['valLiquidado'].sum()
print(f"cobertura do orçamento: {round(coverage * 100, 2)}%")
print(f"valor faltante {round(empenhos_df[empenhos_df['cat_1'].isnull() & empenhos_df['cat_2'].isnull()]['valLiquidado'].sum() / 1000000, 2)} mi")

cobertura do orçamento: 99.81%
valor faltante 19.03 mi

In [86]:
# coverage PAGO
coverage = empenhos_df[~empenhos_df['cat_1'].isnull() & ~empenhos_df['cat_2'].isnull()]['valPagoTotal'].sum() / empenhos_df['valPagoTotal'].sum()
print(f"cobertura do orçamento: {round(coverage * 100, 2)}%")
print(f"valor faltante {round(empenhos_df[empenhos_df['cat_1'].isnull() & empenhos_df['cat_2'].isnull()]['valPagoTotal'].sum() / 1000000, 2)} mi")

cobertura do orçamento: 99.82%
valor faltante 19.61 mi

In [87]:
out = (empenhos_df[['valPagoTotal', 'cat_1', 'cat_2']]         
    .groupby(['cat_1', 'cat_2'])
    .sum().apply(lambda x: x / 1000000)
#     .sort_values('valLiquidado', ascending=False)
)
display(out)

                                                      valPagoTotal
cat_1                  cat_2
alimentacao            insumos                          231.123712
                       leve_leite                        54.456454
                       pnae                              19.721738
                       prep_dist                         57.732279
                       refeicoes                        344.783132
funcionamento_unidades agua_esgoto                      107.440314
                       aluguel_imoveis                   19.519948
                       ceu_outros                        26.846785
                       eletricidade                      50.882340
                       eventos                            9.126208
                       limpeza                          424.731067
                       logistica_transportes              5.532017
                       manutencao                        22.742817
                       mobiliario                         7.332216
                       obras_reformas                    78.704729
                       telefone                           6.216973
                       uniceu                             2.870959
                       vigilancia                       198.547639
parcerias              creches                         1962.607936
                       ed_especial                       36.601538
                       eja                               10.942761
                       outros                             3.635450
pedagogico             formacao                           3.013279
                       mais_educacao                      5.499647
pessoal                adiantamento                      12.202874
                       docentes                        5872.021815
                       estagios                          36.592522
                       gestores                         343.404845
                       outros                             2.179419
suporte_administrativo suporte_administrativo_outros      8.288257
ti                     compra_notebooks                  40.021740
                       internet                          13.518565
                       manutencao                         1.123597
                       manutencao_equip_ti                6.459788
                       manutencao_impressao               1.869473
                       manutencao_software_sistemas      15.273364
                       outros                             7.792898
transferencias         ptrf                              41.846570
transporte             teg                              211.016397
                       veiculos                          17.627189
uniforme_materiais     materiais                         55.646292
                       uniforme                         203.651681

In [88]:
# format data for treemap visualization
index_1 = list(out.index.get_level_values(0).unique())
index_2 = list(out.index.get_level_values(1).unique())
formatted_out = {'name': 'orc', 'children': []}
for i in index_1:
    formatted_out['children'].append({'name': i, 'children': []})
for index, row in out.iterrows():
    cat_1 = index[0]
    cat_2 = index[1]
    # display as millions?
    value = round(row['valPagoTotal'] * 1000000, 2)
    for child_index, child in enumerate(formatted_out['children']):
        if child['name'] == cat_1:
            formatted_out['children'][child_index]['children'].append({'name': cat_2, 'size': value})
pprint.pprint(formatted_out)

{'children': [{'children': [{'name': 'insumos', 'size': 231123711.86},
                            {'name': 'leve_leite', 'size': 54456453.89},
                            {'name': 'pnae', 'size': 19721738.0},
                            {'name': 'prep_dist', 'size': 57732278.68},
                            {'name': 'refeicoes', 'size': 344783132.32}],
               'name': 'alimentacao'},
              {'children': [{'name': 'agua_esgoto', 'size': 107440314.11},
                            {'name': 'aluguel_imoveis', 'size': 19519948.28},
                            {'name': 'ceu_outros', 'size': 26846785.49},
                            {'name': 'eletricidade', 'size': 50882339.96},
                            {'name': 'eventos', 'size': 9126208.33},
                            {'name': 'limpeza', 'size': 424731067.12},
                            {'name': 'logistica_transportes',
                             'size': 5532017.47},
                            {'name': 'manutencao', 'size': 22742817.08},
                            {'name': 'mobiliario', 'size': 7332216.48},
                            {'name': 'obras_reformas', 'size': 78704729.13},
                            {'name': 'telefone', 'size': 6216973.48},
                            {'name': 'uniceu', 'size': 2870959.07},
                            {'name': 'vigilancia', 'size': 198547639.19}],
               'name': 'funcionamento_unidades'},
              {'children': [{'name': 'creches', 'size': 1962607935.7},
                            {'name': 'ed_especial', 'size': 36601537.99},
                            {'name': 'eja', 'size': 10942761.36},
                            {'name': 'outros', 'size': 3635450.38}],
               'name': 'parcerias'},
              {'children': [{'name': 'formacao', 'size': 3013278.69},
                            {'name': 'mais_educacao', 'size': 5499647.24}],
               'name': 'pedagogico'},
              {'children': [{'name': 'adiantamento', 'size': 12202874.0},
                            {'name': 'docentes', 'size': 5872021815.26},
                            {'name': 'estagios', 'size': 36592521.92},
                            {'name': 'gestores', 'size': 343404844.62},
                            {'name': 'outros', 'size': 2179419.19}],
               'name': 'pessoal'},
              {'children': [{'name': 'suporte_administrativo_outros',
                             'size': 8288256.7}],
               'name': 'suporte_administrativo'},
              {'children': [{'name': 'compra_notebooks', 'size': 40021740.0},
                            {'name': 'internet', 'size': 13518565.06},
                            {'name': 'manutencao', 'size': 1123596.59},
                            {'name': 'manutencao_equip_ti', 'size': 6459787.91},
                            {'name': 'manutencao_impressao',
                             'size': 1869473.33},
                            {'name': 'manutencao_software_sistemas',
                             'size': 15273364.41},
                            {'name': 'outros', 'size': 7792897.88}],
               'name': 'ti'},
              {'children': [{'name': 'ptrf', 'size': 41846569.91}],
               'name': 'transferencias'},
              {'children': [{'name': 'teg', 'size': 211016396.95},
                            {'name': 'veiculos', 'size': 17627189.21}],
               'name': 'transporte'},
              {'children': [{'name': 'materiais', 'size': 55646292.47},
                            {'name': 'uniforme', 'size': 203651680.76}],
               'name': 'uniforme_materiais'}],
 'name': 'orc'}

In [89]:
with open('budget.json', 'w') as f:
    f.write(json.dumps(formatted_out))

# por aluno

In [90]:
num_alunos = 1300000
print(empenhos_df['valPagoTotal'].sum() / num_alunos)
# format data for treemap visualization
index_1 = list(out.index.get_level_values(0).unique())
index_2 = list(out.index.get_level_values(1).unique())
formatted_out_aluno = {'name': 'orc', 'children': []}
for i in index_1:
    formatted_out_aluno['children'].append({'name': i, 'children': []})
for index, row in out.iterrows():
    cat_1 = index[0]
    cat_2 = index[1]
    # display as millions?
    value = round((row['valPagoTotal'] * 1000000) / num_alunos, 2)
    for child_index, child in enumerate(formatted_out_aluno['children']):
        if child['name'] == cat_1:
            formatted_out_aluno['children'][child_index]['children'].append({'name': cat_2, 'size': value})
pprint.pprint(formatted_out_aluno)

8154.42767716923
{'children': [{'children': [{'name': 'insumos', 'size': 177.79},
                            {'name': 'leve_leite', 'size': 41.89},
                            {'name': 'pnae', 'size': 15.17},
                            {'name': 'prep_dist', 'size': 44.41},
                            {'name': 'refeicoes', 'size': 265.22}],
               'name': 'alimentacao'},
              {'children': [{'name': 'agua_esgoto', 'size': 82.65},
                            {'name': 'aluguel_imoveis', 'size': 15.02},
                            {'name': 'ceu_outros', 'size': 20.65},
                            {'name': 'eletricidade', 'size': 39.14},
                            {'name': 'eventos', 'size': 7.02},
                            {'name': 'limpeza', 'size': 326.72},
                            {'name': 'logistica_transportes', 'size': 4.26},
                            {'name': 'manutencao', 'size': 17.49},
                            {'name': 'mobiliario', 'size': 5.64},
                            {'name': 'obras_reformas', 'size': 60.54},
                            {'name': 'telefone', 'size': 4.78},
                            {'name': 'uniceu', 'size': 2.21},
                            {'name': 'vigilancia', 'size': 152.73}],
               'name': 'funcionamento_unidades'},
              {'children': [{'name': 'creches', 'size': 1509.7},
                            {'name': 'ed_especial', 'size': 28.16},
                            {'name': 'eja', 'size': 8.42},
                            {'name': 'outros', 'size': 2.8}],
               'name': 'parcerias'},
              {'children': [{'name': 'formacao', 'size': 2.32},
                            {'name': 'mais_educacao', 'size': 4.23}],
               'name': 'pedagogico'},
              {'children': [{'name': 'adiantamento', 'size': 9.39},
                            {'name': 'docentes', 'size': 4516.94},
                            {'name': 'estagios', 'size': 28.15},
                            {'name': 'gestores', 'size': 264.16},
                            {'name': 'outros', 'size': 1.68}],
               'name': 'pessoal'},
              {'children': [{'name': 'suporte_administrativo_outros',
                             'size': 6.38}],
               'name': 'suporte_administrativo'},
              {'children': [{'name': 'compra_notebooks', 'size': 30.79},
                            {'name': 'internet', 'size': 10.4},
                            {'name': 'manutencao', 'size': 0.86},
                            {'name': 'manutencao_equip_ti', 'size': 4.97},
                            {'name': 'manutencao_impressao', 'size': 1.44},
                            {'name': 'manutencao_software_sistemas',
                             'size': 11.75},
                            {'name': 'outros', 'size': 5.99}],
               'name': 'ti'},
              {'children': [{'name': 'ptrf', 'size': 32.19}],
               'name': 'transferencias'},
              {'children': [{'name': 'teg', 'size': 162.32},
                            {'name': 'veiculos', 'size': 13.56}],
               'name': 'transporte'},
              {'children': [{'name': 'materiais', 'size': 42.8},
                            {'name': 'uniforme', 'size': 156.66}],
               'name': 'uniforme_materiais'}],
 'name': 'orc'}

### forçando para dar mil reais por aluno

In [91]:
divisor = empenhos_df['valPagoTotal'].sum() / 1000
# format data for treemap visualization
index_1 = list(out.index.get_level_values(0).unique())
index_2 = list(out.index.get_level_values(1).unique())
formatted_out_aluno = {'name': 'orc', 'children': []}
for i in index_1:
    formatted_out_aluno['children'].append({'name': i, 'children': []})
for index, row in out.iterrows():
    cat_1 = index[0]
    cat_2 = index[1]
    # display as millions?
    value = round((row['valPagoTotal'] * 1000000) / divisor, 2)
    for child_index, child in enumerate(formatted_out_aluno['children']):
        if child['name'] == cat_1:
            formatted_out_aluno['children'][child_index]['children'].append({'name': cat_2, 'size': value})
pprint.pprint(formatted_out_aluno)

{'children': [{'children': [{'name': 'insumos', 'size': 21.8},
                            {'name': 'leve_leite', 'size': 5.14},
                            {'name': 'pnae', 'size': 1.86},
                            {'name': 'prep_dist', 'size': 5.45},
                            {'name': 'refeicoes', 'size': 32.52}],
               'name': 'alimentacao'},
              {'children': [{'name': 'agua_esgoto', 'size': 10.14},
                            {'name': 'aluguel_imoveis', 'size': 1.84},
                            {'name': 'ceu_outros', 'size': 2.53},
                            {'name': 'eletricidade', 'size': 4.8},
                            {'name': 'eventos', 'size': 0.86},
                            {'name': 'limpeza', 'size': 40.07},
                            {'name': 'logistica_transportes', 'size': 0.52},
                            {'name': 'manutencao', 'size': 2.15},
                            {'name': 'mobiliario', 'size': 0.69},
                            {'name': 'obras_reformas', 'size': 7.42},
                            {'name': 'telefone', 'size': 0.59},
                            {'name': 'uniceu', 'size': 0.27},
                            {'name': 'vigilancia', 'size': 18.73}],
               'name': 'funcionamento_unidades'},
              {'children': [{'name': 'creches', 'size': 185.14},
                            {'name': 'ed_especial', 'size': 3.45},
                            {'name': 'eja', 'size': 1.03},
                            {'name': 'outros', 'size': 0.34}],
               'name': 'parcerias'},
              {'children': [{'name': 'formacao', 'size': 0.28},
                            {'name': 'mais_educacao', 'size': 0.52}],
               'name': 'pedagogico'},
              {'children': [{'name': 'adiantamento', 'size': 1.15},
                            {'name': 'docentes', 'size': 553.92},
                            {'name': 'estagios', 'size': 3.45},
                            {'name': 'gestores', 'size': 32.39},
                            {'name': 'outros', 'size': 0.21}],
               'name': 'pessoal'},
              {'children': [{'name': 'suporte_administrativo_outros',
                             'size': 0.78}],
               'name': 'suporte_administrativo'},
              {'children': [{'name': 'compra_notebooks', 'size': 3.78},
                            {'name': 'internet', 'size': 1.28},
                            {'name': 'manutencao', 'size': 0.11},
                            {'name': 'manutencao_equip_ti', 'size': 0.61},
                            {'name': 'manutencao_impressao', 'size': 0.18},
                            {'name': 'manutencao_software_sistemas',
                             'size': 1.44},
                            {'name': 'outros', 'size': 0.74}],
               'name': 'ti'},
              {'children': [{'name': 'ptrf', 'size': 3.95}],
               'name': 'transferencias'},
              {'children': [{'name': 'teg', 'size': 19.91},
                            {'name': 'veiculos', 'size': 1.66}],
               'name': 'transporte'},
              {'children': [{'name': 'materiais', 'size': 5.25},
                            {'name': 'uniforme', 'size': 19.21}],
               'name': 'uniforme_materiais'}],
 'name': 'orc'}

# por escola

In [92]:
num_escolas = 3780
print(empenhos_df['valPagoTotal'].sum() / num_escolas)
# format data for treemap visualization
index_1 = list(out.index.get_level_values(0).unique())
index_2 = list(out.index.get_level_values(1).unique())
formatted_out_escola = {'name': 'orc', 'children': []}
for i in index_1:
    formatted_out_escola['children'].append({'name': i, 'children': []})
for index, row in out.iterrows():
    cat_1 = index[0]
    cat_2 = index[1]
    # display as millions?
    value = round((row['valPagoTotal'] * 1000000) / num_escolas, 2)
    for child_index, child in enumerate(formatted_out_escola['children']):
        if child['name'] == cat_1:
            formatted_out_escola['children'][child_index]['children'].append({'name': cat_2, 'size': value})
pprint.pprint(formatted_out_escola)

2804432.799026455
{'children': [{'children': [{'name': 'insumos', 'size': 61143.84},
                            {'name': 'leve_leite', 'size': 14406.47},
                            {'name': 'pnae', 'size': 5217.39},
                            {'name': 'prep_dist', 'size': 15273.09},
                            {'name': 'refeicoes', 'size': 91212.47}],
               'name': 'alimentacao'},
              {'children': [{'name': 'agua_esgoto', 'size': 28423.36},
                            {'name': 'aluguel_imoveis', 'size': 5164.01},
                            {'name': 'ceu_outros', 'size': 7102.32},
                            {'name': 'eletricidade', 'size': 13460.94},
                            {'name': 'eventos', 'size': 2414.34},
                            {'name': 'limpeza', 'size': 112362.72},
                            {'name': 'logistica_transportes', 'size': 1463.5},
                            {'name': 'manutencao', 'size': 6016.62},
                            {'name': 'mobiliario', 'size': 1939.74},
                            {'name': 'obras_reformas', 'size': 20821.36},
                            {'name': 'telefone', 'size': 1644.7},
                            {'name': 'uniceu', 'size': 759.51},
                            {'name': 'vigilancia', 'size': 52525.83}],
               'name': 'funcionamento_unidades'},
              {'children': [{'name': 'creches', 'size': 519208.45},
                            {'name': 'ed_especial', 'size': 9682.95},
                            {'name': 'eja', 'size': 2894.91},
                            {'name': 'outros', 'size': 961.76}],
               'name': 'parcerias'},
              {'children': [{'name': 'formacao', 'size': 797.16},
                            {'name': 'mais_educacao', 'size': 1454.93}],
               'name': 'pedagogico'},
              {'children': [{'name': 'adiantamento', 'size': 3228.27},
                            {'name': 'docentes', 'size': 1553444.92},
                            {'name': 'estagios', 'size': 9680.56},
                            {'name': 'gestores', 'size': 90847.84},
                            {'name': 'outros', 'size': 576.57}],
               'name': 'pessoal'},
              {'children': [{'name': 'suporte_administrativo_outros',
                             'size': 2192.66}],
               'name': 'suporte_administrativo'},
              {'children': [{'name': 'compra_notebooks', 'size': 10587.76},
                            {'name': 'internet', 'size': 3576.34},
                            {'name': 'manutencao', 'size': 297.25},
                            {'name': 'manutencao_equip_ti', 'size': 1708.94},
                            {'name': 'manutencao_impressao', 'size': 494.57},
                            {'name': 'manutencao_software_sistemas',
                             'size': 4040.57},
                            {'name': 'outros', 'size': 2061.61}],
               'name': 'ti'},
              {'children': [{'name': 'ptrf', 'size': 11070.52}],
               'name': 'transferencias'},
              {'children': [{'name': 'teg', 'size': 55824.44},
                            {'name': 'veiculos', 'size': 4663.28}],
               'name': 'transporte'},
              {'children': [{'name': 'materiais', 'size': 14721.24},
                            {'name': 'uniforme', 'size': 53876.11}],
               'name': 'uniforme_materiais'}],
 'name': 'orc'}

# Export toda Prefeitura

### Precisa consertar filtros da aposentadoria e repasses bilhete único, não estão capturando somente os gastos de educação (mas sim todas aposentadorias e todas gratuidades)

In [132]:
pmsp_edu_outros_filter = (
    (pmsp_df['Código Órgão'] != 16)
    &
    (
        pmsp_df['Ds_Projeto_Atividade'].str.contains('Compensações tarifárias do sistema de ônibus', case=False)
        | 
        pmsp_df['Ds_Projeto_Atividade'].str.contains('Contribuição Formação Patrimônio Servidor Público - PASEP', case=False)
        |
        pmsp_df['Função'].str.contains('Educação', case=False)
    )
)
pmsp_edu_outros = pmsp_df[pmsp_edu_outros_filter]
(pmsp_edu_outros[['Sigla Órgão', 'Função', 'LIQUIDADO']]
    .groupby(['Função'])
    .sum().apply(lambda x: x / 1000000)
)
# tag rows
pmsp_df.loc[pmsp_df['Código Órgão'] != 16, 'educacao'] = 'edu-nao'
pmsp_df.loc[pmsp_edu_outros_filter, 'educacao'] = 'edu-outros'
pmsp_df.loc[pmsp_df['Código Órgão'] == 16, 'educacao'] = 'edu-sme'

In [133]:
pmsp_out = (pmsp_df[['Sigla Órgão', 'educacao', 'LIQUIDADO']]         
    .groupby(['Sigla Órgão'])
    .sum().apply(lambda x: x / 1000000)
)
pmsp_out = pmsp_out.loc[pmsp_out['LIQUIDADO'] >= 1]

In [134]:
pmsp_formatted_out = {'name': 'pmsp', 'children': []}
for index, row in pmsp_out.iterrows():
    name = index.strip() # to trim whitespace
    value = round(row['LIQUIDADO'] * 1000000, 2)
    (pmsp_formatted_out['children']
        .append({'name': name, 'size': value}))
pprint.pprint(pmsp_formatted_out)

with open('pmsp_budget.json', 'w') as f:
    f.write(json.dumps(pmsp_formatted_out))

{'children': [{'name': 'AHM', 'size': 1357268348.49},
              {'name': 'AMLURB', 'size': 2192272622.52},
              {'name': 'CGM', 'size': 18267741.25},
              {'name': 'CMSP', 'size': 505524610.54},
              {'name': 'COHAB', 'size': 100571137.57},
              {'name': 'EGM', 'size': 7358921992.35},
              {'name': 'FEPAC', 'size': 3069754.95},
              {'name': 'FMAS', 'size': 1069651834.23},
              {'name': 'FMDT', 'size': 1000871504.32},
              {'name': 'FMH', 'size': 47215325.44},
              {'name': 'FMS/SMS', 'size': 8362000699.65},
              {'name': 'FMSAI', 'size': 338023064.11},
              {'name': 'FPETC', 'size': 14739047.38},
              {'name': 'FTCMSP', 'size': 1704901.81},
              {'name': 'FTM', 'size': 127879732.61},
              {'name': 'FUMCAD', 'size': 52492538.2},
              {'name': 'FUNDIP', 'size': 284281103.47},
              {'name': 'FUNDURB', 'size': 84727165.6},
              {'name': 'HSPM', 'size': 275269814.99},
              {'name': 'IPREM', 'size': 8027176127.08},
              {'name': 'PGM', 'size': 212008580.63},
              {'name': 'PMSP-SMRI', 'size': 3033348.35},
              {'name': 'PR-AD', 'size': 22174818.91},
              {'name': 'PR-AF', 'size': 26025016.87},
              {'name': 'PR-BT', 'size': 36557020.62},
              {'name': 'PR-CL', 'size': 40041604.38},
              {'name': 'PR-CS', 'size': 29060746.56},
              {'name': 'PR-CT', 'size': 20052690.54},
              {'name': 'PR-CV', 'size': 17287420.19},
              {'name': 'PR-EM', 'size': 18941611.32},
              {'name': 'PR-FB', 'size': 28867917.51},
              {'name': 'PR-G', 'size': 24174501.16},
              {'name': 'PR-IP', 'size': 34609180.47},
              {'name': 'PR-IQ', 'size': 30564800.26},
              {'name': 'PR-IT', 'size': 23350790.55},
              {'name': 'PR-JA', 'size': 23979619.0},
              {'name': 'PR-JT', 'size': 21411517.29},
              {'name': 'PR-LA', 'size': 26950095.38},
              {'name': 'PR-MB', 'size': 27572947.77},
              {'name': 'PR-MG', 'size': 21587848.77},
              {'name': 'PR-MO', 'size': 31652422.1},
              {'name': 'PR-MP', 'size': 32979504.97},
              {'name': 'PR-PA', 'size': 18901490.23},
              {'name': 'PR-PE', 'size': 35014558.25},
              {'name': 'PR-PI', 'size': 32364263.41},
              {'name': 'PR-PJ', 'size': 22404716.25},
              {'name': 'PR-PR', 'size': 19975445.14},
              {'name': 'PR-SA', 'size': 30593025.35},
              {'name': 'PR-SB', 'size': 16535562.4},
              {'name': 'PR-SE', 'size': 55740863.85},
              {'name': 'PR-SM', 'size': 36918964.72},
              {'name': 'PR-ST', 'size': 26318014.84},
              {'name': 'PR-VM', 'size': 29104565.63},
              {'name': 'PR-VP', 'size': 22058642.8},
              {'name': 'SEHAB', 'size': 190308435.91},
              {'name': 'SEL', 'size': 11659519.84},
              {'name': 'SEME', 'size': 158403594.61},
              {'name': 'SF', 'size': 351331328.08},
              {'name': 'SFMSP', 'size': 118186652.66},
              {'name': 'SGM', 'size': 257200322.3},
              {'name': 'SMADS', 'size': 114019061.57},
              {'name': 'SMC', 'size': 293647398.52},
              {'name': 'SMCIS', 'size': 6112140.03},
              {'name': 'SMDHC', 'size': 30071208.21},
              {'name': 'SMDP', 'size': 25034952.58},
              {'name': 'SME', 'size': 10236129116.15},
              {'name': 'SMG', 'size': 141894275.23},
              {'name': 'SMIT', 'size': 37451156.48},
              {'name': 'SMPED', 'size': 6778173.75},
              {'name': 'SMPIR', 'size': 1204466.31},
              {'name': 'SMPM', 'size': 7372504.51},
              {'name': 'SMPR', 'size': 222876761.25},
              {'name': 'SMSO', 'size': 97941885.99},
              {'name': 'SMSU', 'size': 467701033.22},
              {'name': 'SMT', 'size': 3384994264.34},
              {'name': 'SMTE', 'size': 73812096.17},
              {'name': 'SMUL', 'size': 366456030.15},
              {'name': 'SVMA', 'size': 188393148.09},
              {'name': 'TCMSP', 'size': 222867073.18}],
 'name': 'pmsp'}

In [135]:
# two level data
pmsp_out = (pmsp_df[['Sigla Órgão', 'educacao', 'LIQUIDADO']]         
    .groupby(['Sigla Órgão', 'educacao'])
    .sum().apply(lambda x: x / 1000000)
)
pmsp_out.loc[pmsp_out['LIQUIDADO'] >= 1]

index_1 = list(pmsp_out.index.get_level_values(0).unique())
index_2 = list(pmsp_out.index.get_level_values(1).unique())
pmsp_formatted_out = {'name': 'pmsp', 'children': []}
for i in index_1:
    pmsp_formatted_out['children'].append({'name': i.strip(), 'children': []})
for index, row in pmsp_out.iterrows():
    cat_1 = index[0].strip()
    cat_2 = index[1].strip()
    # display as millions?
    value = round(row['LIQUIDADO'] * 1000000, 2)
    for child_index, child in enumerate(pmsp_formatted_out['children']):
        if child['name'] == cat_1:
            pmsp_formatted_out['children'][child_index]['children'].append({'name': cat_2, 'size': value})
pprint.pprint(pmsp_formatted_out)

with open('pmsp_budget.json', 'w') as f:
    f.write(json.dumps(pmsp_formatted_out))

{'children': [{'children': [{'name': 'edu-nao', 'size': 1357268348.49}],
               'name': 'AHM'},
              {'children': [{'name': 'edu-nao', 'size': 2192272622.52}],
               'name': 'AMLURB'},
              {'children': [{'name': 'edu-nao', 'size': 18267741.25}],
               'name': 'CGM'},
              {'children': [{'name': 'edu-nao', 'size': 505524610.54}],
               'name': 'CMSP'},
              {'children': [{'name': 'edu-nao', 'size': 100571137.57}],
               'name': 'COHAB'},
              {'children': [{'name': 'edu-nao', 'size': 6937088070.19},
                            {'name': 'edu-outros', 'size': 421833922.16}],
               'name': 'EGM'},
              {'children': [{'name': 'edu-nao', 'size': 530722.5}],
               'name': 'FECAM'},
              {'children': [{'name': 'edu-nao', 'size': 981028.1}],
               'name': 'FEMA'},
              {'children': [{'name': 'edu-nao', 'size': 3069754.95}],
               'name': 'FEPAC'},
              {'children': [{'name': 'edu-nao', 'size': 1069651834.23}],
               'name': 'FMAS'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}], 'name': 'FMDC'},
              {'children': [{'name': 'edu-nao', 'size': 1000871504.32}],
               'name': 'FMDT'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}], 'name': 'FMESP'},
              {'children': [{'name': 'edu-nao', 'size': 47215325.44}],
               'name': 'FMH'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}], 'name': 'FMID'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}], 'name': 'FMP'},
              {'children': [{'name': 'edu-nao', 'size': 8362000699.65}],
               'name': 'FMS/SMS'},
              {'children': [{'name': 'edu-nao', 'size': 338023064.11}],
               'name': 'FMSAI'},
              {'children': [{'name': 'edu-outros', 'size': 14739047.38}],
               'name': 'FPETC'},
              {'children': [{'name': 'edu-nao', 'size': 1704901.81}],
               'name': 'FTCMSP'},
              {'children': [{'name': 'edu-nao', 'size': 127879732.61}],
               'name': 'FTM'},
              {'children': [{'name': 'edu-nao', 'size': 52492538.2}],
               'name': 'FUMCAD'},
              {'children': [{'name': 'edu-nao', 'size': 617488.44}],
               'name': 'FUNCAP'},
              {'children': [{'name': 'edu-nao', 'size': 284281103.47},
                            {'name': 'edu-outros', 'size': 0.0}],
               'name': 'FUNDIP'},
              {'children': [{'name': 'edu-nao', 'size': 84727165.6}],
               'name': 'FUNDURB'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}],
               'name': 'FUNPATRI'},
              {'children': [{'name': 'edu-nao', 'size': 0.0}], 'name': 'FUTUR'},
              {'children': [{'name': 'edu-nao', 'size': 275269814.99}],
               'name': 'HSPM'},
              {'children': [{'name': 'edu-nao', 'size': 8027176127.08}],
               'name': 'IPREM'},
              {'children': [{'name': 'edu-nao', 'size': 212008580.63}],
               'name': 'PGM'},
              {'children': [{'name': 'edu-nao', 'size': 3033348.35}],
               'name': 'PMSP-SMRI'},
              {'children': [{'name': 'edu-nao', 'size': 22174818.91}],
               'name': 'PR-AD'},
              {'children': [{'name': 'edu-nao', 'size': 26025016.87}],
               'name': 'PR-AF'},
              {'children': [{'name': 'edu-nao', 'size': 36557020.62}],
               'name': 'PR-BT'},
              {'children': [{'name': 'edu-nao', 'size': 40041604.38}],
               'name': 'PR-CL'},
              {'children': [{'name': 'edu-nao', 'size': 29060746.56}],
               'name': 'PR-CS'},
              {'children': [{'name': 'edu-nao', 'size': 20052690.54}],
               'name': 'PR-CT'},
              {'children': [{'name': 'edu-nao', 'size': 17287420.19}],
               'name': 'PR-CV'},
              {'children': [{'name': 'edu-nao', 'size': 18941611.32}],
               'name': 'PR-EM'},
              {'children': [{'name': 'edu-nao', 'size': 28867917.51}],
               'name': 'PR-FB'},
              {'children': [{'name': 'edu-nao', 'size': 24174501.16}],
               'name': 'PR-G'},
              {'children': [{'name': 'edu-nao', 'size': 34609180.47}],
               'name': 'PR-IP'},
              {'children': [{'name': 'edu-nao', 'size': 30564800.26}],
               'name': 'PR-IQ'},
              {'children': [{'name': 'edu-nao', 'size': 23350790.55}],
               'name': 'PR-IT'},
              {'children': [{'name': 'edu-nao', 'size': 23979619.0}],
               'name': 'PR-JA'},
              {'children': [{'name': 'edu-nao', 'size': 21411517.29}],
               'name': 'PR-JT'},
              {'children': [{'name': 'edu-nao', 'size': 26950095.38}],
               'name': 'PR-LA'},
              {'children': [{'name': 'edu-nao', 'size': 27572947.77}],
               'name': 'PR-MB'},
              {'children': [{'name': 'edu-nao', 'size': 21587848.77}],
               'name': 'PR-MG'},
              {'children': [{'name': 'edu-nao', 'size': 31652422.1}],
               'name': 'PR-MO'},
              {'children': [{'name': 'edu-nao', 'size': 32979504.97}],
               'name': 'PR-MP'},
              {'children': [{'name': 'edu-nao', 'size': 18901490.23}],
               'name': 'PR-PA'},
              {'children': [{'name': 'edu-nao', 'size': 35014558.25}],
               'name': 'PR-PE'},
              {'children': [{'name': 'edu-nao', 'size': 32364263.41}],
               'name': 'PR-PI'},
              {'children': [{'name': 'edu-nao', 'size': 22404716.25}],
               'name': 'PR-PJ'},
              {'children': [{'name': 'edu-nao', 'size': 19975445.14}],
               'name': 'PR-PR'},
              {'children': [{'name': 'edu-nao', 'size': 30593025.35}],
               'name': 'PR-SA'},
              {'children': [{'name': 'edu-nao', 'size': 16535562.4}],
               'name': 'PR-SB'},
              {'children': [{'name': 'edu-nao', 'size': 55740863.85}],
               'name': 'PR-SE'},
              {'children': [{'name': 'edu-nao', 'size': 36918964.72}],
               'name': 'PR-SM'},
              {'children': [{'name': 'edu-nao', 'size': 26318014.84}],
               'name': 'PR-ST'},
              {'children': [{'name': 'edu-nao', 'size': 29104565.63}],
               'name': 'PR-VM'},
              {'children': [{'name': 'edu-nao', 'size': 22058642.8}],
               'name': 'PR-VP'},
              {'children': [{'name': 'edu-nao', 'size': 190308435.91}],
               'name': 'SEHAB'},
              {'children': [{'name': 'edu-nao', 'size': 11659519.84}],
               'name': 'SEL'},
              {'children': [{'name': 'edu-nao', 'size': 158403594.61}],
               'name': 'SEME'},
              {'children': [{'name': 'edu-nao', 'size': 351331328.08}],
               'name': 'SF'},
              {'children': [{'name': 'edu-nao', 'size': 118186652.66}],
               'name': 'SFMSP'},
              {'children': [{'name': 'edu-nao', 'size': 257200322.3}],
               'name': 'SGM'},
              {'children': [{'name': 'edu-nao', 'size': 106293101.6},
                            {'name': 'edu-outros', 'size': 7725959.97}],
               'name': 'SMADS'},
              {'children': [{'name': 'edu-nao', 'size': 293647398.52}],
               'name': 'SMC'},
              {'children': [{'name': 'edu-nao', 'size': 6112140.03}],
               'name': 'SMCIS'},
              {'children': [{'name': 'edu-nao', 'size': 30071208.21}],
               'name': 'SMDHC'},
              {'children': [{'name': 'edu-nao', 'size': 25034952.58}],
               'name': 'SMDP'},
              {'children': [{'name': 'edu-sme', 'size': 10236129116.15}],
               'name': 'SME'},
              {'children': [{'name': 'edu-nao', 'size': 141894275.23}],
               'name': 'SMG'},
              {'children': [{'name': 'edu-nao', 'size': 27208026.76},
                            {'name': 'edu-outros', 'size': 10243129.72}],
               'name': 'SMIT'},
              {'children': [{'name': 'edu-nao', 'size': 6778173.75}],
               'name': 'SMPED'},
              {'children': [{'name': 'edu-nao', 'size': 1203963.03},
                            {'name': 'edu-outros', 'size': 503.28}],
               'name': 'SMPIR'},
              {'children': [{'name': 'edu-nao', 'size': 7372504.51}],
               'name': 'SMPM'},
              {'children': [{'name': 'edu-nao', 'size': 222876761.25}],
               'name': 'SMPR'},
              {'children': [{'name': 'edu-nao', 'size': 97941885.99}],
               'name': 'SMSO'},
              {'children': [{'name': 'edu-nao', 'size': 467701033.22}],
               'name': 'SMSU'},
              {'children': [{'name': 'edu-nao', 'size': 484994264.34},
                            {'name': 'edu-outros', 'size': 2900000000.0}],
               'name': 'SMT'},
              {'children': [{'name': 'edu-nao', 'size': 70235537.85},
                            {'name': 'edu-outros', 'size': 3576558.32}],
               'name': 'SMTE'},
              {'children': [{'name': 'edu-nao', 'size': 366456030.15}],
               'name': 'SMUL'},
              {'children': [{'name': 'edu-nao', 'size': 188393148.09}],
               'name': 'SVMA'},
              {'children': [{'name': 'edu-nao', 'size': 222867073.18}],
               'name': 'TCMSP'}],
 'name': 'pmsp'}